body{font-family: "Open Sans",sans-serif; font-weight: 300; font-size: 16px; color: #6b6b7d; line-height: 22px;}
input{font-family: "Open Sans",sans-serif;}
label{font-weight: 300; font-size: 16px;}
*:focus, img:focus{outline: none;}
#page {  padding-top: 60px;}
.center{text-align: center;}
.navbar .container{max-width: 1170px;}
.blue{color: #42b7da;}
.wrapper{margin-top:40px; margin-bottom: 20px;}
.grybg{background: #f3f7f8 url('../images/divider.png') no-repeat top center;}
.graybg{background: #f9fbfc; margin-top: 0px; margin-bottom: 0px;}
.whtbg{background: #FFF; margin-top: 0px; margin-bottom: 0px;}
.blubg{ background: #42b7da; margin-bottom: 0px;}
.martop0{margin-top: 0px;}
.item{padding: 5px;}
blockquote{border: none; padding-left: 0px; padding-top: 10px;}

.garybg{background: #f9fbfc;}

h3{font-weight: 500; font-size: 22px;}

#top_bar.site{background: url('../images/home-bg.jpg') no-repeat top center; }
#top_bar.sdk{background: url('../images/sdk-bg.jpg') no-repeat top center; }
#top_bar.dam{background: url('../images/dam-bg.jpg') no-repeat top center; }
#top_bar.muvi{background: url('../images/muvi-bg.jpg') no-repeat top center; }
#top_bar.affiliate{background: url('../images/affiliate-bg.jpg') no-repeat top center; }


.navbar-inner{background: none; border: none; box-shadow:none; padding-top: 10px; padding-bottom: 10px;}


.navbar .nav > li > a{color: #FFF; text-shadow: none; font-size: 24px; margin-top: 2px; font-weight: 500;}
.navbar .nav > li > a span{font-size: 16px;}
.navbar .nav > li > a:hover, .navbar .nav > li > a.current{border-top: 2px solid #FFF; color: #FFF; margin-top: 0px;}
.navbar .nav > li > a.btn, .navbar .nav > li > a.btn:hover{ margin-top: 8px; border: 0px;}

.navbar .nav li.dropdown > .dropdown-toggle .caret{border-bottom-color: #FFF; border-top-color: #FFF;}
#top_bar .hero-unit{background: none; text-align: center; color: #FFF; padding-top:12%; padding-bottom: 17%; margin: 0px;}
.muvi #top_bar .hero-unit{padding-top:9%; padding-bottom: 15%;}
.site #top_bar .hero-unit{padding-top: 19%; padding-bottom: 25%;}

#top_bar.contact, #top_bar{background: #42b7da;}
.hero-unit h1{font-size: 58px;}
.hero-unit h2{font-weight: 300; font-size: 42px;}
.navbar .nav#yw21 > li > a{font-size: 16px;}
.nav-divider{width: 1px; height: 20px; background: #FFF; margin-left: 7px !important;}
.btn:hover, .btn:focus{background-position: 0px;}

.btn-white{background: #FFF; color: #02a2d4;}
.navbar .nav > li > a.btn-white{color: #02a2d4; padding:4px 12px; }
.navbar .nav > li > a.btn-white:hover{background: #CCC;}
.btn-preview-website{background: #0070C0; color: #FFF !important;box-shadow: none !important;}
.navbar .nav > li > a.btn-preview-website{color: #FFF; padding:4px 12px; }
.navbar .nav > li > a.btn-preview-website:hover{background: #0070FF;}

#yw20, #yw21{list-style: none;}
#yw21 li{ display: inline-block;}
#yw21 li a{padding: 5px; display: block; color: #FFF; text-decoration: none;}
#yw21 li a.btn{color:#02a2d4; text-shadow: none; }
#yw21 li a.btn:hover{color: #FFF; background: #02a2d4;}

#yw21 ul.dropdown-menu a{color:#02a2d4;}
#yw21 ul.dropdown-menu li{ display: inline;}
#yw21 ul.dropdown-menu li a:hover{color:#FFF;}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a{ background: #02a2d4;}

h2.btm-bdr, h1.btm-bdr{background: url(../images/h2-bg.png) no-repeat bottom center; text-align: center; padding-bottom: 30px; color: #42b7da; font-size: 38px; font-weight: 500; margin-bottom: 30px;}
h3.btm-bdr{background: url(../images/h2-bg.png) no-repeat bottom center; text-align: center; padding-bottom: 0px; color: #42b7da; font-size: 18px; font-weight: 500; margin-bottom: 30px;}
.home-page-studio{text-align: center; }
.home-page-studio h3{font-size: 24px; font-weight: normal;}

.home-page-customers{padding: 20px 0px;}
.home-page-customers ul{list-style: none;}
.home-page-customers li{ display: inline-block; text-align: center; padding: 0px 15px;}
.sols .span3:first-child{margin-left: 0px;}

.top_social li{padding: 0px 5px;}
.top_social li a{margin-right: 0px;}

.footer-above{background: #42b7da; margin-bottom: 0px;}
.footer-nav .navbar-inner{ padding: 0px;}

.footer-above ul{padding: 10px 0px; margin: 0px;}
.footer-above ul li{display: inline-block; color: #c7f2ff; padding: 5px 10px;}
.footer-above ul li a{color:#FFF;}
.footer-above .container .span6:first-child{margin-left: 0px;}
footer{background: #000; padding: 10px 0px; color: #8C8F95;}
.span6 ul li:first-child{padding-left: 0px;}
.span6 ul li:last-child{padding-right: 0px;}

.social a{opacity: 0.5;}
.social a:hover{opacity: 0.9;}

.blubg a{color: #c7f2ff; display: inline-block; margin-right: 50px; font-size: 22px; font-weight: 500;}

.cols2{list-style: none; margin: 0px; padding: 0px;}
.cols2 img{width: 100%;}
.cols2 li{display: inline-block; }
.cols2 li:first-child{margin-left: 0px;}
.cols2 li.bigger{width: 50%;}
.cols2 li.smaller{width: 40%;}
.pad50{padding-top: 50px; padding-bottom: 50px;}
.txt-right{text-align: right;}
.move_top{margin-top: -100px;}

.white{color: #FFF;}


.col-first{ margin-top: 100px;}
.col-center{text-align: center;}
.col-last{ margin-top: 100px;}

.table th, .table td{border: 0px;}
.table-condensed thead tr th{background: #3ec6e0; color: #FFF;}
.table-striped tbody tr.even td{ background: #e8f2f7;}
.table-striped tbody tr.odd td{ background: #FFF;}
table.center-table{max-width: 60%; margin: 0px auto; float: none;}
.table-striped td h3{margin: 0px;}

.dam .footer-above{ margin-top: 0px;}

.customers ul{list-style: none;}
.customers ul li{display: inline-block; padding: 0px 3px;}
.customers ul li.separator{font-size: 30px;}
.customers ul li:first-child{padding-left: 0px;}
.customers h3{font-size: 28px;font-weight: bold;}

@media (max-width: 767px) {
    body {
        padding-left: 0px;
        padding-right: 0px;
    }
    #top_bar .hero-unit{padding-top: 200px; min-height: 370px;}
    .hero-unit h1{font-size: 36px;}
    .hero-unit h2, h2.btm-bdr, h2{font-size: 24px;}
    .home-page-studio h3, h3{font-size: 20px;}
    #yw20{display: none;}

    .home-page-customers li{text-align: center; margin: 0px; margin-top:20px;padding: 0px;}
    .span3, .footer-above .container, [class*="span"]{padding: 4px;}
    .navbar .nav > li > a{margin: 0px;}
    .navbar .nav > li > a:hover, .navbar .nav > li > a.current{color: #02a2d4; border: 0px;}

    table.center-table{max-width: 100%;}
}

@media (max-width: 980px) {
    .navbar .nav > li > a{font-size: 18px; max-width: 115px; padding: 10px;}
	
}


/*Contact Us page*/
.icon-name{background: url(../images/name-icon.png) no-repeat; height: 20px; width: 20px; line-height: 20px;}
.icon-email{background: url(../images/email-icon.png) no-repeat; height: 20px; width: 20px; line-height: 20px;}
.icon-company{background: url(../images/company-icon.png) no-repeat; height: 20px; width: 20px; line-height: 20px;}
.icon-phone{background: url(../images/phone-icon.png) no-repeat; height: 20px; width: 20px; line-height: 20px;}
.icon-message{background: url(../images/message-icon.png) no-repeat; height: 20px; width: 20px; line-height: 20px;}


@media (min-width: 1200px) {
    textarea{width: 477px;}
}

@media (max-width: 1200px) {
    .home-page-customers li {
    margin: 20px 0 0;
    padding: 0;
    text-align: center;
}
	
}

@media (max-width: 765px) and (min-width:440px) {
    textarea{width: 371px;}
}

.martop10{margin-top: 10px;}


.border{ border:1px solid #42b7da;}

#contact-form{position: relative;}
.btn-blue{ border-radius: 2px; font-size: 24px; padding: 8px 20px; border-color: #42b7da; box-shadow: none; text-align: center; background: #42b7da; color: #FFF; text-shadow: none;}
.btn-blue:hover, .btn-blue:focus{background: #42b7da; color: #333;}
.error{color: #FF0000 !important;}
.loading{position: absolute; width: 100%; height: 100%; background: #FFF url(../images/loading.gif) no-repeat center; z-index: 1;}

#first [class*="span"]:first-child, #second [class*="span"]:first-child, #third [class*="span"]:first-child, #fourth [class*="span"]:first-child,
#fifth [class*="span"]:first-child, #sixth [class*="span"]:first-child, #seventh [class*="span"]:first-child, #eightth [class*="span"]:first-child, 
#nineth [class*="span"]:first-child{margin-left: 0px;}

#login_form label{display: inline-block; color: #42b7da;}
#login_form input[type="text"], #login_form input[type="password"]{width: 94%; color: #67677f; font-size: 16px; padding-top: 10px;padding-bottom: 10px;}
#login_form input[type="checkbox"]{margin-top: 0px; margin-right: 5px;}
.btn.btn-blue{background: #42b7da; color: #FFF; font-weight: 400; font-size: 20px; text-align: center;text-shadow: none;padding: 7px 20px;}
.btn.btn-blue:focus, .btn.btn-blue:hover{background: #42b7da;}

p.home_img{min-height: 116px;}
h3 a{color: inherit;}
.list{list-style: none;}

.list li{display: inline-block; min-height: 116px;}
table td.tbl_btm_bg{background: url('../images/dam_table_btm_bg.jpg') no-repeat top center; background-color: inherit !important; height: 10px;}
.table-condensed th, .table-condensed td{vertical-align: middle; padding: 8px;}

.navbar .brand{margin-right: 46px;}
.navbar .nav > li > a span{font-size:15px;}
.navbar .nav > li > a{padding:10px 14px;}
#yw21 li a.btn { font-size: 16px; font-weight: 400; padding: 5px 15px;}
#yw21 li{margin-left: 15px;}
#yw21.pull{margin-left: 10px !important;}
#yw21.pull li{margin-left: 0px;}

#yw21 li:first-child{margin-left: 0px;}
.navbar .nav{margin-right: 0px;}
#yw21{margin-left: 18px;}
.navbar-inner{padding-right: 0px;}

.zerocap{margin-top: 60px;}
.ql{margin-top: 110px;}
.infscl{margin-top: 30px;}
.drm{margin-top: 80px;}
.custlook{margin-top: 50px;}
.ppv{margin-top: 50px;}
.webmob{margin-top: 45px;}
.bltmrkt{margin-top: 40px;}
.audrel{margin-top: 100px;}

.cms{margin-top: 50px;}
.wrldsec{margin-top: 70px;}
.convrt{margin-top: 45px;}
.reltime{margin-top: 40px;}

.selfpub{margin-top: 60px;}
.discveng{margin-top: 50px;}
.viral{margin-top: 35px;}
.bltdrm{margin-top: 85px;}
.setprc{margin-top: 55px;}


.acqsub{margin-top: 30px;}
.qkset{margin-top: 120px;}
.brndown{margin-top: 70px;}

.blogsection{margin-top: 20px;}
.blogsection .span6:first-child{margin-left: 0px;}

.tag-links a{color: #0088cc; }
footer.entry-meta{background: #EEE; margin-top: 40px; padding-left: 4px; padding-right: 4px;}
.paddlr20{padding-left: 20px; padding-right: 20px;}

.fixedtop #navblubar{position: fixed; top: 0px; width: 100%; margin-top: 0px;}
.fixedtop .curstep{margin-top: 100px !important;}
.contactform h2.btm-bdr{margin-bottom: 10px;}
.close{font-size: 28px;}
h3 a.link{ color: #42b7da;}
.signup-menu li {
    text-transform: capitalize;
    text-align: center;
    border-bottom: 1px #ccc;
    width: 90%;
    position: relative;
}
.signup-menu li a {
    color: #FFFFFF;
    background: #7F7F7F;
    width: 90%;
    padding: 10px !important;
    border-bottom: 1px solid #ddd;
}
.signup-menu li a:after {
    border-bottom: 20px solid #fff;
    border-left: 21px solid #7F7F7F;
    border-top: 20px solid #fff;
    content: "";
    height: 0;
    position: absolute;
    right: -3px;
    top: 0;
    width: 0;
}
.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus{
    background-color: #0070C0;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.nav-list li a:hover:after{
    text-decoration: none;
    border-left: 21px solid #eeeeee;  
}
.nav-list .active a:after{
    border-left: 21px solid #0070C0 !important; 
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

.header-text{ color: #333;font-size: 25px;font-weight: 500;text-align: center;}
.trial-period{ color: #333;font-size: 17px;font-weight: bolder;text-align: center;padding-top: 10px;}
.pading-10 {clear: both;height: 16px;padding: 10px;}
.margintop10{margin-top: 10px;}
.domain-input{padding:5px 10px !important;width: 25% !important;text-transform: lowercase;}
.btn-grey{ border-radius: 2px;  font-weight: 400; font-size: 20px; padding: 7px 20px; border-color: #7F7F7F; box-shadow: none; text-align: center; background: #7F7F7F; color: #FFF; text-shadow: none;}
.btn-content{ border-radius: 2px;  font-weight: 300; font-size: 16px; padding: 4px 15px; border-color: #0070C0; box-shadow: none; text-align: center; background: #0070C0; color: #FFF; text-shadow: none;cursor: pointer;}
.btn-grey:hover, .btn-grey:focus{background: #7F7F7F; color: #333;}
span.link{ color: #42b7da;}
span.disabled{ color: #CCC;}
span.prev-text{font-size: 17px;}
.btn-content:hover,.btn-content:focus{background-color:#0070C0 !important;color: #fff;font-weight: bold; }
addContentType .modal-header{background: #42b7da; border-radius: 5px 5px 0px 0px; color: #FFF;}
#addContentType .modal-header h3{text-align: center; font-weight: 400; font-size: 32px; text-transform: uppercase; padding-top: 10px; padding-bottom: 10px;}
.modal-dialog{  width: 560px;}
.modal-body{padding-right: 0px;}
.modal-body select,.modal-body input[type="text"]{
    border-radius: 0px;
    color: #000;
    margin-bottom: 10px;
    padding: 10px;
    border-color:#42b7da;
    width: 85%;
}
.modal-body select{width: 85%;height: 40px;}
.next-prev-btn{padding-top: 70px;}
.terms-div{
    padding: 10px;
}
.terms-div ol li{
    padding: 5px;
}
.terms-div ol li span{
    padding-right: 5px;
}
.note-div{
    font-weight: 400;
    padding-top: 10px;
}
.disabled{ color: #CCC;cursor: not-allowed;}
.new-domain{padding-top:15px;margin-top:10px;}
.payment-span{font-weight: 400;font-size: 18px;}
.exp-dt-dropdown select{width: 26%;height: 38px; margin-bottom: 10px;}
.form-horizontal .control-label{padding-top: 10px !important;}
.domain-url{font-weight: 400;color: #333;}
.userinfo-next-btn{padding-top: 30px;}
.success-list{list-style: none;line-height: 30px;font-size: 18px;margin: 0px !important;}
.success-list li{padding-top: 10px;margin: none;}

.footer-succ-signup{padding-top: 30px;}
.auth-msg{font-size: 20px;font-weight: 400;line-height: 35px;}
.modal{bottom: auto;}
.modal-dialog{margin: 0px;}
.success-popup-payment{line-height: 35px;color: #42B970;font-size: 18px;font-weight: 400;}
#successPopup{text-align: center;border: none;border-radius: 0px;z-index: 9999;}
#content_desc_text{padding-right: 10px;}
.modal-footer{background: none;border: none;}
.btn {border: 1px solid transparent;border-radius: 3px;box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.09) inset;font-weight: 500;}
.btn.btn-primary {background-color: #3c8dbc;border-color: #367fa9;}


/*For New Sign up Page*/
.input-nm-style{padding-right: 66px;display: inline; position: relative; min-width: 30%;}
.clear2{height:20px;clear:both;}
.clear3{height:30px;clear:both;}
.radio-new{ font-weight:500;color:#42b7da; font-size:16px}
.divider-blue{ background:#42b7da; height:1px; width:70%; margin:40px 0px;}
.divider-blue2{ background:#42b7da; height:1px; width:100%; margin:40px 0px;}
.cyan-bold{ color:#42b7da; font-weight:500;}

.btn.btn-gray {
    background:#999;
    border-radius: 4px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    padding:10px 60px;
    text-align: center;
    text-shadow: none;
}
.btn.btn-blue {
    background:#42b7da;
    border-radius: 4px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    padding:10px 60px;
    text-align: center;
    text-shadow: none;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    background-color: #ffffff;
    border: 1px solid #42b7da;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
.stage
{
    margin-bottom:50%;
}
.icon-num
{
    border-radius:50%;
    background:#42b7da;
    color:#fff;
    padding: 14px 0px;
    height: 40px;
    width: 40px;
    font-weight:bold;
    text-align:center;

}
.icon-num-select
{
    border-radius:50%;
    background:#42b7da;
    color:#fff;
    padding:13px;
    font-weight:bold;
    text-align:center;
    margin-top:-4px;
    padding: 14px 0px;
    height: 40px;
    width: 40px;                
}
.icon-blur
{
    background:#d9f1f8;
    padding:10px;
    height:60px;
    width:60px;
    border-radius:50%;
    float:left;
    margin:-10px;
}

.text-2
{
    font-size:18px;
    padding-top: 10px;
    margin-left:30px;
    float:left;
}
.text-2a
{
    font-size:18px;
    padding-top: 10px;
    margin-left:25px;
    float:left;
    font-weight:400;
    color:#42b7da;
}
.vertical-bar
{
    width:1px;
    background:#42b7da;
    position:absolute;
    float:left;
    height:560px;
    margin-left: 20px;
    z-index:-999;
    margin-top: -30px;
}
.free-trial-list
{
    margin-top:20px;
    margin-buttom:40px;
}
.free-trial-list ul
{

}
.free-trial-list ul li
{
    margin-bottom:10px;
}
.pricing-list
{
    margin-top:20px;
    margin-buttom:40px;
}
.pricing-list ul
{

}
.pricing-list ul li
{
    margin-bottom:10px;
    list-style-image:url(../images/tick.png);
}
.comment-box
{
    padding:25px;
    border:1px #42b7da solid;
    border-radius:20px;
    margin-left:5%;
}
.traingle-icon
{
    background:url(../images/triangle-icon.png);
    width:43px;
    height:31px;
    position:absolute;
    margin-top:25px;
    float:right;
    margin-left:60px;
}

.comment-box2
{
    padding:50px 25px 50px;
    border:1px #42b7da solid;
    border-radius:13px;
    width:80%;
    background:#42b7da;
}
.traingle-icon2
{
    background:url(../images/right-arrow-icon.png);
    width:21px;
    height:49px;
    position:relative;
    float:right;
    margin-right:-46px;
    margin-top:-26%;
}
.comment-box2-text
{
    font-size:16px;
    color:#fff;
    font-weight:500;
    text-align:center;
    vertical-align:middle;
    padding-top:10%;
}
.big-text
{
    font-size:100px;
    color:#fff;
    font-weight:400;
    text-align:center;
    vertical-align:middle;
    padding-top:10%;
}
.home-page-customers-text li {
    display: inline-block;
    padding: 0 8px;
    text-align: center;
    width: 130px;
}
.bluebg
{
    background: #e7f9fe;
    margin-bottom:-39px;
}
.home-page-customers2 li{ display: inline-block; text-align: center; padding: 0px 33px;}

.table {
    background:#fff;
}
.table-striped tbody > tr:nth-child(2n+1) > td, .table-striped tbody > tr:nth-child(2n+1) > th {
    background-color: #fff;
}
.table-bordered {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-collapse: separate;
    border-color: #15b0e2 #15b0e2 #15b0e2 -moz-use-text-color;
    border-image: none;
    border-radius: 4px;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px 0;
}
.table-bordered th, .table-bordered td {
    border-left: 1px solid #15b0e2;
}
.table th, .table td {
    border-top: 1px solid #15b0e2;
    line-height: 20px;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}
.grylightbg {
    background: url("../images/divider.png") no-repeat scroll center top #ffffff;
}
.select{border: 1px solid #15b0e2; padding: 0px; height:40px; color:#222}
.input-nm-style2{padding-right: 20px;display: inline;top:-5px;position: relative;}
.input-nm-style2a{padding-right: 66px;display: inline;top:-5px;position: relative;}

.bold-4{ font-weight:400; color:#6b6b7d}
.text-mid{font-size: 22px;
          padding-top: 10px;}

dt { float: left; padding: 4px; }

.bar {
    margin-bottom: 10px;
    margin-top:-15px;
    color: #fff;
    height:40px;
    text-align: center;
    background: -webkit-gradient(linear, left top, left bottom, from(#dfe5e8), to(#dfe5e8));
    background-color: #dfe5e8;
    -webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.25)));
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-animation-name:bar;
    -webkit-animation-duration:0.5s;
    -webkit-animation-iteration-count:1;
    -webkit-animation-timing-function:ease-out;

    -moz-box-shadow: 0px 5px #f0f3f4;
    -webkit-box-shadow: 0px 5px #f0f3f4;
    box-shadow: 0px 5px #f0f3f4;
}

.bar-blue {
    margin-bottom: 10px;
    margin-top:-15px;
    color: #fff;
    height:40px;
    text-align: center;
    background: -webkit-gradient(linear, left top, left bottom, from(#42b7da), to(#42b7da));
    background-color: #42b7da;
    -webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.25)));
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-animation-name:bar;
    -webkit-animation-duration:0.5s;
    -webkit-animation-iteration-count:1;
    -webkit-animation-timing-function:ease-out;

    -moz-box-shadow: 0px 5px #d9f1f8;
    -webkit-box-shadow: 0px 5px #d9f1f8;
    box-shadow: 0px 5px #d9f1f8;
}

#data-one { -webkit-animation-name:bar-one; }
#data-two { -webkit-animation-name:bar-two; }
#data-three { -webkit-animation-name:bar-three; }
#data-four { -webkit-animation-name:bar-four; }

@-webkit-keyframes bar-one {
    0% { width:0%; }
    100% { width:60%; }
}

@-webkit-keyframes bar-two {
    0% { width:0%; }
    100% { width:80%; }
}

@-webkit-keyframes bar-three {
    0% { width:0%; }
    100% { width:64%; }
}

@-webkit-keyframes bar-four {
    0% { width:0%; }
    100% { width:97%; }
}

@media screen and (max-width: 780px){
    .input-nm-style{padding-right: 66px;display: inline;top:-5px; position: relative; }
}

@media screen and (max-width: 768px){
    .bold-4{ margin-top:200px}
}
@media screen and (max-width: 767px){
    .bold-4{ margin-top:200px}
	.vertical-bar {
    background: none repeat scroll 0 0 #42b7da;
    float: left;
    height: 330px;
    margin-left: 20px;
    margin-top: -30px;
    position: absolute;
    width: 1px;
    z-index: -999;
}
}

.form-group .control-label{ text-align: left;}
h4{text-align: center;}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
    border-radius: 0;
    color: #42b7da;
    padding: 10px;
    height: 40px;
	
}

.modal-dialog form{margin:0px;}
small{font-size: 75%;}

.text-2b { float: left; font-size: 14px; margin-left: -15%; padding-top: 10px;}
.text-2ba { color: #42b7da; font-weight: 400; float: left; font-size: 14px; margin-left: -16%; padding-top: 10px;}
.hor-bar{ background: none repeat scroll 0 0 #42b7da; float: left; height: 1px; margin-left: -20px; margin-top: 20px; position: absolute; width: 100%;}
.mobile{margin-bottom: 20px;}
@media screen and (min-width: 768px){
    .mobile{ display: none !important; margin-bottom:0px; }	
}
@media screen and (max-width: 768px){
    .desktop{ display: none !important;}	
}
.gry{color:#666 !important;}
.home-page-customers ul li img{ margin-bottom:10px;}

.signup-loading{position: absolute; width: 100%; height: 100%; background: #FFF; z-index: 1; text-align: center;}
.signup-loading .fa-cogs{font-size: 150px;}