body {
    background-color: #1E1E1E;				
    font: 12px Roboto,Arial,sans-serif;
    height: 100%;
    margin: 0;
    overflow: hidden; 
    padding: 0;
    position: absolute;
    width: 100%;
}	
.video-js .vjs-control-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
}
.video-js .vjs-captions {
    color: #FFFFFF;
    font-family: 'tahoma';
    font-size: 56px;
}
/*.vjs-big-play-button{display: block !important;visibility: hidden;}*/
/*.vjs-big-play-button{
    top:50%;
    left:50%;
    margin-top:-.75em;
    margin-left:-1.5em
}*/
.video-js .vjs-text-track {
    background-color: transparent;
}
.video-js .vjs-text-track-display {
    bottom: 4em;
}
.video-js .vjs-progress-control {
    position: absolute;
    width: 100%;
    top: -19px;
    padding-left: 10px;
    padding-right: 10px;
}
.video-js .vjs-control-bar {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4em;
    background: rgba(0,0,0,0.4); /*For browsers that do not support gradients*/    
}          
.vjs-menu-button.vjs-menu-button-popup.vjs-control.vjs-button.vjs-resolution-button {
    position: absolute;
    right: 40px;
}
.vjs-subtitles-button.vjs-menu-button.vjs-menu-button-popup.vjs-control.vjs-button {
    position: absolute;
    right: 80px;
}
.vjs-fullscreen-control.vjs-control.vjs-button {
    position: absolute;
    right: 0px;
}
.video-js {
    outline: none;
}
.video-js .vjs-slider {
    margin-left:0px;
    margin-right: 0px;
}			
/*.video-js .vjs-play-control {
        display: none;
}*/
.vjs-progress-control {
    left: 0px !important;
}
/*show poster image at end of play*/
.video-js.vjs-default-skin.vjs-ended .vjs-poster {display:block !important;}

/* Set transparent of subtitle background */
.vjs-text-track-display > div > div > div {
    background-color: transparent !important;
    top:-10px;
}
/* subtitle menu will display on watermark logo */
.vjs-menu-button-popup .vjs-menu{
    z-index:3000;
}
/* show current time and remaining time */
.video-js .vjs-time-control {
    display: block;
}
.video-js .vjs-remaining-time {
    display: none;
}
/* volume control design */
.vjs-volume-bar.vjs-slider-bar.vjs-slider.vjs-slider-horizontal {
    left: 5px;
}
/* remove space from time divider */
.vjs-time-control.vjs-time-divider {
    padding-left: 0em;
    padding-right: 0em;
    min-width: auto;
    position: absolute;
    right: 150px;
    text-align: center;
    width: 20px;
}	
.vjs-current-time.vjs-time-control.vjs-control {
    position: absolute;
    right: 159px;
}
.vjs-duration.vjs-time-control.vjs-control {
    position: absolute;
    right: 120px;
}
/* Subtitle section */
@media only screen and (max-width: 768px) {                                            
    .vjs-text-track-display div { font-size: 18px !important; }
} 
/* capitalise of subtitle label */
.video-js .vjs-menu li{
    text-transform: capitalize!important;
}	
/* back button section */
#backButton {
    position:absolute; 
    left: 50px !important;
    top: 30px !important;
    display: none;				
}
@media screen and (max-width: 480px) {
    #backButton {
        left: 10px !important;
        top: 10px !important;
        width: 20px !important;
        height: 25px !important;
    }
}
@media screen and (max-width: 768px) {
    #backButton {
        left: 50px !important;
        top: 30px !important;					
    }
}
/*play and pause section */
#video_block{
    position: relative;
}
.common-css{
    position: absolute;
    top:50%;				
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display:none;
}
.common-css>.prev-buttons:hover{
    opacity: 1;	
}
.common-css>.player-buttons:hover{
    opacity: 1;	
}
.common-css>.next-buttons:hover{
    opacity: 1;	
}
.common-css>.player-buttons{
    color: #fff;
    font-size: 5.9em;
    line-height: 1.67;
    cursor: pointer;
    text-align: center;
    margin-top: -.75em;
    float:left;
    margin-left:20px;
    margin-right:20px;				
    opacity: 1;				
}
.common-css>.prev-buttons{
    color: #fff;
    font-size: 5.9em;
    line-height: 1.67;
    cursor: pointer;
    margin-top: -.75em;
    float:left;
    margin-left:20px;
    margin-right:20px;				
    opacity: 0.5;				
}
.common-css>.next-buttons{				
    color: #fff;
    font-size: 5.9em;
    line-height: 1.67;
    cursor: pointer;
    margin-top: -.75em;
    float:left;
    margin-left:20px;
    margin-right:20px;				
    opacity: 0.5;
}			
@media (min-width:980px) and (max-width:1366px) {

    .common-css>.player-buttons{
        font-size: 4.9em;
    }
    .common-css>.prev-buttons{			
        font-size: 5em;
    }
    .common-css>.next-buttons{			
        font-size: 5em;
    }
}

@media (min-width:768px) and (max-width:800px) {
    .common-css>.player-buttons{
        font-size: 4.9em;
    }
    .common-css>.prev-buttons{			
        font-size: 5em;
    }
    .common-css>.next-buttons{			
        font-size: 5em;
    }
}
@media (max-width:768px) {
    .common-css>.prev-buttons {			
        font-size: 5em;
    }
}                
@media (max-width:736px) {
    .common-css>.player-buttons{
        font-size: 3.9em;
    }
    .common-css>.prev-buttons{		  
        font-size: 4em;
    }
    .common-css>.next-buttons{		   
        font-size: 4em;
    }
}
@media (max-width:667px) {
    .common-css>.player-buttons{
        font-size: 3.9em;
    }
    .common-css>.prev-buttons{			
        font-size: 4em;
    }
    .common-css>.next-buttons{			
        font-size: 4em;
    }
}  

@media (max-width:640px) {
    .common-css>.player-buttons{
        font-size: 2.9em;
    }
    .common-css>.prev-buttons{		  
        font-size: 3em;
    }
    .common-css>.next-buttons{		   
        font-size: 3em;
    }
}
@media (max-width:568px) {
    .common-css>.player-buttons{
        font-size: 2.9em;
    }
    .common-css>.prev-buttons{		  
        font-size: 3em;
    }
    .common-css>.next-buttons{		   
        font-size: 3em;
    }
}                        
@media (max-width:480px) {	 	 
    .common-css>.player-buttons{
        font-size: 2.9em;
        margin-right: 10px;
        margin-left: 10px;
    }
    .common-css>.prev-buttons{		
        font-size: 3em;
        margin-right: 10px;
    }
    .common-css>.next-buttons{		
        font-size: 3em;
        margin-right: 10px;
        margin-left: 10px;
    }
}
.video-js.vjs-user-inactive.vjs-playing .vjs-text-track-display {
    bottom: 3.2em; 
}


.video-js .vjs-volume-bar {
    margin: 2.05em .45em;
}
.video-js .vjs-control:before, 
.vjs-resolution-button .vjs-resolution-button-staticlabel:before {
    line-height: 2.47;
}
.video-js .vjs-time-control {
    line-height: 4em;
    margin-top: 3px;
}