/* Movie Details Page css */
.movie-details div{
    line-height: 1.99;
    font-size: 15px;
}
.movie-details .label{
   width: 100px;
   color:#A58600;
   font:bold;
   float: left;
   padding: 0;	
   text-align: left;
}
.movie-details small{color: #737373;}
.poster-cls{
   position: relative;
}
.poster-cls:hover{
   display: block;
}
.addcast-cls a{color: #3C8DBC;padding-right: 20px;}
.addcast-cls a:hover{text-decoration: underline;}
#add_cast_crew{background: #F5F5F5;}

.edit-poster{
    background: rgba(78,144,254,.7);
    bottom: 28px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    right: 4px;
    line-height: 9px;
    position: absolute;
    padding: 9px 0;
    text-align: center;
    width: 100px;
    display: none;
    cursor: pointer;
}
#frmMS.form-horizontal .form-group{width: 90%; margin-left: 20px;}
#frmMS.form-horizontal .control-label{text-align: left; padding-left: 0px;}
.red, .error{color: #FF0000;}
.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"]{margin:0px; height: 20px;}


/* MaaFlix movie Details page - Start */

.thumbnail img{width: 100%;}
.sub_header {color: #525252;font-size: 30px;font-family: 'Open Sans';font-weight: 300;}
.pading-10{padding: 10px 0px;}
.cb{clear:both;}
.heigt10{height: 10px;}
.fnt-bold{font-weight: bold;}
.caps{text-transform: uppercase;}
.bodybg{background: #ececec;}
.name_header{color: #494949;font-size: 28px;font-weight: bold;}
.btn-large{width: 175px;height: 42px;font-weight: 500;font-size: 15pt;color: #fff;}

.btn-trailer ,.btn-trailer:hover {background: #828282;color: #fff;}
.btn-trailer:hover {background: #808E9E;color: #fff;}
.maaFlix-dtls .btn-success {background: #4ca30c;}

.pad0{padding: 0px;}
.cast-box{margin-bottom: 5px;border-bottom: 2px solid #ddd; padding-bottom: 5px;}
.genre-cls{color:#8a8a8a;font-size:16px;}
.rels-yr{font-size: 16px;padding-left: 5px;font-weight: normal;}
.cancel{font-size: 12px;float: right;color: blue;}
/* Pagination font changed to 14px used in Report page */
ul.yiiPager{font-size: 16px !important;}
.graph-text{font-size: 20px !important;padding: 15px !important;}
.report .box-header{background: #ececec;}
.box .box-header .box-title{font-size: 17px;font-weight: lighter;}
.box .box-header .box-title{height: 35px;}
.box .box-header .box-title input{width: 150px;}
#date-range {position:relative;}
#date-range-field {width: 290px;height: 35px;overflow: hidden;position: relative;cursor:pointer;border: 1px solid #CCCCCC;border-radius: 5px 5px 5px 5px;background: #fff;}
#date-range-field a  {color:#B2B2B2;background-color:#F7F7F7;text-align:center;display: block;position: absolute;width: 35px;height: 30px;top: 0px;right: 0;text-decoration: none;padding-top:6px;border-radius: 0 5px 5px 0;}
#date-range-field span {font-size: 13px;font-weight: bold;color: #404040;position: relative;top: 3px;height: 26px;line-height: 26px;left: 5px;width: 250px;text-align: center;}

#datepicker-calendar{position: absolute;top: 27px;left: 0;overflow: hidden;width: 640px;height:175px;background-color: #F7F7F7;border: 1px solid #CCCCCC;border-radius: 0 5px 5px 5px;display:none;padding:10px 0 0 10px;}
.filter-btn{box-shadow: 5px 5px 5px #DDD;border-radius: 3px;vertical-align: top;}

/*Manage Content Page*/
.greenBackground{background-color: #00B050;}
.status-ready{color: #fff;text-align: center;}
.status-ready:hover{color: #fff;text-align: center;background-color:#00B050;}
.status-tbl tr td{text-align: center;}
.status-tbl tr:hover{background: none;}
.btn_add_movie{	border-radius: 4px !important;	box-shadow: 2px 2px 2px #999 !important;}
#addmovie_popup .modal-footer{margin-top: 0px !important;}
#addmovie_popup .modal-body{padding-bottom: 0px !important;}
.ui-autocomplete{z-index: 999999 !important;}
.disabled-upload{cursor:no-drop;color: #ccc;}

.upload {border-top: 1px solid #CCCCCC;margin-top: 10px;padding-top: 10px;width: 400px;}
.upload .progress {border: 1px solid #555555;border-radius: 3px;margin-top: 8px;}
.upload .progress .bar {background: none repeat scroll 0 0 #3EC144;height: 10px;}

.filter_dropdown{height: 35px;width: 200px;;border-radius: box;font-size: 16px;cursor: pointer;}
.filter_input{height: 35px;width: 200px;;border-radius: box;font-size: 16px;padding-left: 10px;}

.preview-website{margin-top: 9px;}
.preview-website .btn{font-weight: bold;font-size: 14px;}
.preview-website .btn-primary{background-color: #0070C0;}
.preview-website .btn-primary:hover{background-color: #007ff0;}
.add-content-btn{padding: 10px;}
.btn-content{ border-radius: 2px;  font-weight: 300; font-size: 16px; padding: 3px 15px; border-color: #0070C0; box-shadow: none; text-align: center; background: #0070C0; color: #FFF; text-shadow: none;cursor: pointer;}
.btn-content:hover,.btn-content:focus{background-color:#007FC0 !important;color: #fff; }
.icon-github {
    background: no-repeat url('../img/github-16px.png');
    width: 16px;
    height: 16px;
}

.bootstrap-tagsinput { width: 100%; }
#formContents .bootstrap-tagsinput{width: 80%;}
.accordion {
	margin-bottom:-3px;
}

.accordion-group { 
	border: none;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}

.twitter-typeahead .tt-hint
{
    display: none;
}

.tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.tt-suggestion > p {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}
.tt-suggestion > p:hover,
.tt-suggestion > p:focus,
.tt-suggestion.tt-cursor p {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}
.tt-input{vertical-align: inherit !important;}

.loader{position: absolute; width: 100%; height: 100%; top: 0px; bottom: 0px; left: 0px; background: #EEE url('../images/loading.gif') no-repeat center; z-index: 9999;}
.input-group-addon{padding:1px;}
.del-cls{color: #ddd;}
#content_desc_text{margin-top: 10px;}
.modal-footer{background: none;border: none;}
.add-content-heading{font-size: 20px !important;font-weight: 400 !important;}
.home-page-customers2 li{ display: inline-block; text-align: center; padding: 0px 33px;}
.addmore-content{display: none;}
.loading_div{ position: absolute; right: 0px; bottom: 0px; left: 40%; top: 30%;display: none;}
.filter-div{padding: 10px;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{ background: none repeat scroll 0 0 #fff;border: 1px solid #d3d3d3;color: #333;font-weight: normal;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default:hover{ background: none repeat scroll 0 0 #fff;border: 1px solid #d3d3d3;color: #333;font-weight: normal;}
.ui-button{vertical-align: top !important;padding: 1px;}
.bs-callout {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    margin:10px 13px;
    padding: 20px;
 width:98%;
}
.bs-callout-info {
    border-left-color: #1b809e;
 
}
.control-label {
    float: left;
    text-align: left;
    width: 170px;
}
.custom-upload {
    background-color: #3c8dbc;
    border: 1px solid #367fa9;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
    padding: 6px 12px;
	font-weight: 500;
	text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.custom-upload input {
    left: -9999px; 
    position: absolute;
}
.fa-custom{
	line-height: 0.5 !important;
	width: 0px !important;
}
.topbanner-thumb{
	position: relative;
	height: 118px;
	width: 438px;
}
.topbanner-thumb img{
	height: 90px;
	width: 300px;
}
.fa-spin-custom, .glyphicon-spin {
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.report .box-header .box-title{height: 40px;padding-left: 0px;}
.topper{
    margin-top:10px ;
    margin-right:10px;    
 }
 
/* Bootbox confirm box button & layout custom */
.cnfrm-btn{min-width: 75px;border: 1px solid #aaa;margin-left: 7px;font-weight: 600;font-size: 12px;}
.cnfrm-cancel{background: #4a8ef9;color: #fff;}
.cnfrm-cancel:hover{background: #6390D3 !important;color: #fff;}
.cnfrm-succ{background: #f5f5f5;color: #333;}
.bootbox .modal-dialog{width: 530px;}
.bootbox .modal-header{border-bottom: none !important;padding-bottom: 5px;}
.bootbox.modal{background: none;}
.bootbox .modal-title{font-size: 24px;}
 /* Bootbox confirm box button & layout custom end */
 
 .cpublish_date_cls{
	 width: 175px;
	 display: inline;
 }
 .cpublish_time_cls{
	 width: 100px;
	 display: inline;
 }
 .content_publish_date_div{display: none;}