.demo_video{
  text-align:left;
}
.btn_div{
  margin-top:50px;
  clear:both;
}
.vjs-loading-spinner{
    background-image : url("../images/muvi_loader.gif");
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 4em;
    line-height: 1;
    width: 96px;
    height: 96px;
    margin-left: -48px;
    margin-top: -75px;
    opacity: .75;
    z-index: 999;
}
.play_btn{
  /*padding:9px 22px 10px;*/
  background-color:#06557F;
  cursor:default;
}
/* Let's get this party started */
div::-webkit-scrollbar {
    width: 8px;
}

/* Track */
div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
div::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: grey;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
div::-webkit-scrollbar-thumb:window-inactive {
/*background: rgba(255,0,0,075.4); */
}

