<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>{$category->title}</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="single-product-area">
    <div class="container">
        <div class="row">
            <form action="{$this->siteurl}/{$category->permalink}" method="get" name="listingSearch" id="filterFormPopup" class="form-inline">
                <fieldset id="body">
                    <fieldset class="movie-list">
                        <label for="email">Sort By :</label>
                        <select name="orderby" id="order_filter"  class="form-control select_movie">
                            <option value="lastupload" {if $orderby == 'lastupload'}selected="selected"{/if}>Last Uploaded</option>
                            <option value="releasedate" {if $orderby == 'releasedate'}selected="selected"{/if}>Release Date</option>
                            <option value="sortasc" {if $orderby == 'sortasc'}selected="selected"{/if}>Alphabetic A-Z</option>
                            <option value="sortdesc" {if $orderby == 'sortdesc'}selected="selected"{/if}>Alphabetic Z-A</option>                                           
                        </select>
                      <input type="submit" class="btn btn-primary btn-green-small btn-list"  value="OK" />
                    </fieldset>

                  
                </fieldset>
            </form>            
        </div>
        <div id="content_list"></div>
        <div class="row">

            {if $item_count > 0}
                {include file='../layouts/listitem.html'}
            {/if}
            
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="product-pagination text-center">
                    <nav>
                        {$pagination}
                    </nav>                        
                </div>
            </div>
        </div>
    </div>