.vjs-text-track-display {
  
  text-shadow:
  2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000 !important;

}

.vjs-text-track-display > div > div > div{
     background-color: rgba(0, 0, 0, 0)!important;
}
