{$content = $content|json_decode}
<div class="c-layout-page">
    <div class="c-layout-breadcrumbs-1 c-subtitle c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
        <div class="container">
            <div class="c-page-title c-pull-left">
                <h3 class="c-font-uppercase c-font-sbold">{$content->title}</h3>
            </div>
            <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                <li>
                    <a href="#">{$content->title}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="single-product-area content">
        <div class="container">
            <h2>{$content->title}</h2>
            <div>{$content->content}</div>

        </div>
    </div>
</div>