
<div class="page-header">
    <!--Background Banner-->
    <div class="fill-header">
        <img src="{$this->siteurl}{$Yii->theme->baseUrl}/images/Banner%20Pik.jpg" alt="Banner Header">
    </div>             
    <div class="page-title">
        <h2>{$this->Language['forgot_pwd']}</h2>
    </div>
</div>

<div class="content-holder">
    <section class="p-t-0">
        <div class="card-gallery">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="bottom45p">
                        {$this->Language['fill_form_below']}
                    </h4>
                </div>
                <div class="col-md-6">
                    <form name="frmFP" id="frmFP" method="post" data-pjax>
                        <div id="reset-loading" class="loader" style="display: none;"></div>
                        <div class="alert-success alert-msg" id="success_message" style="display:none;"></div> 
                        <div class="form-group">
                            <input type="text" name="email" id="reset_email" placeholder="{$this->Language['text_email_placeholder']}" autocomplete="off" class="form-control" />
                        </div>
                        <div id="reset-errors" class="error error-text" style="font-weight: bold;"></div>


                        <button type="submit" class="btn as-btn-accent as-btn-md "  name="login_submit" id="login-btn">{$this->Language['btn_submit']}</button>
                        <input type="hidden" name="csrfToken" id="csrfToken" value="{$smarty.session.csrfToken}" />
                        <ul class="list-inline  top15p">
                            <li class="meta-info"><a href="javascript:void(0);"  data-toggle="modal" data-target="#myLoginModal">{$this->Language['login_here']}</a>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
{literal}
<script  type="text/javascript">
    $('.menu_item a').removeClass('active');
    $('.wrapper').removeClass('background-container');
    $('.wrapper').removeClass('modal-background');
    $('#myLoginModal').modal('hide');
    $('#myLoginModal').on('hidden.bs.modal', function (e) {
        $('body').removeAttr('style');
    });
    $("#frmFP").validate({
        rules: {
            email: {
                required: true,
                mail: true,
            }
        },
        messages: {
            email: {
                required: JSLANGUAGE.registered_email,
                mail: JSLANGUAGE.valid_email,
            }
        },
        submitHandler: function (form) {
            console.log($('#frmFP').serialize());
            $.ajax({
                url: HTTP_ROOT + '/user/forgotpassword',
                data: $('#frmFP').serialize(),
                type: 'POST',
                dataType: "json",
                headers: {"X-PJAX": "true", "X-PJAX-Container": "#main"},
                beforeSend: function () {
                    $('#reset-loading').show();
                },
                complete: function () {
                    $('#reset-loading').hide();
                },
                success: function (data) {
                    if (data.status == 'success')
                    {
                        $('#success_message').html(Password_reset).show();
                        $(".alert-msg").fadeTo(5000, 0).slideUp("slow", function () {
                            $('#success_message').html('').css({opacity: 1});
                        });
                    }
                    else
                    {
                        $('#reset-errors').html(data.message);
                        return false;
                    }
                }
            });
        }
    });

</script>
{/literal}