<div class="page-header"> 
    <!--Background Banner-->
    <div class="fill-header"> <img src="{$this->siteurl}{$Yii->theme->baseUrl}/images/Banner%20Pik.jpg" alt="Banner Header"> </div>
    <div class="page-title">
        <h2>{$this->Language['purchase_history']}</h2>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <section>
                <div class="bottom20p hidden-xs"></div>

                <div class=" table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>{$this->Language["order"]}</th>
                                <th>{$this->Language["item_details"]}</th>
                                <th>{$this->Language["date"]}</th>
                                <th class="text-center">{$this->Language["status"]}</th>
                                <th class="text-center">{$this->Language["invoice"]}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {assign var="total_purchase" value=$purchasehistory|@count}
                            {if ($total_purchase > 0)}
                            {foreach from=$purchasehistory item=purchase}
                           
                            {assign var="orderurl" value=Yii::app()->createUrl("/user/transaction/")}
                            {assign var=ccc value=$ccc+1}

                            <tr>
                                <th scope="row">{$ccc}</th>
                                <td><a href="{$orderurl}/{$purchase['id']}"># {$purchase['order_number']}</a></td>
                                <td>
                                    <h6>{$purchase['transaction_for']}</h6>
                                </td>
                                <td><h6>{$this->Language['transaction_detail_purchase_date']}</h6>
                                    <p>{$purchase['transaction_date']}</p>
                                    <p>{$purchase['expiry_date']}</p>
                                </td>
                                <td>
                                    {assign var="status" value=$purchase['statusppv']}
                                    {assign var="status_bundle" value=$statusbundles}
                                    {if $purchase['transaction_type'] == 5}
                                    {if $status_bundle == 'Active'}
                                    <div class="active-plan"  data-toggle="tooltip" data-placement="bottom" title="{$status_bundle}"></div>
                                    {else}
                                    <div class="expired"  data-toggle="tooltip" data-placement="bottom" title="{$status_bundle}"></div>

                                    {/if}
                                    {/if}
                                    {if $purchase['transaction_type'] == 2 || $purchase['transaction_type'] == 1}
                                    {if $status == 'Active'}<div class="active-plan"  data-toggle="tooltip" data-placement="bottom" title="{$status}"></div>
                                    {else}
                                    <div class="expired"  data-toggle="tooltip" data-placement="bottom" title="{$status}"></div>
                                    {/if}
                                    {/if}

                                    {if $purchase['transaction_type'] == 3}
                                    N/A
                                    {/if}
                                </td>
                                <td>
                                    {if $purchase['transaction_type'] == 4}
                                    <a href="{Yii::app()->createUrl('/user/viewInvoicePDF/')}?transaction_id={$purchase['id']}" target="_blank" class="invoice">{$this->Language["view_invoice"]}</a> 
                                    {else}
                                    <a href="{Yii::app()->createUrl('/user/getInvoicePDF/')}?transaction_id={$purchase['id']}" target="_blank" class="invoice">{$this->Language["view_invoice"]}</a>
                                    {/if}

                                </td>
                            </tr>

                            {/foreach}
                            {else}
                            <tr>
                                <td>
                                    <p>{$this->Language["no_record_found"]}</p>
                                </td>
                            </tr>
{/if}
                        </tbody>
                    </table>
                </div>
                <div class="row" style="margin-right:0px !important;">
                    <div class="col-md-12">
                        <div class="product-pagination text-center">
                            <nav>
                                {$pagination}
                            </nav>                        
                        </div>
                    </div>
                </div> 

            </section>

        </div>
    </div>
</div>
<script type="text/javascript">
    $('.menu_item a').removeClass('active');
        $('.wrapper').addClass('has-not-sidebar');
</script>