<div class="row">
    <div class="col-md-12">
        <ul class="list-inline top10p">
            <li>
                <h5 class="text-uppercase">{$this->Language['register']}</h5></li>
            <li class="meta-info">{$this->Language['already_registered']}  <a href="javascript:void(0);"   onclick="showLoginModal();" class="text-uppercase">{$this->Language['sign_in']}</a></li>
        </ul>
    </div>
    {if $this->studio->social_logins}
    {if isset($smarty.session.social) } 
    {assign var=socialAuth value=$smarty.session.social}
    {else}
    {assign var=socialAuth value=$this->getSocialUrls()}
    {/if}
    {if $socialAuth}
    <div class="col-md-12">
        {if ($this->studio->social_logins & 1) && $socialAuth['fb_url'] }
        <a href="javascript:void(0);" data-url="{$socialAuth['fb_url']}" data-login="0" class="login-fb btn as-btn-lg btn-block facebook_login  text-uppercase"><img src="{$this->siteurl}{$Yii->theme->baseUrl}/images/Icons/Facebook-Icon.png"> {$this->Language['register_facebook']}</a>
        {/if}
        {/if}
    </div>
    <div class="col-md-12">
        <div class="gray text-center  text-uppercase">-{$this->Language['or']}-</div>
    </div>
    {/if}

    <div class="col-md-12">
        <div id="errors" class="error text-center"></div>  
        <form id="register_step" name="register_step" method="POST" >
            <input type="hidden" name="csrfToken" id="csrfToken" value="{$smarty.session.csrfToken}" />
            <div id="register_error" class="error error-text text-center"></div>  

            <div class="row">
                <div class="form-group col-md-6 bottom10p">
                    <input type="text" required name="data[name]" id="fullname" placeholder="{$this->Language['text_name_placeholder']}" autocomplete="off" class="form-control" />
                </div>
                <div class="form-group col-md-6 bottom10p">
                    <input type="email" required name="data[email]" id="email" placeholder="{$this->Language['text_email_placeholder']}" autocomplete="off" class="form-control" />
                </div>
                <div class="clearfix"></div>
                <div class="loader" id="register_loading"></div>

                <div class="form-group col-md-6 bottom10p">
                    <input type="password" class="form-control" autocomplete="off" placeholder="{$this->Language['text_password_placeholder']}" id="join_passwords" name="data[password]" required />

                </div>
                <div class="form-group col-md-6 bottom45p">
                    <input type="password" class="form-control" required="" value="" autocomplete="off" placeholder="{$this->Language['confirm_password']}" id="confirm-password" name="data[confirm_password]"  />

                </div>
                <div class="clearfix"></div>
                <ul class="list-inline  text-center bottom15p">
                    <li class="meta-info">
                        <input name="data[subscribe_newsletter]" value="1" checked="checked" type="checkbox"> &nbsp;{$this->Language['subscribe_to_announcement']}<br />
                    </li>                    
                    <li class="meta-info">{$this->Language['chk_over_18']}  <a href="{$this->siteurl}/page/terms-privacy-policy">{$this->Language['terms']}</a></li>
                </ul>
                <button type="submit" class="btn as-btn-accent as-btn-md center-block" name="register_submit" id="register_membership">{$this->Language['btn_register']}</button>
            </div>
        </form>

    </div>

</div>

