
<div class="page-header">
    <!--Background Banner-->
    <div class="fill-header">
        <img src="{$this->siteurl}{$Yii->theme->baseUrl}/images/Banner%20Pik.jpg" alt="Banner Header">
    </div>             
    <div class="page-title">
        <h2>{$this->Language['reset_your_password']}</h2>
    </div>
</div>

<div class="content-holder">
    <section class="p-t-0">
        <div class="card-gallery">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="bottom45p">
                        {$this->Language['fill_form_below']}
                    </h4>
                </div>
                <div class="col-md-6">
                    <form name="resetForm" id="resetForm" method="post" data-pjax>
                         <div id="reset-loading" class="loader" style="display: none;"></div>
                    <input type="hidden" name="reset_password_token" value="{$token}" readonly />
                    <input type="hidden" name="email" value="{$email}" readonly />
                    <input type="hidden" name="user_id" value="{$user_id}" readonly /> 
                    
                        <div class="alert-success alert-msg" id="success_message" style="display:none;"></div> 
                        <div class="form-group">
                            <input type="password" name="password" id="password" placeholder="{$this->Language['text_password_placeholder']}" autocomplete="off" class="form-control" />
                        </div>
                        <div id="reset-errors" class="error error-text" style="font-weight: bold;"></div>


                        <button type="submit" class="btn as-btn-accent as-btn-md "  name="login_submit" id="login-btn">{$this->Language['btn_reset']}</button>
                        <input type="hidden" name="csrfToken" id="csrfToken" value="{$smarty.session.csrfToken}" />
                       
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal fade custom-modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content planWrapper-Content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon-close" style="color:white;"></i></span></button>
                <h1 class="modal-title text-center" id="myModalLabel">{$this->Language['reset_password']}</h1>
            </div>
            <div class="modal-body result-message">
             {$this->Language['password_changed']}.
            </div>

        </div>
    </div>
</div>
{literal}
<script type="text/javascript">
    $(document).ready(function() {
        $('#reset-loading').hide();
    });
       
    $("#resetForm").validate({
        rules: {
            password: {
                required: true,
                minlength: 6,
            }
        },
        messages: {
            password: {
                required: JSLANGUAGE.password_required,
                minlength: JSLANGUAGE.password_minlength,
            }
        },
        submitHandler: function(form) {
            $.ajax({
                url: HTTP_ROOT + "/user/reset_user_password",
                data: $('#resetForm').serialize(),
                type: 'POST',
                dataType: "json",
                headers: {"X-PJAX":"true","X-PJAX-Container":"#main"},
                beforeSend: function() {
                    $('#reset-loading').show();
                },
                success: function(data) {
                    $('#reset-loading').hide();
                    if (data.err == 0)
                    { 
                        $('#myLoginModal').modal('show');
                        $('.wrapper').addClass('modal-background');
                     
                    }
                    else
                    {
                        $("#reset-errors").show();
                        $("#reset-errors").html(data.msg);
                    }
                }
            });
        }
    });    
    
</script>
{/literal}