
  <div class="page-header"> 
      <!--Background Banner-->
      <div class="fill-header"> <img src="{$this->siteurl}{$Yii->theme->baseUrl}/images/Banner%20Pik.jpg" alt="Banner Header"> </div>
      <div class="page-title">
        <h2>{$this->Language['transaction_detail']}</h2>
      </div>
    </div>
{$transaction=$transaction|json_decode}

    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
        	<section class="p-b-0">
            	<div class="bottom20p hidden-xs"></div>
                
                		<div class="row fully-bleed-xs">
                        		<div class="col-sm-12 transcation-detail">
                                	<ul class="list-inline">
                                    	<li>{$this->Language['transaction_date']}:</li>
                                        <li>{$transaction->transaction_date}</li>
                                    </ul>
                                    <ul class="list-inline">
                                        <li>{$this->Language['order']}:</li>
                                        <li>{$transaction->order_number}</li>
                                    </ul>
                                    <ul class="list-inline">
                                    	<li>{$this->Language['amount']}:</li>
                                        <li>{$transaction->amount}</li>
                                    </ul>
                                    <ul class="list-inline">
                                        <li>{$this->Language['invoice']}:</li>
                                        <li>{$transaction->invoice_id}</li>
                                    </ul>
                                    <ul class="list-inline">
                                    	<li>{$this->Language['transaction_status']}</li>
                                        <li class="success">{$transaction->transaction_status}</li>
                                    </ul>
                                    <ul class="list-inline">
                                        <li>{$this->Language['plan_name']}</li>
                                        <li>{$transaction->plan_name}</li>
                                    </ul>
                                </div>   
						</div>
                            <div><a href="javascript:void(0);" onclick="javascript: history.go(-1);" class="btn as-btn-accent">{$this->Language['back']}</a></div>

            	
            </section>
          
        </div>
      </div>
    </div>
<script type="text/javascript">
        $('.wrapper').addClass('has-not-sidebar');
</script>