<div class="content-holder audio-body">
    <section>
        <h2 class="text-left bottom15p">{$this->Language['recently_played']}</h2>
        
        <div class="card-gallery">
            <input type="hidden" value="{$item_count}" class="item_count">
            {if $item_count > 0}            
            <div class="row">
                {foreach from=$contents|json_decode item=content}
                {$casts=$content->casts}
                <div class="col-fluid">
                    <div class="card">
                        <a href="{$content->permalink}"  data-pjax='main'>
                            <figure style="background-image: url('{$this->siteurl}{$Yii->theme->baseUrl}/images/default-artwork.jpg');">
                                <img class="owl-lazy" src="{$content->poster}" alt="{$content->title|utf8_decode}" title="{$content->title|utf8_decode}" >
                                    <div class="overlay text-center {if $content->content_types_id == 5 && $content->full_movie == ''} hide {/if}">
                                        <a {if $content->content_types_id == 5 && $content->full_movie != ''} href="javascript:void(0);"{elseif $content->content_types_id == 5 && $content->full_movie == ''} href="{$content->permalink}"  data-pjax='main' {else}href="{$content->permalink}"  data-pjax='main' {/if}   {if $content->content_types_id == 5 && $content->full_movie != ''} onclick="playAudio(this)"{else} class="audioPlay"{/if} data-index="0"  id="{$content->movie_id}" >
                                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-201 40 467 467">
                                                <g>
                                                    <circle class="st0" cx="34" cy="274.1" r="227" />
                                                    <circle class="st1" cx="34" cy="274.1" r="220" />
                                                    <g class="st2">
                                                        <path class="st3" d="M123.7,269.9L-5.2,195.5c-3.3-1.9-7.3-1.9-10.6,0s-5.3,5.4-5.3,9.2v148.8c0,3.8,2,7.3,5.3,9.2
                                                              c1.6,1,3.5,1.4,5.3,1.4s3.6-0.5,5.3-1.4l128.9-74.4c3.3-1.9,5.3-5.4,5.3-9.2S127,271.8,123.7,269.9z" />
                                                    </g>
                                                </g>
                                            </svg>  
                                        </a> 
                                    </div>
                            </figure>                            
                            <h6> <a href="{$this->siteurl}/{$content->permalink}" class="c-white" data-pjax='main'>{if $content->content_types_id == 6}{$content->content_title|utf8_decode}{else}{$content->title|utf8_decode}{/if}</a></h6>
                            <p>{if $casts|@count > 0}{foreach from=$casts key=counter item=cast}{$cast_count=$cast|@count}{$j=0}{foreach from=$cast key=counter item=castitem}{$castitem->celeb_name}{$j = $j+1}{if $j != $cast_count}, {/if}{/foreach}{/foreach}{/if}&nbsp;</p>
                        </a>
                    </div>                    
                </div>
                {/foreach}
            </div>
            {else}
            <h5>{$this->Language['no_content_added_yet']}</h5>
            {/if}
            <div class="load-favourite load1">
                    <div class="loader-player">{$this->Language['loding']}</div>
                </div>
        </div>
    </section>
</div>
