
{if $plans|@count > 0}
<div class="row fully-bleed-xs subscription_plan">
    {foreach from=$plans key=counter item=plan}
    {$month_original =  $this->Original['select_month']|trim}
    {$year_original =  $this->Original['select_year']|trim}
    {$day_original =  $this->Original['day']|trim}
    {$plan_recurrence = $plan->recurrence|trim}
    {$recurrence_trial = $plan->trial_recurrence|trim}
    {if $month_original == $plan_recurrence}
    {$recurrence = $this->Language['select_month']}
    {elseif $year_original == $plan_recurrence}
    {$recurrence = $this->Language['select_year']}
    {else}
    {$recurrence = $plan_recurrence}
    {/if}

    {if $month_original == $recurrence_trial}
    {$trial_recurrence = $this->Language['select_month']}
    {elseif $day_original == $recurrence_trial}
    {$trial_recurrence = $this->Language['day']}
    {else}
    {$trial_recurrence = $recurrence_trial}
    {/if}
    {if $counter == 0}
    <input name="data[plan_id]" type="hidden" id="plan_id" value="{$plan->id}" required />
    <input name="data[currency_id]" type="hidden" id="currency_id" value="{$plan->currency_id}" required />
    <input type="hidden" name="data[is_subscription_bundles]" id="is_subscription_bundles" value="{$plan->is_subscription_bundle}"  />
    {/if}
    {$price = $plan->price}
    {$currency_id = $plan->currency_id}
{$price_text=Yii::app()->common->formatPrice($price,$currency_id)}
    <div class="col-sm-4 col-xs-6 plans">
        <div class="plan-box" id="membership-plan_{$plan->id}" data-id="{$plan->id}" data-currency_id="{$currency_id}" data-is_subscriptionbundle="{$plan->is_subscription_bundle}">
            <div class="checked">
                <img src="{$this->siteurl}{$Yii->theme->baseUrl}/images/Icons/checked.png" alt="" width="18px">
            </div>
            <div class="title">
                {$plan->name}
            </div>
            <div class="body">
                <h1>

                    <sup>{$price_text|truncate:1:"":true}</sup>{$price}
                    <small>/{$plan->frequency} {$recurrence} {if $plan->frequency > 1}(s){/if}</small>
                </h1>
                <p class="top10p">
                    {if $plan->trial_period > 0}
                    {$plan->trial_period} {$trial_recurrence} {$this->Language['free']}     
                    {/if}
                </p>
            </div>
        </div>
    </div>
    {/foreach}
</div>
{/if}
