<nav class="navbar navbar-default navbar-fixed-top">
    <ul class="nav navbar-nav">
        <!--Hamburger Menu : Mobile Only-->
        <li class="hamburger">
            <a href="javascript:void(0);" type="button" class="hamburger-trigger" data-class="menu-visible">
                <img src="{$this->siteurl}{$Yii->theme->baseUrl}/images/Icons/humburger.png" alt="Menu" width="20">
            </a>
        </li>
        <!--Logo-->
        <li class="brand">
            <a class="navbar-brand" href="{$this->siteurl}">
                <img src="{$this->siteLogo}" alt="{$this->siteurl}">
            </a>
        </li>
        <!--Search-->
        <li class="search">
            <span href=".search" class="toggle" data-class="search-visible">
                <img src="{$this->siteurl}{$Yii->theme->baseUrl}/images/Icons/search.png" alt="" width="16">
            </span>
            <form  id="search-form" class="" onsubmit="return validate_search();" action="/search/show_all" data-pjax>
                <label for="search" class="hidden">{$this->Language['text_search_placeholder']}</label>
                <input class="form-control search-field" name="search_field" id="siteSearchField" placeholder="{$this->Language['text_search_placeholder']}" autocomplete="off" type="search">
                <input type="hidden" name="csrfToken" id="csrfToken" value="{$smarty.session.csrfToken}" />

            </form>
        </li>
        <!--Menu -->
        <li class="pull-right open menu-item">
            <a href=".open" type="button" class="visible-xs more-menu dropdown-toggle" data-class="menu-visible">
            <img src="{$this->siteurl}{$Yii->theme->baseUrl}/images/Icons/more.png" alt="More" width="15">
            </a>
            <div class="dropdown-menu-visible-xs">
                <ul class="list-inline">
                    {$language_code = $this->language_code}

                    {$totallang =$this->enable_laguages|count}
                    {if $totallang > 1} 
                    {$studio_languages = $this->enable_laguages} 

                    <li class="dropdown language_dropdown">
                        <a class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <img src="{$this->siteurl}{$Yii->theme->baseUrl}/images/Icons/Arrow-Drpdown-Grey.png" alt="dropdown" width="8" class="img-gray">
                            <img src="{$this->siteurl}{$Yii->theme->baseUrl}/images/Icons/Arrow-Drpdown-colored.png" alt="dropdown" width="8" class="img-colored">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                            {foreach from=$studio_languages key=key item=value}
                            {if $value['status'] != 0} 
                            <li class="language {if $language_code == $value['code']}lang-selected{/if}" data-lan="{$value['code']}"><a href="javascript:void(0);" value="{$value['code']}" data-name ="{$value['name']}" onclick="changeLanguage('{$value['code']}','{$value['name']}')">{$value['name']}</a></li>
                            {elseif $value['code'] == "en"}
                            <li class="language {if $language_code == $value['code']}lang-selected{/if}" data-lan="{$value['code']}"><a href="javascript:void(0);" value="{$value['code']}" data-name ="{$value['name']}" onclick="changeLanguage('{$value['code']}','{$value['name']}')">{$value['name']}</a></li>
                            {/if}
                            {/foreach}
                        </ul>
                    </li>
                    {/if}

                    <li role="separator" class="divider"></li>
                      {$user_id=Yii::app()->user->id}
                        {if $user_id > 0}
					<li>
                       
                        {if $this->usermenu|@count > 0}                        
                        {foreach from=$this->usermenu key=key item=mitem}   
                        {if $mitem['children']|@count > 0}
                        <ul id="user_menu" class="list-inline">
                            <li class="dropdown">
                                <a class="dropdown-toggle {$mitem['class']}" href="{$mitem['permalink']}" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <img title="{$mitem['display_name']}" src="{$mitem['profile_image']}" alt="{$mitem['display_name']}" class="img-circle" width="40px">
                                    <span class="user_name">{$mitem['display_name']}</span>
                                    <img src="{$this->siteurl}{$Yii->theme->baseUrl}/images/Icons/Arrow-Drpdown-Grey.png" alt="{$mitem['display_name']}" class="img-gray" width="8">
                                    <img src="{$this->siteurl}{$Yii->theme->baseUrl}/images/Icons/Arrow-Drpdown-colored.png" alt="{$mitem['display_name']}" class="img-colored" width="8">
                                </a>                            {else}
                          
                            {/if}                                
                            
                            {if $mitem['children']|@count > 0}
                            <ul class="dropdown-menu dropdown-menu-right">
                                {foreach from=$mitem['children'] key=key item=mcitem}
                                <li><a {if $mcitem['class'] == 'cancelsubscription'} data-target="#cancelsubscription" data-toggle="modal"{else}href="{$mcitem['permalink']}"{/if} class="{$mcitem['class']}">{$mcitem['title']}</a></li>
                                {/foreach}
                            </ul>
                            {/if}
                    </li>
                </ul>
                {/foreach}
                {/if}
               </li>
				{else}
                             <li class="bottom10p">
                                <a data-toggle="modal" data-target="#myLoginModal" class="notlogin">{$this->Language['login']}</a>
                            </li>
                            <li class="dropdown" >
                                <a href="javascript:void(0);" class="btn as-btn-accent as-btn-sm notlogin register-btn" class="notlogin" data-toggle="modal" data-target="#myModal-register">{$this->Language['register']}</a>
                            </li>
                            {/if}
     
    </ul>
</div>
</li>
</ul>
</nav>
<div class="modal fade" id="myLoginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>


            <div class="modal-body popup_bottom">
                {include file='../user/login.html'}    

            </div>
        </div>
    </div>
</div>
<!-- Login Modal End -->
<!-- Register Modal -->
<div class="modal fade" id="myModal-register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>


            <div class="modal-body">
                {include file='../user/register_step.html'}    

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
            var selected_language = $('li.lang-selected a').attr('data-name');
            $(document).ready(function(){
    $('.language_dropdown a#dropdownMenu1').prepend(selected_language);
        $("#user_menu .dropdown   ul li:last").before('<li role="separator" class="divider"></li>');
         $('#cancelsubscription .modal-header h4').remove();
    $('#cancelsubscription').find('#cancel_now').removeClass('btn-primary pull-right bold_class');
    $('#cancelsubscription').find('#cancel_now').addClass('as-btn-accent as-btn-md center-block top10p');
    $('#cancelsubscription').find('#cancel_form').prepend('<div class="col-md-12"><h5>' + let_u_go + '</h5></div><div class="col-md-12"><hr></div>');
    $('#cancelsubscription #cancel_form').find('.form-group').removeClass('form-group').addClass('col-md-12');
    

    });
            $('.notlogin').click(function(){
    $('.wrapper').addClass('background-container');
    });
            $('.close').click(function(){
    $('.wrapper').removeClass('background-container');
            $('.wrapper').removeClass('modal-background');
    });
            $('.hamburger-trigger').click(function(){
             $(this).toggleClass('menu-visible');
            $('.sidebar-menu').toggleClass('menu-visible');
    });
            $('.more-menu').click(function(){
            $(this).toggleClass('menu-visible');
            $('.menu-item').toggleClass('menu-visible');
    })
            function showRegisterModal(){
            $('#myLoginModal').modal('hide');
            $('#myModal-register').modal('show');
            $('.wrapper').addClass('modal-background');
            }
    function showLoginModal(){
            $('#myModal-register').modal('hide');
            $('#myLoginModal').modal('show');
            $('.wrapper').addClass('modal-background');
    }
</script>
