{$content = $playlist_data|json_decode}
<input type="hidden" value="{$content->id}" id="p_id">
<input type="hidden" value="{$count_list}"  id="total">

{$pageUrl = Yii::app()->request->url}
{$user_id=Yii::app()->user->id}
<input class="playlist_user_id" value="{$user_id}" type="hidden">    
<div class="content _no-gap-top">
    <div class="item-detail-title">
        <div class="container">
            <h2 class="_item-detail">{$content->title|utf8_decode}</h2>
        </div>
    </div>        
    <div class="spacer _50"></div>
    <div class="container">
        <div class="row product-meta-data">
            <div class="col-md-3">    
                <img src="{$playlist_poster}" alt="{$content->title|utf8_decode}" title="{$content->title|utf8_decode}" class="img-responsive item-thumb" />
            </div>
            <div class="col-md-9 product-meta-data">
                <div class="item-detail-info">
                    <h3>
                        <div class="pull-right">
                            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={$pageUrl}" data-title="{$this->Language['share_in_facebook']}" class="social-share-popup"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;
                            <a target="_blank" href="https://twitter.com/intent/tweet?text={$pageUrl}" data-title="{$this->Language['share_in_twitter']}" class="social-share-popup"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;
                        </div> 
                        {$content->playlist_name|utf8_decode}
                    </h3>
                </div>
                <div class="item-detail-info">
                    {if $this->add_to_favourite}
                    <button onclick="addFav(this)"  name="addfav" data-fav_status="{$user_status['fav_status']}" data-login_status="{$user_status['login_status']}" data-content_id="{$content->id}" data-content_type="4" class="btn btn-primary favAdd" >
                        {if $user_status['fav_status'] ==0}
                        <i class="fa fa-heart"></i>
                        <span id="favtext">
                            {$this->Language['added_to_fav']}
                        </span>
                        {else} 
                        <i class="fa fa-heart-o"></i>
                        <span id="favtext">
                            {$this->Language['add_to_fav']}
                        </span> 
                        {/if}
                    </button>
                    {/if}
                </div>
                <div class="item-detail-info">
                    {if $count_list > 0}
                    <a 
                        class="playPlaylist btn btn-lg btn-primary" 
                        data-playlist_id="{$content->id}"
                        data-playlist_name="{$content->playlist_name}" 
                        data-user_id="0"
                        data-index="0">
                        {$this->Language['play_all']} 
                    </a>
                    {/if}
                </div>
            </div>
            
            <div class="tracklist-episode-wrap col-md-12">
                <h2>{$this->Language['tracklist']}</h2>
                <input type="hidden" name="playlist_id" id="playlist_id" value="{$content->id}" />
                <input type="hidden" id ="playlist_name" value="{$content->playlist_name}">
                <div id="playlist" class="tracklist-episode tracklist record-tracklist"></div>
                <div class="loader loader_episode" style="display: none;"></div>
            </div>
        </div>
    </div>
</div>
  
<script type="text/javascript" src="{$this->siteurl}/common/js/fancybox.js"></script>
<link rel="stylesheet" href="{$this->siteurl}/common/css/fancybox.css" type="text/css" media="screen" />
<script type="text/javascript" src="{$this->siteurl}/common/rating/bootstrap-rating.js"></script>
<script type="text/javascript">
	var trailerUrl = '{$content->trailer_url}';
	var trailerIsConverted = '{$content->trailer_is_converted}';
	var v_logo = '{$v_logo}';
	var HTTP_ROOT = '{$this->siteurl}';
	var is_mobile = 0;
	var multipleVideoResolution = {$multipleVideo|json_encode};
	var defaultResolution = '{$defaultResolution}';
	var createSignedUrl = "{$this->siteurl}/user/getNewSignedUrlForTrailer";
	var added_fav = "{$this->Language['added_to_fav']}";
	var add_fav = "{$this->Language['add_to_fav']}";
	$(document).ready(function () {
		$('.videocontent').hide();
	});
</script>
{literal}
<style type="text/css">
    .RDVideoHelper{display: none;}
    .videocontent{display: block;}
    video::-webkit-media-controls {display:none !important;}
    .playbtn{background:none !important;}
</style>  
<script type="text/javascript">
$(document).ready(function () {
    var user_id = $('.playlist_user_id').val();
    var total = $('#total').val();
    if (total > 0) {allPlaylistData();}
});
</script>
{/literal}


