{assign var="cropDimesion" value=Yii::app()->common->getPgDimension()}
<div class="c-layout-page">
    <!-- BEGIN: PAGE CONTENT -->
    {include file='../layouts/banner.html'}
    <div class="c-content-box c-size-sm c-overflow-hide c-bs-grid-small-space" style="background-image: url('{$this->siteurl}{$Yii->theme->baseUrl}/images/135.jpg')">
        <div class="container">   
            {if $featured_product|@count > 0}
            {foreach from=$featured_product key=k1 item=value1}
            {if $value1['total'] > 0}
            <!-- BEGIN: CONTENT/SHOPS/SHOP-2-3 -->
            <!-- breadcrumbs -->
            <div class="c-content-title-1">
                <h3 class="c-font-uppercase c-center c-font-bold">{$value1['title']|utf8_decode}</h3>
                <div class="c-line-center c-theme-bg"></div>
            </div>       
            <div class="row">
                {assign var="producturl" value=Yii::app()->createUrl("/")}
                {include file='../shop/allproducts.html'}
                <div class="product-pagination text-center">
                    <nav>
                        {$pagination}
                    </nav>                        
                </div>
            </div>
            <!-- END: CONTENT/SHOPS/SHOP-2-3 -->
            {/if}
            {/foreach}
            {else} 
            {foreach from=$sections|json_decode item=section}  
            {if $section->total > 0}
            <div class="c-content-title-1">
                <h3 class="c-font-uppercase c-center c-font-bold">{$section->title|utf8_decode}</h3>
                <div class="c-line-center c-theme-bg"></div>
            </div>
            
            <div class="row list_page cust-row">
                {foreach from=$section->contents item=content}
                {if $content->is_episode == 2}
                {include file='../shop/singleitem.html'}  
                {else}
                <div class="col-md-3 col-sm-6 c-margin-b-20">
                    <div class="c-content-product-2 c-bg-white">
                        <div class="c-content-overlay">
                            <div class="c-overlay-wrapper">
                                <div class="c-overlay-content">
                                    {if $content->play_btn != '' }<div class="btn btn-md c-theme-btn c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square play-btn">{$content->play_btn}</div>{/if}
                                </div>
                            </div>
                            <div class="c-bg-img-top-center c-overlay-object text-center"><img src="{$content->poster}" /></div>
                        </div>
                        <div class="c-info">
                            <p class="c-title c-font-16">
                                <a href="{$content->permalink}">{$content->title|utf8_decode}</a>
                            </p>
                            {if $content->genres|@count > 0}
                            <p class="caption_genre">
                                {$genre_count = $content->genres|count}
                                {$j=0}
                                {foreach from=$content->genres item=genre}
                                {$genre}{$j = $j+1}{if $j != $genre_count}, {/if}{/foreach}
                            </p>
                            {/if}                        
                        </div>                     
                    </div>
                </div>                
                {/if}
                {/foreach}
            </div>
            <div id="loader" class="loader"></div>           
            {/if}
            {/foreach} 
            {/if}  
        </div>
    </div>    
</div>
{literal}
<script>
    $(document).ready(function ()
    {
        var slider = $('.c-layout-revo-slider .tp-banner');
        var cont = $('.c-layout-revo-slider .tp-banner-container');
        var api = slider.show().revolution(
        {
            sliderType: "standard",
            sliderLayout: "auto",
            responsiveLevels: [2048, 1024, 778, 320],
            gridwidth: [1240, 1024, 778, 320],
            gridheight: [600, 600, 600, 720],
            delay: 1000,
            startwidth: 1170,
            navigationType: "hide",
            navigationArrows: "solo",
            touchenabled: "on",
            navigation:
                {
                    keyboardNavigation: "off",
                    keyboard_direction: "horizontal",
                    mouseScrollNavigation: "off",
                    onHoverStop: "on",
                    arrows:
                    {
                        style: "circle",
                        enable: true,
                        hide_onmobile: false,
                        hide_onleave: false,
                        tmp: '',
                        left:
                            {
                                h_align: "left",
                                v_align: "center",
                                h_offset: 30,
                                v_offset: 0
                            },
                        right:
                            {
                                h_align: "right",
                                v_align: "center",
                                h_offset: 30,
                                v_offset: 0
                            }
                    }
                },
            spinner: "spinner2",
            fullScreenOffsetContainer: '.c-layout-header',
            shadow: 0,
            disableProgressBar: "on",
            hideThumbsOnMobile: "on",
            hideNavDelayOnMobile: 1500,
            hideBulletsOnMobile: "on",
            hideArrowsOnMobile: "on",
            hideThumbsUnderResolution: 0
        });
    }); //ready
    function showcart(id, flag){
        $('.loader_cart').show();
        var url = '{/literal}{$this->siteurl}{literal}/shop/addtocart';
        $.post(url, {'quantity':1, 'id':id}, function(res){
        if (flag == 2){
            window.location.href = '{/literal}{$this->siteurl}{literal}/shop/cart';
        } else{
            $('.loader_cart').hide();
                //$('html,body').animate({scrollTop:0}, 500);
                $('.round-cart').html(eval($('.round-cart').html()) + 1);
                $('#cartpopup').html(res);
            }
        })
    }
</script>
{/literal}