
{foreach from=$banner_sections|json_decode item=banner_section}
{$banner_count=$banner_section->banners|@count}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        {foreach from=$banner_section->banners key=counter item=banner} 
        {$class = ""}
        {if $counter == 0} 
        {$class = "active"}
        {/if} 
{$banner_type=$banner->banner_type}
        <div class="item {$class}">
       
         {if $banner_type == '1'}{if $banner->url_text !=''}  <a href="{$banner->url_text}">  {/if}<img src="{$banner->banner_full_path}" class="banner-image" alt="{$this->studio->name}" title="{$this->studio->name}" /> {if $banner->url_text !=''}  </a>  {/if}{else}
         <div class="videocontainer">
             <video autoplay loop muted playsinline id="background">
                 <source src="{$banner->video_url}">
             </video>
         </div>  
         {/if}
            <div class="carousel-caption">
                <div class="container">
                    {if $banner->banner_text !='' || $banner->join_btn !=''}
                    <div class="caption-text">
                        <h1>{$banner->banner_text}</h1>
                        <p>{$banner->join_btn}</p>
                    </div>
                    {/if}
                </div>
            </div>
        </div>                    
        {/foreach}
    </div>
    {if $banner_count > 1}
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
{/if}
</div><!-- /.carousel -->    
{/foreach}   
{literal}
<script type="text/javascript">
  document.getElementById('background').play();
  var vid = document.getElementById("background");
  vid.ontimeupdate = function() {$('#myCarousel').carousel('pause'); };
  if($('video').length > 0){
  $('video').each(function () {
    enableInlineVideo(this);
  });
  }
</script>

{/literal}
