<script>
var parentThemeName = "{$this->studio->parent_theme}";
var addToCart = "{$this->Language['add-to-cart']}";
var orderNow = "{$this->Language['ordernow']}";
var more = "{$this->Language['more']}";
var preOrder = "{$this->Language['pre_order']}";
var stockOut = "{$this->Language['stock_out']}";
</script>
{literal}
<div ng-app="FeaturedContents" ng-controller="HomeFeaturedSections" id="homepage_sections" class="relative" ng-cloak>
    <div ng-repeat="section in sections" ng-if="section.total > 0 && section.content_type !=2 " class="parent_sec_{{section.id}} parent-sec-hide _init" id="section_{{section.id}}">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="clearfix">
                    <span class="caps" style="display: inline-block; margin-top: 4px;">{{section.title | utfdecode}}</span>
                    <a ng-if="section.cpermalink" ng-href="{/literal}{$this->siteurl}/{literal}{{section.cpermalink}}" class="btn btn-primary pull-right">{/literal}{$this->Language['view_more']}{literal}</a>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="slider">
                    <div ng-repeat="content in section.contents" class="">
                        <div class="thumbnail listpos">
                            <div ng-if="content.play_btn.length">
                                <div ng-if="content.is_episode == 1 || content.content_types_id != 3">
                                    <div class="caption _prevent-js" ng-bind-html="content.play_btn | html">
                                    </div>
                                </div>
                            </div>
                            <a href="{{content.permalink}}">
                                <img class="img-tshow" src="{{content.poster}}" >
                            </a>
                            <div class="popup_content">
                                <div class="arrow"></div>
                                <div class="ptitle caps">
									<a href="{{content.permalink}}">{{content.title| utfdecode}}</a>
									<span ng-if="content.content_types_id !=1 || content.content_types_id !=3"><a href="{{content.permalink}}" ng-bind="content.name"></a></span>
								</div>
                                <div class="stripe col-md-12">
                                    <div class="col-md-12 text-right" ng-if="content.content_types_id ==1 || content.content_types_id ==3 " ng-bind="content.release_date"></div>
									&nbsp;<span class="text-left" ng-if="(content.content_types_id !=1 || content.content_types_id !=3) && content.is_preorder == 0" ng-bind="content.price"></span>

								</div>
                                <div class="clear"></div>
                                <div class="ptext">
                                     <p>{{content.short_story | utfdecode}} <span ng-if="content.story.length > 200" > <a href="{{content.permalink}}">{{more}}</a></span></p>
								 <p ng-if="content.content_types_id !=1 || content.content_types_id !=3 ">{{content.description.substring(0,200)}} <span ng-if="content.description.length > 200" > <a href="{{content.permalink}}">{{more}}</a></span></p>
								</div>
                            </div>
                        </div>
                        <h3 class="moviename"><a href="{{content.permalink}}" ng-bind-html="content.title | html"></a></h3>
						<div class="row" ng-if="content.content_types_id !=1 || content.content_types_id !=3 ">
							<div class="col-md-8 col-sm-7 col-xs-7">
								<div class="title">
									<h3 class="moviename text-left"><a href="{{content.permalink}}" ng-bind="content.name.length > 20?content.name.substr(0,20):content.name | html"></a></h3>
								</div>
							</div>
							<div class="col-md-4 col-sm-5 col-xs-5 text-right">
								<h3 class="moviename">
									&nbsp;<span ng-if="content.is_preorder == 0" ng-bind="content.price">
									</span>
								</h3>
							</div>
						</div>
						<span ng-if="content.content_types_id !=1 || content.content_types_id !=3 ">
							<span ng-if="content.status == 1">
								<span ng-if="content.is_preorder == 0">
									<button  class="AddToCart btn cart" name=""  ng-click="addCart(content.id,1)">{{addToCart}}</button>
									<button  class="AddToCart btn order-now" name=""  ng-click="addCart(content.id,2)">{{orderNow}}</button>
								</span>
								<span ng-if="content.is_preorder != 0">
									<a class="AddToCart btn order-now" href="{{content.permalink}}">{{preOrder}}</a>
								</span>
							</span>
							<span ng-if="content.status == 3">
								<div class="btn-group btn-group-justified" role="group">
									<div class="btn-group c-border-top" role="group">
										<div class="stockout text-black">{{stockOut}}</div>
									</div>
								</div>
							</span>
							
						</span>
                    </div>
                </div>
            </div>
        </div>
        <span>{{updateSlider(section.id)}}</span>
    </div>
    <div class="loader _home_featured" ng-if="isLoader" style="display:block;" ></div>
</div>
<script> 
var LIMIT = 2;

var app = angular.module('FeaturedContents', [])
    .filter('html',function($sce){
    return function(input){
        return $sce.trustAsHtml(input);
    };
})
.filter('utfdecode',function($sce){
    return function(input){
        var rData = input;
        try{ rData = decodeURIComponent(escape(input))}catch(e){}
        return rData;
    };
});
app.controller('HomeFeaturedSections', function($scope, $http, $window, $timeout,$location) {
    $scope.sections = []; 
    $scope.isLoader = true;
    $scope.dataoffsetG = 0;
    $scope.inProgress = false;
    
    $scope.updateSlider = function(secID){
        initSlickSlider('.parent_sec_'+secID+' .slider');
        $('.parent_sec_'+secID+'._init').removeClass('_init');
    };
	$scope.addCart = function(id,flag){
		showcart(id,flag);
	};
    function loadNextSections(dataoffset){
        $scope.inProgress = true;
        $http.get(HTTP_ROOT+"/rest/loadFeaturedSections?authToken="+STORE_AUTH_TOKEN+"&dataoffset="+dataoffset+"&viewlimit="+LIMIT+"&themes="+parentThemeName+ "&lang_code={/literal}{$this->language_code}{literal}").then(function (response) {
            if(response.data.section.length > 0){  
                for(var j = 0; j < response.data.section.length; j++){
                    $scope.sections.push(response.data.section[j]);                    
                }                 
                $scope.dataoffsetG = dataoffset+LIMIT;
				$scope.addToCart = addToCart;
				$scope.orderNow = orderNow;
				$scope.more = more;
				$scope.preOrder = preOrder;
				$scope.stockOut = stockOut;
                $scope.inProgress = false;
            }else{
                $scope.isLoader = false;
            } 
        });  
    } 
    angular.element($window).bind("scroll", function(e) {
        if(!$scope.inProgress && $(window).scrollTop() >= $('.loader._home_featured').offset().top - $(window).height()) {
            loadNextSections($scope.dataoffsetG);
        }
    });
    angular.element($window).bind('load', function() {
        if(!$scope.inProgress && $(window).scrollTop() >= $('.loader._home_featured').offset().top - $(window).height()) {
            loadNextSections($scope.dataoffsetG);
        }
    });
}); 

</script>
{/literal}