<div class="clear"></div>
<footer>
    <div class="container border-top">
        <div class="footer-logo"><a href="{$this->siteurl}"><img src="{$this->siteLogo}" alt="{$this->studio->name}" title="{$this->studio->name}" /></a></div>
        <div class="copyright">
            <p>
                <a href="{$this->siteurl}/contactus" title="{$this->Language['contact_us']}">{$this->Language['contact_us']}</a>
                {if $this->has_blog}
                    <a href="{$this->siteurl}/blog" title="{$this->Language['head_blog']}">{$this->Language['head_blog']}</a>
                {/if}
                {if $this->has_faqs}
                    <a href="{$this->siteurl}/faqs" title="{$this->Language['faq']}">{$this->Language['faq']}</a>
                {/if}
            {if $this->footer_menu|@count > 0} 
                {foreach from=$this->footer_menu key=key item=mitem}  
                 {assign var=val value=$val+1}
                        <span {if $mitem['children']|@count > 0}class="c-menu-type-classic"{/if}><a href="{$mitem['permalink']}" id="menu-{$val}" {if $mitem['link_type'] == 2} target=""{/if} class="{$mitem['class']} c-link dropdown-toggle">{$mitem['title']} {if $mitem['children']|@count > 0}{/if}</a>
                     {if $mitem['children']|@count > 0}
                            <span>
                         {foreach from=$mitem['children'] key=key item=mcitem}
                                <a href="{$mcitem['permalink']}" id="menu-{$val}"  {if $mitem['link_type'] == 2} target="_blank"{/if}>{$mcitem['title']}</a>
                         {/foreach}
                            </span>
                     {/if}
                        </span>
                 {/foreach}
            {/if}
            </p>
            <p class="copy">{$this->copyright}</p>
        </div>
        <div class='social-wrap'>
            <ul class="social-network">
                {if isset($this->studio->fb_link) && $this->studio->fb_link != ''}
                <li><a class="facebook" href="{$this->studio->fb_link}" target="_blank">{$this->Language['link_facebook']|replace:' ':''}</a></li>
                {/if}
                {if isset($this->studio->tw_link) && $this->studio->tw_link != ''}
                <li><a class="twitter" href="{$this->studio->tw_link}" target="_blank">{$this->Language['link_twitter']|replace:' ':''}</a></li>
                {/if}
                {if isset($this->studio->gp_link) && $this->studio->gp_link != ''}
                <li><a class="google-p" href="{$this->studio->gp_link}" target="_blank">{$this->Language['link_gplus']|replace:' ':''}</a></li>
                {/if}
                {if isset($this->studio->ig_link) && $this->studio->ig_link != ''}
                <li><a class="instagram"  href="{$this->studio->ig_link}" target="_blank">{$this->Language['link_instagram']|replace:' ':''}</a></li>
                {/if} 
                {if isset($this->studio->yb_link) && $this->studio->yb_link != ''}
                <li><a  class="youtube" href="{$this->studio->yb_link}" target="_blank">{$this->Language['link_youtube']|replace:' ':''}</a></li>
                {/if} 
            </ul>
            <ul class="list-inline text-right appStoreLink">
                <li>{if $this->ioslinks!=''}<a href="{$this->ioslinks}" title="Apple-Store"><img style="width:110px; !important" src="{$this->siteurl}/images/public/Apple-Store.png" alt="Apple-Store" title="Apple-Store"></a></li>{/if}
                <li>{if $this->androidlinks!=''}<a href="{$this->androidlinks}" title="Apple-Store"><img style="width:110px; !important" src="{$this->siteurl}/images/public/Google-Play.png" alt="Apple-Store" title="Apple-Store"></a></li>{/if}
            </ul>
            <div class="newsletter">{$this->newsletter}</div>
            {if ($this->studio->hide_powered_by == 0)&& ($this->studio->is_deleted == 0) && ($this->studio->status == 1) && ($this->studio->is_subscribed == 0)} 
            <div class="footer-poweredby text-right">
                <span>{$this->Language['powered_by']}</span><br /><a href="https://www.muvi.com/sdk/?utm_source={$studio->permalink}" target="_blank" title="{$this->Language['muvi']}"><img src="{$this->siteurl}/common/images/powered-by.png" alt="{$this->Language['muvi']}" title="{$this->Language['muvi']}" /></a>
                <a class="btn btn-default btn-sm poweredby" role="button" href="https://www.muvi.com/payment/subscription">{$this->Language['remove_this_branding']}</a>
            </div>  
            {/if}
        </div>  
    </div>
</footer>  