{foreach from=$contents|json_decode item=content}
{if isset($content->sale_price)} 
<div class="col-sm-3">
	<div class="thumb-list">
    {include '../shop/singleitem.html'}
</div>
</div>
{else}
<div class="col-sm-3">
	<div class="thumb-list">
    <div class="thumbnail listpos thumblist">
        <div class=""></div>
        <div class="caption">
            {$content->play_btn}
        </div>                                    
        <a href="{$content->permalink}">
            <img src="{$content->poster}" alt="{$content->title|utf8_decode}" class="img-tshow lazy">
        </a>
        <div class="overtext popup_content">
            <div class="arrow"></div>
            <div class="ptitle caps"><a href="#">{$content->title|utf8_decode}</a></div>
            <div class="stripe col-md-12">
                <div class="col-md-8">
                    {foreach from=$content->genres item=genre}
                    <span class="genre_list">{$genre}<span>, </span> </span> 
                    {/foreach} 
                </div> 
                <div class="span4 text-right">{$content->release_date}</div>
            </div>
            <div class="clear"></div>
            <div class="ptext">
                <p>{$content->short_story|utf8_decode} {if $content->story|count_characters:true > 200}<a href="{$content->permalink}">{$this->Language['more']}</a>{/if}</p> 
            </div>
            <div class="clear"></div>
            {if $content->casts->actors|count > 0}
            <div class="popup-cast">
                <div class="span12 row-fluid">
                    <div class="cast-heading span4">{$this->Language['cast']}</div>
                </div>
                <div class="cast-body">
                    {$actors = $content->casts->actors}
                    {foreach from=$actors item=actor}
                    <span class="caps"><a href="{$actor->full_permalink}" >{$actor->celeb_name}</a></span>,      
                    {/foreach}   
                </div>
            </div>
            {/if}
        </div>                                   
    </div>                        
    <div class="title">
        <a href="{$content->permalink}">
            <h3 class="moviename">{$content->title|utf8_decode}</h3>
        </a>
    </div>
</div>
</div>
{/if}
{/foreach}
<script type="text/javascript" src="{$this->siteurl}/common/js/cart.js"></script>
