{if $plans|@count > 0}
                <h2>{$this->Language['select_plan']}</h2>
                {foreach from=$plans key=counter item=plan}
                 {$month_original =  $this->Original['select_month']|trim}
                    {$year_original =  $this->Original['select_year']|trim}
                    {$day_original =  $this->Original['day']|trim}
                    {$plan_recurrence = $plan->recurrence|trim}
                    {$recurrence_trial = $plan->trial_recurrence|trim}
                    {if $month_original == $plan_recurrence}
                        {$recurrence = $this->Language['select_month']}
                    {elseif $year_original == $plan_recurrence}
                        {$recurrence = $this->Language['select_year']}
                    {else}
                        {$recurrence = $plan_recurrence}
                    {/if}
                    
                    {if $month_original == $recurrence_trial}
                        {$trial_recurrence = $this->Language['select_month']}
                    {elseif $day_original == $recurrence_trial}
                        {$trial_recurrence = $this->Language['day']}
                    {else}
                        {$trial_recurrence = $recurrence_trial}
                    {/if}
                    {$class= ""}
                    {$style = "display:none;"}
                    {if $plan->id == $default_plan_id}
                    {$class= "choosen"}
                    {$style = "display:block;"}
                    <input name="data[plan_id]" type="hidden" id="plan_id" value="{$plan->id}"  />
                    <input name="data[currency_id]" type="hidden" id="currency_id" value="{$plan->currency_id}"  />
                    <input type="hidden" name="data[is_subscription_bundles]" id="is_subscription_bundles" value="{$plan->is_subscription_bundle}"  />
                    {/if}
                     {$price = $plan->price}
                    {$currency_id = $plan->currency_id}
                    <div class="col-md-3 top20" > 
                        <div  class="billed-box planbox plan-box {$class}" id="membership-plan_{$plan->id}" data-id="{$plan->id}" data-currency_id="{$currency_id}" data-is_subscriptionbundle="{$plan->is_subscription_bundle}" >
                            <div class="tick-icon" style="{$style}"></div>
                            <h3>{$plan->name}</h3>
                            <hr />
                            <p>{$plan->short_desc|utf8_decode}</p>
                            <h4>{$this->Language['only']} <span class="bold-green">{Yii::app()->common->formatPrice($price,$currency_id)}</span> {$this->Language['per']} {$plan->frequency} {$recurrence} {if $plan->frequency > 1}(s){/if}</h4>
                            <p class="bold-green">&nbsp;
                                {if $plan->trial_period > 0}
                                {$plan->trial_period} {$trial_recurrence} {$this->Language['free']}     
                                {/if}
                            </p>
                        </div>
                    </div>                
                    
                {/foreach}
                
                {if $isCouponExists}
                {include file='../layouts/general_coupon.html'}
				{/if}
            {/if}
            <div class="clearfix"></div>
          