.vjs-resolution-button .vjs-menu-icon:before {
  content: '\f110';
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal;
  font-size: 1.8em;
  line-height: 1.67em;
  //z-index :1000000000000;
  //border:1px solid pink;
}

.vjs-resolution-button .vjs-resolution-button-label {
  font-size: 1em;
  line-height: 3em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  box-sizing: inherit;
  z-index :1000000000000;
  //border:1px solid red;
}

.vjs-resolution-button .vjs-menu .vjs-menu-content {
  width: 2em;
  left: 25%; /* Center the menu, in it's parent */
  margin-left: -2em; /* half of width, to center */
  z-index :1000000000000;
  //border:1px solid green;
}

.vjs-resolution-button .vjs-menu li {
  text-transform: none;
  font-size: 1em;
  width:100;
  z-index :1000000000000;
  border:1px solid #fff;
}
