/*Social Logins */
.social-icons {	margin: 0;padding: 0;}
.social-icons:after,.social-icons:before {content: "";display: table;}
.social-icons:after {clear: both;}
.social-icons li {float: left;display: inline;list-style: none;margin-right: 5px;margin-bottom: 5px;text-indent: -9999px;background: #fff;}
.social-icons li a,a.social-icon {width: 136px;height: 28px;display: block;background-position: 0 0;background-repeat: no-repeat;transition: all .3s ease-in-out;-o-transition: all .3s ease-in-out;		-ms-transition: all .3s ease-in-out;-moz-transition: all .3s ease-in-out;-webkit-transition: all .3s ease-in-out;}
.social-icons li:hover a {background-position: 0 -38px;}

.social-icons-color li a,.social-icons.invert li a,a.social-icon {background-position: 0 -38px!important;}
.social-icons-color li a {opacity: .7;}
.social-icons-color li a:hover {opacity: 1;}
.social-icons.invert li:hover a {background-position: 0 0!important;}
.social-icons .facebook {background: url(../images/facebook.png)no-repeat;}
.social-icons .googleplus {background: url(../images/googleplus.png)no-repeat;}
.social-icons .signupfacebook {background: url(../images/signupfacebook.png)no-repeat;width: 140px;}
.social-icons .signupgoogleplus {background: url(../images/signupgoogleplus.png)no-repeat;width: 140px;}
/*Social Logins end */

  
.item-wrap a>.delete-fab i {
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 800;
    color: red;
}
.search-bar{
    opacity: 0;
    pointer-events: none;
    transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    position: absolute;
    left: 0;
    top: 0;
    right:0;
    bottom: 0;
    overflow: hidden;
    background: #FFF;
}
header._search-on .search-bar{
    opacity: 1;
    pointer-events: all;
} 
.search-bar .container{
    position: relative;
    top: 50%;
    margin-top: -17px;
}

.search-bar #search-form{
    position: relative;
}
.search-bar input.sitesearch {
    width:100%;
    font-size: 18px;
    padding-left: 35px;
    padding-right: 35px;
    border:none;
    box-shadow: none;
}
.search-bar input.sitesearch:hover,
.search-bar input.sitesearch:focus {
    border:none;
    outline:none;
    box-shadow: none;
}
.search-bar .search-icon { 
    position: absolute;
    width: 30px;
    text-align: center;
    left: 0;
    top: 5px;
    font-size: 22px;
    z-index:1;
}
.search-bar .close-search {
    position:absolute;
    right: 0;
    top: 0;
    width: 30px;
    text-align: center;
    font-size: 36px;
    font-weight:500;
    z-index:1;
    line-height: 35px;
    cursor: pointer;
}
.error{
    color: red;
}




/* Audio Player */



.ap{
	display: none;
}



/*-----------------------
    Audio Player - AP
------------------------*/
.ap {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  font-family: inherit;
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-top: 1px solid #ccc;
  background: #f2f2f2;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
  z-index: 99999;
}

.ap__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1440px;
  margin: auto;
}

.ap__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.ap__item--playback > .ap__controls,
.ap__item--settings > .ap__controls {
  -webkit-box-flex: 0;
  -webkit-flex: 0 25%;
      -ms-flex: 0 25%;
          flex: 0 25%;
}

@-webkit-keyframes fs {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fs {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.ap__item--track {
  -webkit-box-flex: 1;
  -webkit-flex: 1 40%;
      -ms-flex: 1 40%;
          flex: 1 40%;
  padding: 0 20px;
}

.track {
  position: relative;
  width: 100%;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  padding: 5px 0 0;
}

.track__title {
  position: absolute;
  width: 100%;
  overflow: hidden;
  padding-right: 80px;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.track__time {
  position: absolute;
  top: 5px;
  right: 0;
}

.progress-container {
  position: relative;
  padding: 7px 0;
  margin-top: 15px;
  overflow: hidden;
  cursor: pointer;
}
.progress-container:hover .progress__bar:after {
  opacity: 1;
}

.progress {
  height: 3px;
  border-radius: 3px;
  background: #ddd;
}

.progress__bar,
.progress__preload {
  position: absolute;
  width: 0;
  height: 3px;
  border-radius: 3px 0 0 3px;
}

.progress__bar {
  background: steelblue;
  z-index: 1;
}
.progress__bar:after {
  position: absolute;
  top: 0;
  right: -10px;
  width: 10px;
  height: 10px;
  margin-top: -3px;
  content: '';
  border-radius: 6px;
  background: steelblue;
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.progress__preload {
  background: #c4c4c4;
  z-index: 0;
}

.ap__controls,
.ap button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  position: relative;
  display: block;
  height: 50px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: background .3s ease;
  transition: background .3s ease;
}
.ap__controls:active,
.ap button:active {
  background: rgba(0, 0, 0, 0.1);
}
.ap__controls:hover,
.ap button:hover {
  opacity: 1;
}

.icon-play > path {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.is-playing .icon-play {
  fill: steelblue;
}

.volume-btn {
  display: block;
  text-align: center;
  width: 100%;
}

.volume {
  position: absolute;
  left: 50%;
  bottom: 36px;
  width: 40px;
  margin-left: -20px;
  height: 120px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all 0.3s cubic-bezier(0.17, 0.72, 0.26, 1.23);
  transition: all 0.3s cubic-bezier(0.17, 0.72, 0.26, 1.23);
  background: #f2f2f2;
  border: 1px solid #666;
  border-radius: 1px;
  z-index: 88888;
  margin-bottom:24px;
}
.volume::before, .volume::after {
  content: '';
  position: absolute;
  bottom: -12px;
  border: 7px solid transparent;
  border-top: 7px solid #f2f2f2;
  left: 50%;
  margin-left: -7px;
}
.volume::after {
  bottom: -14px;
  z-index: -1;
  border-top: 7px solid #ccc;
}

.volume-container:hover .volume ,.share-container:hover .volume {
  opacity: 1;
  -webkit-transform: translateY(10);
          transform: translateY(10);
  visibility: visible;
}

.volume__track {
  position: relative;
  display: block;
  width: 3px;
  height: 100px;
  margin: 10px auto;
  background: #ddd;
  border-radius: 3px;
  overflow: hidden;
}

.volume__bar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: steelblue;
  height: 50%;
}

.icon-volume-off {
  display: none;
}

.has-muted .icon-volume-on {
  display: none;
}
.has-muted .icon-volume-off {
  display: inline;
  opacity: .7;
}

.ap__controls.is-active > svg {
  fill: steelblue;
  -webkit-filter: drop-shadow(0 0 3px rgba(70, 130, 180, 0.4));
          filter: drop-shadow(0 0 3px rgba(70, 130, 180, 0.4));
}

@media (max-width: 1024px) {
  .ap__item > .ap__controls {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
@media (max-width: 580px) {
  .ap {
    min-width: 250px;
  }

  .ap, .ap__inner {
    height: auto;
  }

  .ap__inner {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  .ap__item--track {
    margin-bottom: 10px;
    padding: 0 20px;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .ap__item--playback,
  .ap__item--settings {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 50%;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
}
/*-----------------------
    Playlist Player - PL
------------------------*/
.pl-container {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 50px;
  left: 0;
  overflow: auto;
  font-family: inherit;
  font-size: 14px;
  background: #fff;
  z-index: 77777;
}

.pl-ul {
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  //float:right;
  padding: 30px 10px 100px 10px;
}

.pl-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  line-height: 40px;
}
.pl-list svg {
  fill: steelblue;
}

.pl-list + .pl-list {
  border-top: 1px solid #eee;
}

.pl-list:not(.pl-list--current):hover {
  background: #f6f6f6;
}

.pl-list__track,
.pl-list__remove {
  -webkit-box-flex: 0;
  -webkit-flex: 0 50px;
      -ms-flex: 0 50px;
          flex: 0 50px;
}

.pl-list__icon {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 8px solid #555;
}

.pl-list__title {
  overflow: hidden;
  padding-right: 10px;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.pl-list__remove {
  height: 100%;
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

.pl-list__remove > svg {
  width: 16px;
  height: 16px;
}

.pl-list__eq {
  display: none;
}

.pl-list--current {
  background: steelblue;
  color: #fff;
}

.pl-list--current svg {
  fill: #fff;
}
.pl-list--current .pl-list__eq {
  display: block;
}
.pl-list--current .pl-list__icon {
  display: none;
}

.pl-list:hover .pl-list__remove,
.pl-list--current .pl-list__remove {
  opacity: 1;
}

.pl-list--current .pl-list__remove:hover {
  background: #3f75a2;
}

.pl-list--empty {
    position: absolute;
    top: 18px;
    left: 27%;
    font-size: 12rem;
    -webkit-transform: translate(-50%, -50%);
    letter-spacing: 2px;
}

@-webkit-keyframes eq {
  0% {
    height: 3px;
  }
  50% {
    height: 20px;
  }
  100% {
    height: 3px;
  }
}

@keyframes eq {
  0% {
    height: 3px;
  }
  50% {
    height: 20px;
  }
  100% {
    height: 3px;
  }
}
.eq {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.eq__bar {
  width: 4px;
  background: #fff;
  -webkit-filter: drop-shadow(0 0 5px #fff);
          filter: drop-shadow(0 0 5px #fff);
}

.eq__bar:nth-child(1) {
  -webkit-animation: eq .8s ease-in-out infinite 0s;
          animation: eq .8s ease-in-out infinite 0s;
}

.eq__bar:nth-child(2) {
  -webkit-animation: eq .8s ease-in-out infinite .2s;
          animation: eq .8s ease-in-out infinite .2s;
}

.eq__bar:nth-child(3) {
  -webkit-animation: eq .8s ease-in-out infinite .4s;
          animation: eq .8s ease-in-out infinite .4s;
}

.h-hide {
  display: none;
}

.h-show {
  display: none;
}

.shuffleimg{
opacity: 0.85;	
}
.music {
    height: 4px;
    position: absolute;
    right:0px;
    width: 1px;
    float:left;
    width:40px;
    margin-top:-14px;
    margin-right:5px;
    display: none;
}
.media.pl_play .music {
    display: block;
}
.music_off {
    display: none;
}
.list-inline.fr {
	float:right;
	margin-top:-25px;
}

.bar1{
  border:2px solid #32c5d2;
  position:absolute;
  background:#32c5d2;
  bottom:2%;
  left:0px;
}

.bar2{
  border:2px solid #32c5d2;
  position:absolute;
  background:#32c5d2;
  left:7px;
  bottom:2%;
  width:0.2px!important;
}

.bar3{
  border:2px solid #32c5d2;
  position:absolute;
  background:#32c5d2;
  left:14px;
  bottom:2%;
  width:0.2px!important;
}
.dropdown-menu-right {
    left: auto;
    right: -6px;
}
.open>.dropdown-menu
{
	margin-top: 8px;
}
.mb
{
	margin-bottom:20px;
}
.dropdown-menu:before, .dropdown-menu-visible-xs:before {
    content: "";
    position: absolute;
    top: -7px;
    right: 7px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}
.dropdown-menu:before, .dropdown-menu-visible-xs:before {
    border-bottom: 8px solid #fff;
}
.media-list {
    margin-bottom: 50px;
    float: left;
    position: relative;
    margin-top: 0px;
    z-index: 10;
    width: 100%;
}
.media-list li.media{
    overflow: visible;
}
.media-object {
    z-index: 99;
    position: absolute;
    border-radius: 4px;
    width: 41px;
    height: 41px;
    overflow: hidden;
}
.media-heading {
    font-size: 16px;
    padding: 14px 0px 0px 50px;
	color:#fff;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background-color: transparent;
}
bootstrap.min.css:1
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent;
}
.navbar-default {
    height: 65px;
    padding: 5px 40px;
}


.navbar-nav > li:not(.pull-right) {
    float: left;
}
.mt {
    margin-top: -5px;
}
.btn:focus,
.btn:active,
button {
    outline: 0 !important;
}

.btn {
    
}

.as-btn-md {
    min-width: 179px;
    height: 40px;
    padding:7px 12px;
}
.as-btn-accent {
    border-color: #32c5d2;
    color: #fff;
    background: #32c5d2;
	font-weight:600;
	font-size:17px;
}

.as-btn-accent:hover {
    color: #fff;
    background: #1f9ea9;
	border-color: #1f9ea9;
}

.as-btn-accent:focus,
.btn-accent:active {
    color: #fff;
    background: #1f9ea9;
}
.as-btn-grey {
    color: #707277;
	border:2px solid #707277;
	margin-right:20px;
	font-weight:600;
	font-size:17px;
}

.as-btn-grey:hover {
    color: #fff;
    background: #eb5d68;
	border:2px solid #eb5d68;
}

.as-btn-grey:focus,
.btn-grey:active {
    color: #fff;
    background: #eb5d68;
	border:2px solid #eb5d68;
}
#generalInfoModal .modal-body {
    padding:20px;
    position: relative;
}
.modal-body {
    position: relative;
}

.c-layout-header .c-cart-menu{
z-index:9;
}
@media (max-width: 992px) {
   .dropdown-menu::before{
      display:none;
   }
}
@media (max-width: 799px) {
  #homepage_sections .slick-next{right:0}
  #homepage_sections .slick-prev{left:0;}
}
.video-js {width:100% !important; height: 50%; padding-top: 48%;}
.RDVideoHelper{display: none;}
video::-webkit-media-controls {
	display:none !important;
}











.has-player {
    padding-bottom: 87px;
}

.ap {
    -moz-user-select: none;
    background: #12171f;
    border-top: 0px solid #ccc;
    bottom: 0;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
    font-family: inherit;
    font-size: 14px;
    height: 80px;
    left: 0;
    position: fixed;
    right: 0;
    width: 100%;
    z-index: 99999;
}
.ap__inner{
    position: relative;
}
.ap__item--track {
    flex-direction: column;
}

.play-section {
    display: flex;
}
/*.ap__item.ap__item--track {
    border-left: 1px solid #1c2430;
    border-right: 1px solid #1c2430;
}*/

.ap__inner {
    margin: 10px auto 10px;
    max-width: 100%;
    height: 60px;
}
.ap__controls, .ap button{
    padding-top: 3px;
    width: 60px;
    height: 60px !important;
}
.ap__controls--toggle{
    border-radius: 50%;
}
#player-blur img {
    filter: blur(42px);
    left: 50%;
    margin: -56% 0 0 -56%;
    opacity: .5;
    position: absolute;
    top: 50%;
    width: 112%;
    z-index: 10;
}
#player-blur:after {
    background: rgba(0, 0, 0, 0.4);
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 20;
}
#player-blur {
    bottom: -15px;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: -10px;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    z-index: -1;
}

.ap__controls--prev ,.ap__controls--next,.ap__controls--playlist,.volume-btn{
    opacity: 0.6;
}
.ap__item--playback > .ap__controls, .ap__item--settings > .ap__controls{
    flex: initial;
}
/*Album Art*/
.art{
    width:100%;
}
.art .card{
    position: absolute;
    left: 0px;
}
.art .card img{
    width:100%;
}
.art-desc{
    padding-right: 20px;
}
.art-desc h1,.art-desc h2,.art-desc h3,.art-desc h4,.art-desc h5,.art-desc h6,.art-desc p{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 5px;
}
.art-desc h6{
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 5px;
}
.art-desc h6,.art-desc p{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.ap__item{
    justify-content: flex-end;
}
.ap button:hover,.volume-btn:hover{
    opacity: 1;
}
/*Track*/
.track__time {
    left: 0;
    top: -7px;
    width: 100%;
}
.track__time--duration {
    position: absolute;
    right: -50px;
display : none;
}

.track__time--current {
    left: -50px;
    position: absolute;
display : none;
}

.progress-container {
    margin-top: 0px;
    overflow: visible;
    padding: 2px 0;
}



.progress__preload {
    background: #7e7c8a;
}

.ap .track{
    position: absolute;
    left: 80px;
    top: -12px;
    padding: 0;
    right: 0;
width:auto;
}
.progress {
    background:transparent;
}


.progress__bar,
.progress__preload {
    height: 4px;
}

.progress {
    border-radius: 0;
    height: 4px;
    margin-bottom: 7px;
}

.progress__bar:after {
  position: absolute;
  top: 0;
  right: -7px;
  width: 10px;
  height: 10px;
  margin-top: -2px;
  content: '';
  border-radius: 6px;
  background: steelblue;
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.is-active .progress__bar:after{
    opacity: 1;
}

.pause-btn {
    display: none;
}

.is-playing .pause-btn {
    display: block;
}
.is-playing .play-btn{
    display: none;
}
.ap__controls:active,.ap button:active{
    background: transparent;
}
.volume.shareicon {
    float: left;
    height: 113px;
    margin-left: -160px;
    padding: 20px 18px 10px;
    text-align: left;
    width: 175px;
	margin-bottom:24px;
}

.volume.shareicon::before,
.volume.shareicon::after {
    border-image: none;
    border-style: solid;
    border-width: 7px;
    bottom: -12px;
    content: "";
    margin-left: 65px;
    position: absolute;
    right: 5%;
}
.volume.playlist {
    float: left;
    height: auto;
    margin-left: -462px;
    padding: 20px 5px 18px 10px;
    text-align: left;
    width:480px;
    overflow-y:hidden;
    margin-bottom:24px;
    background: #303031;
}

.volume.playlist::before,
.volume.playlist::after {
    border-image: none;
    border-style: solid;
    border-width: 7px;
    bottom: -12px;
    content: "";
    margin-left:193px;
    position: absolute;
    right: 5%;
	width:16px;
}
.modal-body {
    position: relative;
    max-height:450px;
    overflow:auto;
}
.calender-modal .modal-body { 
    overflow:visible;
}
.st2 {
    fill: #7e7c8a;
}
.ap__controls--repeat{
    display: none !important;
}
.art .card {
    width:80px;
    top:-10px;
}
@media (max-width: 1024px){
    .ap__item > .ap__controls {
        -webkit-box-flex: 0;
        -webkit-flex: 0 25%;
        -ms-flex: 0 25%;
        flex: 0 25%;
    }
}
@media (min-width:992px){
    .ap__item.ap__item--playback {
        -webkit-box-flex: 1.7;
        flex: 2;
        overflow: hidden;
    }

    .ap__item.ap__item--track {
        -webkit-box-flex: 4.5;
        flex: 4.5;
    }
    .ap__item--settings{
        -webkit-box-flex: 1.7;
        flex:2;
    }
    .art-desc{
        padding-left: 105px;
    }
}
@media (max-width:991px){
    .has-player {
        padding-bottom: 69px;
    }
    .ap__item.ap__item--playback {
        -webkit-box-flex: 1.5;
        flex: 1.5;
        overflow: hidden;
    }

    .ap__item.ap__item--track {
        -webkit-box-flex: 2;
        flex:2;
    }
    .ap__item--settings{
        -webkit-box-flex: 1.5;
        flex: 1.5;
    }
    .art-desc{
        padding-left: 95px;
    }
}


@media (max-width:580px){
    .ap__item--playback, .ap__item--settings{
        -webkit-box-ordinal-group: 1;
        -webkit-order: 1;
        order:1;
    }
}
@media (max-width: 767px) {
    .ap__item.ap__item--playback{
        -webkit-box-flex: 4.8;
        flex: 4.8;
    }
    .ap__item.ap__item--track{
        border: 0;
        align-items: flex-end;
    }
    .art .card {
        top: 7px;
        left: 15px;
    }
    .ap {
        height: 70px;
    }
    .ap__item.ap__item--settings {
        margin-top: -40px;
        display: none;
    }
    .play-section {
       position: relative;
       top: 5px;
    }
    .ap__controls.ap__controls--prev,
    .ap__controls.ap__controls--next {
        display: none;
    }
    .ap__inner {
        margin: 5px auto 5px;
    }
	.music {
    width:50px;
}
.media-heading {
    font-size: 16px;
    padding: 14px 0 0 40px;
}
.art-desc {
    padding-left: 104px;
}
.list-inline.fr {
    margin-right: -4px;
}
.ap .dropdown-toggle > img {
    right: 5px!important;
}
.art .card {
    left: 0px;
    top: -6px;
}
.art-desc {
    padding-left: 92px;
	margin-top: -13px;
}
	
}
@media (max-width:736px){
.ap__item.ap__item--settings
{
	display:flex!important;
	margin-top:0px!important;
}
.volume-btn {
    display: none!important;
}
.ap__item--track {
    order: 2;
}
.volume.shareicon {
   display:none!important;
}
.dn
{
	display:none!important;
}
.ap__item.ap__item--playback {
    -moz-box-flex: 3.2!important;
    flex: 3.2 1 0!important;
}

.volume.playlist {
    height: 250px;
    margin-left: -392px;
    overflow: auto;
    width:700px;
	overflow-y:hidden;
}
.modal-body {position: relative;max-height:230px;overflow:auto;}
.ap .dropdown-toggle5 > img {
    position: absolute;
    right: 0;
	top:10px!important;
}
.ap .dropdown-toggle > img {
    position: absolute;
    right: 0;
	top:-18px;
}
.ap .dropdown-menu-visible-xs {
    margin: 24px 0 0;
}
.ap .navbar-nav .open .dropdown-menu {
    background-color: #fff;
}
.ap .dropdown.open {
    margin-top: 14px;
}
.ap .navbar-nav .open .dropdown-menu {
    margin-top:13px;
}
.ap .dropdown-menu1::before, .ap .dropdown-menu1-visible-xs::before {
    top:5px!important;
}
.ap button {
    width: 46px;
}
.ap__item > .ap__controls {
    flex:0px;
}
.play-section {
    top:0px;
}
.ap .dropdown-menu {
    padding: 8px 0px;
}
.mCSB_inside > .mCSB_container {
    margin-right:0px;
}

}
@media (max-width:732px){
.volume.playlist {
    height: 250px;
    margin-left: -392px;
    overflow: auto;
    width: 700px;
    overflow-y: hidden;
}

}
@media (max-width:667px){
  .volume.playlist {
    margin-left: -348px;
    width:620px;
}
.ap button {
    width: 46px;
}
.ap__item > .ap__controls {
    flex:0px;
}
.play-section {
    top:0px;
}


}
@media (max-width:640px){
.volume.playlist {
    margin-left: -334px;
    width:598px;
}
.ap .dropdown-toggle > img {
    position: absolute;
    right: 0;
	top:-18px;
}
.ap .dropdown.open {
    margin-top: 15px;
}
.ap .navbar-nav .open .dropdown-menu {
    margin-top:13px;
}
.ap .dropdown-menu1::before, .ap .dropdown-menu1-visible-xs::before {
    top:5px!important;
}
.art-desc {
	margin-top: -5px;
}

}
@media (max-width:568px){
	.volume.playlist {
    margin-left: -297px;
    width: 540px;
}

}
@media (max-width:480px){

.volume.playlist {
    margin-left: -240px;
    width: 438px;
}
.media-list {
    width:100%;
}
.ap .dropdown.open {
    margin-top: 15px;
}
.ap .navbar-nav .open .dropdown-menu {
    margin-top:13px;
}
.ap button {
    width: 46px;
}
.ap__item > .ap__controls {
    flex:0px;
}
.play-section {
    top:6px;
}
.media-heading {
    font-size: 15px;
    padding: 14px 0 0 40px;
}
.music {
    width: 52px;
}
.as-btn-md {
    min-width:90%;
    margin-bottom: 10px;
}
.art .card {
    left: 0px;
    top: -6px;
}
.art-desc {
	margin-top: -10px;
}
.ap__controls, .ap button {
    padding-top: 0px;
    width: 59px;
    height: 54px !important;
}
.as-btn-grey {
    margin-right: 0;
}
}
@media (max-width:414px){
  .volume.playlist {
    margin-left: -205px;
    width: 380px;
}
.media-list {
    width: 100%;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.art .card {
    left: 0px;
    top: 0px;
}

}
@media (max-width:412px){
  .volume.playlist {
    margin-left: -205px;
    width: 380px;
}
.as-btn-grey {
    margin-right:0px;
}
.art .card {
    left: 0px;
    top: 0px;
}

}
@media (max-width:375px){
  .volume.playlist {
    margin-left: -182px;
    width: 340px;
}
.ap button {
    width: 46px;
}
.ap__item > .ap__controls {
    flex:0px;
}
.play-section {
    top:0px;
}
.mCSB_inside > .mCSB_container {
    margin-right: 11px;
}
.music {

    width: 36px;
}
.ap .dropdown-toggle > img {
   right: -16px;
}
.media-heading {
    font-size: 14px;
    padding: 14px 0 0 40px;
}
.list-inline.fr {
    margin-right: -20px;
}
.ap .dropdown-toggle > img {
    right: 5px;
}
.art .card {
    left: 0px;
    top: 0px;
}
}

@media (max-width:360px){

.volume.playlist {
    margin-left: -170px;
    width:320px;
	overflow-x: hidden;
}
.media-list {
    width:100%;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.as-btn-grey {
    margin-right:0px;
}
.as-btn-md {
    min-width: 100%;
    padding: 8px 17px;
    margin-bottom: 10px;
}
.ap__controls, .ap button {
    padding-top: 0px;
}
.ap__item > .ap__controls {
    flex:0px;
	display:none;
}
.ap__item--track {
  
    padding:0px;
}
.ap__controls, .ap button {
    height: 32px;
    padding-top:0px;
    width: 50px;
}
.ap__item.ap__item--playback {
    -moz-box-flex: 5.2;
    flex: 5.2 1 0px;
}

.ap__item.ap__item--track {
    -moz-box-flex: 2;
    flex: 1 1 0;
}
.art .card {
    left: 0px;
    top: 0px;
}
.art-desc {
    padding-left: 89px;
}
.c-font-white {
    margin-top: 0px;
}
.art-desc {
	margin-top: 6px;
}
.ap__controls, .ap button {
    padding-top: 0px;
    width: 59px;
    height: 54px !important;
}
}

@media (max-width:320px){

.volume.playlist {
    margin-left: -150px;
    width:290px;
}
.media-list {
    width:100%;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ap__item > .ap__controls {
    flex:0px;
	display:none;
}
.play-section {
    top:6px;
}
.ap .dropdown-menu1::before, .ap .dropdown-menu1-visible-xs::before {
    top:7px!important;
}
.ap button {
    width: 46px;
}
.ap__item--track {
  
    padding:0px;
}
.ap__controls, .ap button {
    height: 32px;
    padding-top:0px;
    width: 50px;
}
.ap__item.ap__item--playback {
    -moz-box-flex: 5.2;
    flex: 5.2 1 0px;
}

.ap__item.ap__item--track {
    -moz-box-flex: 2;
    flex: 1 1 0;
}
.art .card {
    left: 0px;
    top: 0px;
}
.art-desc {
    padding-left: 75px;
}
.c-font-white {
    margin-top: 0px;
}
.art .card {
    width: 64px;
}
}
.c-layout-go2top{bottom:80px;}
.payment_form{
    background: #FFF;
}
.play-list {
    border: 1px solid #eeeeee;
    padding: 20px;
}
.play-list .openColl i.current{
    display: none;
}
.play-list .icon-menu {
    text-align: right;
}
.play-list .track-list.playlist {
    padding: 15px;
    border: 1px solid #eeeeee;
}
.play-list .m-t-10 {
    margin-top: 10px;
}
.play-list .img-del{
    height: 19px;
}