#slideout {
    position: fixed;
    top: 300px;	
    left: 0;
    width: 35px;
    padding: 12px 0;
    text-align: center;
    background: #6DAD53;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    z-index:999;
}
#slideout_inner {
    position: fixed;
    top: 300px;
    left: -250px;
    background: #6DAD53;
    width: 250px;
    padding: 25px;
    height: 160px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    text-align: left;
    -webkit-border-radius: 0 0 5px 0;
    -moz-border-radius: 0 0 5px 0;
    border-radius: 0 0 5px 0;
}

#slideout:hover {
    left: 250px;
}
#slideout:hover #slideout_inner {
    left: 0;
}
.border_btm{height: 540px !important;}
#page{margin-top: -100px;}
.search_field{width: 200px;}
.top130{margin-top: 130px;}
.txt2{background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 90%;}
.controls{width: 100%; float: left;}
.control-group{width: 50%; float: left;}
.control-group_lft{width: 30%; float: left;}
.control-group_rht{width: 70%; float: left;}
.control-label{font-size: 15px;
    font-weight: 600;}


