#first, 
#second, 
#third, 
#fourth, #fifth, #sixth, #seventh, #eightth, #nineth{background-position: fixed;}

a:focus{outline: none;}
#para_nav{list-style: none; position: fixed; right: 15%; top: 2%;}
#para_nav li a{color: #000; text-decoration: none; min-width: 20px; min-height: 20px; display: block; color: #FFF; font-size: 12px;}
#para_nav li{display: block; margin-bottom: 10px; text-align: right; background: url('../images/para_nav_bg.png') no-repeat right;}
#para_nav li img{vertical-align: middle; }
#para_nav li .ttp, #para_nav li .ttp_arw{display: none;}

#para_nav li.current{ background: url('../images/para_nav_bg_cur.png') no-repeat right;}
#para_nav li.current a .ttp{background: url('../images/para_nav_bg_cur_span.png'); padding: 2px 10px; border-radius: 2px;}
#para_nav li.current a .ttp_arw{background: url('../images/arw.png') no-repeat left; margin-right: 20px; min-width: 20px;}
#para_nav li.current .ttp{display: inline;}
#para_nav li.current .ttp_arw{display: inline;}
#para_nav li.current img{background: #48941A;}

.zerocap{margin-top: 60px;}
.ql{margin-top: 110px;}
.infscl{margin-top: 30px;}
.drm{margin-top: 80px;}
.custlook{margin-top: 50px;}
.ppv{margin-top: 50px;}
.webmob{margin-top: 45px;}
.bltmrkt{margin-top: 40px;}
.audrel{margin-top: 100px;}

.cms{margin-top: 50px;}
.wrldsec{margin-top: 70px;}
.convrt{margin-top: 45px;}
.reltime{margin-top: 40px;}

.selfpub{margin-top: 60px;}
.discveng{margin-top: 50px;}
.viral{margin-top: 35px;}
.bltdrm{margin-top: 85px;}
.setprc{margin-top: 55px;}


.acqsub{margin-top: 30px;}
.qkset{margin-top: 120px;}
.brndown{margin-top: 70px;}