/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 5, 2015, 1:00:58 PM
    Author     : Rati Kanta
*/

#plans,#plans ul,#plans ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}

#pricePlans:after {
	content: '';
	display: table;
	clear: both;
}

#pricePlans {
	zoom: 1;
}

#pricePlans {
	max-width: 69em;
	margin: 0 auto;
}

#pricePlans #plans .plan {
	background: #fff;
	float: left;
	width: 100%;
	text-align: center;
	border-radius: 5px;
	margin: 0 0 20px 0;

	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	border:1px #ddd solid ;
}

.planContainer .title h2 {
	font-size: 2.125em;
	font-size: 19px;
    font-weight: 500;
	margin: 0;
	padding: .6em 0;
}

.planContainer .title h2.bestPlanTitle {
	background: #3e4f6a;

	background: -webkit-linear-gradient(top, #475975, #364761);
	background: -moz-linear-gradient(top, #475975, #364761);
	background: -o-linear-gradient(top, #475975, #364761);
	background: -ms-linear-gradient(top, #475975, #364761);
	background: linear-gradient(top, #475975, #364761);
	color: #fff;
	border-radius: 5px 5px 0 0;
}


.planContainer .price p {
	background:  #42b7da;

/*	background: -webkit-linear-gradient(top, #475975, #364761);
	background: -moz-linear-gradient(top, #475975, #364761);
	background: -o-linear-gradient(top, #475975, #364761);
	background: -ms-linear-gradient(top, #475975, #364761);
	background: linear-gradient(top, #475975, #364761);*/
	color: #fff;
	font-size: 1.0em;
	font-weight: 400;
	height: 4.0em;
	line-height: 1.2em;
	margin: 0 0 1em;
	padding:5px 5px 5px 5px;
}

.planContainer .price p.bestPlanPrice {
	background: #f7814d;
}

.planContainer .price p span {
	color: #fff;
}

.planContainer .options {
	margin-top: 10em;
	height:700px;
}

.planContainer .options li {
	font-weight: 100;
	color: #364762;
	line-height: 2.5;
}

.planContainer .options li span {
	font-weight: 300;
	color: #979797;
	list-style-image: url("../images/tick.png");
    margin-bottom: 10px;
}

.planContainer .button span {
	text-transform: uppercase;
	text-decoration: none;
	color: #42b7da;
	font-weight: 700;
	line-height: 2.8em;
	border: 2px solid #42b7da;
	display: inline-block;
	width: 92%;
	height: 2.8em;
	border-radius: 4px;
	margin: 1.5em 0 1.8em;
}

.planContainer .button span.bestPlanButton {
	color: #fff;
	background: #f7814d;
	border: 2px solid #f7814d;
}

#credits {
	text-align: center;
	font-size: .8em;
	font-style: italic;
	color: #777;
}

#credits a {
	color: #333;
}

#credits a:hover {
	text-decoration: none;
}

.planContainer .options li {
    color: #364762;
    font-weight: 100;
    line-height: 1.5;
	list-style:url(../images/tick.png) !important;
	text-align:left;
	margin-left:27px !important;
	border-bottom:1px #ddd solid;
	padding: 10px 0 !important;
}



@media screen and (min-width: 481px) and (max-width: 768px) {

#pricePlans #plans .plan {
	width: 49%;
	margin: 0 2% 20px 0;
}

#pricePlans #plans > li:nth-child(2n) {
	margin-right: 0;
}

}

@media screen and (min-width: 769px) and (max-width: 1024px) {

#pricePlans #plans .plan {
	width: 49%;
	margin: 0 2% 20px 0;
}

#pricePlans #plans > li:nth-child(2n) {
	margin-right: 0;
}

}

@media screen and (min-width: 1025px) {

#pricePlans {
	margin: 0px auto;
}

#pricePlans #plans .plan {
	width: 33%;
	margin: 0 0.09% 20px 0;

	/*-webkit-transition: all .25s;
	   -moz-transition: all .25s;
	    -ms-transition: all .25s;
	     -o-transition: all .25s;
	        transition: all .25s;*/
}

#pricePlans #plans > li:last-child {
	margin-right: 0;
}
/*
#pricePlans #plans .plan:hover {
	-webkit-transform: scale(1.09);
	   -moz-transform: scale(1.09);
	    -ms-transform: scale(1.09);
	     -o-transform: scale(1.09);
	        transform: scale(1.09);
}

.planContainer .button a {
	-webkit-transition: all .25s;
	   -moz-transition: all .25s;
	    -ms-transition: all .25s;
	     -o-transition: all .25s;
	        transition: all .25s;
}*/


}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
.planContainer .options {
    height: 950px;
    margin-top: 10em;
}
}
#muvi-studio{
    height: 4.5em;
    line-height: 1.5em;
    padding: 10px 0 10px 0;
}
#muvi-studio-on-premise{
    height: 4.5em;
    line-height: 1.5em;
    margin-top: 13px;
    padding: 10px 0 10px 0;
}
#custom{
    margin-top: 61px;
}
.li-blank{
    margin-top: 10px;
}
.li-no-color{
      border-bottom: 1px solid #ccc;
}
.table-striped tbody > tr:nth-child(2n+1) > td, .table-striped tbody > tr:nth-child(2n+1) > th{vertical-align: middle;}
