{$content = $contents|json_decode}
{$categories = $categories|json_decode}
<script type="text/javascript">
var content_id = {$content->movie_id}; 
var movie_stream_id = {$content->movie_stream_id}; 
</script>
<div class="c-layout-page">
    <div class="single-product-area content">
        <div class="bg-primary text-white">
           <div class="container">
                <div class="col-md-12 padding-0">
                    <div class="video-grid1">
                        <div class="loader" id="video_loader" style="display:none"></div>
                        <iframe src="{$play_path}?remove_back_button=1" allowfullscreen width="100%" id="Playerframe"  onload="iframeLoaded()" frameborder="0" scrolling="no"></iframe>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12 padding-0">
                        <div class="col-md-8 padding-0">
                            <h1>{$content->title|utf8_decode} </h1>
                            {$total_count = $categories|@count}
                            {$i = 1}
                            {if $total_count > 0}
                            <p>
                                {foreach from=$categories item=category}
                                {$category->category_name}{if $total_count > $i} ,{/if}
                                {$i = $i + 1}
                                {/foreach}
                            </p>
                            {/if}
                            {if $content->genres|@count > 0}
                            {$genre_count = $content->genres|count}
                            <div class="badge-area">
                                {foreach from=$content->genres item=genre}
                                <span class="badge badge-default">{$genre}</span>
                                {/foreach}
                            </div>
                            {/if}
                        </div>
                        <div class="col-md-4 padding-0">
                            <div class="social-network">
                                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={$this->siteurl}{$pageUrl}" data-title="Facebook Share"><i class="fa fa-facebook-square" aria-hidden="true" title="{$this->Language['share_in_facebook']}"></i></a>
				<a target="_blank" href="https://twitter.com/intent/tweet?text={$this->siteurl}{$pageUrl}" data-title="Share on Twitter">  <i class="fa fa-twitter-square" aria-hidden="true" title="{$this->Language['share_in_twitter']}"></i></a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <p>{$content->story|utf8_decode}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        {literal}
        <div class="container" ng-app="Player" ng-cloak>
            <div class="wrapper">
                {/literal}{if $content->is_episode == 1}{literal}
                <div class="related-video mt50" ng-controller="episodes">
                    <div ng-if="hasData">
                        <div class="row">  
                            <div class="col-sm-8 col-lg-8">
                                <h2 class="caps">{/literal}{$this->Language['other_episodes']}{literal}</h2>
                            </div>
                        </div>
                        <div class="row">
                            <section class="lazy slick epinit">
                                <div class="col-md-3 col-sm-6 c-margin-b-20 slick-slide" ng-repeat="episode in episodelist">
                                    <div class="c-content-product-2 c-bg-white list-box">
                                        <div class="c-content-overlay">
                                            <div class="c-overlay-wrapper">
                                                <div class="c-overlay-content" ng-bind-html="episode.play_btn | html"></div>
                                            </div>
                                            <div class="c-bg-img-top-center c-overlay-object text-center">
                                                <img src="{{episode.poster}}"> 
                                            </div>
                                        </div>
                                        <div class="c-info">
                                            <p class="c-title c-font-18 c-font-slim">
                                                <a href="{{episode.permalink}}" ng-bind="episode.title"></a>
                                            </p>
                                            <span class="caption_genre c-font-16" ng-repeat="genres in episode.genres" ng-bind-template="{{$index == 0 ? '':', '}}{{genres}}"></span>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="loader static-loading" id="episode_load" ng-if="isLoading"></div>
                        <span style="display:none;">{{initSlid("epinit")}}</span>
                    </div>
                </div>
                {/literal}{/if}{literal}
                <div class="related-video mt50" ng-controller="related">
                    <div ng-if="hasData">
                        <div class="row">  
                            <div class="col-sm-8 col-lg-8">
                                <h2 class="caps">{/literal}{$this->Language['related_videos']}{literal}</h2>
                            </div>
                        </div>
                        <div class="row">
                            <section class="lazy slick relatediniit" >
                                <div class="col-md-3 col-sm-6 c-margin-b-20 slick-slide" ng-repeat="content in contentlist">
                                    <div class="c-content-product-2 c-bg-white list-box">
                                        <div class="c-content-overlay">
                                            <div class="c-overlay-wrapper">
                                                <div class="c-overlay-content" ng-bind-html="content.play_btn | html"></div>
                                            </div>
                                            <div class="c-bg-img-top-center c-overlay-object text-center">
                                                <img src="{{content.poster}}"> 
                                            </div>
                                        </div>
                                        <div class="c-info">
                                            <p class="c-title c-font-18 c-font-slim">
                                                <a href="{{content.permalink}}" ng-bind="content.title"></a>
                                            </p>
                                            <span class="caption_genre c-font-16" ng-repeat="genres in content.genres" ng-bind-template="{{$index == 0 ? '':', '}}{{genres}}"></span>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="loader static-loading" id="related_load" ng-if="isLoading"></div>
                        <span style="display:none;">{{initSlid("relatediniit")}}</span>
                    </div>
                </div>
            </div>
        </div>
        {/literal}
        <div class="container">
            <div class="col-md-12 padding-0">
                <div class="row bottom25" id='reviews_section'>
                    <div class="col-md-12">
                        <div class="loader" id="loader_review"></div>
                        <div class="form-group review_form  c-content-title-1">
                            {$review_form}
                        </div>
                    </div>
                </div>
                {if $this->studio->comment_activated == 1}
                <div class="row bottom25">
                    {include file='../media/comment_form.html'}
                    {include file='../media/comment_list.html'}            
                </div>
                {/if}
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{$this->siteurl}/js/content.js"></script>
<script type="text/javascript" src="{$this->siteurl}/common/rating/bootstrap-rating.js"></script>
{literal}
<style type="text/css">
    #Playerframe{
        border:none;
        overflow:hidden;
    }
    .video-grid1 > iframe {
        display: block;
    }
    .lazy.epinit{
        opacity:0;
    }
    .lazy{
        opacity: 1;
        transition:all 0.3s ease-in-out;
        -moz-transition:all 0.3s ease-in-out;
        -webkit-transition:all 0.3s ease-in-out;
        -o-transition:all 0.3s ease-in-out;
    }
    .loader.static-loading{
        position:static;
        height:100px;
        display:block;
    }
</style>
<script type="text/javascript">
    $(document).ready(function(){
        $("#video_loader").show();
        var window_height = $(window).height();
        var header_height = $("header").height() + 70;
        var iFrameID = document.getElementById('Playerframe');
        iFrameID.height = "";
        if(iFrameID) {
           iFrameID.height = window_height - header_height;
        }
    });
    function iframeLoaded() {
        $("#video_loader").hide();
    }
    var app = angular.module('Player', [])
        .filter('html',function($sce){
        return function(input){
            return $sce.trustAsHtml(input);
        };
    });
    app.controller('episodes', function($scope,$http) {
        $scope.episodelist = ""; 
        $scope.hasData = false; 
        $scope.isLoading = true; 
        $scope.initSlid = function(section){
            if($scope.hasData){
                initSliderJs(section);
                $scope.isLoading = false; 
            }
	};
        $http.get(HTTP_ROOT+"/rest/getEpisodes?authToken="+STORE_AUTH_TOKEN+"&movie_id="+content_id+"&movie_stream_id="+movie_stream_id).then(function (response) {
        if(response.data.list.length > 0){
            $scope.episodelist = response.data.list;
                $scope.hasData = true;
            }
        });
    });
    app.controller('related', function($scope,$http) {
        $scope.contentlist = ""; 
        $scope.hasData = false; 
        $scope.isLoading = true; 
        $scope.initSlid = function(section){
            if($scope.hasData){
                initSliderJs(section);
                $scope.isLoading = false; 
            }
	};
        $http.get(HTTP_ROOT+"/rest/relatedContent?authToken="+STORE_AUTH_TOKEN+"&content_id="+content_id+"&content_stream_id="+movie_stream_id).then(function (response) {
        if(response.data.contentData.length > 0){
            $scope.contentlist = response.data.contentData;
                $scope.hasData = true;
            }
        });
    });
    
    function initSliderJs(section){
        setTimeout(function(){
            $('.lazy').not('.slick-initialized').slick({
                dots: false,
                infinite: false,
                speed: 300,
                slidesToShow: 4,
                customPadding: '80px',
                autoplay: false,
                autoplaySpeed: 3000,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 4,
                            infinite: false,
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 3,
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1
                        }
                    }
                ]
            });
            $(".lazy."+section).removeClass(section);
        }, 2000);
    }
</script>  
{/literal}