<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="feature-banner">
                <div class="overlay-img">
                    <div class="left23">
                        <div class="row">
                            <div class="col-sm-10">
                                <h1 class="center white">{$this->Language['manage_device']}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="col-sm-12" id="print">
                <div class="row">
                    
                    <div class="col-md-8 infobox table-responsive"  style="width:75%; margin-left:13%; margin-top: 20px;"  >  
                        <table cellspacing="0" class="shop_table top20" >
                            <thead>
                                <tr>
                                    <th class="product-name" style="width: 2%;">#</th>
                                    <th class="product-name" >{$this->Language['device_name']}</th>
                                    <th class="product-name" style="width: 5%;">{$this->Language['action']}</th>
                                 </tr>
                            </thead>
                            <tbody >
                                {foreach from=$devicedata item=device_item}
                    {assign var=ccc value=$ccc+1}
                                <tr class="cart_item">
                                    <td class="product-thumbnail" style="padding: 10px;">{$ccc}</td>

                                    <td class="product-thumbnail">{$device_item['device_info']}</td>

                                    <td class="product-thumbnail" >
                                         {if ($device_item['flag'] == 0)} 
                            <a href="javascript:void(0);"   data-id="{$device_item['id']}" onclick="openDeleteDevicePopup(this);">
                              &nbsp;&nbsp;{$this->Language['delete']}
                            </a>
                           {/if}
                        </td>
                    </tr>
                    {/foreach}   
                 </tbody>
             </table> 
                        <div id="device-loading" class="loader"></div>

         </div>
    </div>
</div>
            
<div class="modal fade" id="DeviceModal" role="dialog" data-backdrop="static" data-keyboard="false" style="overflow-y:hidden !important;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="font-size:22px;text-transform: none;" ><span id="headermodal"></span></h4>
                <h4 class="modal-title">{$this->Language['are_you_sure_delete_device']} ?</h4>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0);" id="devicebtn" class="btn btn-default">{$this->Language['yes']}</a>
                <button class="btn btn-default" data-dismiss="modal" type="button" style="text-transform: capitalize;">{$this->Language['btn_cancel']}</button>
            </div>
        </div>
    </div>
</div>
<!--<div class="modal fade" id="SuccessModal" role="dialog" data-backdrop="static" data-keyboard="false" style="overflow-y:hidden !important;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="font-size:22px;text-transform: none;" ><span id="headermodal"></span></h4>
                <h4 class="modal-title">Success</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="col-sm-12">
                        <span id="bodymodal"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" type="button" style="text-transform: capitalize;">{$this->Language['yes']}</button>
            </div>

        </div>
    </div>
</div>-->
{literal}
<script type="text/javascript">
    $('.menu_item a').removeClass('active');
    $('.wrapper').addClass('has-not-sidebar');
    function openDeleteDevicePopup(obj) {
        $("#DeviceModal").modal('show');
        var id = $(obj).attr('data-id');
        var url = HTTP_ROOT + '/user/DeleteDevice';
        $('#devicebtn').click(function () {
            $('#device-loading').show();
            $.post(url, {id: id}, function (res) {
                if (res) {
                    $(obj).removeAttr('data-id');
                    $(obj).parent().html('');
                    $(obj).removeAttr('onClick');
                    $('#DeviceModal').modal('hide');
                }
                $('#device-loading').hide();
            });
        });
    }
</script>
{/literal}