{$pagination}
{$kvs = $kvs|json_decode}
{foreach from=$kvs item=data}

<div class="col-md-5ths col-xs-6"> 
    <div class="thumbnail episode_content">
        <div class="play-box"> <img class="img-responsive" src="{$data->poster}" alt="{$data->title|utf8_decode}" title="{$data->title|utf8_decode}" />
                <div class="thumb-bg play-now"></div>
                <div class="play-btn">{$data->play_btn}</div>
                <div class="thumb-time-line">{if $data->video_duration!= ""}<span class="pull-right font-200 f-10 pad5">{$data->video_duration}</span>{/if}</div>
        </div>
        <div class="caption">
                <h3 class="episode_title">{if $data->title|count_characters > 25}{$data->title|truncate:35|utf8_decode}{else}{$data->title}{/if}</h3>                <p class="font-200 light-green-color">{if $data->story|utf8_decode|count_characters >50}{$data->story|utf8_decode|truncate:60}<a href="javascript:void(0);" class="multipart_child more" data-id="more-{$ccc}" data-toggle="modal"  data-target=".bs-example-modal-lg1">{$this->Language['more']}</a>{else}{$data->story|utf8_decode}{/if}</p>
                <p class="c-full-desc hide font-200">{$data->story|utf8_decode}</p>

        </div>
    </div> 
</div>
{/foreach}
