/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}
.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}
.navbar-wrapper .navbar .container {
    width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 60px;

}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */

.carousel-inner > .item > img {
    top: 0;
    left: 0;
    min-width: 100%;
}


/* MARKETING CONTENT
-------------------------------------------------- */


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

.carousel-control {
    bottom: 0;
    color: #fff;
    font-size: 20px;
    left: 0;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    top: 0;
    width: 4%;
}

.carousel2-height
{
    height:400px;
}
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
    }
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
}
@media (max-width: 980px) {
    .carousel2-height
    {
        height:300px !important;
    }
}
@media (max-width: 1366px) {
    /* Carousel base class */
    .carousel {
        margin-bottom:0px;
    }
    /* Since positioning the image, we need to help out the caption */
    .carousel-caption {
        z-index: 10;
    }

    /* Declare heights because of positioning of img element */
    .carousel-inner > .item > img {
        top: 0;
        left: 0;
        min-width: 100%;
        border-top:0px #e2c335 solid;
        border-bottom:0px #e2c335 solid;
    }
}
@media (max-width: 600px) {
    .carousel2-height
    {
        height:250px !important;
    }
}

@media (max-width: 490px) {
    .carousel2-height
    {
        height:150px !important;
    }
}
@media (max-width: 360px) {
    /* Carousel base class */
    .carousel {
        margin-bottom:0px;
    }
    /* Since positioning the image, we need to help out the caption */
    .carousel-caption {
        z-index: 10;
        padding:5px;
    }

    /* Declare heights because of positioning of img element */
    .carousel-inner > .item > img {
        top: 0;
        left: 0;
        min-width: 100%;
        border-top:none;
    }
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive{
    display:none;
}
.carousel-caption{bottom: 0px;left: 0px;right: 0px; padding: 0px; }
.carousel-caption .container .caption-text{background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0; padding: 10px; max-width: 700px;}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    display: block;
    height: auto;
    max-width: 100%;
    line-height: 1;
}

.carousel-container {
    margin-left:0;
}