@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
body {
    font-family: 'roboto', Helvetica; font-weight: normal;
    padding-top: 20px;
    padding-bottom: 70px;
    background:#374a4e;
    color:#666;
    font-weight:300;
}
.list-inline > li {
    padding-left: 15px;}

.navbar {
    margin-bottom:0px;background:#1e292d;border:0;padding:5px 5px 5px 10px;
}
.navbar-default .navbar-nav > li > a {
    color: #fff; font-size:15px;  font-weight: 400;
}

.cart_item a {
    color: #2abc99;
}
.bottom150{margin-bottom:150px;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: transparent;
    border-top: 5px solid #2acb99;
    color: #2acb99; font-size:15px;
    margin-top: -5px;
}
.address_box{color:#374a4e;}
.banner-btn{position:absolute; left:0;right:0;top:0;bottom:0;margin:auto;z-index:999;height:48px; width:360px}
.banner-bottom-line{padding:24% 40px;}
.padding-right-5{
    padding-right:5px;}
#main-top-menu > li > a {
    line-height: 35px;}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: black;
}
.left-17{margin-left:17px;}
#episodes .message{margin-left: 29px;
    margin-top: 15px;}
.about-content h2 img {
    width: 252px;
}
 .card_info_table{ 
margin-left: 24px !important;
    width: 96% !important;}
.register_step{margin-left:0px !important;}
.continue_shopping{padding:9px 28px !important;}
.reply_message,.comment_message{margin-bottom: 5px;}

.about-content {
    margin-left: 14px;
}
#card-section .fa{color:#555555;}
.padding-left-20{padding-left:17px;}
.reply{margin-bottom: 5px;}

.media-heading{margin-bottom:5px;}
.dark-green-bg{ background:#1e292d} .dark-green-color{ color:#1e292d}
.green-bg{ background:#374a4e} .green-color{ color:#374a4e}
.light-green-bg a{ background:#2acb99} .light-green-color a{ color:#2acb99}
.banner-bg{ background:#222c2e;position:relative;}
.top5{ padding-top:5px}.top10{ padding-top:10px}.top15{padding-top: 66px;} .top20{ padding-top:20px}.top50{ padding-top:50px}.top80{ padding-top:80px}.top100{ padding-top:100px}
.top10-{ margin-top:-10px} .top20-{ margin-top:-20px}.top50-{ margin-top:-50px}.top80-{ margin-top:-80px}.top100-{ margin-top:-100px}
.padding-right-10{ padding-right:10px;}
.left15-{ margin-left:-15px}
.left5{ margin-left:5px}
.margin-right20{ margin-right:20px;}
.margin-right-search{  margin-right: 120px !important;margin-top: 14px;}
.left-menu-margin{ margin-left:200px}
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:7px;}
.reply_btn{margin-bottom:20px;margin-top:15px;color: #2acb99;}
.text-red{color:#ff0000;}
.playnow{margin-left:0px !important;}
.wrapper{ padding:0 25px; background:#fff;border-radius: 0 0 4px 4px;}
.thumbnail {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
    line-height: 1.42857;
    margin: 0 5px 20px;
    padding: 0px;
    transition: border 0.2s ease-in-out 0s;
}
.appStoreLink{
   margin-right: -5px;
   margin-top: 5px;
}

.appStoreLink li{
    padding:0 2px;
    margin-bottom:3px;
}
.appStoreLink img{
    width:90px !Important;
}
.font-10{
    font-size: 10px;
}
#playbtn a.playbtn{
    color:#2abc99;
}
#playbtn a#trailer-btn{
    color:#2abc99;
}
#playbtn .fa-play{
    color:#2abc99;
}
.fa-left-10{margin-left:10px !important;}

.thumbnail a > img, .thumbnail > img {
    width: 100%;border-radius: 4px;
}
.caption h3{margin-top: 0px; margin-bottom:5px;}
.caption p {
    margin: 0 0 3px;
color:#999999;
}
.episode_content .caption{min-height : 88px !important;}
.thumbnail .caption {
    min-height: 64px;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
    display: block;
    height: auto;
    max-width: 100%;
    width: 100%;
}
h3.title1{margin-bottom: 32px;margin-top: 9px;}



.play-box:hover .play-btn {
    background: rgba(0, 0, 0, 0) url("../images/play-icon-hover.png") repeat scroll 0 0;
    bottom: 0;
    height: 53px;
    left: 0;
    margin: auto;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.5s ease 0s;
    width: 53px;
}

.episode_content:hover .play-btn{ background:url(../images/play-icon-hover.png); position:absolute; left:0;right:0;top:0;bottom:0;margin:auto;height:53px; width:53px;opacity: 1;transition: 0.5s;}
.play-box{position:relative;}
.play-box img:hover{background:#000; width:100%; height:100%;}
.play-box img{width:100%; border-radius:4px;}
.playnow, #trailer-btn {
    margin-top: 10px;
    margin-left: 0;

}
#card_detail #membership_form{margin-left:-14px !important;}
#card_detail_div .form-group div input{height:30px !important;}

h4{margin-bottom:0px !important;}
#paynowbtn{margin-left:0px !important;}
.blog_desc a img{border-radius: 4px;
    width: 250px !important;}
.play-btn-big{ background:url(../images/play-icon-big.png); position:absolute; left:0;right:0;top:0;bottom:0;margin:auto;height:116px; width:116px;}
.play-btn-big:hover{ background:url(../images/play-icon-big-hover.png); position:absolute; left:0;right:0;top:0;bottom:0;margin:auto;height:116px; width:116px;}
.episode_dropdown{padding-left:7px !important; }
.episode_dropdown .dropdown-wrap{
    display:inline-block;
    vertical-align:top;
    margin-bottom:15px;}
.title1{ font-size:25px; border-left:4px #2acb99 solid; color:#666666; font-weight:100;padding-left: 10px;}
.title{ font-size:28px;color:666666; font-weight:100;}
.control-label {color: #666666;font-weight: 100;font-size:28px;}


.form-control {
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #eee;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    height: 45px;
}
.container{
    min-width: 90% !important;
}

/*Search Start-------------*/
#search {
    position: relative;
    float: left;
    width: 50%;
    height: 40px;
}
#search-label {
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 20;
}
#search-label label {
    background: rgba(0, 0, 0, 0) url("../images/search2.png") repeat scroll 0 0;
    color: rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 40px;
    margin-left: 107px;
    text-indent: -9999px;
    width: 40px;
}
.banner-btn .btn-primary{border-color:#2abc99 !important;}
#search-label label:hover {
    background: url("../images/search2.png") -40px 0
}
#search-label.active label {
    background: url("../images/search2.png") -40px 0
}
.showmore{
    color:#2abc99;
}
#input {
    height: 40px;
    overflow: hidden;
    position: absolute;
    right: -58px;
    top: 0;
    width: 155px;
    z-index: 5;
}
#episode_loading{
    position: relative;
    width: 100%;
    height: 150px;}

.AddToCart {
    margin-top: 7px;
}

#input input:focus {
    outline: none
}
#input.focus {
    z-index: 20
}
#input.focus input {
    right: 0;
    -webkit-transition: right 0.3s;
    -moz-transition: right 0.3s;
    -ms-transition: right 0.3s;
    -o-transition: right 0.3s;
    transition: right 0.3s;
}
/*Search end-------------*/
.thumb-time-line{position:absolute;bottom:0;color:#fff;width:100%; padding:8px 10px;

                 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.92+100 */
                 background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.92) 100%); /* FF3.6-15 */
                 background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.92) 100%); /* Chrome10-25,Safari5.1-6 */
                 background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.92) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#eb000000',GradientType=0 ); /* IE6-9 */
}
.thumb-bg {
    bottom: 0;
    color: #fff;
    height: 100%;
    padding: 8px 10px;
    position: absolute;
    width: 100%;
    transition: all 0.8s ease;
    background: transparent;
}

.thumb-bg:hover{
    background: rgba(0,0,0,0.52);
    padding: 20px;

    bottom: 0;
    color: #fff;
    height: 100%;
    padding: 8px 10px;
    position: absolute;
    width: 100%;
}
a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover {
    border-color: #ccc;color:#eee;
}
a:focus, a:hover {
    text-decoration: none;
}
.border0{ border:0px;}
.banner-thumb{border:0px; margin-top:9.5%;}
.banner-thumb-title{color:#fff; font-size:16px; font-weight:500;}
.border-radius{border-radius: 4px;}
.banner-strip{ background:rgba(0,0,0,0.52); padding:15px 30px 15px 20px; position:absolute;top:0; width:100%; color:#fff; font-size:16px;}
.text-capitalize{ text-transform:uppercase}
.padding5{padding:5px !important;}

.banner-bottom-line{position:absolute;bottom:0;color:#fff;width:74%;padding: 39px 23px; font-weight:normal;

                    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.92+100 */
                    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.32) 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.32) 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.32) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#eb000000',GradientType=0 ); /* IE6-9 */
}

.banner-bottom-line h2{font-weight:lighter; font-size:36px;}
.gener-light{color:#bbb}
.font18{ font-size:18px} .font16{ font-size:16px} .font14{ font-size:14px} .font22{ font-size:22px} .font24{ font-size:24px}
.thin{ font-weight:300 !important;}

.not-active {
    cursor: default;
    pointer-events: none;
}
.bottom_pages .col-md-5ths{
    margin-top:0px;
    /***width :20%;***/
    padding-left:0;
    padding-right:0;
}
.bottom_pages > .ftr-link {
    display: inline;
    padding-left: 12px;
}
.bottom_pages a{
    color: #374a4e;
    font-size: 11px;
    font-weight: 400;
text-transform:capitalize;
}
.bottom_pages a:hover {
    color: #2acb99;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
    margin-top:20px;
}



ul.share-buttons{
    list-style: none;
    padding: 0;
}

ul.share-buttons li{
    display: inline;
}

.footer{ padding:20px 0px;border-top:1px #CCC solid;margin: -7px -25px 30px; }
/*-------------------------Footer menu-------------------------*/
.bottom_ul {

    list-style-type: none;
    margin-bottom: 0;
    margin-left: -12px !important;
}

.bottom_ul li {
    float: left;
    line-height: 17px;
}
.bottom_ul li::after {
    color: #424242;
    /*content: "|";*/
    margin-left: 18px;
    margin-right: 18px;
}
.bottom_ul li a {
    color: #424242 !important;
    font-size: 12px;
    font-weight:300;
    padding: 0 15px;
}
.bottom_ul li a:hover {
    color: #2acb99 !important;
}



/*Pop up Box Start */

.remodal-bg.with-red-theme.remodal-is-opening,
.remodal-bg.with-red-theme.remodal-is-opened {
    filter: none;
}

.remodal-overlay.with-red-theme {
    background-color: #f44336;
}

.remodal.with-red-theme {
    background: #fff;
}
.devider{ height:1px; background:#eee; width:100%; margin-top:10px; margin-bottom:40px;}
.devider2{ height:1px; background:#eee; width:80%; margin:20px auto;}
/*Pop up Box end*/

.input-group .icon-addon .form-control {
    border-radius: 0;
}
.icon-addon {
    color: #555;
    display: block;
    position: relative;
}
.icon-addon::after, .icon-addon::before {
    content: " ";
    display: table;
}
.icon-addon::after {
    clear: both;
}
.icon-addon.addon-md .glyphicon, .icon-addon .glyphicon, .icon-addon.addon-md .fa, .icon-addon .fa {
    float: left;
    font-size: 14px;
    left: 10px;
    padding: 10px 0;
    position: absolute;
    text-align: center;
    top: 1px;
    width: 20px;
    z-index: 2;
}
.icon-addon.addon-lg .form-control {
    height: 46px;
    line-height: 1.33;
    padding: 10px 26px 10px 40px;
}
.icon-addon.addon-lg select.form-control {
    -webkit-appearance:none;
}
.icon-addon.addon-sm .form-control {
    font-size: 12px;
    height: 30px;
    line-height: 1.5;
    padding: 5px 10px 5px 28px;
}
.icon-addon.addon-lg .fa, .icon-addon.addon-lg .glyphicon {
    font-size: 18px;
    margin-left: 0;
    top: 4px;
}
.icon-addon.addon-md .form-control, .icon-addon .form-control {
    float: left;
    font-weight: normal;
    padding-left: 30px;
}
.icon-addon.addon-sm .fa, .icon-addon.addon-sm .glyphicon {
    font-size: 12px;
    left: 5px;
    margin-left: 0;
    top: -1px;
}
.icon-addon .form-control:focus + .glyphicon, .icon-addon:hover .glyphicon, .icon-addon .form-control:focus + .fa, .icon-addon:hover .fa {
    color: #2acb99;
}



.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 9px 38px;
    margin-left: 17px;
}
.btn-primary {
    background-color: #2acb99;
    border-color: #2acb99;
    color: #fff;border-radius: 0px;
}
.btn-primary:hover {
    background-color: #0b8f66 !important;
    border-color: #eeeeee;
    color: #fff;
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.focus:active, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
    background-color: #0b8f66;
    border-color: #0b8f66;
    color: #fff;
}
.btn-primary.active, .btn-primary:active, .open > .dropdown-toggle.btn-primary {
    border-color: #eeeeee;
}
.btn-primary.focus, .btn-primary:focus {
 
    border-color: #eeeeee;

}
.form-control {
    background-color: #ffffff;
    background-image: none;
    border:0px solid #eee;
    border-bottom:1px solid #eee;
    border-radius: 0;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    height: 45px;
}
.form-control:focus {
    border-color: #0b8f66;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.00) inset, 0 0 8px rgba(102, 175, 233, 0.0);
    outline: 0 none;
}
.form-control-border{
    background-color: #ffffff;
    background-image: none;
    border:1px solid #eee;
    border-bottom:1px solid #eee;
    border-radius: 0;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    height: 45px;
}

.form-control-border._lowheight{
    height:40px;
    min-width: 110px;
}
.relative{position:relative}
.poster img{border-radius:4px;}
.poster-title{ font-size:25px; color:#2acb99; margin-top:0px; font-weight:300}

.cast {
    padding-bottom: 10px;
}
.cast p {
    font-size: 14px;
     font-weight: 200;
   margin-bottom: 0;
}
.cast img {
    float: left;
    font-size: 14px;
    margin-right: 20px;
}
.gray {
    color: #a7a6a6 !important;
}
.feature-banner {
    background: rgba(0, 0, 0, 0) url("../images/feature-banner.jpg") no-repeat fixed center top / cover ;
    overflow: hidden;
    width: 100%;
}
.overlay-img {
    background: rgba(42, 203, 153, 0.66) none repeat scroll 0 0;
    padding-bottom: 40px;
    padding-top: 30px;
    width: 100%;
}
.white{color:#fff; font-weight:normal}
.left23{ padding-left:23px;}

.billed-box {
    background: transparent none repeat scroll 0 0;
    border-radius: 4px;
    margin: 10px;
    margin-top:50px;
    padding-bottom: 15px;
    text-align: center;
    border: 2px solid #dddddd;
}
.choosen{border-color:#2acb99;}

.billed-box .tick-icon {
    background:url("../images/tick-icon.png");
    height: 50px;
    margin: -27px -20px 0;
    position: absolute;
    width: 50px;
}

.billed-box h3 {
    font-weight: 400;color: #2acb99;
}
.billed-box2 {
    background: transparent none repeat scroll 0 0;
    border-radius: 4px;
    margin: 10px;
    margin-top:50px;
    padding-bottom: 15px;
    text-align: center;
    border: 2px solid #ddd;
}
.border-right{ border-right:1px solid #eee;}
.bottom50{ margin-bottom:50px;}
.bottom100{ margin-bottom:100px;}
.contact-box{color:#fff; background:#2acb99; padding:20px; font-size:16px;}
.profile {
   
    margin: -37px auto auto;
    z-index: 9999 !important;
}
#update-btn{ padding: 8px 24px !important;}
.profile_picture_change{background:url("../images/profile_change.png");position:absolute;width:20px;float:left;}

a {

    text-decoration: none;
}
.error{font-weight:300; color:#ff0000}
.bottom-padding30{ padding-bottom:30px;}
.bottom-padding50{ padding-bottom:50px;}
.play-btn a {
    color: #fff;
    font-size: 29px;
    line-height: 1;
    opacity: 0.00;
}
.play-btn-big a {
    color: #fff;
    font-size: 49px;
    line-height: 1;
    opacity: 0.00;
}
.center.profile {
    border: 4px solid #fff;
}
.dark-gray {color:#666 !important;}
.dark-white{color:#eee};
.min100 {min-height:100px;}


.modal-content {
    border-radius: 0px !important;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
}
.modal-backdrop {
    background-color: #222c2e;
}
label {
    font-weight: 400;
}
.modal-dialog {
    margin: 10% auto 30px;
}
.btn-default {
    background-color: #2acb99;
    border-color: #2acb99;
    color: #fff;
}
.btn-default:hover {
    background-color: #0b8f66;
    border-color: #0b8f66;
    color: #fff;
}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default.focus:active, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover {
    background-color: #0b8f66;
    border-color: #0b8f66;
    color: #0b8f66;
}
#review p input[type="submit"] { float:right; margin-bottom: 10px;}
.col-md-12 .form-group h2{
    display:block; 
    padding-top-:20px;
    border-left: 4px solid #2acb99;
    color: #666666;
    font-size: 25px;
    font-weight: 100;
    padding-left: 10px;}
.title2{ font-size:20px; color:#fff; font-weight:100;padding-left: 10px;display:none !important;}

.newsletter h2{
       font-size: 13.19px;
    font-weight: 500;
}
newsletter #newsletter-form{
    font-size: 14px;
}
#newsletter-email
{
    padding-left: 0px;
}

.navbar-brand{
    padding: 11px 15px;
}
.navbar-brand{
    margin-left: 5px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: transparent;
    border-top: 5px solid #2acb99;
    color: #2acb99;
    font-size: 17px;

}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color:  #2acb99;

}
.alert{
    margin-left: auto;
    margin-right: auto;
    padding-left: 17px;
    padding-right: 17px;
    width:88%;
}

#membership_form label
{

    font-size:14px;
    margin-top: 7px;
}
#membership_form .col-sm-6 #exp_month,#membership_form .col-sm-6 #exp_year{height:32px !important;}
.month_list #exp_month,.month_list #exp_year{height:47px !important;}
#membership_form label h4
{
    color:#2acb99;
}
.activate_member #membership_form{margin-left:0px !important;}
#membership_form {
  margin-left: 17px;
  margin-right: 17px;
}

.help-block  a
{
    color: #2acb99;
}
.register-form h2{
    font-size:16px;
}

.register-form #membership_form h4
{
    font-size: 16px;
}
.navbar-nav > li > a {
    padding-bottom: 10px;
    padding-top: 10px;
}
.forgot
{
    color:#2acb99; 
}
.caption h3 a{
    color:#2c3b40; 
    font-weight: 400;
    text-transform: capitalize;
    font-size:16px;
}
.font
{
    color:#2acb99;
}
.no_card{margin-left:17px;}
.playnow a{
    color:#fff;
}


.margin-center.buynow{
    margin-left:30px !important;
}
.buynow a{
    color:#fff;
}
.full_desc img{
   height: 100%;
    margin-top: 12px;
    width: 100%;
}
.blog_comment
{
    height:500px;
}
.comment-icon {
    margin-left: 14px;
}

.review_form .rating-content
{
    margin-left: 15px;

}
.review_form .submit-review p
{
    margin-bottom: 5px;
}
#newsletter-form
{
    margin-left: 26px;
}
.main_menu
{
margin-left:0px !important;

}
.banner_text {
    bottom: 13px;
    color: #ffffff;
    font-size: 24px;
    padding-left: 10px;
    position: absolute;
    text-align: left;
    z-index: 999;
}
.banner_btn {
    bottom: 13px;
    color: #ffffff;
    font-size: 24px;
    /***padding-left: 80%;***/
    position: absolute;
    text-align: left;
    z-index: 999;
    right:5px;
}
.banner_btn a{ 
   background-color: #2abc99;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 400;
    padding: 4px;
    font-size:17px;
    display:inline-block;}
.ps-caption a b, .ps-caption b{font-size: 24px;font-weight: 100 !important;} 
.search{
    margin-left: 6px;
    margin-top: -16px;
    margin-right:0px !important;
}
.user-menu ul {
    list-style: outside none none;
    float:right;
    padding:0px;
    margin-top: 21px;
}
.user-menu li {
    display: inline-block;
}
.user-menu .dropdown li{
    display:block;
}
.user-menu li a {
       padding: 9px 0 0 5px;

}
.user-menu li a {
    display: block;
    font-size: 15px;
    margin-right: 5px;
    font-weight: 400;
    color:#ffffff;
}
.usermenu ul.dropdown-menu li{color:#2c3b40}
.user-menu li a:hover {
    color: #2abc99;
}

.profile_image
{
    margin-top: 15px;
    margin-bottom: 0px;
}
.alert-msg{height:40px;padding:15px;margin-bottom: 9px;border-radius: 6px;}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover{
    background-color: transparent;
}
.dropdown a img{
    width:40px;
}
#login-btn,#register-btn
{
    margin-left: 0px;
}


.product-details
{
  margin-top:14px;
}
.transaction h2{
    color:#2acb99;
}
.transaction_details h2
{
    color:#2acb99; 
}
.transaction_details .container .row{
    margin-left: 0px;
}
.transaction_btn
{
    margin-left: 0px;
    margin-bottom: 15px;
}
.star_image
{
    margin-top: 15px;
    margin-bottom: 15px;
    max-height: 250px;
    min-height:250px;
    min-width: 250px;
    max-width: 250px;
    margin-left: 16px;
}
.navbar-right .dropdown-menu {
    right: 0;
    left: auto;
    margin-top: 0 !important;
}
.star_summary
{
    margin-top: 15px;
    margin-left: 87px;
}

.error{
    color: #ff0000 !important;
    font-size: 13px;
}

#newsletter-form #newsletter-btn
{
    margin-left: 0px !important;
}  
.edit
{
    margin-left: -2px !important;
    margin-right: -16px;
    padding-left: 27px;
    width: 43%;
    font-size: 12px;
} 
.delete{margin-right: 5px;width: 50%;background: #e40000;border: 1px solid #e40000;  padding-left: 20px; font-size: 12px;}
.delete:hover,.delete:active{margin-right: 5px;width: 50%;background: #ff0000;border: 1px solid #ff0000;}
.wrapper_transaction{   
    background: #ffffff none repeat scroll 0 0;
    border-radius: 0 0 4px 4px;
    padding: 0 25px;
}
table.shop_table {
    margin-bottom: 50px;
    width: 100%;
    margin-left: 1px;

}
table.shop_table th {
    background: #f4f4f4 none repeat scroll 0 0;
    font-size: 11pt;
    text-transform: uppercase;
    width: 10%;
}
table.shop_table th, table.shop_table td {
    border: 1px solid #dddddd;
    padding:0;
    text-align: center;
}
.product-invoice {
    border-right: 1px solid #dddddd;
}
.loader{
    position: absolute; 
    width: 100%; 
    height: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    display: none; 
    background: url('../images/loading.gif') no-repeat center;
    z-index: 100;
}
.loader_episode
{
    position: absolute; 
    width: 100%; 
    height: 100%;
    top: 8px;
    bottom: 0px;
    left: 0px;
    display: none; 
    background: url('../images/loading.gif') no-repeat center;
    z-index: 100;
}
.loader_ppv
{
    left: -350px !important;
    top: -144px !important;
}
.search-faq
{
    position: relative;
    float: left;
    width: 96%;
    height: auto;
    margin-left: 0;
}
.search_symbol {
    background-color: rgba(0, 0, 0, 0);
    border-color: #eeeeee;
    border-radius: 0;
    border-right: 0 none #eeeeee;
    border-top: 0 none #eeeeee;
    height: 40px;
    width: auto;
}
.short_desc img {
    height: 100px;
    width: 100px;
}
.helpcenter {
    padding: 20px 0 20px;
}

.list_item
{
    margin-left: -17px;
    margin-top: 18px;
}

.blog_view
{
    margin-left: -13px;
}
.gener-light
{
    pointer-events: none;
    cursor: default;
}
.back
{
    margin-left: 15px;
}
.footer_container
{
    margin-top: 5px;
}
.checkbox .terms
{
    margin-left: -13px;
}

.language {
    font-size: 18px;
    list-style: outside none none;
    margin-left: auto;
    margin-top: 10px;
    width: 106px;
    padding-top: 1px;
    font-weight: 200;
}
div p img
{
    margin-top:4px;
}
.reset
{
    margin-top: 15px;
}
#language
{
   height: 36px;
   background-color: #243033;
   color: #fff;
   border: transparent;
   margin-left: 24%;
}
.rating-content
{
    margin-left: 16px;   
}
.logo_image
{
    margin-bottom: 0px;
}
.comment_field {
    margin-left: 23px;
}

.filter_popup
{
    left: initial;
    margin-top:0;
}

.crusor
{
    cursor: pointer;
}
#loader_review
{
    margin-top:143px;
}
.inner_banner
{
    height:450px;
}
.genre
{
    margin-right: 6px !important;
}
.post-comment
{
    margin-bottom: 15px;
}
.btn-primary:active ,.btn-primary:focus
{
    background-color: #2acb99;
}
.productlist{text-align: center;border: 1px solid #ddd; margin-bottom: 20px;overflow: auto;background: #fff;padding-bottom: 15px;}
.productlist a img{margin-top: 15px; max-height: 260px;max-width: 100%;}
.cart-btn{background: #2acb99 !important; color: #fff; border-radius: 2px !important; margin-left: 0;  padding: 7px; }
.order-now{background: #999999 !important; color: #fff; border-radius: 2px !important; padding:7px;}
.shop-item{ 
    color: #2acb99;
    font-size: 19px;
    font-weight: 300;
    margin-top: 0;
}
.cart2,order-now2{margin-left: 0px !important;}    
h3.itemname {
    font-size: 10pt;
    font-weight: 400;
    text-transform: capitalize;
    word-wrap: normal;
    color:#333;
}

.loader_cart{
    display: none;
}
.loader-overlay {
    background: #333 none repeat scroll 0 0;
    opacity: 0.5;
    z-index: 100000;
}
.loader-overlay, .loader-elem-overlay {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
.loader_cart .loader-body {
    background: rgba(51, 51, 51, 0.3) none repeat scroll 0 0;
    color: #333;
    left: 43%;
    padding: 7px;
    position: fixed;
    top: 43%;
    z-index: 100001;
}
.loader_cart .large .msg{
    background: #fff url("/images/loader.gif") no-repeat scroll 6% 50%;
    font-size: 20px;
    padding: 15px 20px 15px 50px;
}
#round-cart {
    background: #2abc99  none repeat scroll 0 0;
    border-radius: 20px;
    color: #ffffff;
    font-weight: 500;
    height: 22px;
    left: 10px;
    margin-left: 17px;
    padding-left: 0;
    padding-top: 0;
    position: absolute;
    text-align: center;
    top: 7px;
    width: 24px;
    z-index: 999;
    font-size: 12px;
}
.cart-item
{
    margin-top:25px;
}
.cart_icon_parent
{
    margin-top: 23px;
    margin-right: 7px;
}
.product_btn
{
    margin:8px;
    padding-left: 0;
}
.product_title
{
 margin-bottom: 19px;
 
}
.product_name
{
    margin:5px;
    margin-top: 17px;
    margin-left: -71px;
}
#product_qnt
{
    width: 137px;
    border: 1px solid #eeeeee;
}
.btn-product
{
    margin-left:8px; 
}
.btn-default.focus, .btn-default:focus {
    background-color: #2acb99;
    
}
.episode_title
{
    margin-top:0px;
}
.sortby_active  
{
    color:#2acb99;
}
.sortby:hover {
    color: #2abc99;
}
.blogcomment
{
    margin-bottom:10px;
}
.infobox table{
    display:table !important;
}
.comment-icon.heading_2 {
    margin-left: 7px;
}
.language_form{
    margin-top: 14px;
    padding-top: 0px;
    margin-right: 10px;}
.user
{padding: 4px 0px 0px;}
.language_form .form-group{
    margin-bottom: 0px;
}



.light-green-color {
    color: #2acb99;
}

.glyphicon-comment{
    margin-right:5px;
}
.bubble .clearfix::after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.bubble {
    margin-top: 20px;
    position: relative;
    padding-left: 65px;
}
.bubble-content {
    background-color: #ffffff;
    margin-left: 12px;
    padding: 5px 0 5px 5px;
}
.bubble-content-inner{
    border-radius: 4px;
    padding: 5px 12px;
    position: relative;
    border: 1px solid #eeeeee;
}
.bubble img {
    border: 3px solid #ffffff;
    border-radius: 10px;
    height: 70px;
    width: 70px;
    position: absolute;
    left: 0;
}
.point {
    border-bottom: 5px solid rgba(0, 0, 0, 0);
    border-right: 5px solid #d7d7d7;
    border-top: 5px solid rgba(0, 0, 0, 0);
    left: -6px;
    position: absolute;
    top: 12px;
}
.reply_bubble{margin-left: -16px;}
.filter
{
    display:inline-block;
    margin-bottom: 10px;
}
.content_list
{margin-left:15px;}
.navbar-right .dropdown-menu {
    right: 0;
    left: auto;
    margin-top: 0;
}
h3.heading{font-size:20px;}
.filter_by
{
    margin-left:15px;
    font-weight: 500;
}
.sort_by{ font-weight: 500;}

.c-grey {
    color: #ababab;
}
.social-share-popup img {
    margin-bottom: 10px;
}
table.card_info_table th, table.card_info_table td{width:3%!important}
.product-action{width: 161px !important;}
.well{padding: 8px !important;}
.dropdown-menu.filter_popup > form {
    width: 280px;
}
.searchSec form {
    margin-top: 14px;
    padding-left: 15px;
}

.searchSec .input-group {

    display: inline-flex;
}


.searchSec input {
    background-position: 15px 13px;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    color: #ffffff;
    background-color: #243033;
    font-size: 14px;
    font-weight: 300;
    height: 38px;
    line-height: 20px;
    margin: 0;
    padding: 14px 0;
    transition: width 0.2s linear 0s;
    width: 0 !important;
}
.searchSec .input-group-addon {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    border-radius: 2px;
    color: #ffffff;
    cursor: pointer;
    height: 38px;
    padding: 0;
    width: 40px;
}
.searchSec .input-group-addon {
    color: #ffffff;
    cursor: pointer;
    background: #243033;
}
.searchSec .input-group-addon span {
    padding: 11px 15px;
}
.searchSec .input-width {
    width: 200px !important;
}
.searchSec .input-width {

    font-weight: 400;
    padding: 2px 12px;
}
.popup_bottom{
    border-bottom:6px solid #2acb99;
}
.img-center {
    height: 46px;
    margin-left: 31%;
}
.language-list {
    margin-left: 11px;
    margin-top: 3px;
}

.caption_genre{
    color:#999999;
}
.thumb_weight{ 
    font-weight: 200;}
.font-12{
    font-size:12px;
}
.footer-poweredby img {
    width: 120px;
}
.font-200{
    font-weight:200;
}
.poweredby {
    margin-left: 0;
    padding: 4px;
    margin-top: 5px;
}
.newsletter div#newsletter-container {
    margin-left: 5%;
}
.fa.fa-language{
    font-size: 20px;
    position: relative;
    margin-left: 10%;
    margin-top: 20px;
}
#myPopover li {
    cursor: pointer;
    font-size: 14px;
    line-height: 1.5;
    list-style: outside none none;
}
#myPopover li.active {
    color:#2acb99;
    font-weight:700;
}
#myPopover li:hover ,#myPopover li:focus{
    color:#2acb99;
}

.pagination li.active a,.pagination li.active a:focus,.pagination li.active a:hover
{
    background-color:#2acb99;
    border-color:#2acb99;
}
.glyphicon.glyphglyphicon.glyphicon-chevron-right,.glyphicon glyphicon-forward {
    color: #2abc99;
}
.pagination > li > a, .pagination > li > span{
    color:#2abc99;
}
.icon-handbag.c-cart-icon {
    font-size: 22px;
}
#user_menu .dropdown-menu li a{
    color: #2c3b40;
    font-size: 15px;
    font-weight: 100;
    padding: 6px;
}
.blog_desc p img{ 
    width:100%; 
}
#myTrailer .wrapper{
    padding:0 !important;
}
.faq_data h3 a{color:#2abc99;}
.back a{color:#2abc99;}
.btn-disabled{
    cursor: not-allowed;}
.stockout{
    margin-top:5px;
    background-color: #dddddd !important;
}
.caption h3{color:#2c3b40;font-size:16px;font-weight:400}
.margin-center {
    margin-left: 33% !important;
}
#register_membership > .fa.fa-sign-in {
    color:#fff;
}
.ftr_ul > li{
    display: inline;
    padding-left: 10px;
}
.submit-review p a{color:#2abc99}
#successPopup{
    left: 18%;
}
.row.border-right.plandetails {
    margin-right: 10px;
}
.cast_type {
    text-transform: capitalize;
}
.card_info_table a{color:#2abc99;}

.card_info_table td{padding: 12px !important;}
.tab_purcahse a{color:#2abc99;}
.product_list{margin-top:20px !important;}
.fa.fa-star,.glyphicon-star,.glyphicon-star-empty {
    color: #2abc99;
}
.glyphicon.glyphicon-search {
    opacity: 0.5;
    font-size: 17px;
}
.modal-header{border-bottom: none;}
.modal.fade.login-popu.in {
    background: rgba(43, 46, 56, 0.9) none repeat scroll 0 0;
}
.bottom20{padding-bottom: 20px;}
.play-box{position: relative;}
.popup-data{position:absolute; width:100%; height:100%; top:0px; left:0px;}
.fancybox-wrap{opacity:1 !important;}
.episode_title {
    height: 30px;
}
.more{color:#2abc99}
.font-25{font-size:25px !important;}
.register label{padding-left: 0 !important;}
.modal-overflow{height: 252px;
                overflow: auto;}
.content-banner{overflow:hidden;}
.content-banner .banner-bottom-line{width:100%; padding: 19% 40px}
#coupon_btn{background-color: #2abc99;color:#ffffff;border-color: #2abc99;}
.modal-content {
    border-bottom: 6px solid #2acb99;
}
b{font-size:14px;}
  .btn-primary.active, .btn-primary:active, .open > .dropdown-toggle.btn-primary{background-color:#0b8f66;}
  .btn.no-border{border:0 !important;}
    #loginModal .close {
    margin-top: 3px;
}
.featured_image{
    margin-bottom: 10px;
  }  
.featured_image img{
    width:250px;
}
.original_image{
    margin-bottom:10px;
}
.margin-left3{margin-left:3%;}
.original_image > img {
    max-width:100%;
}
.user-icon{display:none;}
.playbtn_title span{
    margin-top: 0px !important;
}
@media (max-width:400px){
    .playbtn_title span{
        margin-left: 0 !important;
        margin-top:2px !important;
    }
    .featured_image img{
        max-width:100%;
    }
}
.delete-fab{ background:#fff; color:#f00; position:absolute; right:25px;top:10px; padding:5px 10px;border-radius:4px;z-index:9999;}
.nocontent{
    min-height: 300px;
    padding:60px 15px;
}
.btn.addtofav{
    margin-left:0px;
    padding:10px 10px;
}
.select-hack-safari{
    -webkit-appearance: textfield;
}
.playbtn > div {
    display: inline-block;
}

.nav.navbar-nav > li > a .caret{
    margin-left: 15px;
    position: relative;
}
.nav.navbar-nav > li > a .caret:after{
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    left: -15px;
    top: -17px;
}

@media all and (min-width:768px){
    .nav.navbar-nav .dropdown:hover .dropdown-menu, 
    .nav.navbar-nav > li._on > ul{
        display: block;
    }
}
@media all and (max-width:767px){
    .nav.navbar-nav > li > a .caret{
        position: absolute;
        right: 0px;
        top: 0;
        bottom: 0;
    width: 55px;
        height: auto;
        margin: 0;
        padding: 0;
    background: rgba(0,0,0,0.5);
        border: none;
    }
    .nav.navbar-nav > li > a .caret:after{
        content: '+';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width:auto;
        height:auto;
    line-height: 55px;
        text-align: center;
        font-size: large;
    color: #FFF !important;
    }
    .nav.navbar-nav > li > a .caret._on:after{
        content: '-';        
    }
    .nav.navbar-nav > li.dropdown > .dropdown-menu{
        display: none;
        position: static;
        float: none;
        border-radius: 0;
        width: auto;
        background: rgba(255,255,255,0.7);
        padding: 0;
    }
    .nav.navbar-nav .dropdown-menu > li > a{
        padding: 10px 15px;
    }
    .nav.navbar-nav {
        margin: 7.5px 0px;
    }
    .h1, h1 {
        font-size: x-large !important;
    }
    .h2, h2 {
        font-size: large !important;
    }
    .h3, h3 {
        font-size: medium !important;
    }
}
.ui-autocomplete.ui-menu li.ui-menu-item:hover{background: none !important; cursor: pointer !important;}
.ui-autocomplete.ui-menu li.ui-autocomplete-category:hover{background: #000 !important;color:#FFF !important;cursor: inherit !important;}
.ui-autocomplete.ui-menu li.ui-autocomplete-category{background:#000 !important; color:#FFF !important; cursor: inherit !important; font-style:italic;}

.navbar-nav li a:hover, .navbar-nav li a:focus, .navbar-nav li a:active {
    background-color: transparent !important;
    color: #2acb99 !important;
    text-decoration: none;
}
.active a{
    color: #2acb99;
}
.navbar-brand > img {
    max-height: 100%;
}

.thumbnail .play-btn a{
    position:absolute;
    font-size:0;
    left:0;
    top:0;
    right:0;
    bottom:0;
}
.loader._home_featured {
    position: static;
    height: 150px;
}
.parent-sec-hide{
    opacity:1;
    transition:all 0.6s ease-in-out;
    -moz-transition:all 0.6s ease-in-out;
    -webkit-transition:all 0.6s ease-in-out;
    -o-transition:all 0.6s ease-in-out;
}
.parent-sec-hide._init{
    opacity:0;
}
#homepage_sections{
    background-color: #FFF;
}
.thumbnail, 
.thumbnail .play-box{
    transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
}

.play-box img.play_box_img {
    padding: 7px;
    display: block;
    margin-left: auto;
    margin-right: auto
} 

@media (max-width: 480px) and (min-width: 320px){
.ps-caption.text-left {
     padding-bottom: 40px !important;
     }
.banner_btn {
     bottom: 75px !important;
  }

 }
@media (max-width: 480px) and (min-width: 320px) and (orientation: portrait) {
   
    .banner_btn {
        float: left;
        left: 8px;
        bottom:67px !important;
    }
    .ps-caption.text-left {
        padding-bottom: 50px !important;
    }
}

@media (max-width: 510px) and (min-width: 320px) and (orientation: portrait){
    
.banner-bottom-line{width:100% !important;}
.banner_btn {
     bottom: 81px !important;
     float: left;
     left: 10px;
     }
.banner_btn a {
    font-size: 8px !important;
    }
.ps-caption.text-left {
    padding-bottom: 40px !important;
     }
.ps-caption a b, .ps-caption b{font-size: 16px;font-weight: 100 !important;}
}

@media (max-width: 736px) and (min-width: 320px) and (orientation: portrait){
    .ps-caption.text-left {
        padding-bottom: 40px !important;
    }
    .banner_btn {
        bottom: 67px !important;
    }
    .ps-caption a b, .ps-caption b{font-size: 16px;font-weight: 100 !important;} 

}
@media (max-width: 736px) and (min-width: 360px) and (orientation : landscape) {

    .banner_btn {

        float: left;
        left: 8px;
    }
    .ps-caption.text-left {
        padding-bottom: 50px !important;
    }
}

@media (max-width: 1280px) and (min-width: 600px) {
    .ps-caption.text-left {
        padding-bottom: 50px !important;
    }
}

@media (max-width: 1088px) and (min-width: 993px)
{
    .searchSec .input-width {
        width: 102px !important;
    }

}
.filter .mCustomScrollbar{
    max-height: 350px;
}
@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        background: transparent;
    }
.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
.navbar-collapse.collapse {
    display: none!important;
    }
.navbar-nav {
    float: none!important;
		margin-top: 7.5px;
	}
.navbar-nav>li {
    float: none;
    }
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    }
.collapse.in{
    display:block !important;
    padding-left: 0;
    padding-right: 0;
 }

.user-menu ul {
    list-style: outside none none;
    padding: 0px;
    margin-top: 21px;
    float: left;
    padding-bottom:40px;
}
.thumbnail .play-btn a {
    font-size: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
}
.parent-sec-hide{
    opacity:1;
    transition:all 0.6s ease-in-out;
    -moz-transition:all 0.6s ease-in-out;
    -webkit-transition:all 0.6s ease-in-out;
    -o-transition:all 0.6s ease-in-out;
}
.parent-sec-hide._init{
    opacity:0;
}
}
@media (max-width:768px) {
#user_menu .dropdown-menu {
    background: #fff;
    left: 0; 
}
#round-cart {
    z-index: 1;
   } 
}
@media (max-width: 480px) {
   .filter .mCustomScrollbar{
        max-height: 200px;
    }     
} 
code.tagdesign {
    display: inline-flex;
    margin-bottom: 3px;
    margin-top: 3px;
}
.text-strike{text-decoration: line-through;}
.play-now-me a {
    margin-top: 10px;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 8px 35px 10px 60px;
    background-color: #2acb99;
    border-color: #2acb99;
    color: #fff;
}

.play-now-me  :hover{
    background-color: #229a75;
    
}

.play-now-me i {
    position: absolute;
    right: 57%;
    color: white;
    top: 22px;
}

.play-now-bottom > a.playbtn {
    background: #2acb99;
    color: white;
    padding: 10px 40px 13px 40px;
}

.play-now-bottom:hover{
    background-color: #229a75;
    border-color:#229a75;
}
.play-now-bottom > a.playbtn:hover,.play-now-bottom > a.playbtn:focus,.play-now-bottom > a.playbtn:active {
     background: #229a75 !important;
     border-color:#229a75;
}
@media (max-width:425px) and (min-width:361px) {
    .play-now-bottom > a.playbtn {
        background: #2acb99;
        color: white;
        padding: 10px 40px 13px 27px;
    }  
    .play-now-bottom  :hover {
        background-color: #229a75;
    }
    .playnow, #trailer-btn {
        margin-top: 0px;
        margin-left: 0px;
        padding-right: 39px;
    }
}

@media (max-width: 360px) and (min-width: 320px)
{
    .play-now-bottom > a.playbtn {
        background: #2acb99;
        color: white;
        padding: 10px 38px 13px 47px;
        margin-left: 49px;
        position: relative;
        left: -48px;
        top: 18px;
    }
}
.ftr-menu > li {
    display: -webkit-inline-box;
    padding-left: 10px;
}
table.shop_table td {
    font-size:medium;
}
@media (min-width:768px) {
.wrapper .infobox {
    margin-left: 8%;
    margin-top: 20px;
    font-weight: 400;
}
}
@media (max-width:640px) {
.wrapper infobox {
    margin-left:0px;
}
table.shop_table td {
    font-size:small;
    overflow:auto;
}
table.shop_table th {
    font-size: medium;
    }
}
table.shop_table td.product-thumbnail > a.not-active {
    cursor: no-drop !important;
    color:rgba(42, 188, 153,0.5);
}
table.shop_table td.product-thumbnail > a.not-active:hover,table.shop_table td.product-thumbnail > a.not-active:focus {
    color:rgba(42, 188, 153,0.5);
}
@media (max-width:640px) {
.purchase_history_table{
    overflow-x: scroll;
}
}
.product-remove{padding-top: 17px !important; padding-bottom: 17px !important; padding-right: 10px !important;padding-left: 10px !important;}
#itemdetails{width: 25% !important;}


.modal-header .close{
    margin-left:10px;
}
.social-image-center{    
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
.social-image-center li, .social-image li{display:inline-block; margin-bottom: 5px;}
