<div class="single-product-area">
    <div class="container">
        <div class="row">
            <h2>Re-activate</h2>
            <p>Thank you for coming back!</p>
            <p>Please choose plan and enter payment information to continue</p><br />            
        <form id="membership_form" name="membership_form" method="POST" class="form-horizontal" action="javascript:void(0);">
			<input type="hidden" name="csrfToken" id="csrfToken" value="{$smarty.session.csrfToken}" />
            <div id="loading" class="loader"></div>
            <div id="errors" class="error center"></div>                                   
            <div class="top20"></div>                      
            {include file='../layouts/listplans.html'}                        
            {$payment_form}
            
              {$activate_btn_form}   
            
            <span class="error" id="plan_error"></span>     
        </form>            
        </div>
    </div>
</div>
<div id="successPopup" class="modal fade" style="width: 660px;">
    <div class="modal-dialog" style="width: 660px;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title success-popup-payment">Your account has been activated by submitting your card information successfully.</div>
            </div>
        </div>
    </div>
</div>

<div id="loadingPopup" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="border: none;">
                <div class="modal-title auth-msg">Just a moment... we're authenticating your card.<br/>Please don't refresh or close this page.</div>
                <div><img src="{$this->siteurl}/images/payment_loading.gif" alt="Loading" title="Loading" style="padding:5px;"/></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var action = 'reactivate';
    var btn = 'Reactivate';    
</script>
<script type="text/javascript" src="{$this->siteurl}/common/js/action.js"></script>