body._vd{
    padding-top: 0;
}
.template-wrap.style_3 header{
    background: none;
    }
.template-wrap.style_3 .header._scrolled{
    background-color: rgba(255,255,255,0.5);
    }
.editor-butn, 
.editor-butn span{
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.logo, 
header, 
nav, 
footer{
    position: relative;
}
.editor-butn{
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: default;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.3);
    pointer-events: none;
}
.editor-butn:after, 
.editor-butn:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.editor-butn:before{
    z-index: 1;
    border: 1px solid #FFF;
    animation-name: border-anim-1;
    animation-duration: .2s;
    animation-iteration-count: infinite;
}
.editor-butn:after{
    z-index: 2;
    border: 1px dashed #000;
    animation-name: border-anim-2;
    animation-duration: .2s;
    animation-iteration-count: infinite;
}
@keyframes border-anim-1 {
    from {border-color: #FFF;}
    to {border-color: #000;}
}
@keyframes border-anim-2 {
    from {border-color: #000;}
    to {border-color: #FFF;}
}


.editor-butn span{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
    background: rgba(116,116,116,0.7) url(../images/editor-icon.png) 5px center no-repeat;
    background-size: auto 60%;
    display: block;
    color: #DDD;
    padding: 5px 7px 5px 25px;
    font-size: 12px;
    border-radius: 0 0 0 5px;
    text-align: center;
    cursor: pointer;
    pointer-events: all;
}

.editor-butn._r_b span{
    bottom: 0;
    top: auto;
    border-radius: 5px 0 0 0;
}
.editor-butn span:hover{
    background-color: rgba(116,116,116,0.9);
}
.editor-butn-parent{
    position: relative;
}
.editor-butn-parent:hover > .editor-butn, 
.editor-butn._active{
    opacity: 1;
}
.slider-one-wrap .slides li{
    position: relative;
}
.slider-one-wrap .slides li span._play-icon{
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 60px;
    width: 60px;
    margin: -30px auto 0;
    background: url(../images/play-icon.png) center center no-repeat;
    background-size: contain;
}