.slider-arrow-fake{
  position: absolute;
  top:50%;
  height: 30px;
  width: 30px;
  }
.slider-arrow-fake._left{
  left: -35px;
  background: url(../images/arrow-left.png) center center no-repeat;
}
.slider-arrow-fake._right{
  right: -35px;
  background: url(../images/arrow-right.png) center center no-repeat;
}