/*SCSS variables end*/
@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0; }
  100% {
    background-position: 468px 0; } }
body {
  font-family: "Roboto Condensed";
  font-weight: 300;
  font-size: 16px;
  color: #5c6873;
  background: #f3f3f3;
  padding-top: 80px; }
  body a {
    color: #444c53;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out; }
  body a:active, body a:hover, body a:focus {
    color: #32c5d2;
    text-decoration: none; }
  body h2 {
    color: #3f444a;
    font-size: 18px;
    margin: 15px 0; }
  body .txt-camel {
    text-transform: capitalize; }
  body .loader {
    position: absolute;
    z-index: 8;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: white url(../images/loader.gif) center center no-repeat;
    opacity: 0.5; }
  body .loader._full-page {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: none; }
  body .featured-sec-placeholder {
    margin: 30px 0; }
    body .featured-sec-placeholder ul {
      padding: 0;
      list-style: none; }
      body .featured-sec-placeholder ul li .item-wrap {
        border: 1px solid #F5F5F5; }
        body .featured-sec-placeholder ul li .item-wrap i {
          height: 150px;
          display: block;
          animation-duration: 1s;
          animation-fill-mode: forwards;
          animation-iteration-count: infinite;
          animation-name: placeHolderShimmer;
          animation-timing-function: linear;
          background: #FFF;
          background: linear-gradient(50deg, #FAFAFA 8%, #EEEEEE 18%, #FAFAFA 33%);
          background-size: 800px 100%;
          position: relative;
          border: 1px solid rgba(0, 0, 0, 0.1); }
        body .featured-sec-placeholder ul li .item-wrap h3 {
          height: 15px;
          margin: 15px 15px 10px;
          max-width: 75%;
          animation-duration: 1s;
          animation-fill-mode: forwards;
          animation-iteration-count: infinite;
          animation-name: placeHolderShimmer;
          animation-timing-function: linear;
          background: #FFF;
          background: linear-gradient(50deg, #FAFAFA 8%, #EEEEEE 18%, #FAFAFA 33%);
          background-size: 800px 100%;
          position: relative;
          border: 1px solid rgba(0, 0, 0, 0.1); }
        body .featured-sec-placeholder ul li .item-wrap p {
          height: 10px;
          margin: 10px 15px 15px;
          max-width: 50%;
          animation-duration: 1s;
          animation-fill-mode: forwards;
          animation-iteration-count: infinite;
          animation-name: placeHolderShimmer;
          animation-timing-function: linear;
          background: #FFF;
          background: linear-gradient(50deg, #FAFAFA 8%, #EEEEEE 18%, #FAFAFA 33%);
          background-size: 800px 100%;
          position: relative;
          border: 1px solid rgba(0, 0, 0, 0.1); }
  body header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 9;
    background: white;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border-top: 0px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 0px solid transparent;
    text-align: center;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out; }
    body header .logo {
      display: block;
      padding: 20px 0px 20px 0px;
      margin: 0px 0px 0px 0px;
      background-color: rgba(255, 255, 255, 0);
      transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      text-align: center;
      float: left; }
      body header .logo img {
        margin: 0 auto;
        display: block;
        height: 40px;
        width: autopx;
        transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out; }
    body header nav {
      background-color: rgba(255, 255, 255, 0);
      padding: 0px 0px 0px 0px;
      margin: 0px 0px 0px 0px;
      float: right; }
      @media screen and (max-width: 991px) {
        body header nav {
          position: fixed;
          right: -300px;
          top: 80px;
          bottom: 0;
          width: 300px;
          margin: 0;
          padding: 0;
          background: #FFF;
          overflow-y: auto;
          transition: all 0.5s ease-in-out;
          -moz-transition: all 0.5s ease-in-out;
          -webkit-transition: all 0.5s ease-in-out;
          -o-transition: all 0.5s ease-in-out; } }
      body header nav ul {
        margin: 0;
        padding: 0;
        list-style: none; }
        body header nav ul li {
          display: inline-block;
          vertical-align: middle;
          position: relative; }
          @media screen and (max-width: 991px) {
            body header nav ul li {
              display: block; } }
          body header nav ul li a {
            display: block;
            padding: 30px 15px 30px 15px;
            margin: 0px 0px 0px 0px;
            font-size: 15px;
            color: #3f444a;
            font-weight: 600;
            text-transform: uppercase;
            background-color: rgba(255, 255, 255, 0); }
            @media screen and (max-width: 991px) {
              body header nav ul li a {
                padding: 15px; } }
          body header nav ul li a:hover {
            color: #32c5d2;
            text-decoration: none; }
          body header nav ul li a._user-menu {
            padding: 0 15px; }
            body header nav ul li a._user-menu img {
              height: 60px;
              transition: all 0.3s ease-in-out;
              -moz-transition: all 0.3s ease-in-out;
              -webkit-transition: all 0.3s ease-in-out;
              -o-transition: all 0.3s ease-in-out; }
          body header nav ul li a.cart-toggle-butn {
            position: relative; }
            body header nav ul li a.cart-toggle-butn span._count {
              position: absolute;
              right: 0;
              top: 50%;
              margin: -20px 0 0 0;
              background: #32c5d2;
              color: #FFFFFF;
              height: 20px;
              width: 20px;
              border-radius: 50%;
              font-size: 12px;
              font-weight: normal;
              text-align: center;
              line-height: 20px; }
          body header nav ul li ul {
            margin: 0;
            padding: 7px 0;
            list-style: none;
            position: absolute;
            left: 0;
            top: 100%;
            background: #3a3f45;
            width: 200px;
            display: none; }
            body header nav ul li ul li {
              display: block; }
              body header nav ul li ul li a {
                display: block;
                font-size: 14px;
                color: #FFFFFFBB;
                padding: 5px 15px;
                text-decoration: none;
                font-weight: normal;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis; }
              body header nav ul li ul li a:hover {
                color: #FFFFFF;
                text-decoration: none; }
        body header nav ul li:hover > ul {
          display: block; }
        body header nav ul li.cart-menu .cart-popup {
          opacity: 0;
          pointer-events: none;
          position: absolute;
          right: -25px;
          top: 100%;
          width: 350px;
          background: #FFF;
          border: 1px solid #286090;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          border-radius: 2px;
          padding: 15px;
          transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -webkit-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out; }
          body header nav ul li.cart-menu .cart-popup ul._items-list {
            margin: 15px 0;
            padding: 5px 0;
            list-style: none;
            border-top: 1px solid #DDD;
            border-bottom: 1px solid #DDD;
            position: static;
            display: block;
            background: none;
            float: none;
            width: auto; }
            body header nav ul li.cart-menu .cart-popup ul._items-list li {
              display: block;
              padding: 10px 70px;
              margin: 0;
              position: relative;
              text-align: left;
              min-height: 70px;
              border-radius: 3px;
              transition: all 0.3s ease-in-out;
              -moz-transition: all 0.3s ease-in-out;
              -webkit-transition: all 0.3s ease-in-out;
              -o-transition: all 0.3s ease-in-out; }
              body header nav ul li.cart-menu .cart-popup ul._items-list li img._cover {
                position: absolute;
                left: 10px;
                top: 10px;
                width: 50px;
                height: 50px;
                border-radius: 50%; }
              body header nav ul li.cart-menu .cart-popup ul._items-list li a._close {
                position: absolute;
                right: 5px;
                top: 50%;
                height: 24px;
                width: 24px;
                padding: 0;
                text-align: center;
                line-height: 24px;
                margin-top: -12px;
                color: #F00;
                transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -webkit-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out; }
                body header nav ul li.cart-menu .cart-popup ul._items-list li a._close :hover {
                  opacity: 0.8; }
              body header nav ul li.cart-menu .cart-popup ul._items-list li p {
                margin: 0px;
                padding: 0;
                line-height: normal; }
                body header nav ul li.cart-menu .cart-popup ul._items-list li p a {
                  padding: 0;
                  margin: 0;
                  color: inherit; }
              body header nav ul li.cart-menu .cart-popup ul._items-list li .loader {
                background-size: contain;
                display: none; }
            body header nav ul li.cart-menu .cart-popup ul._items-list li:hover {
              background: rgba(0, 0, 0, 0.05); }
        body header nav ul li.cart-menu:hover .cart-popup {
          opacity: 1;
          pointer-events: all; }
    body header .menu-toggle-butn {
      float: right;
      cursor: pointer;
      display: block;
      width: 30px;
      position: relative;
      z-index: 10;
      margin-top: 23px; }
      @media screen and (min-width: 992px) {
        body header .menu-toggle-butn {
          display: none; } }
    body header .menu-toggle-butn span {
      margin: 15px 0; }
    body header .menu-toggle-butn:after,
    body header .menu-toggle-butn:before {
      position: absolute;
      left: 0;
      right: 0; }
    body header .menu-toggle-butn:before {
      top: 6px; }
    body header .menu-toggle-butn:after {
      bottom: 6px; }
    body header .menu-toggle-butn span,
    body header .menu-toggle-butn:after,
    body header .menu-toggle-butn:before {
      content: '';
      display: block;
      background-color: #555;
      height: 3px;
      border-radius: 2px; }
    body header .menu-toggle-butn:hover span,
    body header .menu-toggle-butn:hover:after,
    body header .menu-toggle-butn:hover:before {
      background: #0cb9f3; }
    body header .container {
      position: relative; }
  body header._scrolled {
    border-bottom: 1px solid #D1D1D1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); }
    body header._scrolled .logo {
      padding: 5px 0 !important; }
      body header._scrolled .logo img {
        height: 30px; }
    body header._scrolled nav ul li a {
      padding: 9px 15px; }
    body header._scrolled nav ul li a._user-menu {
      padding: 2px 15px; }
      body header._scrolled nav ul li a._user-menu img {
        height: 35px; }
    body header._scrolled .menu-toggle-butn {
      margin-top: 3px; }
  body .carousel-control._rounded {
    top: 50%;
    bottom: auto;
    height: 46px;
    width: 46px;
    margin-top: -12.5px;
    text-align: center;
    background: center center no-repeat;
    background-size: 50%;
    border-radius: 50%; }
  body .carousel-control._rounded:hover {
    background-color: rgba(0, 0, 0, 0.5); }
  body .carousel-control._rounded.left {
    background-image: url(../images/left-arrow.png); }
  body .carousel-control._rounded.right {
    background-image: url(../images/right-arrow.png); }
  body .content {
    padding: 20px 0;
    min-height: 400px; }
  body .content._no-gap-top {
    padding: 0 0 20px; }
  body .featured-sec-wrap {
    transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    opacity: 1; }
  body .featured-sec-wrap._init {
    opacity: 0; }
  body .item-list {
    padding: 0;
    list-style: none; }
    body .item-list li .item-wrap {
      background-color: #FFFFFF;
      border: 1px solid rgba(0, 0, 0, 0.15);
      box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
      margin: 15px 0;
      position: relative; }
      body .item-list li .item-wrap .item-cover {
        float: left;
        width: 100%;
        position: relative;
        text-align: center;
        overflow: hidden; }
        body .item-list li .item-wrap .item-cover img._cover {
          display: block;
          max-width: 100%;
          margin: 0 auto;
          transition: all 0.6s ease-in-out;
          -moz-transition: all 0.6s ease-in-out;
          -webkit-transition: all 0.6s ease-in-out;
          -o-transition: all 0.6s ease-in-out; }
        body .item-list li .item-wrap .item-cover .cover-overlay {
          position: absolute;
          z-index: 1;
          left: 0;
          top: 0;
          right: 0;
          height: 100%;
          opacity: 0;
          background: rgba(0, 0, 0, 0.5);
          transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -webkit-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out; }
          body .item-list li .item-wrap .item-cover .cover-overlay a.playbtn, body .item-list li .item-wrap .item-cover .cover-overlay a.playaudio {
            display: inline-block;
            vertical-align: middle;
            padding: 0px 15px;
            color: #FFF;
            line-height: 40px;
            height: 40px;
            border: 1px solid #32c5d2;
            font-weight: 600;
            transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out; }
          body .item-list li .item-wrap .item-cover .cover-overlay a.playbtn:hover, body .item-list li .item-wrap .item-cover .cover-overlay a.playaudio:hover {
            background: #32c5d2;
            text-decoration: none; }
          body .item-list li .item-wrap .item-cover .cover-overlay a.butn-ordernow {
            position: absolute;
            left: 9px;
            bottom: 0px;
            border: 1px solid #FFF;
            border-radius: 20px;
            color: #FFF;
            padding: 5px 10px;
            text-transform: uppercase;
            font-size: 14px;
            font-family: arial;
            letter-spacing: 1px;
            transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out; }
          body .item-list li .item-wrap .item-cover .cover-overlay a.butn-ordernow:hover {
            background-color: #FFF;
            color: #ec7100; }
          body .item-list li .item-wrap .item-cover .cover-overlay a.butn-ad2cart {
            position: absolute;
            right: 10px;
            bottom: 0px;
            height: 32px;
            width: 32px;
            text-align: center;
            color: #FFF;
            background: #ec7100 url(../images/cart-icon.png) center center no-repeat;
            background-size: 18px auto;
            border-radius: 50%;
            transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out; }
          body .item-list li .item-wrap .item-cover .cover-overlay a.butn-ad2cart:hover {
            background-color: #32c5d2; }
        body .item-list li .item-wrap .item-cover .cover-overlay:hover a.butn-ordernow,
        body .item-list li .item-wrap .item-cover .cover-overlay:hover a.butn-ad2cart {
          bottom: 10px; }
        body .item-list li .item-wrap .item-cover :before {
          display: inline-block;
          content: '';
          vertical-align: middle;
          height: 100%; }
        body .item-list li .item-wrap .item-cover div._stock-out-txt {
          display: none;
          position: absolute;
          z-index: 2;
          bottom: 0px;
          right: 0px;
          background: rgba(20, 20, 20, 0.7);
          padding: 5px 15px;
          margin: 15px;
          color: #FFF;
          font-weight: bold;
          font-size: 16px;
          text-align: center;
          border-radius: 20px; }
      body .item-list li .item-wrap .item-info,
      body .item-list li .item-wrap div._meta-data {
        float: left;
        width: 100%;
        margin: 3px 0;
        padding: 0 15px;
        text-align: left; }
        body .item-list li .item-wrap .item-info a,
        body .item-list li .item-wrap div._meta-data a {
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          color: inherit; }
      body .item-list li .item-wrap .item-info._bold,
      body .item-list li .item-wrap div._meta-data._bold {
        font-weight: bold; }
        body .item-list li .item-wrap .item-info._bold *,
        body .item-list li .item-wrap div._meta-data._bold * {
          font-weight: bold; }
      body .item-list li .item-wrap .item-info._txt-right,
      body .item-list li .item-wrap div._meta-data._txt-right {
        text-align: right; }
      body .item-list li .item-wrap .item-info._txt-center,
      body .item-list li .item-wrap div._meta-data._txt-center {
        text-align: center; }
      body .item-list li .item-wrap .item-info._col-1b2,
      body .item-list li .item-wrap div._meta-data._col-1b2 {
        width: 50%; }
      body .item-list li .item-wrap .item-info._col-1b3,
      body .item-list li .item-wrap div._meta-data._col-1b3 {
        width: 33.333%; }
      body .item-list li .item-wrap .item-info._col-2b3,
      body .item-list li .item-wrap div._meta-data._col-2b3 {
        width: 66.666%; }
      body .item-list li .item-wrap .item-info._sline,
      body .item-list li .item-wrap div._meta-data._sline {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      body .item-list li .item-wrap .delete-fab {
        position: absolute;
        z-index: 2;
        right: 0;
        top: 0;
        background: rgba(255, 255, 255, 0.7);
        height: 25px;
        width: 25px;
        border-radius: 0 0 0 25px;
        padding: 0px 3px 0 0;
        text-align: right;
        transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out; }
      body .item-list li .item-wrap .delete-fab:hover {
        background: #FFF; }
      body .item-list li .item-wrap .loader {
        display: none; }
    body .item-list li .item-wrap._stock-out {
      background-color: #F5F5F5;
      box-shadow: none; }
      body .item-list li .item-wrap._stock-out .item-cover .cover-overlay a.playbtn {
        border-color: #909090; }
      body .item-list li .item-wrap._stock-out .item-cover .cover-overlay a.playbtn:hover {
        background-color: #909090; }
      body .item-list li .item-wrap._stock-out .item-cover img._cover {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%); }
      body .item-list li .item-wrap._stock-out div._stock-out-txt {
        display: block; }
      body .item-list li .item-wrap._stock-out .item-info,
      body .item-list li .item-wrap._stock-out div._meta-data {
        color: #777 !important; }
    body .item-list li .item-wrap:after {
      content: '';
      display: block;
      clear: both;
      height: 0;
      visibility: hidden; }
    body .item-list li .item-cover:hover .cover-overlay {
      opacity: 1; }
    body .item-list li .item-cover:hover img._cover {
      -webkit-filter: blur(3px);
      /* Safari */
      filter: blur(3px); }
  body .tracklist-episode-wrap .tracklist-episode {
    margin: 25px 0;
    min-height: 100px; }
    body .tracklist-episode-wrap .tracklist-episode .item-list {
      margin: 0;
      padding: 0;
      list-style: none; }
      body .tracklist-episode-wrap .tracklist-episode .item-list > li {
        display: block;
        border-bottom: 1px solid #DDD;
        padding: 3px 45px 3px 60px;
        margin: 5px 0;
        position: relative; }
        body .tracklist-episode-wrap .tracklist-episode .item-list > li a.track-cover {
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          float: left;
          height: 50px;
          width: 50px;
          border-radius: 50%;
          background: #AAA center center no-repeat;
          background-size: cover;
          color: #FFF;
          overflow: hidden; }
          body .tracklist-episode-wrap .tracklist-episode .item-list > li a.track-cover span, body .tracklist-episode-wrap .tracklist-episode .item-list > li a.track-cover i {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            line-height: 50px;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            background: rgba(0, 0, 0, 0.2);
            transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out; }
          body .tracklist-episode-wrap .tracklist-episode .item-list > li a.track-cover i {
            opacity: 0; }
        body .tracklist-episode-wrap .tracklist-episode .item-list > li a.track-cover:hover i {
          opacity: 1;
          background: rgba(0, 0, 0, 0.5); }
        body .tracklist-episode-wrap .tracklist-episode .item-list > li h4 {
          margin: 0;
          padding: 0;
          font-size: 16px;
          line-height: 50px; }
        body .tracklist-episode-wrap .tracklist-episode .item-list > li p {
          margin: 0;
          padding: 0;
          line-height: 50px;
          font-size: 14px;
          color: #999;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
        body .tracklist-episode-wrap .tracklist-episode .item-list > li .track-duration {
          line-height: 50px;
          font-size: 14px;
          color: #999; }
        @media screen and (max-width: 767px) {
          body .tracklist-episode-wrap .tracklist-episode .item-list > li h4, body .tracklist-episode-wrap .tracklist-episode .item-list > li p, body .tracklist-episode-wrap .tracklist-episode .item-list > li .track-duration {
            line-height: normal; } }
        body .tracklist-episode-wrap .tracklist-episode .item-list > li .track-opts {
          position: absolute;
          right: 15px;
          top: 19px; }
          body .tracklist-episode-wrap .tracklist-episode .item-list > li .track-opts i {
            color: #32c5d2;
            font-size: 20px;
            cursor: pointer; }
          body .tracklist-episode-wrap .tracklist-episode .item-list > li .track-opts ul {
            margin: 0;
            padding: 10px;
            position: absolute;
            z-index: 1;
            opacity: 0;
            right: -15px;
            top: 100%;
            background: #FFF;
            border-radius: 4px;
            border: 1px solid #DDD;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            list-style: none;
            pointer-events: none;
            transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out; }
            body .tracklist-episode-wrap .tracklist-episode .item-list > li .track-opts ul li {
              display: block;
              white-space: nowrap; }
              body .tracklist-episode-wrap .tracklist-episode .item-list > li .track-opts ul li a {
                display: block;
                padding: 3px 7px;
                font-size: 14px; }
          body .tracklist-episode-wrap .tracklist-episode .item-list > li .track-opts ul:before {
            content: '';
            display: block;
            position: absolute;
            right: 12px;
            top: -20px;
            border: 10px solid transparent;
            border-bottom-color: #FFF; }
        body .tracklist-episode-wrap .tracklist-episode .item-list > li .track-opts:hover i {
          color: #5c6873; }
        body .tracklist-episode-wrap .tracklist-episode .item-list > li .track-opts:hover ul {
          pointer-events: all;
          opacity: 1; }
      body .tracklist-episode-wrap .tracklist-episode .item-list li:hover a i {
        opacity: 0.7;
        background: rgba(0, 0, 0, 0.5); }
      body .tracklist-episode-wrap .tracklist-episode .item-list li:hover a span {
        opacity: 0; }
  body footer {
    background: #242729;
    padding: 20px 0px 20px 0px;
    margin: 20px 0px 0px 0px;
    border-top: 0px solid white;
    border-right: 0px solid white;
    border-bottom: 0px solid white;
    border-left: 0px solid white;
    color: #FFFFFF; }
    body footer .footer-logo {
      height: 40px;
      width: auto; }
    body footer .footer-menu {
      margin: 0 0 10px;
      padding: 0 0 0 20px;
      list-style: none; }
      body footer .footer-menu li a {
        color: #848d95;
        font-size: 12px;
        line-break: 20px; }
      body footer .footer-menu li :hover {
        text-decoration: none;
        color: white; }
    body footer .footer-social a {
      color: #FFF;
      padding: 5px;
      font-size: 20px; }
    body footer .footer-social :hover {
      color: #32c5d2; }
  body .butn-cust-1 {
    background: #0CB9F2;
    color: #FFF;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.2); }
  body .butn-cust-1:hover {
    color: #FFF;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); }
  body .form-cust-1 .form-control {
    border-radius: 0;
    border-color: #DDD; }
  body .form-cust-1 .form-control:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-color: #CCC; }
  body .form-cust-1 label {
    font-weight: normal;
    font-size: 14px; }
  body .item-detail-title {
    background: #f7fafb;
    text-transform: uppercase; }
    body .item-detail-title .page-breadcrumbs {
      margin: 0;
      padding: 0;
      list-style: none;
      float: right; }
      body .item-detail-title .page-breadcrumbs li {
        margin: 0 3px;
        padding: 0;
        display: inline-block;
        vertical-align: middle; }
        body .item-detail-title .page-breadcrumbs li a, body .item-detail-title .page-breadcrumbs li span {
          display: block;
          border-radius: 15px;
          color: rgba(255, 255, 255, 0.8);
          font-size: 14px;
          padding: 5px 10px; }
        body .item-detail-title .page-breadcrumbs li a {
          background: #32c5d2; }
        body .item-detail-title .page-breadcrumbs li a:hover {
          background: #23949e; }
        body .item-detail-title .page-breadcrumbs li span {
          background: #999;
          cursor: default; }
  body .spacer {
    clear: both; }
  body .spacer._50 {
    height: 50px; }
  body .spacer._30 {
    height: 30px; }
  body .product-meta-data h3 {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0px;
    padding: 0 0 8px;
    position: relative; }
  body .product-meta-data h3:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: #32c5d2; }
  body .product-meta-data h4 {
    margin: 0; }
  body .product-meta-data .cast {
    padding-bottom: 10px; }
    body .product-meta-data .cast img {
      float: left;
      font-size: 14px;
      margin-right: 20px; }
  body .product-meta-data .item-detail-info._bold {
    font-weight: bold; }
    body .product-meta-data .item-detail-info._bold * {
      font-weight: bold; }
  body .product-meta-data .item-detail-info {
    margin: 0 0 10px; }
    body .product-meta-data .item-detail-info strong {
      font-size: 16px;
      color: #5c6873;
      font-weight: 700; }
  body .product-meta-data .item-detail-info._txt-right {
    text-align: right; }
  body .product-meta-data .item-detail-info._txt-center {
    text-align: center; }
  body .product-meta-data .item-detail-info._sline {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  body .product-meta-data .item-detail-info._item-poster {
    text-align: center; }
    body .product-meta-data .item-detail-info._item-poster img {
      margin: 0 auto; }
  body .btn {
    border-radius: 2px;
    border: none; }
  body .btn-primary {
    background: #32c5d2;
    color: #FFF; }
  body .btn-accent {
    background: #fc0065;
    color: #FFF; }
  body .txt-link {
    text-decoration: none;
    color: #333; }
  body .txt-link:hover {
    color: #32c5d2; }
  body .txt-accent {
    color: #fc0065; }
  body .play-btn-wrap {
    padding: 0; }
    body .play-btn-wrap .playbtn {
      display: block;
      padding: 6px 12px;
      color: inherit; }
  body .item-list-single {
    margin: 0;
    padding: 0;
    list-style: none; }
    body .item-list-single li {
      position: relative;
      margin-bottom: 15px; }
      body .item-list-single li .item-bg {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: center center no-repeat;
        background-size: cover;
        opacity: 0.15; }
      body .item-list-single li .item-wrap {
        position: relative;
        z-index: 2;
        padding: 90px 100px; }
        body .item-list-single li .item-wrap .item-poster {
          width: 50%;
          float: left;
          text-align: center;
          padding: 45px 30px; }
          body .item-list-single li .item-wrap .item-poster img {
            display: block;
            margin: 0 auto;
            max-width: 95%;
            border-radius: 2px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
        body .item-list-single li .item-wrap .item-info {
          width: 50%;
          float: left;
          padding: 15px; }
          body .item-list-single li .item-wrap .item-info h4 {
            margin: 0 0 15px;
            padding: 5px 0 5px 10px;
            font-size: 25px;
            border-left: 2px solid #32c5d2; }
          body .item-list-single li .item-wrap .item-info p {
            margin: 0 0 15px;
            padding: 0px;
            font-size: 16px;
            color: #222; }
          body .item-list-single li .item-wrap .item-info .play-butn-wrap a {
            display: inline-block;
            padding: 7px 15px;
            margin: 0px 0;
            color: #FFF;
            font-weight: bold;
            box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
            background: #32c5d2;
            opacity: 0.8;
            transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out; }
          body .item-list-single li .item-wrap .item-info .play-butn-wrap a:hover {
            opacity: 1; }
          body .item-list-single li .item-wrap .item-info div._meta-data {
            float: left;
            width: 100%;
            margin: 3px 0;
            padding: 0 15px;
            text-align: left; }
            body .item-list-single li .item-wrap .item-info div._meta-data a:not(.btn, .playbtn, .playaudio) {
              display: block;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              color: inherit; }
          body .item-list-single li .item-wrap .item-info div._meta-data._bold {
            font-weight: bold; }
            body .item-list-single li .item-wrap .item-info div._meta-data._bold * {
              font-weight: bold; }
          body .item-list-single li .item-wrap .item-info div._meta-data._txt-right {
            text-align: right; }
          body .item-list-single li .item-wrap .item-info div._meta-data._txt-center {
            text-align: center; }
          body .item-list-single li .item-wrap .item-info div._meta-data._col-1b2 {
            width: 50%; }
          body .item-list-single li .item-wrap .item-info div._meta-data._col-1b3 {
            width: 33.333%; }
          body .item-list-single li .item-wrap .item-info div._meta-data._col-2b3 {
            width: 66.666%; }
          body .item-list-single li .item-wrap .item-info div._meta-data._sline {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis; }
    body .item-list-single .slick-prev {
      left: 20px; }
    body .item-list-single .slick-next {
      right: 20px; }
  body .spacer_10 {
    height: 10px;
    clear: both; }
  body .plan-list {
    margin: 15px 0; }
    body .plan-list .plan-box {
      border: 1px solid #DDD;
      background: #FFF;
      border-radius: 5px;
      cursor: pointer;
      text-align: center;
      position: relative; }
      body .plan-list .plan-box h3 {
        font-size: 16px;
        margin: 0;
        padding: 15px 0;
        border-bottom: 1px solid #DDD;
        color: #999; }
      body .plan-list .plan-box span._tick {
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        margin: 5px;
        background: #32c5d2;
        color: #FFF;
        font-size: 18px;
        line-height: 32px;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out; }
      body .plan-list .plan-box span._tick._show {
        opacity: 1; }
    body .plan-list .plan-box:hover span._tick,
    body .plan-list .plan-box.choosen span._tick {
      opacity: 1; }
  body .blog-item {
    margin: 15px 0;
    background: #FFF;
    border: 1px solid #DDD;
    padding: 15px;
    border-radius: 2px; }
    body .blog-item h3 {
      font-size: 18px;
      font-weight: normal;
      margin: 0;
      padding: 0; }
    body .blog-item h4 {
      font-size: 16px;
      font-weight: normal; }
    body .blog-item p img {
      float: left;
      margin: 0 15px 15px 0;
      max-width: 100%; }
    body .blog-item p a {
      color: #32c5d2; }
  body .qty-spinner {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    margin: 15px 0; }
    body .qty-spinner input._fld {
      display: inline-block;
      vertical-align: middle;
      width: 100px;
      border-radius: 20px;
      box-shadow: none;
      border: 1px solid #DDD;
      text-align: center; }
    body .qty-spinner button._btn {
      border: none;
      border-radius: 50%; }
  body .cart-table {
    margin: 35px 0; }
    body .cart-table .cart-table-title {
      font-weight: bold;
      border-bottom: 2px solid #CCC;
      padding: 5px 0; }
    body .cart-table .cart-table-data {
      margin-top: 15px;
      margin-bottom: 15px; }
      body .cart-table .cart-table-data img._prod-img {
        float: left;
        border: 5px solid #FFF;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
        border-radius: 2px;
        margin-right: 15px; }
      body .cart-table .cart-table-data h3 {
        margin: 10px 0 5px;
        font-size: 18px; }
      body .cart-table .cart-table-data h4 {
        font-weight: normal;
        margin: 0;
        padding: 0;
        font-size: 15px; }
      body .cart-table .cart-table-data .qty-spinner {
        margin: 38px 0; }
      body .cart-table .cart-table-data p {
        margin: 0;
        padding: 0;
        line-height: 110px; }
      body .cart-table .cart-table-data a._remove-item {
        font-size: 25px;
        color: #F55;
        transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out; }
        body .cart-table .cart-table-data a._remove-item :hover {
          opacity: 0.8; }
    body .cart-table .cart-bottom {
      padding: 25px 0;
      border-top: 1px solid #CCC; }
      body .cart-table .cart-bottom .coupon-fld {
        display: inline-block;
        background: #32c5d2;
        padding: 5px;
        border-radius: 3px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
        white-space: nowrap; }
        body .cart-table .cart-bottom .coupon-fld input._fld {
          display: inline-block;
          vertical-align: middle;
          border: none;
          width: 200px;
          border-radius: 0;
          background: rgba(255, 255, 255, 0.2);
          color: #000; }
        body .cart-table .cart-bottom .coupon-fld a._btn {
          display: inline-block;
          vertical-align: middle;
          color: #FFF;
          font-size: 22px;
          margin: 0 5px 0 10px;
          line-height: 34px;
          transition: all 0.3 ease-in-out;
          -moz-transition: all 0.3 ease-in-out;
          -webkit-transition: all 0.3 ease-in-out;
          -o-transition: all 0.3 ease-in-out; }
          body .cart-table .cart-bottom .coupon-fld a._btn :hover {
            opacity: 0.8; }
      body .cart-table .cart-bottom div._total-price-box {
        text-align: right;
        font-size: 18px; }
  body .savedad-dress {
    list-style: none;
    padding: 0; }
    body .savedad-dress li div._data-wrap {
      margin: 15px 0;
      border: 1px solid #DDD;
      background: #FFF;
      padding: 15px;
      border-radius: 2px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }
      body .savedad-dress li div._data-wrap > a {
        display: block;
        margin-bottom: 5px; }
        body .savedad-dress li div._data-wrap > a h2 {
          margin: 0px 0 7px; }

body._nav-on header nav {
  right: 0;
  box-shadow: 0 0 100px black; }
body._nav-on header .menu-toggle-butn span,
body._nav-on header .menu-toggle-butn:after,
body._nav-on header .menu-toggle-butn:before {
  background: #0cb9f3; }
body._nav-on header .menu-toggle-butn:after,
body._nav-on header .menu-toggle-butn:before {
  left: -10px;
  right: 5px; }

body.style_3._home {
  padding-top: 0; }
  body.style_3._home header {
    background: none;
    border: none; }
  body.style_3._home header._scrolled {
    background-color: white;
    border-top: 0px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 0px solid transparent; }
    @media screen and (max-width: 991px) {
      body.style_3._home header._scrolled {
        top: 40px; } }

/*# sourceMappingURL=default.css.map */
