<style>
.banner_button:hover{
    background: #28A8B5 none repeat scroll 0 0;
    border: 4px solid #28A8B5;
    bottom: 50px;
    color: #fff !important;
    font-weight: 500;
    padding: 10px 25px;
    position: absolute;
    right: 100px;
    z-index: 999;
}
</style>
<!-- BEGIN: LAYOUT/SLIDERS/SHOP-REVO-SLIDER-1 -->
<!-- BEGIN: REVOLUTION SLIDER 2 -->
{foreach from=$banner_sections|json_decode item=banner_section}
<section class="c-layout-revo-slider c-layout-revo-slider-13">
    <div class="tp-banner-container">
        <div class="tp-banner rev_slider" data-version="5.0">
            <ul>
                {foreach from=$banner_section->banners key=counter item=banner} 
                {$banner_text=$banner->banner_text}
                {$banner_join_btn=$banner->join_btn}
                {$url_text=$banner->url_text}
                <!--BEGIN: SLIDE #1 -->
                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000">
                    {if $url_text !='' }<a href="{$url_text}">{/if}
                    <img alt="" src="{$banner->banner_full_path}" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                    {if $url_text !=''}</a>{/if}
                    <!--BEGIN: MAIN TITLE -->
                    {if $banner_text !=''}
                    <div class="tp-caption customin customout tp-resizeme" data-x="center" data-y="center" data-hoffset="385" data-voffset="-200" data-speed="500" data-start="1000" data-transform_in="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:500;e:Back.easeInOut;"
                    data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:600;e:Back.easeInOut;" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                    data-endspeed="600">
                        <h3 class="c-main-title c-font-bold c-font-uppercase c-theme-font c-summer">{$banner_text}</h3>
                    </div>
                    {/if}
                    <div>
                        <a href="/shop" class="banner_button">{$this->Language['visit_shop']}</a>
                    </div>                 
                </li>
                <!--END -->
                {/foreach}
            </ul>
        </div>
    </div>
</section>
{/foreach}
<!-- END: LAYOUT/SLIDERS/SHOP-REVO-SLIDER-1 -->