 
{if $plans|@count > 0}
    <h3 class="capitalize bold-600 pink">Select Your Plan</h3>
    {foreach from=$plans key=counter item=plan}
        {if $counter == 0}
        <input name="data[plan_id]" type="hidden" id="plan_id" value="{$plan->id}" required />
        <input name="data[currency_id]" type="hidden" id="currency_id" value="{$plan->currency_id}" required />{/if}
        <div class="col-md-3 top20"> 
                 {$price = $plan->price}
        {$currency_id = $plan->currency_id}
            <div class="billed-box planbox plan-box" id="membership-plan_{$plan->id}" data-id="{$plan->id}">
                <div class="tick-icon" style="display: block;"></div>
                <h3>{$plan->name}</h3>
                <p>{$plan->short_desc}</p>
                <hr />
                <h4>Only <span class="bold-green">{Yii::app()->common->formatPrice($price,$currency_id)}</span> per {$plan->frequency}" "{$plan->recurrence} {if $plan->frequency > 1}(s){/if}</h4>
                <p class="bold-green">&nbsp;
                    {if $plan->trial_period > 0}
                    {$plan->trial_period} {$plan->trial_recurrence} (s) FREE!    
                    {/if}
                </p>
            </div>
        </div>                
    {/foreach}
{/if}
<div class="clearfix"></div>