{assign var="cropDimesion" value=Yii::app()->common->getPgDimension()}
<div class="container">                
    <div class="c-layout-sidebar-content ">
        <div class="row">
            {foreach from=$contents|json_decode item=content}
            {if isset($content->sale_price)}  
                {include '../shop/singleitem.html'}
            {else}
            <div class="col-md-3 col-sm-6 c-margin-b-20">
                <div class="c-content-product-2 c-bg-white">
                    <div class="c-content-overlay">
                        <div class="c-overlay-wrapper">
                            <div class="c-overlay-content">
                                <a class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square" href="{$content->permalink}">{$this->Language['explore']}</a>
                            </div>
                        </div>
                        <div style="height: {$cropDimesion['height']}px; background-image: url('{$content->poster}');background-size: {$cropDimesion['width']}px {$cropDimesion['height']}px;" data-height="height" class="c-bg-img-center c-overlay-object"></div>
                    </div>
                    <div class="c-info">
                        <p class="c-title c-font-16 c-font-slim" style="min-height: 47px;">
                            <a href="{$content->permalink}">
                            {if $content->title|count_characters > 30}
                            {$content->title|substr:0:30|utf8_decode}
                            {else}
                            {$content->title|utf8_decode}
                            {/if}
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            {/if}
            {/foreach}
        </div>
    </div>
</div>