{$kvs = $kvs|json_decode}
{assign var=num value=0}
{assign var=val value=0}
{assign var=cnn value=0}
<input type='hidden' value="{$total_items}" class="episode_total">
{foreach from=$kvs item=data}
{assign var=ccc value=$ccc+1}
{$casts = $data->casts}
{$audio_duration_full = $data->video_duration}
{$audio_duration = ":"|explode:$audio_duration_full}
{$user_id=Yii::app()->user->id}
<div class="track-list">
    <div class="track-item" data-id="{$data->movie_stream_id}" data-index="{$val++}">
        <div class="left-grid">
			{if $data->is_converted == 1}		
			<a href="javascript:void(0);" class="audioPlay" data-index="{$num++}" data-playlist_id="{$playlist_id}" data-user_id="0" data-id="{if $data->is_episode == 0}{$data->movie_id}{else}{$data->movie_stream_id}{/if}">
			{/if}
            <span class="index c-white">{$ccc}</span>

               {if $data->is_converted == 1}	 <span class="play-icon">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-201 40 467 467" width="30">
                        <g>
                            <circle class="st0" cx="34" cy="274.1" r="227"></circle>
                            <circle class="st1" cx="34" cy="274.1" r="220"></circle>
                            <g class="st2">
                                <path class="st3" d="M123.7,269.9L-5.2,195.5c-3.3-1.9-7.3-1.9-10.6,0s-5.3,5.4-5.3,9.2v148.8c0,3.8,2,7.3,5.3,9.2
                                      c1.6,1,3.5,1.4,5.3,1.4s3.6-0.5,5.3-1.4l128.9-74.4c3.3-1.9,5.3-5.4,5.3-9.2S127,271.8,123.7,269.9z"></path>
                            </g>
                        </g>
                    </svg>
                </span>
          
            <span class="pause-icon">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-191 46 465 467" style="enable-background:new -191 46 465 467;" xml:space="preserve">
                                       
                                        <circle class="p-st0" cx="42.2" cy="280" r="227"/>
                                        <circle class="st1" cx="42.2" cy="280" r="220"/>
                                        <g>
                                            <path class="p-st2" d="M24.3,332.6c0,11.3-9.1,20.4-20.4,20.4l0,0c-11.3,0-20.4-9.1-20.4-20.4V227c0-11.3,9.1-20.4,20.4-20.4l0,0
                                                c11.3,0,20.4,9.1,20.4,20.4V332.6z"/>
                                            <path class="p-st2" d="M100.9,332.6c0,11.3-9.1,20.4-20.4,20.4l0,0c-11.3,0-20.4-9.1-20.4-20.4V227c0-11.3,9.1-20.4,20.4-20.4l0,0
                                                c11.3,0,20.4,9.1,20.4,20.4V332.6z"/>
                                        </g>
                                        </svg>
            </span>
					</a>{/if}

        </div>

        <div class="middle-grid">
			{if $data->is_converted == 1}
				<a href="javascript:void(0);" class="audioPlay" data-index="{$cnn++}" data-playlist_id="{$playlist_id}" data-user_id="0" data-id="{if $data->is_episode == 0}{$data->movie_id}{else}{$data->movie_stream_id}{/if}">
			{/if}

            <span class="title{if $casts|@count == 0} top-12{/if}">{$data->content_title|utf8_decode}</span>
            <span class="meta-info c-white">{foreach from=$casts key=counter item=cast}{$cast_count=$cast|@count}{$j=0}{foreach from=$cast key=counter item=castitem}{$castitem->celeb_name}{$j = $j+1}{if $j != $cast_count}, {/if}{/foreach}{/foreach}</span>
				{if $data->is_converted == 1}	</a> {/if}

        </div>
        <div class="right-grid">
            {if $audio_duration_full != ''}<span class="time text-right c-white">{if $audio_duration[0]|intval > 0} {$audio_duration_full}  {else} {$audio_duration[1]}:{$audio_duration[2]} {/if}</span>{/if}
{if $this->add_to_playlist != 0 || $this->add_to_queue != 0}					
<span class="dot-menu">	
						<div class="dropup">
							<div class="dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<img src="{$this->siteurl}{$Yii->theme->baseUrl}/images/Icons/more.png">
        </div>
							<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu3">
								{if $this->add_to_playlist != 0}<li><a href="javascript:void(0);" class="c-white addToPlay" data-content_id="{$data->movie_stream_id}" data-user_id="{$user_id}" data-is_episode="{$data->is_episode}">{$this->Language['add_to_playlist']}</a></li>{/if}
								{if $this->add_to_queue != 0}<li><a href="javascript:void(0);" class="c-white addToQue" data-id="{$data->movie_stream_id}"  data-is_episode="{$data->is_episode}">{$this->Language['add_to_queue']}</a></li>{/if}
							</ul>
						</div></span>{/if}
				</div>
        <div class="clearfix"></div>
    </div>
</div>   

{/foreach}
