
<script>
	var muviWaterMarkTrailer = "{$waterMarkOnPlayer}";
</script>

{$content = $playlist_data|json_decode}
	<input type="hidden" value="{$content->id}" id="p_id">
	<input type="hidden" value="{$count_list}"  id="total">

		{$pageUrl = Yii::app()->request->url}
		{$user_id=Yii::app()->user->id}
		<input class="playlist_user_id" value="{$user_id}" type="hidden">
		<div class="page-header">

			<div class="fill-header {if $content_banner != ''} if-contentBanner {else} if-contentList {/if}">
				<img src="{$playlist_poster}" alt="{$content->playlist_name|utf8_decode}">
			</div>

		</div>
		<div class="content-holder content-details">
			<div class="row art-detail">
				<div class="col-sm-4 col-lg-3">
					<div class="card">
							<figure style="background-image: url('{$this->siteurl}{$Yii->theme->baseUrl}/images/default-artwork.jpg')";>
								<img class="owl-lazy" src="{$playlist_poster}" alt="{$content->playlist_name|utf8_decode}">
									<div class="ellipse__shape share playlist__share">
                                        <i class="fa fa-share-alt"></i>
                                        <div class="share_text">
                                            <span class="share__this">
												<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={$this->siteurl}{$pageUrl}" data-title="Facebook Share"><i class="fa fa-facebook-square" aria-hidden="true" title="Share in facebook"></i></a>
                                                <a target="_blank" href="https://twitter.com/intent/tweet?text={$this->siteurl}{$pageUrl}" data-title="Share on Twitter">  <i class="fa fa-twitter-square" aria-hidden="true" title="Share in Twitter"></i></a>
                                            </span>
                                        </div>
                                    </div>
							</figure>
					</div>
				</div>
				<div class="col-sm-8 col-lg-8">
					<h2>{$content->playlist_name|utf8_decode}</h2>
					<p><span class="tracks"></span></p>

					<p class="hidden-sm hidden-xs">&nbsp;</p>

					{if $count_list > 0}<div class="playPlaylist btn as-btn-accent as-btn-md hide" data-playlist_id="{$content->id}" data-playlist_name="{$content->playlist_name}" data-user_id="0" data-index="0">{$this->Language['play_all']} </div>{/if}

				</div>
			</div>
			<input type="hidden" name="playlist_id" id="playlist_id" value="{$content->id}" />
			<input type="hidden" id ="playlist_name" value="{$content->playlist_name}">
				<input type="hidden" name="user_id" id="user_id" value="0" />
				<section>
					<div class="load-episode load1 loader_episode">
						<div class="loader-player">Loading...</div>
					</div>
					<div class="row">
						<div class="col-md-10">
							<div id="playlist"></div>
						</div></div></section>
		</div>
		<script type="text/javascript" src="{$this->siteurl}/common/js/fancybox.js"></script>
		<link rel="stylesheet" href="{$this->siteurl}/common/css/fancybox.css" type="text/css" media="screen" />
		<script type="text/javascript" src="{$this->siteurl}/common/rating/bootstrap-rating.js"></script>
		<script type="text/javascript">

	var trailerUrl = '{$content->trailer_url}';
	var trailerIsConverted = '{$content->trailer_is_converted}';
	var v_logo = '{$v_logo}';
	var HTTP_ROOT = '{$this->siteurl}';
	var is_mobile = 0;
	var multipleVideoResolution = {$multipleVideo|json_encode};
	var defaultResolution = '{$defaultResolution}';
	var createSignedUrl = "{$this->siteurl}/user/getNewSignedUrlForTrailer";
	var added_fav = "{$this->Language['added_to_fav']}";
	var add_fav = "{$this->Language['add_to_fav']}";
	$(document).ready(function () {
		$('.menu_item a').removeClass('active');
		$('.wrapper').removeClass('has-not-sidebar');
		$('.videocontent').hide();
	});
		</script>
		{literal}
		<style type="text/css">
			.RDVideoHelper{display: none;}
			.videocontent{display: block;}
			video::-webkit-media-controls {
				display:none !important;
			}
			.playbtn{background:none !important;}
		</style>  
		{/literal}
		{literal}
		<script type="text/javascript">
			$(document).ready(function () {
				var user_id = $('.playlist_user_id').val();
				var total = $('#total').val();
				if (total > 0) {
					allPlaylistData();
				}
				$('.addfav').click(function () {
					var fav_status = $(this).attr('data-fav_status');
					var login_status = $(this).attr('data-login_status');
					var content_id = $(this).attr('data-content_id');
					var content_type = $(this).attr('data-content_type');
					var action = 1;
					if (login_status == 1) {
						$('.loader_episode').show();
						if ($(this).find('.fa').hasClass('fa-heart-o')) {
							$(this).find('.fa').removeClass('fa-heart-o');
							$(this).find('.fa').addClass('fa-heart');
							$('#favtext').html(JSLANGUAGE.added_to_fav);
						} else {
							$(this).find('.fa').removeClass('fa-heart');
							$(this).find('.fa').addClass('fa-heart-o');
							$('#favtext').html(JSLANGUAGE.add_to_fav);
						}
						addFavList(content_id, content_type, true, fav_status);
					} else {
						$("#loginModal").modal('show');
						var input_field = '<div id="fav_input"><input type="hidden" name="add_to_fav" id="add_to_fav" value="1" /><input type="hidden" name="content_type" id="content_type" value="' + content_type + '" /></div>';
						$("#loginModal .popup_bottom").append(input_field);
						if (content_type == 1) {
							$("#stream_id").val(content_id);
						} else {
							$("#movie_id").val(content_id);
						}
					}
				});
			});
			function addFavList(content_id, content_type, login_status, action) {
				var url = HTTP_ROOT + "/user/addtofavlist/";
				$.ajax({
					url: url,
					data: {'content_id': content_id, 'content_type': content_type, 'login_status': login_status, 'action': action},
					type: 'POST',
					headers: {"X-PJAX": "true", "X-PJAX-Container": "#main"},
					success: function (res) {
						$('.loader_episode').hide();
						$('.favourite').html('');
						if (action == 0) {
							$('.addfav').attr('data-fav_status', '1');
							$('.favourite').html('<i class="demo-icon icon-heart-empty">&#xe801;</i><span id="favtext">' + add_fav + '</span>')
						} else {
							$('.addfav').attr('data-fav_status', '0');
							$('.favourite').html('<i class="demo-icon icon-heart">&#xe800;</i><span id="favtext">' + added_fav + '</span>')
						}
					}
				});

			}
		</script>
		{/literal}
		
