body {
    font-family: 'Open Sans', Helvetica;
    font-weight: 400;
    font-size: 11pt;
    margin-top: -6px;
}

a{
    text-decoration: none;
}

a:hover,
a:hover,
a:focus {
    text-decoration: none;
}


#topbar {
    position: relative;
    z-index: 9999;
}

#topbar.home {
    margin: 0px;
    border: 0px;
    background-color:#000;
}

#home_slider {
    margin-bottom: 30px;

}

form#frm-free {
    margin: 0px;
}

#topbar.home2{
    margin: 0px;
    background: #000;
    border-bottom: 2px solid #0000FF;
    margin-top: -29px;
}

.home3{
   background-color: transparent !important;
   border-bottom: 0 !important;
}

*:focus {
    outline: none;
}

.popover-title {
    display: none;
}

.navbar .nav > li > a {
    padding: 15px 20px;
    text-shadow: none;
}



.navbar .nav > li > a.btn {
    padding: 4px 12px;
}

.navbar-form {
    margin-top: 2px;
}

.navbar .nav > li > a {
    font-size: 16pt;
    font-weight: bold;
}

.form-control:focus {
    box-shadow: 0px;
}

.nav li a {
    text-transform: uppercase;
}
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle{
 background: transparent !important;
}
.navbar .brand {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 0px;
    padding-left: 0px;
    margin-top: 6px;
}

*:focus,
a:focus {
    outline: none;
}


.form-control-width1 {
    width: 170px;
}

.form-control-width2 {
    width: 111px;
}

.form-control-width3 {
    width: 206px;
}

p {
    margin: 0px;
}

h2 {

    font-weight: 300;
}

h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h3.moviename {
    font-size: 14pt;
    font-weight: 600;
}



h4 {
    font-weight: 600;
    text-transform: uppercase;
}

h5 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14pt;
}

.btn {
    padding: 12px;
    border: 0px;
}
.Textcolor h2 {color:#333 !important;}
.Textcolor p {color:#333 !important;}
.Textcolor .confirm {
    color: #333 !important;
}
.Textcolor .cancel {
    background: #f55753 none repeat scroll 0 0 !important;
    color: #fff !important;
}
h2.caps {
    text-transform: uppercase;
    margin-top: 105px;
}

.caps {
    text-transform: uppercase;
 
}

.caps a {
    text-transform: uppercase;
    color: #333;
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', Helvetica;
}

a.large-txt {
    font-size: 16px;
    font-weight: bold;
}

.moviBox img {
    width: 270px;
    height: 153px;
}

.moviLrgBox img {
    width: 580px;
    height: 367px;
}

.muvi-lists .span3 {
    margin-bottom: 20px;
}


/*.movie-lists img{ width: 100%; height: 100%; max-width: 280px; max-height: 400px;}*/

.clear {
    clear: both;
    
}

.error {
    color: #FF0000;
}

.modal {
    display: none;
}

#register-form {
    max-width: 400px;
    margin: 0 auto 20px;
}

#register-form input[type="text"],
#register-form input[type="email"],
#register-form input[type="password"] {
    margin-bottom: 15px;
}

.center {
    text-align: center;
}

.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    background: url('../images/loading.gif') no-repeat center;
}

.header_link {
    font-size: 18px;
}


.form-signin input[type="checkbox"] {
    float: left;
}

.tbox {
    width: 96%;
}

.main-banner {
    padding-top: 249px;
}

.main-banner h2 {
    text-transform: uppercase;
    font-size: 30pt;
    
    margin-top: 0px;
}

.main-banner p {
    font-size: 18pt;
   
}


.btn-green {
    font-size: 20px;
    text-shadow: none;
    font-variant: 100;
    text-transform: uppercase;
    font-family: 'Open Sans', Helvetica
}



.btn-green-small {

    font-size: 14pt;
    text-shadow: none;
    text-transform: uppercase;
    min-width: 160px;
}



.btn-grey {
    font-size: 14pt;
    text-shadow: none;
    text-transform: uppercase;
    min-width: 160px;
}

.loginform {
    max-width: 510px;
    margin:  312px auto 62px;
}

.login-title {
    line-height:1;
    font-size:31px;
    padding-left: 40px;
    text-transform: uppercase;
    background-repeat: no-repeat;
    background-position: left center;
    background-image: url("../images/white/login-icon.png");
}

#topbar {
    margin-bottom: 20px;
}

.shows-icon {
    display: inline-block;
    height: 40px;
    line-height: 14px;
    vertical-align: text-top;
    width: 30px;
}

.movies-icon {
    display: inline-block;
    height: 40px;
    line-height: 14px;
    vertical-align: text-top;
    width: 38px;
}

.events-icon {
    display: inline-block;
    height: 42px;
    line-height: 14px;
    vertical-align: text-top;
    width: 38px;
}

footer {
    margin-top: 40px;
    font-size: 12pt;
}

.footer-logo {
    max-width: 200px;
    float: left;
    min-width: 170px;
    margin-top: 10px;
}
.copy {   margin-left: 10px;color: #00BFFF;}
.copyright {
    max-width: 600px;
    float: left;
}

.footer-poweredby {
    float: right;
    max-width: 200px;
    margin: 20px 46px 0px 0px;
}


/*14Aug Changes*/

#header-bar .container {
    padding: 25px 0px;
}

.header-bar-bg {
    height: 70px;
    padding-top: 10px;

}

.well {
    border: none;
    border-radius: 0px;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    box-shadow: none;
    border-radius: 0px;
    font-size: 13pt;
    font-weight: 300;
    padding: 8px 8px;
}

label,
input,
button,
select,
textarea {
    font-size: 13pt;
    font-weight: 300;
}

.input-append .add-on,
.input-prepend .add-on {
    padding: 8px;
    cursor: pointer;
}

input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
    box-shadow: none;
}

.input-append input:focus {
    box-shadow: none;
}



.ac-setting-icon {

    padding-left: 40px;
    text-transform: uppercase;
}

.comment-icon {
    padding-left: 40px;
    text-transform: uppercase;
}

.settings-icon {

    padding-left: 40px;
    text-transform: uppercase;
}

.plan-box {
    padding: 5px;
    text-align: center;
    position: relative;
    margin-top: 30px;
}

.choosen .choose-icon {
    background: url(../images/yellow-tick.png) no-repeat top left;
    position: absolute;
    width: 50px;
    height: 50px;
    top: -20px;
    left: -24px;
}

.plan-cost {
    font-weight: 600;
}

.plan-free {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 10pt;
}


.bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 160px;
}

.leftmar0 {
    margin-left: 0px !important;
}

.selectpicker.btn {
    border-radius: 0px !important;
    box-shadow: none;
}




.bootstrap-select.btn-group .btn .caret {
    border: 0px;
    background-position: -313px -119px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    margin-top: 1px;
    vertical-align: text-top;
    width: 14px;
    top: 30%;
}

.martop15 {
    margin-top: 15px;
}

footer {
    font-size: 10pt;
    background-color: #000;
    margin-top: 95px;
}




footer a {
    font-size: 12pt;
    font-weight: 600;
    text-decoration: none;
}

footer .navbar .nav > li > a {

    font-size: 14px;
    padding: 5px 10px;
    font-weight: normal;
}

.navbar .nav.right-nav > li > a {
    font-size: 16pt;
    font-weight: bold;
}

.navbar .nav.right-nav > li > a.dropdown-toggle {
    padding-top: 0px;
}

.navbar .nav .dropdown-toggle .caret {
    margin-top: 16px;
}

input,
button,
select,
textarea {
    font-family: 'Open Sans', Helvetica
}



/* TV shows page Start*/

@font-face {
    font-family: "OpenSans-Light";
    src: url(fonts/OpenSans-Light.ttf);
}

@font-face {
    font-family: "OpenSans-semibold";
    src: url(fonts/OpenSans-Semibold.ttf);
}

.tshow_lable {
    /* background: url("../images/tv.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    
    font-family: "OpenSans-Light";
    font-size: 26px;
    padding-left: 35px;
    padding-top: 0px;
    font-weight: normal;
    margin: -4px 0;
}

.lable-icon {
    background: url("../images/tv.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.dtext {
    /*font-family: Myriad Pro;*/
    /*font-weight:bold;*/
    font-size: 20px;
}

img {
    border: 0 none;
    height: auto;
    vertical-align: middle;
    max-width: 100%;
}

.img-tshow {
    width: 270px;
    height: 400px;
}

.img-tshow-landscape {
    width: 270px;
    height: 390px;
}



@media (min-width: 768px) and (max-width: 981px) {
    .img-tshow {
        width: 170px;
    }
    .caption {
        position: absolute;
        top: 0;
        /* right:0;*/

        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;

        width: 170px;
        height: 100%;
        padding: 0 !important;
        display: none;
        text-align: center;
      
        z-index: 2;
        opacity: 0.5
    }
}

.img-tshow2 {
    width: 580px;
    height: 400px;
}

.img-tshow3 {
    width: 270px;
    height: 166px;
}

@media (max-width: 981px) {
    .img-tshow {
        width: 170px;
    }
    .img-tshow2 {
        width: 580px;
        height: 400px;
    }
    .img-tshow3 {
        width: 270px;
        height: 166px;
    }
    element.style {
        display: none;
    }
    .thumbnail .caption {
        padding: 9px;
    }
}

@media only screen and (min-width:768px) {
    .img-tshow {
        height: 200px;
    }
}

@media only screen and (min-width:1024px) {
    .img-tshow {
        height: 400px;
    }
}


/* start of modification for 5 columns */

@media (min-width: 768px) {
    .fivecolumns .span2 {
        width: 18.297872340425532%;
        *width: 18.2234042553191494%;
    }
}

@media (min-width: 1200px) {
    .fivecolumns .span2 {
        width: 17.9487179487179488%;
        *width: 17.87424986361156592%;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .fivecolumns .span2 {
        width: 17.79005524861878448%;
        *width: 17.7155871635124022%;
    }
}


/* end of modification for 5 columns */

.tvshow_list {
    color: #999;
    padding: 10px 0;
    font-size: 18px;
}

.tvshow_list {

    padding: 0px 0;
    font-size: 17px;
}
.h-100{
    display:block;
    height:100px;
}

.h-200{
    margin-top:146px;
    margin-bottom:27px;
    font-weight:normal;
    color:#333;
}
.tvshow_list p {
    padding-top: 10px;
}

.tvshow_list .thumbnail {
    position: relative;
    padding: 0px !important;
    border-radius: 0px;
    border: none;
    box-shadow: none !important;
    width: 270px;
}

.tvshow_list .thumbnail2 {
    position: relative;
    padding: 0px !important;
    border-radius: 0px;
    border: none;
    box-shadow: none !important;
    width: 580px !important;
}

.thumbnail .caption2 {
    left: 0;
    padding: 9px;
    width: 580px;
}

.thumbnail {
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    display: block;
    line-height: 20px;
    padding: 4px;
    transition: all 0.2s ease-in-out 0s;
}


/*.thumbnail img {
	border:3px #CCC solid;

}*/

.caption2 {
    position: absolute;
    top: 0;
    right: 0;
    
    width: 100%;
    height: 100%;
    padding: 0 !important;
    display: none;
    text-align: center;
    
    z-index: 2;
    opacity: 0.5
}

.playbtn2 {
    position: absolute;
    left: 180px;
    top: 0;
    right: 0;
    bottom: 0;
    height: 103px;
    width: 103px;
    margin: auto;
}

.caption {
    position: absolute;
    top: 0;
    /* right:0;*/
    
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
   
    width: 275px;
    height: 100%;
    padding: 0 !important;
    display: none;
    text-align: center;
    
    z-index: 2;
    opacity: 0.5
}

.playbtn {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 103px;
    width: 103px;
    margin: auto;
}

.popup_content {

    left: 100%;
    position: absolute;
    top: 0px;
    width: 380px;
    min-height: 250px;
    opacity: 0.95;
    z-index: 9999;
}

.ptitle {

    font-size: 20px;
    padding: 10px;
}

.stripe {
    margin: 0 !important;
    padding: 7px;
    text-transform: capitalize;
    font-size: 20px;
}

.stripe div {
    text-padding: 5px;
}



.popup-cast {
    padding: 10px;
    font-weight: normal;
}

.cast-heading {
    font-size: 14px;
}

.cast-body a {

    font-size: 14px;
    text-decoration: underline;
    font-weight: bold;
    font-family: arial;
}

.larrow {
    position: absolute;
    left: -6%;
    top: 45%;

    height: 27px;
    width: 23px;
}

.rarrow {
    position: absolute;
    right: -6%;
    top: 45%;
    height: 27px;
    width: 23px;
}

.list-box {
    position: relative;
}

.last-div {

    right: 100%;
    position: absolute;
    top: 0%;
    width: 380px;
    min-height: 250px;
    opacity: 0.95;
    z-index: 9999;
}

.view-all-cast {
   
    font-size: 14px;
}


/* TV shows page ends */


/* Search page css starts*/



.movie_block {
    padding: 25px 10px;
}

.detail_block {
    padding-left: 20px;
    width: 80%;
}



.block_header {
    float: left;
    padding-left: 7px;
    font-size: 18px;

    font-weight: bold;
    cursor: pointer;
}



.name_header {

    font-size: 28px;
    font-weight: bold;
    float: left;
}

.banner_name_header {
    
    font-size: 28px;
    font-weight: bold;
    float: left;
    
}

.censor {
    border-radius: 5px;
    padding: 1px 8px;
    float: left;
    margin-left: 20px;
    font-weight: bold;
}

.banner_censor {

    border-radius: 5px;
    padding: 1px 8px;
    float: left;
    margin-left: 20px;
    font-weight: bold;
    text-shadow: 0 0 3px rgba(0, 0, 0, .8);
}

.rel_yr {
    
    margin-left: 20px;
    margin-top: 5px;
    float: left;
    font-weight: 300;
    font-size: 11pt;
}

.banner_rel_yr {
   
    margin-left: 20px;
    margin-top: 5px;
    float: left;
    
    font-weight: 300;
    font-size: 11pt;
}

.banner_name_header {
    font-size: 28px;
    font-weight: bold;
    text-shadow: 0 0 3px rgba(0, 0, 0, .8);
}

.sub_header {
    float: left;
    padding-left: 10px;
   
    font-size: 30px;
    font-weight: 300;
}

.top_banner {
    margin-top: -49px;
    position: absolute;
    z-index: -99;
    width: 100%;
}

.movie_block {
    padding: 0.5%;
}

.banner_movie_block {
    padding: 25% 0.7% 0% 0.7%;
}

.genre {
 
    font-size: 16px;
}

.banner_genre {
    
    font-size: 16px;
    text-shadow: 0 0 3px rgba(0, 0, 0, .8);
}

.movie_left {
    float: left;
    width: 22.5%;
}

.banner_movie_left {
    float: left;
    width: 22.5%;
    padding-left: 2%;
}

.epi_heading {
    
    font-size: 18px;
    font-weight: bold;
}



.mov_playbtn {
    position: absolute;
    left: 40%;
    top: 40%;

    background-size: 60px;
    height: 103px;
    width: 103px;
    cursor: pointer;
}

.epi_playbtn {
    position: absolute;
    left: 40%;
    top: 36%;

    background-size: 50px;
    height: 103px;
    width: 103px;
    cursor: pointer;
}

#alert-area {
   
    /*background: url('../images/cross_button.png') no-repeat;*/
    font-weight: bold;
    border: 2px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 70px;
    background-repeat: no-repeat;
    background-position: 10px center;
    width: 600px;
    left: 30%;
    position: fixed;
    z-index: 9999;
}


/* movie page css ends */

.filter-dropdown {
    padding: 5px;
    width: 200px;
    height: 35px;
    /*-webkit-appearance: none;  /*Removes default chrome and safari style*/
    /*-moz-appearance: none; /* Removes Default Firefox style*/
    text-indent: 0.01px;
    /* Removes default arrow from firefox*/
    text-overflow: "";
    /*Removes default arrow from firefox*/
    /*My custom style for fonts*/
    /*background: #FFF url(../images/dropdown_arrow.png) no-repeat 95% center;;*/
    border-radius: 0px !important;
   
    box-shadow: none;
    line-height: 23px;
}



ul.yiiPager {
    font-size: 14px;
    padding-right: 25px;
}


/* TV shows page ends */


/* Login Popup css Start */

.modal {
    width: 500px;
    left: 0;
    right: 0;
    margin: auto;
    top: 20% !important;
}

.modal [class*="span"] {
    margin: 0;
}

#loginModal.modal {
    width: 600px;
}

.orDiv {
    vertical-align: middle;
    text-align: center;
}

#loginModal .form-signin {
    padding: 20px 10px;
}

#loginModal .table {
    margin: 0;
}

#loginModal table tr td {
    border: none;
}

#loginModal .modal-body {
    padding: 0px 10px;
}

.login-popup-msg {
    position: absolute;
    top: -50px;
    margin: auto;
   
    font-weight: bolder;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 22.5px;
}

#loginModal .close-icon {
    background: url("../images/cross_button.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: right;
    height: 48px;
    position: absolute;
    right: -17px;
    top: -25px;
    width: 48px;
    cursor: pointer;
    z-index: 9999999;
}


/* Login Popup css End */

.right-nav img {
    max-height: 40px;
}


/*.homemovies .movie-lists img{width: 270px; height: 390px;}*/

.rel {
    position: relative;
}

.cvvfield {
    position: relative;
}

.cvvfield img {
    position: absolute;
    top: 5px;
    left: 120px;
}

#expMonth-error,
#expYear-error {
    position: absolute;
    top: 48px;
}
.txtwd{width:100% !important;}
.leftmar0 .control-group,
.expyr {
    position: relative;
}

.link-ylw {
    font-weight: 400;
    text-align: right;
    text-transform: uppercase;
}

.wdth45per {
    width: 45%;
}

.left {
    float: left;
}

.right {
    float: right;
    text-align: right;
}

.wdth55per {
    width: 55%;
    padding-top: 10px;
}



/* Flash Message */

.alert {
    text-shadow: none;
}

.flash-msg {
    width: 100%;
    font-size: 13pt;
}

.top_msg_bar .alert {
    margin-bottom: 0px;
    border-radius: 0px;
    padding: 13px 15px 15px;
}

.alert-success .close {
    text-shadow: none;
    opacity: 1;
}


/* Contact Us Page */

.contactus .caddr-heading {
    font-family: "OpenSans-semibold";
    font-size: 20px;
}

.contactus .contact-info {
    font-family: OpenSans-Light;
    font-size: 18px;
}

.contact-details {
    padding: 10px 0px;
}


/* Contact Us Page End*/


/* About Us page */

.aboutus,
.faq,
.privacypolicy {
    font-family: OpenSans-Light;
    font-size: 18px;
}

.ff-semibold {
    font-family: "OpenSans-semibold";
}

.privacypolicy p {
    padding: 0px 0 10px;
    line-height: 1.5;
}

.privacypolicy ul li,
ol li {
    line-height: 1.5;
}

.abt-heading,
.faq-heading {
    font-weight: normal;
    font-size: 30px;
    padding-bottom: 20px;
    margin-top:175px;
    
}

.aboutus-content p {
    padding: 12px 0px;
}


/* About Us page */


/* FAQ page */

.faq-question {
    font-family: "OpenSans-semibold";
    font-size: 18px;
    padding: 10px 0px;
}

.faq-qablock {
    padding: 10px 0px;
    ;
}


/* FAQ page end */

.martop10 {
    margin-top: 10px;
}

.row-fluid .span3.plan-box {
    min-height: 220px;
}

.row-fluid-bg {
    
    padding: 20px;
    border-radius: 4px;
    width: 100%;
}



.padlft15 {
    padding-left: 15px;
}

.slide-desc h2 {
    text-transform: uppercase;
    /*text-shadow: 1px 4px #000000;*/
    font-size: 40pt;
    font-weight: bold;
    line-height: 60px;
}

.slide-desc h1 {
    text-transform: uppercase;
    /*text-shadow: 1px 4px #000000;*/
    font-size: 32pt;
    font-weight: bold;
    line-height: 60px;
}

.slide-desc p {
    font-size: 23px;
    font-weight: 200;
}

.skdslider .slide-desc {
    bottom: 20%;
}

.navbar .nav.pull-right {
    padding-top: 7px;
}

.navbar .nav.right-nav > li > a {
    padding: 10px 15px;
}

.fltdrpdown {
    font-weight: normal;
    font-family: 'Open Sans';
    text-align: right;
    font-size: 19px;
}

.slide-desc-text {
    margin-left: 0px;
    max-width: 600px;
}

.price-bold {
    font-weight: bold;
    
}


/*.homeh2 h2{padding-left: 15px;}*/

.homeh2 h1 {
    padding-left: 15px;
}

#spinner {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
   
}


.adv_search_header {
    font-weight: bold;
    width: 200px;
    right: 0;
    position: absolute;
    font-size: 75%;
    float: right;
}

.adv_search_box {
    top: 39px;
    position: absolute;
    right: 0;
    width: 650px;
}

#filter_search {
    float: right;
    position: relative;
    z-index: 500;
}

.cast-box {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
}





.agreement-span {
    
    font-size: 12pt;
    font-weight: 600;
    padding: 5px 10px;
}

.top- {
    margin-top: -90px;
}

.special {
    height: 180px;
}

#slider1_container {
    width: auto !important;
}

#frm-free .container {
    width: 1000px;
}


/*.ovlay{background: #000; opacity: 0.6;}*/

.ovlay {
    background: url('../images/trans_bakg.png');
    margin-top: 210px;
}

ul.nolist {
    list-style: none;
    margin-left: 0px;
}



#page {
    position: relative;
    min-height: 400px;
}

.modal-body input,
.modal-body label {
    font-size: 11pt;
}

.cancellist li {
    margin-bottom: 8px;
}

.flash-msg a:hover {
    text-decoration: underline;
}


.listpos {
    position: relative;
}

.listpos2 {
    position: relative;
    height: 166px;
}

.ppv {
    background: url('../images/ppv.png') no-repeat 0px 0px;
    position: absolute;
    width: 90px;
    height: 89px;
    z-index: 99;
    top: -5px;
    right: -5px;
}

.ylw_link {
    font-weight: bold;
    text-decoration: underline;
}
.box-0 {
    margin-left: 0px !important;
}
.events .slick-slider {
    margin-bottom: 0px;
}
.details-heading h1 {
    font-size: 11pt;
    font-weight: 300;
    line-height: 20px;
}
.no_data {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14pt;
}
.heading_4 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 17.5px;
    margin: 10px 0;
    line-height: 20px;
    color: inherit;
    text-rendering: optimizelegibility;
    margin-bottom: 46px;
}


.headings_2 {
    font-weight: 400;
    font-size: 31.5px;
    line-height: 40px;
    text-transform: uppercase;
    margin: 10px 0;
    
}

@media (max-width: 768px) {
    .heading_2 {
        color: #fff;
        font-weight: 300;
        font-size: 15.5px;
        line-height: 40px;
        text-transform: uppercase;
        margin: 10px 0;
        text-rendering: optimizelegibility;
    }
}

.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}

.heading_5 {
    color: inherit;
    font-weight: 600;
    font-size: 14pt;
    line-height: 20px;
    text-transform: uppercase;
    margin: 10px 0;
    text-rendering: optimizelegibility;
}

.warning_msg {
    
    font-size: 18px;
    font-weight: bold;
}

.navbar .pull-right > li > .dropdown-menu::before,
.navbar .nav > li > .dropdown-menu.pull-right::before {
    left: auto;
    right: 12px;
}

.navbar .nav > li > .dropdown-menu::before {
    content: "";
    display: inline-block;
    left: 9px;
    position: absolute;
    top: -7px;
}

.navbar .pull-right > li > .dropdown-menu::after,
.navbar .nav > li > .dropdown-menu.pull-right::after {
    left: auto;
    right: 13px;
}



.navbar .pull-right > li > .dropdown-menu,
.navbar .nav > li > .dropdown-menu.pull-right {
    left: auto;
    right: 0;
}

.open > .dropdown-menu {
    display: block;
}

.navbar .nav > li > .dropdown-menu::after {
    content: "";
    display: inline-block;
    left: 10px;
    position: absolute;
    top: -6px;
    visibility: hidden;
}

.navbar .pull-right > li > .dropdown-menu,
.navbar .nav > li > .dropdown-menu.pull-right {
    left: auto;
    right: 0;
}

.dropdown-menu {

    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
    float: left;
    left: 0;
    list-style: outside none none;
    margin: 2px 0 0;
    min-width: 188px;
    padding: 5px 0;
    position: absolute;
    top: 100%;
    z-index: 1000;
}




.form-spacing {
    margin-bottom: 15px;
}

.billed-box {

    border-radius: 4px;
    margin: 10px;
    text-align: center;
    padding-bottom: 15px;

}

.billed-box .tick-icon {
    width: 38px;
    height: 38px;
    position: absolute;
    margin: -19px -17px 0;
}

.billed-box h3 {

    font-weight: 400;
}

.billed-box2 {

    border-radius: 4px;
    margin: 10px;
    text-align: center;
    padding-bottom: 15px;
}

.devider {
    height: 1px;
    width: 80%;
    margin: auto;
    margin-top: 15px;
}

.footer-space {
    height: 0px;
}

.bs-example {

    padding: 3px;
    border-radius: 4px;
    min-height: 80px;
}

.span12b {
    float: left;
    margin-left: -20px;
}

.nav-tab-bg {
    border-radius: 4px;
}

.row-fluid .shortby {
    margin-left: 15px;
}

.slide-row {
    opacity: 1;
    width: 100%;
    transform: translate3d(0px, 0px, 0px);
    margin-top: 51px;
}

.slide-row-box {
    width: 270px;
    margin-right: 20px;
}

.slide-row-box2 {
    width: 580px;
    margin-left: 2px;
    margin-right: 20px;
}

@media (max-width: 970px) {
    .slide-row-box2 {
        width: 270px;
        margin-left: 2px;
        margin-right: 20px;
        margin-top: 150px;
    }
}

.slide-row-box3 {
    width: 270px;
    margin-left: 2px;
    margin-right: 20px;
    height: 300px !important;
}

.cast-list ul {
    min-width: 250px;
    float: left;
    margin-left: 0px;
    
}

.cast-list ul li {
    text-decoration: none;
    display: inline;
    list-style: none;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 40px;
}

.input-xxxlarge {
   width: 76%;
   margin-bottom: -37px;
}

.post-comment {
    margin-top: 60px;
}

.cast-text {
    margin-left: 10px;
}

.cast-text2 {
    font-weight: normal;
    font-size: 12px;
    float: left;
    margin-top: -15px;
    margin-left: 55px;

}

.img-circle-top {
    margin-top: 18px;
}





@media (max-width: 1200px) {
    .input-xlarge {
        width: 120px;
    }
}

@media (max-width: 1195px) {
    .slide-row {
        opacity: 1;
        width: 1195px;
        transform: translate3d(0px, 0px, 0px);
    }
}

@media (max-width: 990px) {
    .slide-row {
        opacity: 1;
        width: 790px;
        transform: translate3d(0px, 0px, 0px);
    }
}

@media (max-width: 590px) {
    .slide-row {
        opacity: 1;
        width: 330px;
        transform: translate3d(0px, 0px, 0px);
    }
}


/*---------------------New Style Added-----------------------*/

@media (max-width: 767px) {
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"],
    .uneditable-input {
        box-shadow: none;
        border-radius: 0px;
        font-size: 13pt;
        font-weight: 300;
        padding: 18px 8px;
    }
}


/*---------------------New Style Added-----------------------*/

@media (max-width: 760px) {
    .details-thumbnail {
        margin-top: -130px;
    }
}

@media (max-width: 460px) {
    .details-thumbnail {
        
        margin-top: -200px;
    }
    .form-control-width1 {
        width: 100%;
    }
    .form-control-width2 {
        width: 100%;
    }
    .form-control-width3 {
        width: 100%;
    }
}


@media (max-width: 979px) {
        .detail_block {
        padding-left: 0px;
        width: 80%;
    }
    .block_header {
       
        cursor: pointer;
        float: left;
        font-size: 15px;
        font-weight: bold;
        padding-left: 7px;
    }
}

@media (min-width: 768px) and (max-width: 980px) {
    .tvshow_list .thumbnail {
        border: medium none;
        border-radius: 0;
        box-shadow: none !important;
        padding: 0 !important;
        position: relative;
        width: 176px;
    }
    .caption {
        position: absolute;
        top: 0;
        /* right:0;*/

        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;

        width: 176px;
        height: 100%;
        padding: 0 !important;
        display: none;
        text-align: center;
        
        z-index: 2;
        opacity: 0.5
    }
    .cast-list ul {
       
        float: left;
        margin-left: 0;
        min-width: 180px;
    }
}

.left20 {
    margin-left: 20px !important;
}
.title-section {
    width: 250px
}
.txt{width: 100%;}
.bold-green{font-weight: 600;}
.form-signin {
    margin: 65px auto;
    padding: 20px 40px;
    border: 1px solid #333;
    height: 304px;
}
.form-signin-black {
    margin: 0 auto;
    padding: 20px 40px;
}
.main-banner p span{
    font-size: 24pt;
}
.pen-icon {
    padding-left: 40px;
    text-transform: uppercase;
}
.ptext {
    font-size: 14px;
    padding: 0px 10px 10px;
    min-height: 50px;
}
.name_block {
    font-size: 20px;
    font-weight: bold;
  
}
.active_block {
    height: 34px;
}
.copy a {
    font-weight: normal;
    font-size: 14px;
}
.copy a:hover {
    text-decoration: underline;
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    white-space: nowrap;
}
.panel-heading {
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 3px 15px;
    margin-bottom: 2px;
}

@media (min-width:980px) {
 #topbar{
  position: absolute;
  width: 100%;
 }
 #slider1_container{
    position: absolute !important;
    width: 100% !important;
    top:0 !important;
    height:70vh !important;
 }
 #page {
  margin-top:-74px;
 }
 .navbar .nav > li > a{
  line-height: 42px !important;
  margin-top: 6px;
 }
 .navbar-form .input-append, .navbar-form .input-prepend {
  margin-top: -16px !important;
  white-space: nowrap;
 }
 .navbar .nav{
  max-width: 490px !important;
 }
 .navbar .nav.pull-right {
  padding-top: 0;
 }
 .navbar .nav.right-nav > li > a {
  padding: 15px 15px;
  line-height: 42px !important;
  padding-right:0;
 }
 .navbar .nav .dropdown-toggle .caret {
  margin-top: 20px;
 }
 .SliderWrapper{
     position: relative !important;
     height:70vh !important;
 }
 .span-wrapper .span3:last-child{
    margin-right: 0 !important;
}
 .row {
    margin-left: -30px;
    margin-top: 160px;
    *zoom: 1;
    margin-top: 25px;
}
.name{
   margin-top: 149px;
}
.solid{
    margin-top:35px;
}
.comment{
    margin-top: 29px;
    line-height: 27px;
}
}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}