<div class="c-layout-page">
    <div class="c-layout-breadcrumbs-1 c-subtitle c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
        <div class="container">
            <div class="c-page-title c-pull-left">
                <h3 class="c-font-uppercase c-font-sbold">{$this->Language['search_result']}</h3>
            </div>
            <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                <li>
                    <a href="/shop">{$this->Language['shop']}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container" style="padding-top: 20px;min-height: 333px;">
        <div id="content_list"></div>
        <div class="row">

            {if $item_count > 0}
                {include file='../layouts/listitem.html'}
        
            {else}
            <h1>{$this->Language['no_content_found_with_searched_keyword']}</h1>
                {/if}
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="product-pagination text-center">
                    <nav>
                        {$pagination}
                    </nav>                        
                </div>
            </div>
        </div>
    </div>
</div>