<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="feature-banner">
                <div class="overlay-img">
                    <div class="left23">
                        <div class="row">
                            <div class="col-sm-10">
                                <h1 class="center white">{$parent_name} : {$this->Language['season']} {$season}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="wrapper">
        <div id="content_list"></div>
        <div class="row list_page">
         {if $total > 0}
            {include file='../layouts/listitem.html'}
            {/if}

            <div class="loader" id="loader"></div>    
        </div>
{if $total > $page_size}
        <div class="row">
                    <div class="col-md-12">
                        <div class="product-pagination text-center">
                            <nav>
                                {$pagination}
                            </nav>                        
                        </div>
                    </div>
                </div> 
{/if}
    </div>
</div>
<script src="{$this->siteurl}/js/jquery.matchHeight.js" type="text/javascript" ></script>
<script type="text/javascript" >
$( window ).load(function() {
       $("img.play_box_img").matchHeight();
       $(".play-box").matchHeight();
       $(".movie_name_title").matchHeight();
       $(".movie_genre_title").matchHeight();
       $(".caption").matchHeight();
       $.fn.matchHeight._update();    
});

</script>