{$content = $content|json_decode}
<div class="content">
    <div class="container">
        <h2 class="txt-camel">{$content->title}</h2>
        <div>{$content->content|utf8_decode}</div>
    </div>
</div>