<script>
    var muviWaterMarkTrailer = "{$waterMarkOnPlayer}";
</script>
{$content = $item|json_decode}
{$list = $playlist_data|json_decode}
<input type="hidden" value="{$content->movie_id}" id="p_movieid">
    {$casts = $content->casts}
    {$directors = $casts->directors}
    {$actors = $casts->actors}
    {$all_series = $allseries|json_decode}
    {$release_date=$content->full_release_date}
    {$pageUrl = Yii::app()->request->url}
    {$censor_rating = $content->censor_rating|replace:'&nbsp;':''}
    {$released_by=$content->released_by}
    {$pageUrl = Yii::app()->request->url}
    {$content_banner=$content->content_banner}
	{$user_id=Yii::app()->user->id}
    <input class="playlist_user_id" value="{$user_id}" type="hidden">
    <div class="page-header">

        <div class="fill-header {if $content_banner != ''} if-contentBanner {else} if-contentList {/if}">
            {if ($content->content_banner !="")}
             <img src="{$content->content_banner}" alt="{$content->title|utf8_decode}">
                {else}
                 <img src="{$content->poster}" alt="{$content->title|utf8_decode}">
                {/if}
        </div>

    </div>
    <div class="content-holder content-details">
        <div class="row art-detail">
            <div class="col-sm-4 col-lg-3">
                <div class="card">
                        <figure style="background-image: url('{$this->siteurl}{$Yii->theme->baseUrl}/images/default-artwork.jpg')">
                            <img class="owl-lazy" src="{$content->poster}" alt="{$content->title|utf8_decode}">
				{if $this->add_to_favourite}
                                <a href="javascript:void(0);" onclick="addFav(this)" name="addfav" class="favAdd" data-fav_status="{$user_status['fav_status']}" data-login_status="{$user_status['login_status']}" data-content_id="{$content->movie_id}" data-content_type="{$content->is_episode}"> 
                                    <div class="ellipse__shape favourite "> 
                                        {if $user_status['fav_status'] ==0}<i class="fa fa-heart"></i>{else}<i class="fa fa-heart-o"></i>{/if}
                                        <div class="favourite_text">
                                            <span class="favorate__this favourite__content">
                                                {if $user_status['fav_status'] ==0}{$this->Language['added_to_fav']}{else}{$this->Language['add_to_fav']}{/if}
                                            </span>
                                        </div>
                                    </div>
                                </a>
                                {/if}			{if $this->add_to_favourite}
							<a href="javascript:void(0);"  name="addfav" class="favAdd" data-fav_status="{$user_status['fav_status']}" data-login_status="{$user_status['login_status']}" data-content_id="{$content->movie_id}" data-content_type="{$content->is_episode}"> 
								<div class="ellipse__shape favourite "> 
									{if $user_status['fav_status'] ==0}<i class="fa fa-heart"></i>{else}<i class="fa fa-heart-o"></i>{/if}
									<div class="favourite_text">
										<span class="favorate__this favourite__content">
											{if $user_status['fav_status'] ==0}{$this->Language['added_to_fav']}{else}{$this->Language['add_to_fav']}{/if}
										</span>
									</div>
								</div>
							</a>
							{/if}

                                    <div class="ellipse__shape share">
                                        <i class="fa fa-share-alt"></i>
                                        <div class="share_text">
                                            <span class="share__this">
												<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={$this->siteurl}{$pageUrl}" data-title="Facebook Share"><i class="fa fa-facebook-square" aria-hidden="true" title="Share in facebook"></i></a>
                                                <a target="_blank" href="https://twitter.com/intent/tweet?text={$this->siteurl}{$pageUrl}" data-title="Share on Twitter">  <i class="fa fa-twitter-square" aria-hidden="true" title="Share in Twitter"></i></a>
                                            </span>
                                        </div>
                                    </div>
                                    {if $content->content_types_id == 5}
									{if $this->add_to_playlist != 0}
									<a href="javascript:void(0);" class="c-white addToPlay hide" data-content_id="{$content->movie_stream_id}" data-user_id="{$user_id}" data-is_episode="{$content->is_episode}">
                                    <div class="ellipse__shape add-playlist"> 
                                    	<i class="fa fa-music" aria-hidden="true"></i>
                                        <div class="favourite_text">
                                            <span class="favorate__this">{$this->Language['add_to_playlist']}</span>
                                        </div>
                                    </div>
									</a>

									{/if}
									{if $this->add_to_queue != 0}
									<a href="javascript:void(0);" class="c-white addToQue" data-id="{$content->movie_stream_id}"  data-is_episode="{$content->is_episode}">									
										<div class="ellipse__shape_queue add-queue"> 
                                    	<span><img src="{$this->siteurl}{$Yii->theme->baseUrl}/images/Icons/queue-ico.png"></span>
                                        <div class="favourite_text">
                                            <span class="favorate__this">{$this->Language['add_to_queue']}</span>
                                        </div>
                                    </div>
										</a>
									{/if}
									{/if}

                        </figure>
                </div>
            </div>
            <div class="col-sm-8 col-lg-8">
                <h2>{$content->title|utf8_decode}</h2>
                <p><span class="cast_detail">{if $casts|@count > 0}<span class="text-lowercase">{$this->Language['by']}</span> {foreach from=$casts key=counter item=cast}{$cast_count=$cast|@count}{$j=0}{foreach from=$cast key=counter item=castitem}<a href="{$castitem->full_permalink}" class="c-white cast_data">{$castitem->celeb_name}</a>{$j = $j+1}{if $j != $cast_count}, {/if}{/foreach}{/foreach}{/if}</span> <span class="tracks"> </span>{if $release_date != '' }<span class="symbol-release">&nbsp;&nbsp;-&nbsp;&nbsp;</span>{/if}<span class="release_date">{$release_date|date_format:"%b %Y"}</span></p>
                {if $released_by->field_value !=''}<p>{$released_by->field_display_name}: {$released_by->field_value}</p>{/if}

                <p class="hidden-sm hidden-xs">&nbsp;</p>
            {if $content->content_types_id != 1}
               {if $content->content_types_id == 5 && $content->is_converted == 1}
				{if $content->full_movie !='' }
                <a href="javascript:void(0);"  class="btn as-btn-accent as-btn-md" onclick="playAudio(this)" id="{$content->movie_id}" data-content_type="{$content->is_episode}" >{$this->Language['btn_play']}</a>
                {/if}
                {elseif $content->content_types_id == 8} 
                    <a href="javascript:void(0);"  class="btn as-btn-accent as-btn-md" onclick="playAudio(this)" id="{$content->movie_id}" data-content_type="{$content->is_episode}">{$this->Language['btn_play']}</a>
                {elseif $content->content_types_id == 6} 
                    <a href="javascript:void(0);" class="btn as-btn-accent as-btn-md" data-index="0" onclick="playAllAudio(this)" id="{$content->movie_id}">{$this->Language['play_all']}</a>
                {/if}
            {/if}
            <div class="download_btn">
                {if $content->is_downloadable == 1}
                {$content->download_btn}
                {elseif $content->is_downloadable == 2}
                {$content->download_btn}
                {/if}</div>
            </div>
        </div>
		 <div class="load-episode load1 loader_playlist_name">
    <div class="loader-player">Loading...</div>
      </div>
        <input type="hidden" name="content_id" id="content_id" value="{$content->movie_id}" />
        <input type="hidden" id ="episode_type" value="{$content->content_types_id}">
            <input type="hidden" name="default_series" id="default_series" value="{$default_series}" />
            <section>
     <div class="load-episode load1 loader_episode">
    <div class="loader-player">Loading...</div>
      </div>
                <div class="row">
                    <div class="col-md-10">
                        <div id="episodes"></div>
                    </div></div></section>
    </div>
    <script type="text/javascript" src="{$this->siteurl}/common/js/fancybox.js"></script>
    <link rel="stylesheet" href="{$this->siteurl}/common/css/fancybox.css" type="text/css" media="screen" />
    <script type="text/javascript" src="{$this->siteurl}/common/rating/bootstrap-rating.js"></script>
    <script type="text/javascript">

    var trailerUrl = '{$content->trailer_url}';
    var trailerIsConverted = '{$content->trailer_is_converted}';
    var v_logo = '{$v_logo}';
    var HTTP_ROOT = '{$this->siteurl}';
    var is_mobile = 0;
    var multipleVideoResolution = {$multipleVideo|json_encode};
    var defaultResolution = '{$defaultResolution}';
    var createSignedUrl = "{$this->siteurl}/user/getNewSignedUrlForTrailer";
    $(document).ready(function () {
        $('.menu_item a').removeClass('active');
        $(".genre_list span").last().html('');
		$('.wrapper').removeClass('has-not-sidebar');
        $('.videocontent').hide();
        var cas=$('.cast_detail').html().length;
         if(cas == 0 ){
        $('.symbol-release').addClass('hide');
        }
    });
   
   
    </script>
    {literal}
    <style type="text/css">
        .RDVideoHelper{display: none;}
        .videocontent{display: block;}
        video::-webkit-media-controls {
            display:none !important;
        }
    </style>  
    {/literal}
    {literal}
    <script type="text/javascript">
        $(document).ready(function () {
			var user_id = $('.playlist_user_id').val();
            episodeContent();
			$('.favAdd').click(function(){
                    var fav_status    = $(this).attr('data-fav_status'); 
                    var login_status  = $(this).attr('data-login_status'); 
                    var content_id    = $(this).attr('data-content_id'); 
                    var content_type  = $(this).attr('data-content_type'); 
                    var action = 1;
                    if(login_status == 1){
                          $('.loader_episode').show();
                       if($(this).find('.fa').hasClass('fa-heart-o')){
                           $(this).find('.fa').removeClass('fa-heart-o');
                           $(this).find('.fa').addClass('fa-heart');
                           $('.favourite__content').html(added_fav);
                       }else{
                           $(this).find('.fa').removeClass('fa-heart');
                           $(this).find('.fa').addClass('fa-heart-o');
                           $('.favourite__content').html(add_fav);
                       } 
                       addFavContent(content_id,content_type,true, fav_status);
                    }else{
                       $("#loginModal").modal('show');
                       var input_field = '<div id="fav_input"><input type="hidden" name="add_to_fav" id="add_to_fav" value="1" /><input type="hidden" name="content_type" id="content_type" value="'+content_type+'" /></div>';
                       $("#loginModal .popup_bottom").append(input_field);
                       if(content_type == 1){
                           $("#stream_id").val(content_id);
                       }else{
                           $("#movie_id").val(content_id);
                       }
                   }
                });
        });
        function addFavContent(content_id,content_type,login_status,action){
            var url = HTTP_ROOT+"/user/addtofavlist/";
         $.ajax({
                url: url,
                data: {'content_id': content_id, 'content_type': content_type,'login_status':login_status,'action':action},
                type: 'POST',
                headers: {"X-PJAX":"true","X-PJAX-Container":"#main"},
                success: function (res) {
                    $('.loader_episode').hide();
                }
            });
                    
    }
	
    </script>
    {/literal}
    {if $content->content_types_id == 5}
    <script type="text/javascript" src="{$this->siteurl}/js/content.js"></script>
    {/if}
	
