<script>
    var muviWaterMarkTrailer = "{$waterMarkOnPlayer}";
</script>
{$content = $item|json_decode}
<input type="hidden" value="{$content->movie_id}" id="p_movieid">
    {$casts = $content->casts}
    {$directors = $casts->directors}
    {$actors = $casts->actors}
    {$all_series = $allseries|json_decode}
    {$release_date=$content->full_release_date}
    {$pageUrl = Yii::app()->request->url}
    {$censor_rating = $content->censor_rating|replace:'&nbsp;':''}
    {$released_by=$content->released_by}
    {$pageUrl = Yii::app()->request->url}
    {$content_banner=$content->content_banner}
    
    <div class="page-header">

        <div class="fill-header {if $content_banner !=''} if-contenetBanner {else} if-contentList {/if}">
            {if $content_banner !=''}
             <img src="{$content->content_banner}" alt="{$content->title|utf8_decode}">
                {else}
                 <img src="{$content->poster}" alt="{$content->title|utf8_decode}">
                {/if}
        </div>

    </div>
    <div class="content-holder ">
        <div class="row art-detail">
            <div class="col-sm-4 col-lg-3">
                <div class="card">
                    <a href="javascript:void(0);">
                        <figure style="background-image: url('{$this->siteurl}{$Yii->theme->baseUrl}/images/default-artwork.jpg')";>
                            <img class="owl-lazy" src="{$content->poster}" alt="{$content->title|utf8_decode}">
                                <div class="overlay text-center">
                            {if $content->play_btn !=''}{$content->play_btn}{/if}
                                </div>
                        </figure>
                    </a>
                </div>
            </div>
            <div class="col-sm-8 col-lg-8">
                <h2>{$content->title|utf8_decode}</h2>
                {if $casts|@count > 0}<p><span class="text-lowercase">{$this->Language['by']}</span> {foreach from=$casts key=counter item=cast}{$cast_count=$cast|@count}{$j=0}{foreach from=$cast key=counter item=castitem}<a href="{$castitem->full_permalink}" class="c-white cast_data">{$castitem->celeb_name}</a>{$j = $j+1}{if $j != $cast_count}, {/if}{/foreach}{/foreach}{/if} <span class="tracks"> </span>{if $casts|@count > 0 && $release_date != '' }&nbsp;&nbsp;-&nbsp;&nbsp;{/if}<span class="release_date">{$release_date|date_format:"%b %Y"}</span></p>
                {if $released_by->field_value !=''}<p>{$released_by->field_display_name}: {$released_by->field_value}</p>{/if}

                <p class="hidden-sm hidden-xs">&nbsp;</p>
                <ul class="list-inline">
                    <li>
                        {$this->Language['share']}:&nbsp;&nbsp;
                    </li>
                    <li>
                        <div class="social">
                            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={$this->siteurl}{$pageUrl}" data-title="Facebook Share"> <img src="{$this->siteurl}{$Yii->theme->baseUrl}/images/Share-FB.png" alt="facebook" width="32"></a>
                            <a target="_blank" href="https://twitter.com/intent/tweet?text={$this->siteurl}{$pageUrl}" data-title="Share on Twitter"> <img src="{$this->siteurl}{$Yii->theme->baseUrl}/images/Share-Twitter.png" alt="facebook" width="32"></a>
                        </div>
                    </li>
                </ul> {if $content->content_types_id == 5}
                <a href="javascript:void(0);"  class="btn as-btn-accent as-btn-md" onclick="playAudio(this.id)" id="{$content->movie_id}">{$this->Language['btn_play']}</a>
                {/if}
		
                {if $this->add_to_favourite}
                &nbsp;&nbsp;<button  name="addtofav" data-fav_status="{$user_status['fav_status']}" data-login_status="{$user_status['login_status']}" data-content_id="{$content->movie_id}" data-content_type="{$content->is_episode}" class="btn btn-primary as-btn-md" type="button" onclick="addFav(this)">{if $user_status['fav_status'] ==0}<i class="demo-icon icon-heart">&#xe800;</i><span id="favtext">{$this->Language['added_to_fav']}</span>{else} <i class="demo-icon icon-heart-empty">&#xe801;</i><span id="favtext">{$this->Language['add_to_fav']}</span> {/if}</button>&nbsp;&nbsp;
                {/if}
            </div>
        </div>
        <input type="hidden" name="content_id" id="content_id" value="{$content->movie_id}" />
        <input type="hidden" id ="episode_type" value="{$content->content_types_id}">
            <input type="hidden" name="default_series" id="default_series" value="{$default_series}" />
            <section>
     <div class="load-episode load1 loader_episode">
    <div class="loader-player">Loading...</div>
      </div>
                <div class="row">
                    <div class="col-md-10">
                        <div id="episodes"></div>
                    </div></div></section>
    </div>
    <script type="text/javascript" src="{$this->siteurl}/common/js/fancybox.js"></script>
    <link rel="stylesheet" href="{$this->siteurl}/common/css/fancybox.css" type="text/css" media="screen" />

    <script type="text/javascript" src="{$this->siteurl}/common/rating/bootstrap-rating.js"></script>
    <script type="text/javascript">

    var trailerUrl = '{$content->trailer_url}';
    var trailerIsConverted = '{$content->trailer_is_converted}';
    var v_logo = '{$v_logo}';
    var HTTP_ROOT = '{$this->siteurl}';
    var is_mobile = 0;
    var multipleVideoResolution = {$multipleVideo|json_encode};
    var defaultResolution = '{$defaultResolution}';
    var createSignedUrl = "{$this->siteurl}/user/getNewSignedUrlForTrailer";
    $(document).ready(function () {
        $(".genre_list span").last().html('');
        $('.videocontent').hide();
    });
    
    </script>
    {literal}
    <style type="text/css">
        .RDVideoHelper{display: none;}
        .videocontent{display: block;}
        video::-webkit-media-controls {
            display:none !important;
        }
        .playbtn{background:none !important;}
    </style>  
    {/literal}
    {literal}
    <script type="text/javascript">
        $(document).ready(function () {
            episodeContent();
        });
    </script>
    {/literal}
    {if $content->content_types_id == 5}
    <script type="text/javascript" src="{$this->siteurl}/js/content.js"></script>
    {/if}