
<div class="row">
    <div class="col-md-6">
        <h3>{$this->Language['post_your_comment']}</h3>
        <div>
            
<form id="frmPST" name="frmPST" method="post" action="/blog/saveUserComment" >
    <input type="hidden" name="post_id" value="{$post_id}" />
    <div class="form-group">
        <label for="name">{$this->Language['text_name']}</label>
        <input type="text" class="form-control error" id="fname" name="fname" placeholder="{$this->Language['text_name_placeholder']}" required />
    </div>             
    <div class="form-group">
        <label for="comment">{$this->Language['text_comment']}</label>
        <textarea class="form-control" rows="3" name="comment" id="comment" placeholder="{$this->Language['text_comment_placeholder']}" required></textarea>
    </div>
    <div class="error" id="comment_error"></div>
    <button type="submit" class="btn btn-primary btn-green-small">{$this->Language['btn_submit']}</button>
</form>    
            
       </div>
    </div>
</div>
