<!-- BEGIN: PAGE CONTAINER -->
{$content = $item|json_decode}
<div class="content">
    <div class="container">
        <h2 class="txt-camel">{$content->name}</h2>
        <div class="row">
            
            <div class="col-md-3">
                <img src="{$celebrity_image}" alt="{$content->name|utf8_decode}" />
            </div>
            
            <div class="col-md-9">
                <h3 class="">{$content->name}</h3>
                <p>{$content->summary|utf8_decode}</p>
            </div>
            
            <div class="col-md-12"><br/>
                <ul class="item-list row">
                    {include file='../layouts/listitem.html'}
                </ul>
            </div>
        </div>
    </div>
</div>
