<div id="wrapper" style="background-image: url({$background_path});">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 top">
                <img src="{$logo_path}" />
                <br/>
                <br/>
                <form name="subscribe" class="form-inline signup" id="signupFrm" method="post" autocomplete="off">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Your Email Address" name="email" />
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button> 
                    <div class="error" id="errorvalidation"></div>
                </form>
                <h2 class="subtitle">{$comingsoon_text}</h2><br/>
            </div>
            <div class="col-sm-12 align-center">
                <ul class="social-network social-circle">
                    {if isset($this->studio->fb_link) && $this->studio->fb_link != ''}
                    <li><a href="{$this->studio->fb_link}" class="icoFacebook" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    {/if}                        
                    {if isset($this->studio->tw_link) && $this->studio->tw_link != ''}                        
                    <li><a href="{$this->studio->tw_link}" class="icoTwitter" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    {/if}                                                
                    {if isset($this->studio->gp_link) && $this->studio->gp_link != ''}
                    <li><a href="{$this->studio->gp_link}" class="icoGPlus" title="Google Plus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                    {/if}
                    {if isset($this->studio->ig_link) && $this->studio->ig_link != ''}
                    <li><a href="{$this->studio->ig_link}" class="icoIGram" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    {/if} 
                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{$this->siteurl}{$Yii->theme->baseUrl}/js/signup.js"></script>    