<div class="col-md-6" id="savedaddress">
    {if !empty($saveaddress)}
    <ul class="savedad-dress">        
        {foreach from=$saveaddress key=k item=value name=foo}
        {assign var="vid" value=$value['id']}
        <li>
            <div class="_data-wrap {if $selected_id == $vid} _active{/if}">
                <a class="plan-box" href="javascript:void(0);" onclick="deliveraddress('{$vid}',this)" title="{$this->Language['deliver_here']}">
                    <div class="tick-icon" {if $selected_id == $vid} style="display: block;" {else} style="display:none;" {/if}></div>
                    <h2>{$value['first_name']}</h2>
                    {$value['address']}, {if $value['address2']}{$value['address2']},{/if} {$value['city']}, {$value['state']}, {$value['zip']}<br/>
                    {$value['country']}<br/>
                    {$this->Language['phone_number']} : {$value['phone_number']}
                </a>
                <div class="text-right">
                    <a onclick="editaddress('{$vid}')" class="btn btn-primary">
                        {$this->Language['edit_btn']} <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <a onclick="deleteaddress('{$vid}')" class="btn btn-danger">
                        {$this->Language['delete_btn']} <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </a>       
                </div>
            </div>
        </li>
        {/foreach}               
    </ul>
    {else}
    <h4>{$this->Language['no_saved_address_found']}.</h4>
    {/if} 
</div>
{assign var=pgsettings value=Yii::app()->general->getPgSettings()}
{assign var=pgcontries value=$pgsettings['restrict_country']|json_decode:true}
<div id="address_div" class="col-md-6">    
    <div class="row">
        <div class="form-group col-md-12">
            <label class="control-label">{$this->Language['text_full_name']}</label>
            <input type="text" placeholder="{$this->Language['text_name_placeholder']}" name="ship[first_name]" class="form-control c-square c-theme" value="{$req['first_name']}" required>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <label class="control-label">{$this->Language['address_line_1']}</label>
            <input type="text" placeholder="{$this->Language['street_address']}" name="ship[address]" class="form-control c-square c-theme" value="{$req['address']}" required>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <label class="control-label">{$this->Language['address_line_2']}</label>
            <input type="text" placeholder="{$this->Language['apartment_suite']}" name="ship[address2]" class="form-control c-square c-theme" value="{$req['address2']}">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label class="control-label">{$this->Language['city']}</label>
            <input type="text" placeholder="{$this->Language['city']}" name="ship[city]" class="form-control c-square c-theme" value="{$req['city']}" required>
        </div>
        <div class="form-group col-md-6">
            <label class="control-label">{$this->Language['state_province_region']}</label>
            <input type="text" placeholder="{$this->Language['state_province_region']}" name="ship[state]" class="form-control c-square c-theme" value="{$req['state']}" required>
        </div>        
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label class="control-label">{$this->Language['postcode']}</label>
            <input type="text" placeholder="{$this->Language['postcode']}" name="ship[zip]" class="form-control c-square c-theme" value="{$req['zip']}" required>
        </div>
        <div class="form-group col-md-6">
            <label class="control-label">{$this->Language['country']}</label>
            <select name="ship[country]" class="form-control c-square c-theme" required >
                <option value="">-{$this->Language['select']}-</option>
                {if empty($pgcontries)}
                    {foreach from=$countries key=k item=coun}                                          
                    <option value="{$coun['code']}" {if ($req['country']==$coun['country'])} selected="selected" {/if}>{$coun['country']}</option>
                    {/foreach}
                {else}
                    {foreach from=$countries key=k item=coun}
                    {if $coun['code']|in_array:$pgcontries}                    
                    <option value="{$coun['code']}" {if ($req['country']==$coun['country'])} selected="selected" {/if}>{$coun['country']}</option>                    
                    {/if}
                    {/foreach}
                {/if}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label class="control-label">{$this->Language['phone_number']}</label>
            <input type="text" placeholder="{$this->Language['phone_number']}" name="ship[phone_number]" class="form-control c-square c-theme" value="{$req['phone_number']}" maxlength="15">
        </div>
    </div>
    <div class="row">
        {if empty($req)}
        <div class="form-group col-md-7">
            <div class="c-checkbox">
                <input type="checkbox" id="checkbox1-11" class="c-check" value="1" name="ship[saveaddr]" checked="checked">
                <label for="checkbox1-11">
                    <span class="inc"></span>
                    <span class="check"></span>
                    <span class="box"></span> {$this->Language['save_address']} </label>
            </div>
        </div>
        {/if}
        <div class="col-md-5">
            <div {if (empty($req))} class="pull-right" {/if}>
                <a href="javascript:void(0);" class="btn btn-lg btn-primary" onclick="validateshiping('{if !empty($req)}{$req['id']}{else}insert{/if}')">{if (!empty($req))}{$this->Language['save_continue']}{else}{$this->Language['continue']}{/if}</a>
            </div>
        </div>
    </div>
</div>