{assign var="cropDimesion" value=Yii::app()->common->getPgDimension()}
    {assign var="producturl" value=Yii::app()->createUrl("/")}
    {foreach from=$contentproduct key=k item=value}
    {$img_path=$value['img_path']}
<div class="col-md-5ths col-sm-6 ">
                    <div class="c-content-product-2 c-bg-white">

                        <div class="c-content-overlay">
                            <div class="c-overlay-wrapper">
                                <div class="c-overlay-content">
                                    <a href="{$producturl}/{$value['permalink']}" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">{$this->Language['explore']}
                                        {if $img_path}
                                        <img alt="{$value['name']}" src="{$img_path}" title="{$value['name']}"  style="width:100%;" />
                                        {else}
                                        <img data-src="holder.js/{$cropDimesion['width']}x{$cropDimesion['height']}" alt="{$value['name']}" title="{$value['name']}" src="{$img_path}" />
                                        {/if}
                                    </a>
                                </div>
                            </div>
                            <div class="c-bg-img-top-center c-overlay-object" data-height="height" style="height: {$cropDimesion['height']}px; background-image: url('{$img_path}');background-size: {$cropDimesion['width']}px {$cropDimesion['height']}px;"></div>
                        </div>
                        <div class="c-info">
                            <p class="c-title c-font-14 c-font-slim">
                                <a href="{$producturl}/{$value['permalink']}">
                                {if $value['name']|count_characters > 30}
                                {$value['name']|substr:0:30}
                                {else}
                                {$value['name']}
                                {/if}
                                </a>
                            </p>
                            {if $value['is_preorder'] == 0}
                            <p class="c-price c-font-14 c-font-slim">
                                {Yii::app()->common->formatPrice($value['sale_price'],$value['currency_id'])}
                            </p>
                            {else}
                            <p class="c-price c-font-14 c-font-slim">
                                &nbsp;
                            </p>
                            {/if}
                        </div>
                        {if $value['status']==1}
                        <div class="btn-group btn-group-justified" role="group">
                            {if $value['is_preorder'] == 0}
                            <div class="btn-group c-border-top" role="group">
                                <a class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product" href="javascript:void(0);" onclick="showcart({$value['id']}, 1);">{$this->Language['add-to-cart']}</a>
                            </div>
                            <div class="btn-group c-border-left c-border-top" role="group">
                                <a class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product" href="javascript:void(0);" onclick="showcart({$value['id']}, 2);">{$this->Language['ordernow']}</a>
                            </div>
                            {else}
                                <a class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product" href="javascript:void(0);" onclick="window.location='{$producturl}/{$value['permalink']}'">{$this->Language['preoreder_now']}</a>
                            {/if}
                        </div>
                        {elseif $value['status']==3}
                        <div class="btn-group btn-group-justified" role="group">
                            <div class="btn-group c-border-top" role="group">
                                <div class="stockout">{$this->Language['stock_out']}</div>
                            </div>
                        </div>
                        {/if}                        
                    </div>
                </div>
                {/foreach}
<script type="text/javascript" src="{$this->siteurl}{$Yii->theme->baseUrl}/js/cart.js"></script>
<script type="text/javascript" src="{$this->siteurl}/common/js/placeholder/holder.js"></script>
