<div class="content _no-gap-top">
    <div class="item-detail-title">
        <div class="container">
            <h2 class="clearfix">
                <span class="pull-left">{$product['name']}</span>
                <ul class="page-breadcrumbs">
                    <li><a href="/shop">{$this->Language['shop']}</a></li>
                    <li><span>{$this->Language['product_details']}</span></li>
                </ul>
            </h2>
        </div>
    </div>
    <div class="spacer _50"></div>
    <div class="container">
        <div class="row product-meta-data">
            <div class="item-detail-info col-md-5 text-center _item-poster">
                {assign var="cropDimesion" value=Yii::app()->common->getPgDimension()}
                {assign var="img_path" value=PGProduct::getpgImage($product['id'],'original')}
                {if $img_path!=''}
                <img src="{$img_path}" alt="{$product['name']}" class="img-responsive item-thumb">
                {else}
                <img data-src="holder.js/{$cropDimesion['width']}x{$cropDimesion['height']}" alt="{$cropDimesion['width']}x{$cropDimesion['height']}" class="img-responsive item-thumb" />
                {/if}
            </div>
            <div class="col-md-5 row">

                 {if $VDProductDetailInfo}
                    {foreach from=$VDProductDetailInfo|json_decode item=vdListItem}
                        <div 
                            class="item-detail-info
                            {if $vdListItem->boldStatus == 'b'} _bold{/if}
                            {if $vdListItem->align == 'r'} _txt-right{/if}
                            {if $vdListItem->align == 'c'} _txt-center{/if}
                            {if $vdListItem->lineCount == 's'} _sline{/if}

                            {if $vdListItem->width == '1/12'} col-md-1
                            {elseif $vdListItem->width == '2/12'} col-md-2
                            {elseif $vdListItem->width == '3/12'} col-md-3
                            {elseif $vdListItem->width == '4/12'} col-md-4
                            {elseif $vdListItem->width == '5/12'} col-md-5
                            {elseif $vdListItem->width == '6/12'} col-md-6
                            {elseif $vdListItem->width == '7/12'} col-md-7
                            {elseif $vdListItem->width == '8/12'} col-md-8
                            {elseif $vdListItem->width == '9/12'} col-md-9
                            {elseif $vdListItem->width == '10/12'} col-md-10
                            {elseif $vdListItem->width == '11/12'} col-md-11
                            {elseif $vdListItem->width == 'full' || $vdListItem->width == ''} col-md-12
                            {else}
                             col-md-12
                            {/if}
                            "

                            style="{if $vdListItem->lineHeight != '' && $vdListItem->lineHeight != '0'}line-height:{$vdListItem->lineHeight}px;{/if}
                            {if $vdListItem->size != '' && $vdListItem->size != '0'}font-size:{$vdListItem->size}px;{/if}
                            {if $vdListItem->color != '' && $vdListItem->color != '0'}color:{$vdListItem->color};{/if}
                            ">

                            {if $vdListItem->contentType == "title"}
                                <h3 class="c-font-uppercase c-font-bold" style="word-wrap: break-word;">                                    
                                    {$product['name']}{if $product['is_preorder'] == 1}&nbsp;<span class="label label-danger">{$this->Language['coming_soon']}&nbsp;</span>{/if}
                                </h3>

                            {elseif $vdListItem->contentType == "price"}
                                <h4 class="txt-accent">
                                {if $product['is_free_offer'] == 0}
                                    {if $product['sale_price'] != 0}
                                        {Yii::app()->common->formatPrice($product['sale_price'],$product['currency_id'])}
                                    {/if}
                                {else}
                                    {$this->Language['free']}
                                {/if}
                                </h4>
                             
                            {elseif $vdListItem->contentType == "qty_field"} 
                                {if $product['status']!=3}
                                {if $product['is_free_offer'] == 0}
                                {if $vdListItem->style != "no_label"}
                                <strong>{$this->Language['qty']}</strong>
                                {if $vdListItem->style != "label_inline"}<br/>{/if}                    
                                {/if}
                                <div class="qty-spinner">
                                    {if $product['status']!=3}
                                    <button class="btn btn-primary _btn" type="button" data_input="c-item-1" onclick="updatequan(1)">
                                        <i class="fa fa-caret-up"></i>
                                    </button>
                                    <input type="text" class="form-control _fld" value="1" id="product_qnt" onkeypress="return isNumberKey(event)">
                                    <button class="btn btn-primary _btn" type="button" data_input="c-item-1" onclick="updatequan(2)">
                                        <i class="fa fa-caret-down"></i>
                                    </button>
                                    {/if}
                                </div>
                                {/if}
                                {/if}
                            {elseif $vdListItem->contentType == "buy_butn"}   
                                {if $product['is_free_offer'] == 0}
                                {if $product['status']==1}                                        
                                    <input type="button" {if $product['sale_price'] != 0} onclick="showcart({$product['id']},1);" {/if} value="{$this->Language['add-to-cart']}" name="" class="btn btn-lg btn-danger" {if $product['sale_price'] == 0} disabled="disabled" {/if}>
                                    {if $product['is_preorder'] == 0}
                                    <button class="btn btn-lg btn-primary" {if $product['sale_price'] != 0} onclick="showcart({$product['id']}, 2,1);" {/if} {if $product['sale_price'] == 0} disabled="disabled" {/if}>{$this->Language['ordernow']}</button>
                                    {else}
                                    <button class="btn btn-lg btn-primary" {if $product['sale_price'] != 0} onclick="showcart({$product['id']}, 2);" {/if} {if $product['sale_price'] == 0} disabled="disabled" {/if}>{$this->Language['preorder_now']}</button>
                                    {/if}
                                {elseif $product['status']==3}
                                <button class="btn btn-lg btn-primary btn-disabled" disabled="disabled">{$this->Language['stock_out']}</button>
                                {/if}
                                {/if}

                            {else}
                                {$datakey = $vdListItem->contentType}
                                {if $vdListItem->style != "no_label"}
                                    <strong>{$ShopSystemVals[$datakey]}</strong>{if $vdListItem->style == "label_inline"}: {/if}  
                                    {if $vdListItem->style != "label_inline"}<br/>{/if}                    
                                {/if}
                                {$product[$datakey]}
                                {$product['custom'][$datakey]['field_value']|utf8_decode}&nbsp;
                            {/if}

                        </div>
                    {/foreach}
                {else}
                    <div class="item-detail-info col-md-12">
                        <h3 class="c-font-uppercase c-font-bold" style="word-wrap: break-word;">                                    
                            {$product['name']}{if $product['is_preorder'] == 1}&nbsp;<span class="label label-danger">{$this->Language['coming_soon']}&nbsp;</span>{/if}
                        </h3>
                    </div>
                    {if $trailerurl !=''}
                    <div class="item-detail-info col-md-12">
                        <a href="{$trailerurl}" class="btn btn-lg">{$this->Language['view_trailer']}</a>
                    </div>
                    {/if}

                    {if $product['is_preorder'] == 0}
                    <div class="item-detail-info col-md-12">
                        <h4 class="txt-accent">
                        {if $product['is_free_offer'] == 0}
                            {if $product['sale_price'] != 0}
                                {Yii::app()->common->formatPrice($product['sale_price'],$product['currency_id'])}
                            {/if}
                        {else}
                            Free
                        {/if}
                        </h4>
                    </div>
                    {/if}
                    <div class="item-detail-info col-md-12">
                    <strong>{$this->Language['sku']}</strong> 
                    {$product['sku']}
                    </div>

                    <div class="item-detail-info col-md-12">{$product['description']}</div>

                    {if $product['release_date'] && (($product['release_date']|date_format:"%m/%d/%Y") != '01/01/1970') }
                    <div class="item-detail-info col-md-12">
                        <strong>{$this->Language['release_date']}</strong> 
                        {$product['release_date']|date_format:"%m/%d/%Y"}
                    </div>
                    {/if}

                    {if $product['is_free_offer'] == 0}
                    <div class="item-detail-info col-md-12">
                        <strong>{$this->Language['qty']}</strong>
                        <div class="qty-spinner">
                            {if $product['status']!=3}
                            <button class="btn btn-primary _btn" type="button" data_input="c-item-1" onclick="updatequan(1)">
                                <i class="fa fa-caret-up"></i>
                            </button>
                            <input type="text" class="form-control _fld" value="1" id="product_qnt" onkeypress="return isNumberKey(event)">
                            <button class="btn btn-primary _btn" type="button" data_input="c-item-1" onclick="updatequan(2)">
                                <i class="fa fa-caret-down"></i>
                            </button>
                            {/if}
                        </div>
                    </div>
                    <div class="item-detail-info col-md-12 col-md-12">
                        {if $product['status']==1}                                        
                            <input type="button" {if $product['sale_price'] != 0} onclick="showcart({$product['id']},1);" {/if} value="{$this->Language['add-to-cart']}" name="" class="btn btn-lg btn-danger" {if $product['sale_price'] == 0} disabled="disabled" {/if}>
                            {if $product['is_preorder'] == 0}
                            <button class="btn btn-lg btn-primary" {if $product['sale_price'] != 0} onclick="showcart({$product['id']}, 2,1);" {/if} {if $product['sale_price'] == 0} disabled="disabled" {/if}>{$this->Language['ordernow']}</button>
                            {else}
                            <button class="btn btn-lg btn-primary" {if $product['sale_price'] != 0} onclick="showcart({$product['id']}, 2);" {/if} {if $product['sale_price'] == 0} disabled="disabled" {/if}>{$this->Language['preorder_now']}</button>
                            {/if}
                        {elseif $product['status']==3}
                        <button class="btn btn-lg btn-primary" {if $product['sale_price'] == 0} disabled="disabled" {/if}>{$this->Language['stock_out']}</button>
                        {/if}
                    </div>
                    {/if}
                {/if}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{$this->siteurl}/common/js/placeholder/holder.js"></script>
<!-- BEGIN: PAGE SCRIPTS -->
<script src="{$this->siteurl}{$Yii->theme->baseUrl}/assets/plugins/zoom-master/jquery.zoom.min.js" type="text/javascript"></script>
<!-- END: PAGE SCRIPTS -->
<script type="text/javascript" src="{$this->siteurl}{$Yii->theme->baseUrl}/js/cart.js"></script>
