<div class="content _no-gap-top">
    <div class="item-detail-title">
        <div class="container">
            <h2 class="clearfix">
                <span class="pull-left">{$this->Language['shopping_cart']}</span>
                <ul class="page-breadcrumbs">
                    <li><a href="{$this->siteurl}">{$this->Language['shop']}</a></li>
                    <li><a href="{$this->siteurl}/shop">{$this->Language['product_list']}</a></li>
                    <li><span>{$this->Language['shopping_cart']}</span></li>
                </ul>
            </h2>
        </div>
    </div>
    <div class="container">
        <h1>{$this->Language['order_placed']}</h1>
        <p>{$this->Language['order_processed']}</p>
        <div class="text-right">
            <a class="btn btn-lg btn-primary" href="{Yii::app()->getBaseUrl(true)}/shop">{$this->Language['continue_shopping']}</a>
        </div>
    </div>
</div>