<div class="page-header"> 
    <!--Background Banner-->
    <div class="fill-header"> <img src="{$this->siteurl}{$Yii->theme->baseUrl}/images/Banner%20Pik.jpg" alt="Banner Header"> </div>
    <div class="page-title">
        <h2>{$this->Language['manage_device']}</h2>
    </div>
</div>



<div class="single-product-area transaction_details">
    <section  style="padding-top:2px; ">
      <div class="bottom20p hidden-xs"></div>    
        <div class="container content-area">
           <div class="table-responsive">  
            <table cellspacing="0" class="table table-bordered" style="width: 80%; height: 40px; margin-left: 105px;" >
                <thead>
                    <tr>
                        <th class="device-name">#</th>
                        <th class="device-name"><center>{$this->Language['device_name']}</center></th>
                        <th data-hide="phone" class="device-name"><center>{$this->Language['action']}</center></th>
                    </tr> 
                </thead>
                <tbody>
                    {foreach from=$devicedata item=device_item}
                    {assign var=ccc value=$ccc+1}
                    <tr>
                        <td class="device-name">{$ccc}</td>
                        <td class="device-name">{$device_item['device_info']}</td>
                        <td  class="device-name">
                            {if ($device_item['flag'] == 0)} 
                            <a href="javascript:void(0);"   data-id="{$device_item['id']}" onclick="openDeleteDevicePopup(this);">
                              &nbsp;&nbsp;{$this->Language['delete']}
                            </a>
                           {/if}
                        </td>
                    </tr>
                    {/foreach}

                </tbody>
            </table>            

        </div>
    </div>
    </section>           
</div>            
<div class="modal fade" id="DeviceModal" role="dialog" data-backdrop="static" data-keyboard="false" style="overflow-y:hidden !important;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="font-size:22px;text-transform: none;" ><span id="headermodal"></span></h4>
                <h4 class="modal-title">{$this->Language['are_you_sure_delete_device']} ?</h4>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0);" id="devicebtn" class="btn as-btn-accent as-btn-md top10p">{$this->Language['yes']}</a>
                <button class="btn as-btn-accent as-btn-md top10p" data-dismiss="modal" type="button" style="text-transform: capitalize;">{$this->Language['btn_cancel']}</button>
            </div>
        </div>
    </div>
</div>
<!--<div class="modal fade" id="SuccessModal" role="dialog" data-backdrop="static" data-keyboard="false" style="overflow-y:hidden !important;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="font-size:22px;text-transform: none;" ><span id="headermodal"></span></h4>
                <h4 class="modal-title">Success</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="col-sm-12">
                        <span id="bodymodal"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" type="button" style="text-transform: capitalize;">{$this->Language['yes']}</button>
            </div>

        </div>
    </div>
</div>-->
{literal}
<script type="text/javascript">
    $('.menu_item a').removeClass('active');
    $('.wrapper').addClass('has-not-sidebar');
    function openDeleteDevicePopup(obj) {
        $("#DeviceModal").modal('show');
        var id = $(obj).attr('data-id');
        var url = HTTP_ROOT + '/user/DeleteDevice';
        $('#devicebtn').click(function () {
            $('.loader').show();
            $.post(url, {id: id}, function (res) {
                if (res) {
                    $(obj).removeAttr('data-id');
                    $(obj).parent().html('');
                    $(obj).removeAttr('onClick');
                    $('#DeviceModal').modal('hide');
                }
                $('.loader').hide();
            });
        });
    }
</script>
{/literal}