.vast-skip-button 
{
    display: block;
    position: absolute;
    top: 85%;
    border:1px solid #ededed;
    right: 10px;
    width: auto;
    background-color: #000;
    color: #AAA;
    font-size: 12px;
    font-style: italic;
    line-height: 12px;
    padding: 15px;
    z-index: 20;
    }

.vast-skip-button.enabled 
{
    cursor: pointer;
    color: #fff;
    }

.vast-skip-button.enabled:hover 
{
    cursor: pointer;
    background: #333;
    }
    
.vast-blocker 
{
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    }

.vjs-loading-spinner 
{
    display: none  !important;
    }
