body{
    position: relative;
    padding-bottom: 40px;
}
.loader-vd{
    position: fixed;
    z-index: 999999999;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background:#FFF url(../images/loader.gif) center center no-repeat;
    opacity: 0;
    pointer-events: none;
}
.loader-vd._active{
    opacity: 0.9;
    pointer-events: all;
}
.loader-vd._local{
    position: absolute;
}
.pos-relative{
    position: relative !important;
}
.template-wrap{
    position: relative; 
    z-index:1;
}
.designer-wrap{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    pointer-events: none; 
    z-index:2;
    font-family: arial;
}
.designer-wrap > *{
    pointer-events: all;
}
.clear-fx:after, 
.editor-box .editor-head:after{
    content: '';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
.ctrl-bar-toggle-butn, 
.editor-box .layout-dummy-list li, 
.ctrl-butns-group, 
.ctrl-butns-group > li, 
.ctrler-butn-group,
.ctrler-butn-group li, 
.ctrler-butn-group li a, 
.logo-uploader div, 
.notification-box-vd, 
.loader-vd, 
.ctrl-bar-toggle-butn:after, 
.vd-ctrl-wrap, 
.editor-box .featured-loading-dummy-list li img, 
.editor-box, 
.editor-box._table-box .list-item-data li img{
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.vd-ctrl-wrap {
    position: fixed;
    z-index: 1;
    bottom: 0px;
    left: 0px;
    right: 0;
    background: #EEE;
    padding-left: 40px;
    height: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.vd-ctrl-wrap._hide{
    bottom: -40px;
    box-shadow: none;
}
.ctrl-bar-toggle-butn{
    position: fixed;
    z-index: 1;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 40px;
    border-radius: 0;
    background-size: 20px auto;
    background:rgba(255, 109, 2, 0.8);
}
.ctrl-bar-toggle-butn:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background:url(../images/arrow-down.png) center center no-repeat;
}
.vd-ctrl-wrap._hide .ctrl-bar-toggle-butn{
    opacity: 0.5;
}
.vd-ctrl-wrap._hide .ctrl-bar-toggle-butn:after{
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
.ctrl-bar-toggle-butn:hover{
    background-color:rgba(255, 109, 2, 1);
}
.vd-ctrl-wrap  .logo-vd{
    display: block;
    float: left;
    margin-left: 10px;
}
.ctrl-butns-group{
    margin: 0;
    padding: 0;
    list-style: none;
    position: fixed;
    left: 25px;
    bottom: 10px;
    opacity: 0;
    pointer-events: none;
}
.ctrl-butns-group._active{
    opacity: 1;
    bottom: 60px;
    pointer-events: all;
}
.ctrl-butns-group:after{
    content: '';
    position: absolute;
    left: 0;
    top: 35px;
    bottom: 35px;
    width: 1px;
    background: rgb(255, 109, 2);
}
.ctrl-butns-group li{
    position: relative;
}
.ctrl-butns-group > li{
    margin: 0;
    display: block;
    position: relative;
}
.ctrl-butns-group._active > li{
    margin: 15px 0;
}
.ctrl-butns-group > li a.ctrl-butn{
    display: block;
    background: rgba(255,255,255,0.85);
    box-shadow: 0 0 7px rgba(0,0,0,0.5);
    border-radius: 15px;
    text-align: center;
    font-size: 14px;
    color: #333;
    border: 1px solid rgb(255, 109, 2);
    padding: 5px 15px;
}
.ctrl-butns-group > li a.ctrl-butn._child{
    font-size: 12px;
}
.ctrl-butns-group > li a.ctrl-butn:hover{
    box-shadow: 0 0 7px rgba(255, 109, 2, 0.75);
}
.ctrl-butns-group > li ul{
    margin: 0 0 0 15px;
    padding: 0;
    list-style: none;
}
.ctrl-butns-group > li ul li{
    padding-top: 10px;
}
.ctrl-butns-group > li ul._child > li:before{
    content: '';
    position: absolute;
    display: block;;
    width: 1px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background: rgb(255, 109, 2);
}
.ctrl-butns-group > li ul._child > li:last-child:before{
    bottom: 50%;
}
.ctrl-butns-group ul._options{
    position: absolute;
    margin: 0 0 0 5px;
    padding: 0;
    left: 100%;
    top: 16px;
    white-space: nowrap;
}
.ctrl-butns-group ul ul._options{
    top: 21px;
}
.ctrl-butns-group > li ul._options li{
    display: inline-block;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
}
.ctrl-butns-group > li ul._options li a{
    display: block;
    background: rgba(0,0,0,0.9);
    color: #DDD;
    padding: 0px 15px;
    border-radius: 7px;
    height: 35px;
    line-height: 35px;
}
.ctrl-butns-group > li ul._options li a:hover{
    background: rgba(255, 109, 2, 0.9);
}

.ctrler-butn-group{
    float: right;
    margin: 0;
    padding: 0;
    pointer-events: all;
    font-size: 0;
    text-align: right;
}
.ctrler-butn-group._hide{
    pointer-events: none;
    bottom: -40px;
}
.ctrler-butn-group li{
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}
.ctrler-butn-group._active li{
    margin: 0px;
}
.ctrler-butn-group li a{
    display: block;
    padding: 3px;
    background: #AAA;
    opacity: 0.75;
    font-size: 13px;
    color:#FFF;
}
.ctrler-butn-group li:nth-child(1) a{
    background: #0fda43;
}
.ctrler-butn-group li:nth-child(2) a{
    background: #e81d62;
}
.ctrler-butn-group li:nth-child(3) a{
    background: #3e50b4;
}
.ctrler-butn-group li:nth-child(4) a{
    background: #9b26af;
}
.ctrler-butn-group li:nth-child(5) a{
    background: #97c200;
}
.ctrler-butn-group li:nth-child(6) a{
    background: #007eff;
}
.ctrler-butn-group li a span{
    display: inline-block;
    vertical-align: middle;
    padding: 0 0 0 5px;
}
.ctrler-butn-group li a img{
    display: inline-block;
    vertical-align: middle;
    height: 34px;
    width: 34px;
}
.ctrler-butn-group li a:hover{
    opacity: 1;
}


.editor-box{
    position: absolute;
    background: #FFF;
    border: 1px solid #ff6d02;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    width: 450px;
    font-family: arial;
}
.editor-box:after{
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: 100%;
    height: 0;
    width: 0;
    border: 15px solid transparent;
    border-bottom-color: #ff6d02;
}
.editor-box._banner:after, 
.editor-box._footer:after{
    bottom: auto;
    top: 100%;
    border-top-color: #ff6d02;
    border-bottom-color: transparent;
}
.editor-box .editor-head{
    background: #dedede;
    padding: 0px;
    font-size: 15px;
    position: relative;
    border-radius: 10px 10px 0 0;
}
.editor-box .editor-head .nav-tabs{
    float: left;
    border:none;
    margin: 7px 0 0 7px;
}
.editor-box .editor-head .nav-tabs > li{
    
}
.editor-box .editor-head .nav-tabs > li > a{
    padding: 7px 15px;
    border-radius: 10px 10px 0 0;
    line-height: normal;
    color: #474747;
    border: none;
}
.editor-box .editor-head .nav-tabs > li > a:hover{
    background: rgba(255,255,255,0.5);
}
.editor-box .editor-head .nav-tabs > li.active > a{
    background: rgba(255,255,255);
    color: #ff6d02;
}

.editor-box .editor-head img._close{
    float: right;
    margin: 10px;
    cursor: pointer;
}

.editor-box .editor-body{
    padding: 15px;
    border-radius: 0 0 10px 10px;
}
.editor-box .editor-footer{
    padding: 5px 15px;
    border-left: 1px solid #BBB;
    border-right: 1px solid #BBB;
    background: #DDD;
}

.editor-box .form-1{
    font-size: 0.8em;
}
.editor-box .form-1 label{
    font-weight: normal;
}
.editor-box .form-1 .form-control{
    border-radius: 0;
    border: 1px solid #DDD;
    box-shadow: none;
    background: rgba(0,0,0,0.05);
}
.editor-box .layout-dummy-list, 
.editor-box .featured-loading-dummy-list{
    margin: 0;
    padding: 0;
    list-style: none;
}
.editor-box .layout-dummy-list li{
    margin: 7px 0;
    padding: 0;
    display: block;
}
.editor-box .featured-loading-dummy-list li{
    margin:0;
    padding: 0 5px;
    display: block;
    float: left;
    width: 33.33%;
}
.editor-box .layout-dummy-list li:hover, 
.editor-box .layout-dummy-list li._active, 
.editor-box .featured-loading-dummy-list li:hover img, 
.editor-box .featured-loading-dummy-list li._active img{
    box-shadow: 0 0 0 2px rgba(255, 109, 2, 1);
}
.editor-box .layout-dummy-list li img, 
.editor-box .featured-loading-dummy-list li img{
    display: block;
    max-width: 100%;
}

.editor-box._body{
    left: 50%;
    top: 0;
    margin-left: -225px;
    position: fixed;
}
.editor-box._header, 
.editor-box._header-logo, 
.editor-box._header-nav{
    position: fixed;
}
.editor-box._header, 
.editor-box._footer, 
.editor-box._banner, 
.editor-box._header-logo._center, 
.editor-box._header-nav._center, 
.editor-box._featured-wrap, 
.editor-box._featured-sec
{
    margin-left: -225px;
}

.editor-box._header-nav._right:after, 
.editor-box._header-logo._right:after{
    left: auto;
    right: 30px;
}
.editor-box._header-nav._left:after, 
.editor-box._header-logo._left:after{
    left: 30px;
    right: auto;
}

.logo-uploader{
    position: relative;
    padding: 10px;
    cursor: pointer;
    display: block;
}
.logo-uploader img{
    display: block;
    margin: 0 auto;
    height: 50px;
}
.logo-uploader input[type=file]{
    position: absolute;
    z-index: 2;
    opacity: 0;
}
.logo-uploader div{
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    line-height: 70px;
    text-align: center;
    background: rgba(0,0,0,0.85);
    color: #FFF;
    font-size: 16px;
    opacity: 0;
}
.logo-uploader:hover div{
    opacity: 1;
}
.notification-box-vd{
    position: fixed;
    background: #e81d62;
    box-shadow: 0 0 15px rgba(0,0,0,0.7);
    padding: 10px 25px;
    font-size: 12px;
    color: #FFF;
    z-index: 99999;
    top: -50px;
    left: 50%;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
}
.notification-box-vd._active{
    top: 35px;
    opacity: 1;
}

.editor-box._featured-sec, 
.editor-box._list-item, 
.editor-box._shop-list-item{
    width:700px;
    margin-left: -300px;
}
.editor-box._content-detail, 
.editor-box._product-detail{
    width:800px;
    margin-left: -300px;
}
.editor-box._table-box .form-1 .form-control{
    padding-left: 3px;
    padding-right: 3px;
}
.editor-box._table-box .list-item-data{
    margin: 0;
    padding: 0;
    list-style: none;
}
.editor-box._table-box .list-item-data li{
    padding: 7px 0;
    margin-left: -5px;
    margin-right: -5px;
    position: relative;
}
.editor-box._table-box .list-item-data li div[class^="col-md-"]{
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}
.editor-box._table-box .list-item-data li .delete-mdata{
    position: absolute;
    right: -5px;
    top: 7px;
    height: 20px;
}
.editor-box._table-box .list-item-data li img{
    margin-top: 7px;
    opacity: 0.5;
    cursor: pointer;
}
.editor-box._table-box .list-item-data li img:hover{
    opacity: 0.75;
}
.editor-box._table-box .list-item-data li img._active{
    opacity: 1;
}