<div class="content">
    <div class="container">
        <h2 class="txt-camel">{$this->Language['my_library']}</h2>
        <ul class="item-list row">
            {assign var="total_purchase" value=$library|@count}
            {foreach from=$library item=purchase}
            <li class="col-md-3">
                <div class="item-wrap clearfix">
                    
                    <div class="item-cover">
                        <img class="_cover" src="{$purchase['poster']}" />
                        <div class="cover-overlay">
                            {if $purchase['is_play'] == 1}<a href="{$purchase['baseurl']}" class="playbtn">{$this->Language['play_now']}</a>{/if}
                            {if $purchase['is_play'] == 0}<a class="playbtn" href="{$purchase['baseurl']}">{$this->Language['explore']}</a>{/if}               
                        </div>
                    </div>
                    <div class="spacer_10"></div>
                    <div class="item-info">
                        <a href="{$purchase['baseurl']}">{$purchase['movie_name']|utf8_decode}</a>
                    </div>
                    <div class="item-info">
                        {if $purchase['genres']|@count > 0}
                            {$genre_count = $purchase['genres']|count}
                            {$j=0}
                            {foreach from=$purchase['genres'] item=genre}
                            {$genre}{$j = $j+1}{if $j != $genre_count}, {/if}
                            {/foreach}
                        {/if}
                        &nbsp;
                    </div>
                    <div class="spacer_10"></div>
               
                </div>
            </li>
            {/foreach}
            {foreach from=$pplibrary item=purchase}
            <li class="col-md-3">
                <div class="item-wrap clearfix">
                    
                    <div class="item-cover">
                        <img class="_cover" src="{$purchase['poster']}" />
                        <div class="cover-overlay">
                            {if $purchase['is_play'] == 1}<a href="{$purchase['baseurl']}" class="playbtn">{$this->Language['play_now']}</a>{/if}
                            {if $purchase['is_play'] == 0}<a class="playbtn" href="{$purchase['baseurl']}">{$this->Language['explore']}</a>{/if}               
                        </div>
                    </div>
                    <div class="spacer_10"></div>
                    <div class="item-info">
                        <a href="{$purchase['baseurl']}">{$purchase['movie_name']|utf8_decode}</a>
                    </div>
                    <div class="item-info">
                        {if $purchase['genres']|@count > 0}
                            {$genre_count = $purchase['genres']|count}
                            {$j=0}
                            {foreach from=$purchase['genres'] item=genre}
                            {$genre}{$j = $j+1}{if $j != $genre_count}, {/if}
                            {/foreach}
                        {/if}
                        &nbsp;
                    </div>
                    <div class="spacer_10"></div>
               
                </div>
            </li>
            {/foreach}
            {foreach from=$freecontent item=purchase}
            <li class="col-md-3">
                <div class="item-wrap clearfix">
                    
                    <div class="item-cover">
                        <img class="_cover" src="{$purchase['poster']}" />
                        <div class="cover-overlay">
                            {if $purchase['is_play'] == 1}<a href="{$purchase['baseurl']}" class="playbtn">{$this->Language['play_now']}</a>{/if}
                            {if $purchase['is_play'] == 0}<a class="playbtn" href="{$purchase['baseurl']}">{$this->Language['explore']}</a>{/if}               
                        </div>
                    </div>
                    <div class="spacer_10"></div>
                    <div class="item-info">
                        <a href="{$purchase['baseurl']}">{$purchase['movie_name']|utf8_decode}</a>
                    </div>
                    <div class="item-info">
                        {if $purchase['genres']|@count > 0}
                            {$genre_count = $purchase['genres']|count}
                            {$j=0}
                            {foreach from=$purchase['genres'] item=genre}
                            {$genre}{$j = $j+1}{if $j != $genre_count}, {/if}
                            {/foreach}
                        {/if}
                        &nbsp;
                    </div>
                    <div class="spacer_10"></div>
               
                </div>
            </li>
            {/foreach}
        </ul> 
    </div>
</div>