<div class="register-form">
    <div class="container">
        <h2 class="txt-camel">{$this->Language['register']}</h2>
        <div class="row">
            <div class="col-md-12">
                <h3 class="c-font-uppercase c-font-bold">{$this->Language['create_account_now']}</h3>
                   <p>{$this->Language['cancel_ac_anytime']}</p>
                   <p class="gray">{$this->Language['no_commit_no_extrafee']}</p>
                   {if $this->studio->social_logins}
                   {if isset($smarty.session.social) } 
                   {assign var=socialAuth value=$smarty.session.social}
                   {else}
                   {assign var=socialAuth value=$this->getSocialUrls()}
                   {/if}
                   {if $socialAuth}
                   <h3 class="capitalize bold-600 pink">{$this->Language['register_with_social_account']}</h3>
                   <div class="form-group">
                       <ul class="social-icons invert">
                           <li><a href="javascript:void(0);" data-url="{$socialAuth['fb_url']}" data-login="0" class="facebook_login facebook social_login"></a></li>
                       </ul>
                   </div>
                   {/if}
                   {/if}
                <form id="membership_form" name="membership_form" method="POST" class="form-horizontal" action="javascript:void(0);">
                    <div id="errors" class="error center"></div>  
                    <input type="hidden" name="csrfToken" id="csrfToken" value="{$smarty.session.csrfToken}" />

                    <div class="form-group">
                        <label for="name"class="col-sm-2 control-label">{$this->Language['text_name']}</label>
                        <div class="col-sm-4">
                            <input type="text"  class="form-control c-square c-theme" autocomplete="off" placeholder="{$this->Language['text_name_placeholder']}" id="name" name="data[name]" required />
                        </div>

                        <label for="email" class="col-sm-2 control-label">{$this->Language['email']}</label>
                        <div class="col-sm-4">
                            <input type="email"  class="form-control c-square c-theme" autocomplete="off" placeholder="{$this->Language['text_email_placeholder']}" id="email_address" name="data[email]" required />
                        </div>                    
                    </div>   

                    <div class="form-group">
                        <label for="join_password" class="col-sm-2 control-label">{$this->Language['text_password_placeholder']}</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control c-square c-theme" autocomplete="off" placeholder="{$this->Language['text_password_placeholder']}" id="join_password" name="data[password]" required />
                        </div>

                        <label for="confirm_password" class="col-sm-2 control-label">{$this->Language['confirm_password']}</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" autocomplete="off" placeholder="{$this->Language['confirm_password']}" id="confirm_password" name="data[confirm_password]" required />
                        </div>                    
                    </div>                          

                    <div class="top20"></div>

                    <div class="row">
                    {include file='../layouts/listplans.html'} 
                    </div>   
                    <div class="clearfix"></div>        
                <div class="loader" id="membership_loading" style="display: none;"></div>
                    {$payment_form}

                   {$payment_register_btn}                

                    <span class="error" id="plan_error"></span>     
                </form>            
            </div>
        </div>
    </div>
</div>    
<div id="successPopup" class="modal fade" style="width: 660px;margin:auto;margin-top: 10px;">
    <div class="modal-dialog" style="width: 660px;margin:auto;margin-top: 10px;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title success-popup-payment">{$this->Language['thanks_card_auth_sucess']}.</div>
            </div>
        </div>
    </div>
</div>

<div id="loadingPopup" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="border: none;">
                <div class="modal-title auth-msg">{$this->Language['auth_your_card']}</div>
                <div><img src="{$this->siteurl}/images/payment_loading.gif" alt="{$this->Language['loading']}" title="{$this->Language['loading']}" style="padding:5px;"/></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var action = 'saveuser';
    var btn = 'Register';
</script>
<script type="text/javascript" src="{$this->siteurl}/common/js/action.js"></script>
 <script src="{$this->siteurl}/js/jquery.matchHeight.js" type="text/javascript" ></script>
<script type="text/javascript" >
 $(document).ready(function(){
   $('.plan-box').matchHeight(); 
});
</script>