<div class="content">
    <div class="container">
        <h2 class="txt-camel">{$this->Language['watch_history']}</h2>
        {if $item_count > 0}
        <ul class="item-list row">
          {include file='../layouts/listitem.html'}
        </ul>
        {/if}
        <br/>
        <div class="product-pagination text-center">
            <nav>
                {$pagination}
            </nav>                        
        </div>
          
     </div>
</div>

