<div class="container">
    <div class="row">
        <div class="col-lg-12 top10">
            {foreach from=$selected_genres item=selected_genre}
            {if $selected_genre != ''}
            <code class="tagdesign"> {$selected_genre} <span class="tag-delete" onclick="removetaglist('{$selected_genre}');">X</span></code>
            {/if}
            {/foreach}
           
        </div>
    </div>
    <div class="row top20">
        
        <div class="col-lg-3 top-"><h2 class=""> {$category->title|utf8_decode}</h2></div>


        <div class="col-lg-6 fltdrpdown pull-right">
            <div id="loginContainer ">

                <a href="#" id="loginButton" style="width:100px;"><img src="{$this->siteurl}/images/Filter_icon.png" class="pull-left top10 left10" width="15"><span> {$this->Language['filter']}</span> <em></em></a>

                <div id="loginBox" class="opacity-new opacity-new col-lg-12">
                    <form action="{$this->siteurl}/{$category->permalink}" method="get" name="listingSearch" id="filterFormPopup">
                        <!--<form id="filterFormPopup">-->
                        <fieldset id="body">
                            <fieldset>
                                <div class="row text-black">

                                    <div class="col-xs-6 pull-right">
                                        <label for="sort" class="text-black">{$this->Language['sort_by']}</label> <br />
                                        <span class="sortby {if $smarty.get.orderby == 'lastupload'} sortby_active {/if}" onclick="sortby('lastupload');">{$this->Language['sort_last_uploaded']}</span> <br />
                                        <span class="sortby {if $smarty.get.orderby == 'releasedate'} sortby_active {/if}" onclick="sortby('releasedate');">{$this->Language['sort_release_date']}</span> <br />
                                        <span class="sortby {if $smarty.get.orderby == 'sortasc'} sortby_active {/if}" onclick="sortby('sortasc');">{$this->Language['sort_alpha_a_z']}</span> <br />
                                        <span class="sortby {if $smarty.get.orderby == 'sortdesc'} sortby_active {/if}" onclick="sortby('sortdesc');">{$this->Language['sort_alpha_z_a']}</span>
                                    </div>

                                    <div class="col-xs-6">
                                        <label class="text-black">{$this->Language['filter_by']}</label>
                                        <ul class="filterul">
                                            {foreach from=$genres item=genre}
                                            <li><label> <input type="checkbox" value="{$genre}" onclick="getsortlist(this.value)"> {$genre} </label></li>
                                            {/foreach}
                                        </ul>
  
                             
                                    </div>
                                    <div style="clear:both"></div>
                                </div>
                            </fieldset>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="single-product-area top50">
    <div class="container">

        <div class="row">

            {if $item_count > 0}
            {include file='../layouts/listitem.html'}
            {/if}

        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="product-pagination text-right">
                    <nav>
                        {$pagination}
                    </nav>                        
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
 
$(window).bind("load", function() {
    $(".thumblist").matchHeight();
	$(".popup_content .title").matchHeight();
	$(".moviename").matchHeight();
	$(".title").matchHeight();
	$.fn.matchHeight._update();    
});

</script>
