.loader_cart{
    display: none;
}
.loader-overlay {
    background: #333 none repeat scroll 0 0;
    opacity: 0.5;
    z-index: 100000;
}
.loader-overlay, .loader-elem-overlay {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
.loader_cart .loader-body {
    background: rgba(51, 51, 51, 0.3) none repeat scroll 0 0;
    color: #333;
    left: 43%;
    padding: 7px;
    position: fixed;
    top: 43%;
    z-index: 100001;
}
.loader_cart .large .msg{
    background: #fff url("/images/loader.gif") no-repeat scroll 6% 50%;
    font-size: 20px;
    padding: 15px 20px 15px 50px;
}
@media (max-width: 992px) {
    .user-menu li a{
        color:#fff;
    }
}
.c-cart-menu-items{
    max-height: 400px;
    overflow: auto;
    width: 100%;
}
@media (max-height: 360px) {
    .c-cart-menu-items{
        max-height: 110px;
    }    
}
@media (min-height:361px) and (max-height: 480px) {
    .c-cart-menu-items{
        max-height: 280px;
    }
}
@media (min-width:768px) and (max-width: 992px) {
    .user-menu ul{
        position: relative;
    }    
    /***.dropdown-menu{
        background: #344048;
        box-shadow: none;
    }****/
}
#savedaddress .plan-box h2,#savedaddress .plan-box p{
    word-wrap: break-word;
}

.cast_hide{display:none;}
.footer-menu ul li a:hover{color:#32c5d2;}
.tick-icon {
    right: -19px;
    top: -9%;
}
@media (max-width: 480px) {
.tick-icon {
    right: -10px;
    top: -11%;
}
}