/*-----------------------
    Audio Player - AP
------------------------*/
.ap {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  font-family: inherit;
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-top: 1px solid #ccc;
  background: #f2f2f2;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
  z-index: 99999;
}

.ap__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1440px;
  margin: auto;
}

.ap__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.ap__item--playback > .ap__controls,
.ap__item--settings > .ap__controls {
  -webkit-box-flex: 0;
  -webkit-flex: 0 25%;
      -ms-flex: 0 25%;
          flex: 0 25%;
}

@-webkit-keyframes fs {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fs {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.ap__item--track {
  -webkit-box-flex: 1;
  -webkit-flex: 1 40%;
      -ms-flex: 1 40%;
          flex: 1 40%;
  padding: 0 20px;
}

.track {
  position: relative;
  width: 100%;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  padding: 5px 0 0;
}

.track__title {
  position: absolute;
  width: 100%;
  overflow: hidden;
  padding-right: 80px;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.track__time {
  position: absolute;
  top: 5px;
  right: 0;
}

.progress-container {
  position: relative;
  padding: 7px 0;
  margin-top: 15px;
  overflow: hidden;
  cursor: pointer;
}
.progress-container:hover .progress__bar:after {
  opacity: 1;
}

.progress {
  height: 3px;
  border-radius: 3px;
  background: #ddd;
}

.progress__bar,
.progress__preload {
  position: absolute;
  width: 0;
  height: 3px;
  border-radius: 3px 0 0 3px;
}

.progress__bar {
  background: steelblue;
  z-index: 1;
}
.progress__bar:after {
  position: absolute;
  top: 0;
  right: -10px;
  width: 10px;
  height: 10px;
  margin-top: -3px;
  content: '';
  border-radius: 6px;
  background: steelblue;
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.progress__preload {
  background: #c4c4c4;
  z-index: 0;
}

.ap__controls,
.ap button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  position: relative;
  display: block;
  height: 50px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: background .3s ease;
  transition: background .3s ease;
}
.ap__controls:active,
.ap button:active {
  background: rgba(0, 0, 0, 0.1);
}
.ap__controls:hover,
.ap button:hover {
  opacity: 1;
}

.icon-play > path {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.is-playing .icon-play {
  fill: steelblue;
}

.volume-btn {
  display: block;
  text-align: center;
  width: 100%;
}

.volume {
  position: absolute;
  left: 50%;
  bottom: 36px;
  width: 40px;
  margin-left: -20px;
  height: 120px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all 0.3s cubic-bezier(0.17, 0.72, 0.26, 1.23);
  transition: all 0.3s cubic-bezier(0.17, 0.72, 0.26, 1.23);
  background: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 1px;
  z-index: 88888;
  margin-bottom:24px;
}
.volume::before, .volume::after {
  content: '';
  position: absolute;
  bottom: -12px;
  border: 7px solid transparent;
  border-top: 7px solid #f2f2f2;
  left: 50%;
  margin-left: -7px;
}
.volume::after {
  bottom: -14px;
  z-index: -1;
  border-top: 7px solid #ccc;
}

.volume-container:hover .volume ,.share-container:hover .volume {
  opacity: 1;
  -webkit-transform: translateY(10);
          transform: translateY(10);
  visibility: visible;
}

.volume__track {
  position: relative;
  display: block;
  width: 3px;
  height: 100px;
  margin: 10px auto;
  background: #ddd;
  border-radius: 3px;
  overflow: hidden;
}

.volume__bar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: steelblue;
  height: 50%;
}

.icon-volume-off {
  display: none;
}

.has-muted .icon-volume-on {
  display: none;
}
.has-muted .icon-volume-off {
  display: inline;
  opacity: .7;
}

.ap__controls.is-active > svg {
  fill: steelblue;
  -webkit-filter: drop-shadow(0 0 3px rgba(70, 130, 180, 0.4));
          filter: drop-shadow(0 0 3px rgba(70, 130, 180, 0.4));
}

@media (max-width: 1024px) {
  .ap__item > .ap__controls {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
@media (max-width: 580px) {
  .ap {
    min-width: 250px;
  }

  .ap, .ap__inner {
    height: auto;
  }

  .ap__inner {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  .ap__item--track {
    margin-bottom: 10px;
    padding: 0 20px;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .ap__item--playback,
  .ap__item--settings {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 50%;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
}
/*-----------------------
    Playlist Player - PL
------------------------*/
.pl-container {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 50px;
  left: 0;
  overflow: auto;
  font-family: inherit;
  font-size: 14px;
  background: #fff;
  z-index: 77777;
}

.pl-ul {
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  //float:right;
  padding: 30px 10px 100px 10px;
}

.pl-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  line-height: 40px;
}
.pl-list svg {
  fill: steelblue;
}

.pl-list + .pl-list {
  border-top: 1px solid #eee;
}

.pl-list:not(.pl-list--current):hover {
  background: #f6f6f6;
}

.pl-list__track,
.pl-list__remove {
  -webkit-box-flex: 0;
  -webkit-flex: 0 50px;
      -ms-flex: 0 50px;
          flex: 0 50px;
}

.pl-list__icon {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 8px solid #555;
}

.pl-list__title {
  overflow: hidden;
  padding-right: 10px;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.pl-list__remove {
  height: 100%;
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

.pl-list__remove > svg {
  width: 16px;
  height: 16px;
}

.pl-list__eq {
  display: none;
}

.pl-list--current {
  background: steelblue;
  color: #fff;
}

.pl-list--current svg {
  fill: #fff;
}
.pl-list--current .pl-list__eq {
  display: block;
}
.pl-list--current .pl-list__icon {
  display: none;
}

.pl-list:hover .pl-list__remove,
.pl-list--current .pl-list__remove {
  opacity: 1;
}

.pl-list--current .pl-list__remove:hover {
  background: #3f75a2;
}

.pl-list--empty {
    position: absolute;
    top: 18px;
    left: 27%;
    font-size: 12rem;
    -webkit-transform: translate(-50%, -50%);
    letter-spacing: 2px;
}

@-webkit-keyframes eq {
  0% {
    height: 3px;
  }
  50% {
    height: 20px;
  }
  100% {
    height: 3px;
  }
}

@keyframes eq {
  0% {
    height: 3px;
  }
  50% {
    height: 20px;
  }
  100% {
    height: 3px;
  }
}
.eq {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.eq__bar {
  width: 4px;
  background: #fff;
  -webkit-filter: drop-shadow(0 0 5px #fff);
          filter: drop-shadow(0 0 5px #fff);
}

.eq__bar:nth-child(1) {
  -webkit-animation: eq .8s ease-in-out infinite 0s;
          animation: eq .8s ease-in-out infinite 0s;
}

.eq__bar:nth-child(2) {
  -webkit-animation: eq .8s ease-in-out infinite .2s;
          animation: eq .8s ease-in-out infinite .2s;
}

.eq__bar:nth-child(3) {
  -webkit-animation: eq .8s ease-in-out infinite .4s;
          animation: eq .8s ease-in-out infinite .4s;
}

.h-hide {
  display: none;
}

.h-show {
  display: none;
}

.shuffleimg{
opacity: 0.85;	
}
.music {
    height: 4px;
    position: absolute;
    right:0px;
    width: 1px;
	float:left;
	width:40px;
	margin-top:-14px;
	margin-right:5px;
}
.music_off {
    display: none;
}
.list-inline.fr {
	float:right;
	margin-top:-25px;
}

.bar1{
  border:2px solid #32c5d2;
  position:absolute;
  background:#32c5d2;
  bottom:2%;
  left:0px;
}

.bar2{
  border:2px solid #32c5d2;
  position:absolute;
  background:#32c5d2;
  left:7px;
  bottom:2%;
  width:0.2px!important;
}

.bar3{
  border:2px solid #32c5d2;
  position:absolute;
  background:#32c5d2;
  left:14px;
  bottom:2%;
  width:0.2px!important;
}
.dropdown-menu-right {
    left: auto;
    right: -6px;
}
.open>.dropdown-menu
{
	margin-top: 8px;
}
.mb
{
	margin-bottom:20px;
}
.dropdown-menu:before, .dropdown-menu-visible-xs:before {
    content: "";
    position: absolute;
    top: -7px;
    right: 7px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}
.dropdown-menu:before, .dropdown-menu-visible-xs:before {
    border-bottom: 8px solid #fff;
}
.media-list {
    margin-bottom: 50px;
    float: left;
    position: relative;
    margin-top: 0px;
    z-index: 10;
    width: 100%;
}
.media-object {
    z-index: 99;
    position: absolute;
    border-radius: 4px;
    width: 41px;
    height: 41px;
    overflow: hidden;
}
.media-heading {
    font-size: 16px;
    padding: 14px 0px 0px 50px;
	color:#fff;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background-color: transparent;
}
bootstrap.min.css:1
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent;
}
.navbar-default {
    height: 65px;
    padding: 5px 40px;
}


.navbar-nav > li:not(.pull-right) {
    float: left;
}
.mt {
    margin-top: -5px;
}
.btn:focus,
.btn:active,
button {
    outline: 0 !important;
}

.btn {
    
}

.as-btn-md {
    min-width: 179px;
    height: 40px;
    padding:7px 12px;
}
.as-btn-accent {
    border-color: #32c5d2;
    color: #fff;
    background: #32c5d2;
	font-weight:600;
	font-size:17px;
}

.as-btn-accent:hover {
    color: #fff;
    background: #1f9ea9;
	border-color: #1f9ea9;
}

.as-btn-accent:focus,
.btn-accent:active {
    color: #fff;
    background: #1f9ea9;
}
.as-btn-grey {
    color: #707277;
	border:2px solid #707277;
	margin-right:20px;
	font-weight:600;
	font-size:17px;
}

.as-btn-grey:hover {
    color: #fff;
    background: #eb5d68;
	border:2px solid #eb5d68;
}

.as-btn-grey:focus,
.btn-grey:active {
    color: #fff;
    background: #eb5d68;
	border:2px solid #eb5d68;
}
#generalInfoModal .modal-body {
    padding:20px;
    position: relative;
}
.modal-body {
    position: relative;
}

.c-layout-header .c-cart-menu{
z-index:9;
}
@media (max-width: 992px) {
   .dropdown-menu::before{
      display:none;
   }
}
@media (max-width: 799px) {
  #homepage_sections .slick-next{right:0}
  #homepage_sections .slick-prev{left:0;}
}
.video-js {width:100% !important; height: 50%; padding-top: 48%;}
.RDVideoHelper{display: none;}
video::-webkit-media-controls {
	display:none !important;
}
#myTrailer{
	height : 100% !important;
}