@media (min-width: 1600px){
    .art-detail .col-lg-3{
        width:20%;
    }
}
@media (min-width: 1050px){
    .sidebar-menu{
        left:0;
    }
    .navbar-nav>li.hamburger{
        display: none;
    }
    .wrapper-inner{
        padding: 0 0 0 220px;
    }
    .search {
        padding-left: 40px !important;
    }
    .search form{
        left: 70px;
    }
}
@media (max-width: 1049px){
    .search {
        padding-left: 5px;
    }
    .search form{
        left: 35px;
    }
}
@media (min-width: 992px){
    .dropdown-menu-visible-xs:before , .dropdown-menu-visible-xs .divider{
        display: none;
    }
    #user_menu .divider{
        margin: 15px 0;
    }
    .table-bordered > tbody > tr > td,
    .table-bordered > tbody > tr > th,.table>thead>tr>th {
        padding: 30px 25px;
    }
    .ui-widget-content{ 
        left: 255px !important;
        width: 335px !important;
    }
}
@media (max-width: 991px){
    .navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a {
        padding: 5px 15px 5px 25px;
    }
    .more-menu{
        padding-top: 6px !important;
        background-color: transparent !important;
        width:25px;
        text-align: right;
        display: block !important;
    }
    .dropdown-menu-visible-xs{
        position: absolute;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 230px;
        padding: 20px 25px;
        margin: 2px 0 0;
        list-style: none;
        font-size: 14px;
        top: 100%;
        right: 0;
        left: auto;
        text-align: left;
        background-color: #1a1f2b;
        border-color: transparent;
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        background-clip: padding-box;
    }
    .dropdown-menu-visible-xs li{
        display: block;
    }
    .dropdown-menu-visible-xs #user_menu li{
        padding-left: 0;
        padding-right: 0;
    }
    .dropdown-menu-visible-xs #user_menu > li:first-child{
        margin-bottom: 15px;
    }
    .dropdown-menu-visible-xs #user_menu .btn{
        width:100%;
    }
    .dropdown-menu-visible-xs .dropdown-menu {
        padding: 10px 0 0px;
        max-height: 200px;
        overflow-y: auto;
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .dropdown-menu:before, .dropdown-menu-visible-xs:before{
        right: 0;
    }
    #user_menu .divider{
        margin: 15px 30px;
    }
    .menu-visible>.dropdown-menu-visible-xs{
        display: block;
    }
    .table-bordered > tbody > tr > td,
    .table-bordered > tbody > tr > th,.table>thead>tr>th {
        padding: 30px 20px;
    }
}

@media (min-width: 768px){
    .search .toggle img{
        margin-top: -5px;
        opacity: 0.4;
    }
    .search form {
        position: absolute;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }
    .search-field {
        width: 300px;
    }
    .content-holder{
        padding-left: 40px;
        padding-right: 40px;
    }
    .social,.app-store{
        text-align: right;
    }
    .fo-nav a{
        padding-right: 12.5px;
        padding-left: 12.5px;
    }
    .fo-nav .divider{
        margin-right: auto;
        margin-left: auto;
    }
    .art-detail{
        margin-top: -120px;
    }
    .modal-dialog {
    margin: 30px auto;
    width: 665px;
	}
    .ui-widget-content{ 
        left: 255px !important;
        width: 340px !important;
        top:55px !important;
    }
}
@media (max-width:767px){
    h1 {
		font-size: 28px; 
	}
	h2 {
		font-size: 26px; 
	}
	h3 {
		font-size: 20px; 
	}
	h4 {
		font-size: 17px; 
	}
	h5,h6 {
		font-size: 14px; 
	}
    .navbar-nav {
        float: left;
        margin: 0;
    }
    .navbar-brand{
        max-width: 144px;
    }
    .navbar-default {
        padding: 5px 20px;
    }
    .content-holder{
        padding-left: 15px;
        padding-right: 15px;
    }
    .search{
        position: fixed !important;
        right: 60px;
        padding-top: 17px;
    }
    .search-field {
        background-color: #12171f;
        border-bottom: 2px solid #953f32 !important;
    }
    .search > span{
        opacity: 1;
        float: right;
        width: 30px;
        text-align: center;
        cursor: pointer;
        margin-right: -15px;
    }
    .search form{
        position: fixed;
        left: 15px;
        top: 65px;
        right: 15px;
        width: calc(100% - 30px);
        display: none;
        -webkit-transition-duration: 0.35s;
        transition-duration: 0.35s;
    }
    .search.visible form{
        display: block;
    }
    .search form input {
        width: 100%;
    }
    .fo-nav{
        text-align: left;
    }
    .fo-nav a {
        padding-right: 10px;
        padding-left: 0;
        white-space: nowrap;
    }
    .art-detail{
        margin-top: -170px;
        text-align: center;
    }
    .art-detail .card figure{
        max-width: 50%;
        margin: 20px auto;
        background-size: contain;
        padding-top: 50%;
    }
    .page-header{
        height: 200px;
    }
    .fill-header:not(.if-contentList),.fill-header img{
        top:0;
    }
    .fill-header.if-contentList img{
        top:50%;
    }
    .user-profile{
      max-width:150px;
      margin:auto auto 20px;
     }
    .transcation-detail .list-inline li:first-child {
        width: 95%;
    }
    .table-responsive {
        border: 1px solid #151c26;
    }
    input[type=search]{
        opacity: 1;
    }
    .ui-widget-content{ 
        left: 15px !important;
        right: 15px !important;
        top:105px !important;
    }
}
@media (max-width:499px){
    .middle-grid {
        width: calc(100% - 48px);
    }
    .left-grid{
        width: 48px;
    }
    .right-grid{
        width:100%;
        padding-left: 48px;
    }
    .right-grid .time{
        text-align: left;
        font-size: 12px;
    }
}
.col-fluid{
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 35px;
}
/*For creating listing*/
@media (min-width:1440px){
    .col-fluid{
        width: 12.5%;
    }
}
@media (min-width:1280px) and (max-width:1439px){
    .col-fluid{
        width: 16.666666%;
    }
}
@media (min-width:850px) and (max-width:1279px){
    .col-fluid{
        width: 20%;
    }
}
@media (min-width:700px) and (max-width:849px){
    .col-fluid{
        width: 25%;
    }
}
@media (min-width:475px) and (max-width:699px){
    .col-fluid{
        width: 33.3333333%;
    }
}
@media (max-width:474px){
    .col-fluid{
        width: 50%;
    }
    .fully-bleed-xs .col-xs-6{
        width:100%;
    }
    .plan-box{
        min-height: 200px;
    }
    .page-title h2{
        margin-top: 75px;
    }
}