<script>
    var muviWaterMarkTrailer = "{$waterMarkOnPlayer}";
</script>

{$content = $item|json_decode}
<input type="hidden" value="{$content->movie_id}" id="p_movieid">
{$casts = $content->casts}
{$directors = $casts->directors}
{$actors = $casts->actors}
{$all_series = $allseries|json_decode}
{$release_date= $content->full_release_date}
{$content_banner=$content->content_banner}
{$censor_rating = $content->censor_rating|replace:'&nbsp;':''}
{$trailer_is_converted=$content->trailer_is_converted}
{$pageUrl = $this->ogUrl}
<input type="hidden" name="ppv_plan_id" id="ppv_plan_id" value="{$content->ppv}" />
<input type="hidden" name="current_user_id" id="current_user_id" value="{$this->user_id}" />
<input type="hidden" name="movie_uniq_id" id="movie_uniq_id" value="{$content->uniq_id}" />
<input type="hidden" name="check_season" id="check_season" value="1" />

<div class="container content-banner">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="relative">
                {if $content_banner !=''}
                <img src="{$content_banner}" alt="{$content->title}" title="{$content->title}" class="img-responsive ">
                {else}
                <img src="{$this->siteurl}{$Yii->theme->baseUrl}/images/No-Image-Horizontal.jpg" alt="{$content->title|utf8_decode}" title="{$content->title|utf8_decode}" class="img-responsive ">
                {/if}

                <div class="banner-btn">
                    {if $trailer_is_converted !=''}<a  class="btn btn-lg btn-primary btn-padding margin-center" id="trailer-btn"><i class="fa fa fa-film padding-right-10"></i>{$this->Language['view_trailer']}</a>{/if}
                </div>
                <div class="banner-bottom-line"> </div>

            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="wrapper">
        <div class="row top50 pad20">
            <div class="col-md-6 bottom-padding30">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="poster"><img src="{$content->poster}" alt="{$content->title|utf8_decode}" title="{$content->title|utf8_decode}" class="img-responsive"></div>
                    </div>
                    <div class="col-md-8 top-20">
                        <h2 class="poster-title ">{$content->title|utf8_decode}</h2>
                        <p class="font22 light-green-color">{$review_summary}</p> 
                        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={$pageUrl}" data-title="Facebook Share" class="social-share-popup"><img src="{$this->siteurl}/images/fb-share-icon.jpg"></a>&nbsp;&nbsp;
                        <a target="_blank" href="https://twitter.com/intent/tweet?text={$pageUrl}" data-title="Share on Twitter" class="social-share-popup"><img src="{$this->siteurl}/images/twitter-share-icon.jpg"></a>&nbsp;&nbsp;                
                        {if $this->add_to_favourite}
                            <p>
                                <button  name="addtofav" data-fav_status="{$user_status['fav_status']}" data-login_status="{$user_status['login_status']}" data-content_id="{$content->movie_id}" data-content_type="{$content->is_episode}" class="btn btn-lg btn-primary addtofav" type="button">{if $user_status['fav_status'] ==0}<i class="fa fa-heart padding-right-10" aria-hidden="true"></i><span id="favtext">{$this->Language['added_to_fav']}</span>{else} <i class="fa fa-heart-o padding-right-10" aria-hidden="true"></i><span id="favtext">{$this->Language['add_to_fav']}</span> {/if}</button>
                            </p>
                        {/if}
                        
                        {if $content->show_booking_button}
                            {if $content->start_time !="0000-00-00 00:00:00" }
                                <p>
                                    <button  name="addtocal" data-content_id="{$content->movie_id}" data-content_type="{$content->is_episode}" data-start_time="{$content->start_time}" data-booking_time="{$content->booking_time}" data-book_type="1" data-booking_with_cal="1" class="btn btn-lg btn-primary addtocal cbook" type="button"><i class="fa fa-clock-o" aria-hidden="true"></i>{if $content->booking_status}{$this->Language['booked']}{else}{$this->Language['book']}{/if}</button>
                                </p>
                            {else}
                                <p>
                                   <button  name="addtocal" data-content_id="{$content->movie_id}" data-content_type="{$content->is_episode}" class="btn btn-lg btn-primary addtocal" data-booking_time="{$content->booking_time}" data-book_type="2" data-booking_with_cal="1" type="button"><i class="fa fa-clock-o" aria-hidden="true"></i>{if $content->booking_status}{$this->Language['added_to_calender']}{else}{$this->Language['add_to_calender']}{/if}</button>
                                </p>
                            {/if}
                        {/if}    
                        {if $content->genres|@count > 0}
                        <p class="light-green-color">{$this->Language['genre']}
                            {$genre_count = $content->genres|count}
                            {$j=0}
                            {foreach from=$content->genres item=genre}<a class="dark-gray capitalize not-active " href="#">{$genre}</a>{$j = $j+1}{if $j != $genre_count}, {/if}{/foreach}</p>{/if}
                        {if $content->video_duration != '' }<p class="font18"><span class="light-green-color ">{$this->Language['duration']} </span>{$content->video_duration}</p>{/if}
                        <p><span class="light-green-color ">{if $release_date!=''}{$this->Language['sort_release_date']}:</span> {$release_date}{/if}</p>
                        {if $censor_rating !=""}<p><span class="light-green-color ">{$this->Language['censor_rating']}</span> {$content->censor_rating} </p>{/if}
                        <p>{$directors_count = $directors|count}{$j=0}{if $directors|@count > 0}<span class="light-green-color ">{$this->Language['director']}: </span>{foreach from=$directors item=director}
                            <a  class="dark-gray" href="{$director->full_permalink}">{$director->celeb_name}{$j = $j+1}{if $j != $directors_count},{/if}</a>
                            {/foreach}
                            {/if}
                        </p>
                        {if $content->story !=''}<p><span class="light-green-color  ">{$this->Language['story']} </span></p><p class="font-200">{if $content->story|utf8_decode|count_characters > 75}{$content->story|utf8_decode|truncate:400}&nbsp;&nbsp;<a href="javascript:void();" class="more" data-toggle="modal" data-target=".bs-example-modal-lg3">{$this->Language['more']}</a>{else}{$content->story|utf8_decode}{/if}</p></p>{/if}
                        <div class="row col-md-12 col-sm-6 detailspage">
                        {$pricing_text}
                        </div>
                        {$extra_content}
                        <div class="clearfix"></div>
                        {if $trailer_is_converted !=''}<a href="#trailer" class="btn btn-default btn-grey " id="trailer-btn"><i class="fa fa fa-film padding-right-10"></i>{$this->Language['view_trailer']}</a>{/if}

                    </div>
                </div>
            </div>
            {assign var=number value=1}
            {foreach from=$casts key=counter item=cast}
            {if $counter != 'directors' && $cast|count>0} 
            {assign var=val value=$val+1}
            {/if}
            {/foreach}

            <div class="col-md-6">
                <div class="row">
                    {if $val>0 } <div class="col-md-12"><h2 class="poster-title">{$this->Language['cast']}</h2></div>{/if}
                    <div class="col-md-12">
                        <div class="row">
                            {foreach from=$casts key=counter item=cast}
                            {if $counter != 'directors'}
                            {foreach from=$cast item=cast_role}
                            {assign var=counte value=$counte+1}
                            {$hide="cast_hide"}

                            <div class="col-md-6 col-sm-6 {if $counte > 10}{$hide}{/if}">
                                <div class="cast clearfix ">
                                    <a href="{$cast_role->full_permalink}">  <img src="{$cast_role->celeb_image}" alt="{$cast_role->celeb_name}" title="{$cast_role->celeb_name}" class="recent-thumb "width="50"></a>
                                    <p class="light-green-color"><a href="{$cast_role->full_permalink}">  {$cast_role->celeb_name}</a></p>
                                    <p class="cast_type"> {if $counter == 'As Actor'}{$this->Language['as_actor']} {else}{$this->Language['as']} {$counter}{/if}</p>
                                </div>
                            </div>
                            {if $counte == 11}<div class="margin-left3"><a class="more" href="javascript:void();" data-toggle="modal" data-target=".bs-example-modal-lg2">{$this->Language['more']}</a></div>{/if}
                            {/foreach} 
                            {/if}
                            {/foreach}
                        </div>

                    </div>
                    <div class="col-md-12 text-right top50">
                        {if Yii::app()->general->getStoreLink()}
                        {if !empty($contentproduct)}
                        <div class="clearfix" style="height:10px;"></div>
                        {include file='../shop/list.html'}
                        <div class="clearfix" style="height:10px;"></div>
                        {/if}
                        {/if}
                        {$extra_content}
                    </div>

                    <div class="loader loader_ppv" id="loader"></div>
                </div>
            </div>
        </div>
        <div class="row top20">
            <div class="col-md-4 col-sm-3">
                {if $episode|@count>0}    <div class="title1" style="display:inline-block;">{$this->Language['episodes']}  </div>{/if}
            </div>

            <div class="col-md-8 col-sm-9 text-right">          

                <div class="form-group no-gutter episode_dropdown">
                    {if $all_series|@count >= 1}
                    <div class="row dropdown-wrap">
                        <label for="inputPassword" class="col-xs-6 control-label text-right font-25 top-2">{$this->Language['season']}</label>
                        <div class="col-xs-6">
                            <select id="series" name="series" class="form-control form-control-border _lowheight">
                            {foreach from=$all_series item=series}
                            <option value="{$series->series_number}" {if $default_series == $series->series_number}selected="selected"{/if}>{$this->Language['season']} {$series->series_number}</option>
                            {/foreach}
                        </select>

                    </div>{/if}
                </div>
                    {if $content->play_btn != ''}<span class="btn buynow btn-default btn-padding  {if $trailer_is_converted ==''}margin-center{/if}">  {$content->buy_btn}</span>{/if}

            </div>
        </div>  
        </div>  
        {if $episode|@count>0} 

        <div class="row top10" style="position:relative; min-height:100px;">

            <!--To list episodes-->
            <input type="hidden" name="content_id" id="content_id" value="{$content->movie_id}" />
            <input type="hidden" name="default_series" id="default_series" value="{$default_series}" />
            {$pagination}
            <div id="episodes"></div>
            <div class="loader" id="loader_episode"></div>

        </div>
        {/if}

        <div class="row top20">
            <div class="col-md-12">
                <div class="loader" id="loader_review"></div>
                <div class="form-group review_form">
                    {$review_form}
                </div>
            </div>


        </div>
        {if $this->studio->comment_activated == 1}
        <div class="row top50">
            {include file='../media/comment_form.html'}
            {include file='../media/comment_list.html'}            
        </div>
        {/if}

    </div>
</div>
<div id="myTrailer"> 
    <div class="wrapper">
        <div class="videocontent">
        </div> 
    </div>
</div>
<script type="text/javascript" src="{$this->siteurl}/common/js/fancybox.js"></script>
<link rel="stylesheet" href="{$this->siteurl}/common/css/fancybox.css" type="text/css" media="screen" />

<script type="text/javascript" src="{$this->siteurl}/common/rating/bootstrap-rating.js"></script>
<script type="text/javascript" src="https://d1yjifjuhwl7lc.cloudfront.net/public/assets/js/jquery.bootpag.min.js"></script>
<script type="text/javascript">
    //videojs.options.flash.swf = "{$this->siteurl}/js/video-js.swf";
    var trailerUrl = '{$content->trailer_url}';
    var trailerIsConverted = '{$content->trailer_is_converted}';
    var v_logo = '{$v_logo}';
    var HTTP_ROOT = '{$this->siteurl}';
    var is_mobile = 0;
    var multipleVideoResolution = {$multipleVideo|json_encode};
    var defaultResolution = '{$defaultResolution}';
    var createSignedUrl = "{$this->siteurl}/user/getNewSignedUrlForTrailer";
    $(document).ready(function () {
        $('.videocontent').hide();
        $("#episodes").on("click", ".multipart_child", function () {
            var title = $(this).parent().parent().find('.episode_title').html();
            var story = $(this).parent().parent().parent().find('.c-full-desc').html();
            $('#multipart_child_title').html($.trim(title));
            $('#multipart_child_story').html($.trim(story));
        });
    });
</script>
{literal}
<style type="text/css">
    /*    .video-js {height: 50%; padding-top: 48%;}*/
    .RDVideoHelper{display: none;}
    .videocontent{display: block;}
    video::-webkit-media-controls {
        display:none !important;
    }
    .cast_hide{display:none;}
</style>  
{/literal}
<script type="text/javascript" src="{$this->siteurl}/js/content.js"></script>
<div class="modal fade bs-example-modal-lg1" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-lg" role="document"> <div class="modal-content popup_bottom modal-overflow">
            <div class="modal-header"> 
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button> 
                <h4 class="modal-title" id="multipart_child_title"></h4> 
            </div>
            <div class="modal-body" id="multipart_child_story"> 

        </div>
    </div>
</div>
</div>
<div class="modal fade bs-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-lg" role="document"> <div class="modal-content popup_bottom modal-overflow">
            <div class="modal-header"> 
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button> 
                <h4 class="modal-title" id="mySmallModalLabel">{$content->title|utf8_decode}</h4> 
            </div>
            <div class="modal-body"> 
                <div class="row">
                    {foreach from=$casts key=counter item=cast}
                    {if $counter != 'directors'}
                    {foreach from=$cast item=cast_role}


                    <div class="col-md-6 col-sm-6 ">
                        <div class="cast clearfix ">
                            <a href="{$cast_role->full_permalink}">  <img src="{$cast_role->celeb_image}" alt="{$cast_role->celeb_name}" title="{$cast_role->celeb_name}" class="recent-thumb "width="50"></a>
                            <p class="light-green-color"><a href="{$cast_role->full_permalink}">  {$cast_role->celeb_name}</a></p>
                            <p class="cast_type"> {if $counter == 'As Actor'}{$this->Language['as_actor']} {else}{$this->Language['as']} {$counter}{/if}</p>
                        </div>
                    </div>

                    {/foreach} 
                    {/if}
                    {/foreach}
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-lg3" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-lg" role="document"> <div class="modal-content popup_bottom modal-overflow">
            <div class="modal-header"> 
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button> 
                <h4 class="modal-title c-font-uppercase c-font-bold" id="mySmallModalLabel">{$content->title|utf8_decode}</h4> 
            </div>
            <div class="modal-body"> 
                {$content->story|utf8_decode}
            </div>
        </div>
    </div>
</div>
