<link rel="stylesheet" href="{$this->siteurl}/css/lightslider.min.css" type="text/css">
{literal}
<style>
        .lightslider ul{
            list-style: none outside none;
            padding-left: 0;
            margin: 0;
            text-align: center;
        }
        .lightslider .item{
            /*margin-bottom: 60px;*/
        }
        .content-slider{
            margin: 0 auto !important;
        }
        .content-slider li{
            background-color: #efe7e6;
            text-align: center;
            color: #FFF;
        }
        .content-slider h3 {
            margin: 0;
            padding: 20px 0;
        }
        .lightslider{
            width: 555px;
            margin: 5px auto;
        }
        .lslide{
            height: auto;
            overflow: visible;
            border: 1px solid #a2a6ac;
            border-radius: 2px;
        }
        .lslide.active{
            border: 1px solid #e73946;
        }
        #avatar_preview_div .faded-area {
            background-color: rgba(255, 255, 255, 0.6);
            position: absolute;
            height: 100%;
            z-index:999;
            width: 100%;
            display: none;
        }
        #avatar_preview_div .loading-img {
            background: transparent url('img/loading.gif') center center no-repeat;
            position: absolute;
            top: 45%;
            width: 100%;
        }
        @media (max-width: 768px) {
            .lightslider { width: 100%; }
        }
</style>
{/literal}
<!-- BEGIN: PAGE CONTAINER -->
<input type="hidden" value="{$product['id']}" id="p_movieid">
<input type="hidden" value="physical" id="p_type">
<div class="c-layout-page">
    <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
    <div class="c-layout-breadcrumbs-1 c-subtitle c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
        <div class="container">
            <div class="c-page-title c-pull-left">
                <h3 class="c-font-sbold"><span class="c-font-uppercase">{$this->Language['product_details']}:</span> {$product['name']}</h3>
            </div>
            <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                <li>
                    <a href="/shop">{$this->Language['shop']}</a>
                </li>
                <li>/</li>
                <li>
                    <a href="#">{$this->Language['product_details']}</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
    <!-- BEGIN: PAGE CONTENT -->
    <!-- BEGIN: CONTENT/SHOPS/SHOP-PRODUCT-DETAILS-2 -->
    <div class="c-content-box c-size-sm c-overflow-hide c-bg-white">
        <div class="container">
            <div class="c-shop-product-details-2">
                <div class="row">
                    <div class="col-md-6">
                        <div class="c-product-gallery">
                            <div class="c-product-gallery-content">
                                <div class="c-zoom1" style="text-align: center; height:350px; position: relative;" id="avatar_preview_div">
                                    <div class="faded-area"><div class="loading-img">&nbsp;</div></div>
                                    {assign var="cropDimesion" value=Yii::app()->common->getPgDimension()}
                                    {assign var="pgposter" value=Yii::app()->common->getPgPosters($product['id'])}
                                    {if ($product['id']=='')}
                                        {$posterImg = POSTER_URL + '/no-image-a.png'}
                                    {else}
                                        {$posterImg = str_replace('standard/','original/',$pgposter[0]['poster'])}
                                    {/if}
                                    {if (strpos($posterImg, 'no-image') > -1)}
                                    <img data-src="holder.js/{$cropDimesion['width']}x{$cropDimesion['height']}" alt="{$cropDimesion['width']}x{$cropDimesion['height']}" style="width: 100%;" />
                                    {else}
                                        <img src="{$posterImg}" alt="" style="width: auto; max-height: 350px;">
                                    {/if}
                                </div>
                                
                                <div class="clearfix"></div>
                                {if ($pgposter|@count > 1)}
                                    <div class="lightslider">
                                    <div class="item">
                                        <ul id="content-slider" class="content-slider">
                                            {foreach from=$pgposter key=k item=pgThumb}
                                            {$thumbPoster = str_replace('standard/','thumb/',$pgThumb['poster'])}
                                            
                                            <li>
                                                <a href="javascript:void(0);" data-poster-id="{$pgThumb['id']}" data-product-id="{$product['id']}" onmouseover="changePgPoster(this, 'original')" class="btn upload-Image" style="padding: 0;">
                                                <img class="img-thumbnails" src="{$thumbPoster}" />
                                                </a>
                                            </li>
                                            
                                            {/foreach}
                                        </ul>
                                    </div>
                                </div>
                                {/if}
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="c-product-meta">
                            <div class="c-content-title-1" style="float:none;">
                                <h3 class="c-font-uppercase c-font-bold" style="word-wrap: break-word;">                                    
                                    {$product['name']}{if $product['is_preorder'] == 1}&nbsp;<span class="label label-danger">{$this->Language['coming_soon']}&nbsp;</span>{/if}
                                </h3>
                                <div class="c-line-left"></div>
                            </div>
                            {if $trailerurl !=''}
                            <div style="margin-bottom: 10px;">
                                <a href="javascript:void(0);" class="btn c-btn btn-lg c-font-bold c-font-white c-theme-btn c-btn-square c-font-uppercase btn_view_trailer_inside">{$this->Language['view_trailer']}</a>
                            </div>
                            {/if}
                            <div class="clearfix"></div>
                            {if $product['is_preorder'] == 0}
                            <div class="c-product-price">
                                {if $product['is_free_offer'] == 0}
                                {if $product['sale_price'] != 0}
                                {Yii::app()->common->formatPrice($product['sale_price'],$product['currency_id'])}
                                {/if}
                                {else}
                                Free
                                {/if}
                            </div>
                            {else}
                            <div class="c-product-price">Subscribers : {Yii::app()->common->formatPrice($prices['price_for_subscribe'],$product['currency_id'])}<br />Non-subscribers : {Yii::app()->common->formatPrice($prices['price_for_unsubscribe'],$product['currency_id'])}</div>
                            {/if}
                            <div class="row" style="margin-bottom: 5px;">
                                <div class="col-sm-4 c-font-uppercase c-font-bold">
                                    {$this->Language['sku']} : <span style="color: #32c5d2;">{$product['sku']}</span>
                                </div>
                                {if $product['custom_fields'] !=''}
                                <div class="col-sm-4 c-font-uppercase c-font-bold">
                                    {$this->Language['format']} : <span style="color: #32c5d2;">{$product['custom_fields']}</span>
                                </div>
                                {/if}
                                {if $product['rating'] !=''}
                                <div class="col-sm-4 c-font-uppercase c-font-bold">
                                    {$this->Language['rating']} : <span style="color: #32c5d2;">{$product['rating']}</span>
                                </div>
                                {/if}
                            </div>
                            <div class="clearfix"></div>
                            <div class="c-product-short-desc">{$product['description']}</div>
                                {if $product['release_date'] && (($product['release_date']|date_format:"%m/%d/%Y") != '01/01/1970') }
                                <div class="c-font-uppercase c-font-bold ">{$this->Language['release_date']} : <span style="color: #32c5d2;">{$product['release_date']|date_format:"%m/%d/%Y"}</span></div>
                                {/if}
                            {if $product['is_free_offer'] == 0}
                            <div class="c-product-add-cart c-margin-t-20">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <div class="c-input-group c-spinner">
                                            {if $product['status']!=3}
                                            <p class="c-product-meta-label c-product-margin-2 c-font-uppercase c-font-bold">{$this->Language['qty']}</p>
                                            <input type="text" class="form-control c-item-1" value="1" id="product_qnt" onkeypress="return isNumberKey(event)">
                                            <div class="c-input-group-btn-vertical">
                                                <button class="btn btn-default quant_inc" type="button" data_input="c-item-1" onclick="updatequan(1)">
                                                    <i class="fa fa-caret-up"></i>
                                                </button>
                                                <button class="btn btn-default quant_dec" type="button" data_input="c-item-1" onclick="updatequan(2)">
                                                    <i class="fa fa-caret-down"></i>
                                                </button>
                                            </div>
                                            {/if}
                                        </div>
                                    </div>
                                    {if $product['status']==1}                                        
                                    <div class="col-sm-3 col-xs-12 c-margin-t-20">
                                        <input type="button" {if $product['sale_price'] != 0} onclick="showcart({$product['id']},1);" {/if} value="{$this->Language['add-to-cart']}" name="" class="btn c-btn btn-lg c-font-bold c-font-white c-theme-btn c-btn-square c-font-uppercase" {if $product['sale_price'] == 0} disabled="disabled" {/if}>
                                    </div>
                                    {if $product['is_preorder'] == 0}
                                    <div class="col-sm-4 col-xs-12 c-margin-t-20">
                                        <button class="btn c-btn btn-lg c-btn-red c-btn-square c-font-white c-font-bold c-font-uppercase c-cart-float-l" {if $product['sale_price'] != 0} onclick="showcart({$product['id']}, 2,1);" {/if} {if $product['sale_price'] == 0} disabled="disabled" {/if}>{$this->Language['ordernow']}</button>
                                    </div>
                                    {else}
                                    <div class="col-sm-4 col-xs-12 c-margin-t-20">
                                        <button class="btn c-btn btn-lg c-font-bold c-font-white c-theme-btn c-btn-square c-font-uppercase c-bg-red" {if $product['sale_price'] != 0} onclick="showcart({$product['id']}, 2);" {/if} {if $product['sale_price'] == 0} disabled="disabled" {/if}>{$this->Language['preorder_now']}</button>
                                    </div>
                                    {/if}                            
                                    {elseif $product['status']==3}
                                    <div class="col-sm-4 col-xs-12 c-margin-t-20">
                                        <button class="btn c-btn btn-lg c-font-bold c-font-white c-theme-btn c-btn-square c-font-uppercase c-bg-red" {if $product['sale_price'] == 0} disabled="disabled" {/if}>{$this->Language['stock_out']}</button>
                                    </div>
                                    {/if}
                                </div>
                            </div>
                            {/if}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: CONTENT/SHOPS/SHOP-PRODUCT-DETAILS-2 -->

    <!-- END: PAGE CONTENT -->
</div>
<div id="myTrailer"> 
     <div class="wrapper">
         <div class="videocontent">
        </div> 
    </div>
</div>
<script type="text/javascript" src="{$this->siteurl}/common/js/placeholder/holder.js"></script>
<!-- BEGIN: PAGE SCRIPTS -->
<script src="{$this->siteurl}{$Yii->theme->baseUrl}/assets/plugins/zoom-master/jquery.zoom.min.js" type="text/javascript"></script>

<script type="text/javascript" src="{$this->siteurl}/js/physical.js"></script>
<!-- END: PAGE SCRIPTS -->
<script type="text/javascript" src="{$this->siteurl}{$Yii->theme->baseUrl}/js/cart.js"></script>
<script type="text/javascript" src="{$this->siteurl}/js/lightslider.min.js"></script>
{literal}
<script type="text/javascript">
$(document).ready(function () {
    var lightSlider = $("#content-slider").lightSlider({
        loop: false,
        keyPress: true,
        item: 10,
        auto: false,
        gallery: true,
        slideMargin: 5,
        responsive : [
            {
                breakpoint:800,
                settings: {
                    item:10,
                  }
            },
            {
                breakpoint:480,
                settings: {
                    item:5,
                  }
            }
        ],
        onSliderLoad: function () {
            $('.lSPager.lSGallery').addClass('cS-hidden');
        }
    });
});
</script>
{/literal}
