$nav-background-color:#FAFAFA;

/*Primary Color*/
$blue: #2cb7f6;
$bgm-blue : $blue;



/*Secondary Color*/
$white : #fff;
$grey :  #333;
$midTone-grey : #a5a5a5;
$light-grey : #d7d7d7;


/*Notificaion Colors*/
$bgm-complete : #6d5cae;
$bgm-info : #3B4752;
$bgm-red : #F55753;
$bgm-green : #10CFBD;
$bgm-disabled : #edf1f2;
$bgm-warning : #F8D053;
