{$kvs = $kvs|json_decode}
{assign var=num value=0}
{assign var=val value=0}
{assign var=cnn value=0}
{$user_id=Yii::app()->user->id}
{foreach from=$kvs item=data}

{$episode_image=$data->poster}
{$casts = $data->casts}
{if $data->content_types_id == 6}
{$audio_duration_full = $data->video_duration}
{$audio_duration = ":"|explode:$audio_duration_full}
<li class="track"> 
    <span class="track-play"> 
        <a href="javascript:void(0);" class="audioEpisode" data-index="{$num++}" onclick="playAllAudio(this)" id="{$data->movie_id}">
            <i class="fa fa-play"></i>
        </a>
    </span>
    <span class="track-title">
        <a href="javascript:void(0);" class="audioEpisode" data-index="{$cnn++}" onclick="playAllAudio(this)" id="{$data->movie_id}">
            <span class="c-font-sbold"> {$data->content_title|utf8_decode} </span> 
        </a>
        <p class="c-margin-b-0 c-font-14">{foreach from=$casts key=counter item=cast}{$cast_count=$cast|@count}{$j=0}{foreach from=$cast key=counter item=castitem}{$castitem->celeb_name}{$j = $j+1}{if $j != $cast_count}, {/if}{/foreach}{/foreach}</p>
    </span> 
    {if $audio_duration_full != ''}<span class="track-meta"><span class="track-duration">{if $audio_duration[0]|intval > 0} {$audio_duration_full}  {else} {$audio_duration[1]}:{$audio_duration[2]} {/if}</span></span>{/if}

    {if $this->add_to_playlist != 0 || $this->add_to_queue != 0}
    <span class="track-meta">	
        <div class="dropup">
            <div class="dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-ellipsis-v" aria-hidden="true" style="font-size: 28px;"></i>
            </div>
            <ul class="dropdown-menu  dropdown-menu1 dropdown-menu-right" aria-labelledby="dropdownMenu3">
                {if $this->add_to_playlist != 0}<li><a href="javascript:void(0);" class="c-white addPlay" data-content_id="{$data->movie_stream_id}" data-user_id="{$user_id}" data-is_episode="{$data->is_episode}">{$this->Language['add_to_playlist']}</a></li>{/if}
                {if $this->add_to_queue != 0}<li><a href="javascript:void(0);" class="c-white addToQue" data-id="{$data->movie_stream_id}"  data-is_episode="{$data->is_episode}">{$this->Language['add_to_queue']}</a></li>{/if}
            </ul>
        </div>
    </span>
    {/if}
</li>
{else}
{assign var=ccc value=$ccc+1}
<div class="col-md-5ths col-sm-6 ">
    <div class="c-content-product-2 c-bg-white episode-boxx">

        <div class="c-content-overlay">
            <div class="c-overlay-wrapper">
                <div class="c-overlay-content">
                    <div>{$data->play_btn}</div>
                </div>
            </div>
            <img class="c-bg-img-top-center c-overlay-object" src="{$episode_image}">
        </div>
        <div class="c-info">
            <p class="c-title c-font-bold c-font-uppercase c-font-slim">
                {$data->title|utf8_decode}
            </p>
            <p class="c-price c-font-14 c-font-slim">
                {if $data->story|utf8_decode|count_characters > 55}{$data->story|utf8_decode|truncate:70}<a href="javascript:void();" class="multipart_child more" data-id="more-{$ccc}" data-toggle="modal"  data-target=".bs-example-modal-lg3">{$this->Language['more']}</a>{else}{$data->story}{/if}
            </p>
            <p class="c-full-desc hide">{$data->story|utf8_decode}</p>
        </div>
    </div>
</div>
{/if}
{/foreach}