<!-- Login Modal -->
<div id="generalInfoModal" class="modal fade login-popu">
    <div class="modal-dialog">
        <div class="modal-content" style="position: relative;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{$this->Language['oops_only']}</h4>
            </div>            
            <div class="modal-body">
                <div class="row-fluid popup_bottom">
                    <input type="hidden" name="data[movie_id]" id="movie_id" value="" />
                    <input type="hidden" name="data[stream_id]" id="stream_id" value="" />
                    <input type="hidden" name="data[season_id]" id="season_id" value="" />
                    <input type="hidden" name="data[isppv]" id="isppv" value="" />
                    <input type="hidden" name="data[videotype]" id="videotype" value="" />
                    <input type="hidden" name="data[content-permalink]" id="content-permalink" value="" />
                    <input type="hidden" name="data[content-type-permalink]" id="content-type-permalink" value="" />
                    <div class="col-md-12" id="register_form_div">
                        <form id="generalinfo_form" name="generalinfo_form" method="POST" class="form-horizontal" action="javascript:void(0);">
                            <input type="hidden" name="csrfToken" id="csrfToken" value="{$smarty.session.csrfToken}" />
                            
                            <div class="form-group">
                                <h4>{$this->Language['new_member']}</h4>

                                <div id="register_errors" class="error text-center"></div> 
                                <div id="register_message" class="success text-message"></div> 
                                <div id="loader_general" class="loader"></div>
                            </div>
                            

                            <div class="form-group">
                                <label for="name">{$this->Language['text_full_name']}</label>
                                <input type="text" required name="data[name]" id="fullname" placeholder="{$this->Language['text_name_placeholder']}" autocomplete="off" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="username">{$this->Language['text_email']}</label>
                                <input type="email" required name="data[email]" id="email" placeholder="{$this->Language['text_email_placeholder']}" autocomplete="off" class="form-control" />
                            </div>
                            
                            <div class="clear"></div>
                            <div class="form-group ">
                                <div class="controls pull-left">
                                    <button type="submit" class="btn c-btn c-theme-btn c-btn-square c-font-white c-font-bold c-font-uppercase c-cart-float-r" name="register_submit" id="register-btn">Proceed</button>
                                </div>
                                <div class="pull-right"><a class="link-ylw txt-right" href="javascript:void(0);"  onclick="getVoucherGeneralInfo();">Skip</a></div>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>          
        </div>		
    </div>
</div>
<div id="ppvModal" class="modal fade login-popu" data-backdrop="static" data-keyboard="false"></div>
<script type="text/javascript" src="{$this->siteurl}/js/themes/loginpopup.js"></script>