{assign var=pgcsettings value=Yii::app()->general->getPgSettings()}
{assign var=kartgeoblock value=$pgcsettings['kart_geo_block']}
{if $kartgeoblock}
<link rel="stylesheet" href="{$this->siteurl}/common/bootstrap-forms/css/bootstrap-formhelpers.css" type="text/css" />
<script type="text/javascript" src="{$this->siteurl}/common/bootstrap-forms/js/bootstrap-formhelpers.js"></script>
<script type="text/javascript" src="{$this->siteurl}/common/bootstrap-forms/js/bootstrap-formhelpers-countries.js"></script>
{/if}
<!-- BEGIN: HEADER -->
<header class="c-layout-header c-layout-header-default-mobile">
    {if $kartgeoblock}
    {assign var=pgccontries value=$pgcsettings['restrict_country']|json_decode:true}    
    {if empty($pgccontries)}    
    {else}    
    <div class="c-topbar c-topbar-light">
        <div class="container">
            <!-- BEGIN: INLINE NAV -->
            <nav class="c-top-menu c-pull-right">
                <ul class="c-links c-theme-ul">
                    <li>Change Country</li>
                </ul>
                <ul class="c-ext c-theme-ul">
                    <li>
                        <div class="bfh-selectbox bfh-countries" data-country="{$smarty.session.country}" data-available="{','|implode:$pgccontries}" data-flags="true" data-blank="false"></div>
                    </li>
                    <li class="c-search hide"></li>
                </ul>
            </nav>
            <!-- END: INLINE NAV -->
        </div>
    </div>
    {/if}
    {/if}
    {$this->website_msg}
    
    <div class="c-navbar">
        <div class="container">
            <!-- BEGIN: BRAND -->
            <div class="c-navbar-wrapper clearfix">
                <div class="c-brand c-pull-left">
                    <a href="{$this->siteurl}" class="c-logo">
                        <img src="{$this->siteLogo}" alt="{$this->studio->name}" class="c-desktop-logo" />
                        <img src="{$this->siteLogo}" alt="{$this->studio->name}" class="c-desktop-logo-inverse" />
                        <img src="{$this->siteLogo}" alt="{$this->studio->name}" class="c-mobile-logo" />
                    </a>
                    <button class="c-hor-nav-toggler nav-togglerColor" type="button" data-target=".c-mega-menu">
                        <span class="c-line"></span>
                        <span class="c-line"></span>
                        <span class="c-line"></span>
                    </button>
                    <button class="c-search-toggler" type="button">
                        <i class="fa fa-search search-icon_img"></i>
                    </button>
                    {if Yii::app()->general->getStoreLink()}
                    <button class="c-cart-toggler" type="button">
                        <i class="icon-handbag"></i>
                        <span class="c-cart-number c-theme-bg">
                            <span class="round-cart">
                                {if $smarty.session.totalqnt}
                                {$smarty.session.totalqnt}
                                {else}
                                0
                                {/if}
                            </span>
                        </span>
                    </button>
                    {/if}
                </div>
                <form class="c-quick-search" onsubmit="return validate_search();" action="/search/show_all"  id="search-form" >
                    <i class="fa fa-search leftsearchicon"></i>
                    <input type="text" class="form-control" id="{if $this->is_audio_enable == 1}siteSearchField{else}siteSearch{/if}" placeholder="{$this->Language['type_to_search']}" name="search_field" autocomplete="off" />
                    <input type="hidden" name="csrfToken" id="csrfToken" value="{$smarty.session.csrfToken}" />
                    <span class="c-theme-link">&times;</span>
                </form>
                <div class="c-mega-menu c-pull-right c-mega-menu-dark c-mega-menu-dark-mobile c-fonts-uppercase c-fonts-bold">
                    <ul class="nav navbar-nav c-theme-nav">
                        {if $this->main_menu|@count > 0}                        
                            {foreach from=$this->main_menu key=key item=mitem}  
							  {assign var=val value=$val+1}
                            <li {if $mitem['children']|@count > 0}class="c-menu-type-classic"{/if}><a href="{if $mitem['permalink'] == '#'}javascript:void(0);{else}{$mitem['permalink']}{/if}" id="menu-{$val}" {if $mitem['link_type'] == 2} target=""{/if} class="{$mitem['class']} c-link dropdown-toggle">{$mitem['title']} {if $mitem['children']|@count > 0}<span class="caret"></span>{/if}</a>
                                {if $mitem['children']|@count > 0}
                                <ul class="dropdown-menu">
                                    {foreach from=$mitem['children'] key=key item=mcitem}
                                    <li><a href="{$mcitem['permalink']}" id="menu-{$val}"  {if $mitem['link_type'] == 2} target="_blank"{/if}>{$mcitem['title']}</a></li>
                                    {/foreach}
                                </ul>
                                {/if}
                            </li>
                            {/foreach}
                        {/if}
                        
                        <!-- END: QUICK SEARCH -->
                        <!-- BEGIN: HOR NAV -->
                        <!-- BEGIN: LAYOUT/HEADERS/MEGA-MENU -->
                        <!-- BEGIN: MEGA MENU -->
                        <!-- Dropdown menu toggle on mobile: c-toggler class can be a''
                
                pplied to the link arrow or link itself depending on toggle mode -->                
                        <li class="c-search-toggler-wrapper">
                            <a href="#" class="c-btn-icon c-search-toggler">
                                <i class="fa fa-search"></i>
                            </a>
                        </li>
                        {if Yii::app()->general->getStoreLink()}
                        <li class="c-cart-toggler-wrapper">
                            <a href="#" class="c-btn-icon c-cart-toggler">
                                <i class="icon-handbag c-cart-icon"></i>
                                <span class="c-cart-number c-theme-bg">
                                    <span class="round-cart">
                                        {if $smarty.session.totalqnt}
                                        {$smarty.session.totalqnt}
                                        {else}
                                        0
                                        {/if}
                                    </span>
                                </span>
                            </a>
                        </li>
                        {/if}
                        {if $this->user_menu|@count > 0}                        
                            {foreach from=$this->user_menu key=key item=mitem}   
                            {if $mitem['children']|@count > 0}
                            <li class="c-menu-type-classic"><a href="javascript:void(0);" class="{$mitem['class']} c-link dropdown-toggle"><img class="img-circle user-icon" alt="" title="{$mitem['display_name']}" src="{$mitem['profile_image']}" /> {$mitem['display_name']} <span class="caret"></span></a>
                            {else}
                            <li><a href="{$mitem['permalink']}" class="{$mitem['class']} c-link">{if $mitem['class'] == 'register'}<i class="fa fa-user"></i> 
                                    {elseif $mitem['class'] == 'login'} 
                                    <i class="fa fa-lock"></i> 
                                    {/if}{$mitem['title']}
                                </a>
                            {/if}                                
                                {if $mitem['children']|@count > 0}
                                <ul class="dropdown-menu">
                                    {foreach from=$mitem['children'] key=key item=mcitem}
                                    <li><a {if $mcitem['class'] == 'cancelsubscription'} data-target="#cancelsubscription" data-toggle="modal"{else}href="{$mcitem['permalink']}"{/if} class="{$mcitem['class']}">{$mcitem['title']}</a></li>
                                    {/foreach}
                                </ul>
                                {/if}
                            </li>
                            {/foreach}
                        {/if}                            

                    {$language_code = $this->language_code}

                    {$totallang =$this->enable_laguages|count}
                    {if $totallang > 1} 
                    {$studio_languages = $this->enable_laguages}
                    <li class="lang-center"><a href="javascript:void(0);" rel="popover" data-popover-content="#myPopover" data-placement="bottom" class="language-list text-center"><i class="fa fa-language" aria-hidden="true"></i></a></li>
                    {/if} 
                    </ul>
                    <div id="myPopover" class="hide">
                        <ul>
                            {foreach from=$studio_languages key=key item=value}
                            {if $value['status'] != 0} 
                            <li value="{$value['code']}" class="{if $language_code == $value['code']}active{/if}" onclick="changeLang('{$value['code']}')">{$value['name']} </li>
                            {elseif $value['code'] == "en"}
                            <li value="{$value['code']}" class="{if $language_code == $value['code']}active{/if}" onclick="changeLang('{$value['code']}')">
                                {$value['name']}
                            </li>
                            {/if} 
                            {/foreach}
                        </ul>
                    </div>                      
                </div>
                <!-- END: MEGA MENU -->
                <!-- END: LAYOUT/HEADERS/MEGA-MENU -->
                <!-- END: HOR NAV -->
            </div>
            <!-- BEGIN: LAYOUT/HEADERS/QUICK-CART -->
            <!-- BEGIN: CART MENU -->
            <div ></div>
            <div id="cartpopup">
                {include file='../shop/cartpopup.html'}
            </div>            
            <!-- END: CART MENU -->
            <!-- END: LAYOUT/HEADERS/QUICK-CART -->
        </div>
    </div>
    

</header>

<!-- END: HEADER -->
{if $kartgeoblock}
{literal}
<script type="text/javascript">
$(document).ready(function(){
    $('.bfh-selectbox').on('change.bfhselectbox', function () {
        var countrycode = $(this).val();
        $('.loader_cart').show();
        var url = '{/literal}{$this->siteurl}{literal}/shop/CountryChange';
        $.post(url, {'countrycode': countrycode}, function (res) {
            window.location.reload();
        })
    });
});
</script>
{/literal}
{/if}