<script>
  var muviWaterMarkTrailer = "{$waterMarkOnPlayer}";
</script>

{$content = $item|json_decode}
<input type="hidden" value="{$content->movie_id}" id="p_movieid">
{$casts = $content->casts}
{$directors = $casts->directors}
{$actors = $casts->actors}
{$all_series = $allseries|json_decode}
{$pageUrl = $this->ogUrl}
{$censor_rating = $content->censor_rating|replace:'&nbsp;':''}
{if ($content->content_banner !="")}
<div class="container">
    <div class="row"><img class="inner-banner" src="{$content->content_banner}" alt="{$content->title|utf8_decode}"></div>
</div>
<div class="container">
{else}
<div class="container top100">
{/if}
    <div class="row body-top">
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="detail-thumb detail-thumb-"><img src="{$content->poster}" alt="{$content->title|utf8_decode}"></div>
            <div class="title-section top20">
<!--                <div class="title">
                    <h3 class="moviename">{$content->title}</h3>  
                </div>-->
{$content->v_logo}
        {assign var=number value=1}
            {foreach from=$casts key=counter item=cast}
             {if $counter != 'directors' && $cast|count>0} 
                 {assign var=val value=$val+1}
             {/if}
            {/foreach}
            {if $val>0 }
                <div class="span3">
                    <div class="span12">
                        <div class="pen-icon heading_2" style="margin:auto">{$this->Language['cast']}</div>
                    </div>
                    {foreach from=$casts key=counter item=cast}
                     {if $counter != 'directors' && $cast|count>0}
                        <div class="cast-list">
                            <ul><li class="cast-text">{$counter}</li></ul>              
                        </div>
                        {foreach from=$cast item=cast_role}
                            <div class="cast-list">
                                <ul>
                                    <li><img alt="{$cast_role->celeb_name}" src="{$cast_role->celeb_image}"></li>
                                    <li class="cast-text"><a href="{$cast_role->full_permalink}">{$cast_role->celeb_name}</a></li>
                                </ul>              
                            </div>
                        {/foreach}
                     {/if}
                    {/foreach}
                </div>
           {/if}
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 pull-left">
         <h1 id="example-heading-new">{$content->title|utf8_decode} {if ($censor_rating !='') OR ($content->release_date !='') }<span class="label label-default">{$content->censor_rating} {$content->release_date}</span>{/if}</h1>
           
            <p class="top-360 genre_list">
                
                {foreach from=$content->genres item=genre}
                {$genre}<span>,</span>
                {/foreach}
            </p>
            <div class="detailspage">
                {if $content->trailer_is_converted}
                <a href="#trailer" class="btn btn-primary-gray" id="trailer-btn">{$this->Language['view_trailer']}</a> &nbsp;&nbsp; 
                {/if}
                {$content->play_btn}

            </div>

              <br />
            <div class="row col-md-12 detailspage">
             {$pricing_text}
</div>
            {if $this->add_to_favourite}
                <p>
                    <button  name="addtofav" data-fav_status="{$user_status['fav_status']}" data-login_status="{$user_status['login_status']}" data-content_id="{$content->movie_id}" data-content_type="{$content->is_episode}" class="btn btn-primary as-btn-md addtofav" type="button">{if $user_status['fav_status'] ==0}<i class="demo-icon icon-heart">&#xe800;</i><span id="favtext">{$this->Language['added_to_fav']}</span>{else} <i class="demo-icon icon-heart-empty">&#xe801;</i><span id="favtext">{$this->Language['add_to_fav']}</span> {/if}</button>&nbsp;&nbsp;
                </p>
            {/if}
            {if $content->show_booking_button}
                {if $content->start_time !="0000-00-00 00:00:00" }
                    <p>
                        <button  name="addtocal" data-content_id="{$content->movie_id}" data-content_type="{$content->is_episode}" data-start_time="{$content->start_time}" data-booking_time="{$content->booking_time}" data-book_type="1" data-booking_with_cal="1" class="btn btn-primary as-btn-md addtocal cbook" type="button"><i class="fa fa-clock-o" aria-hidden="true"></i>{if $content->booking_status}{$this->Language['booked']}{else}{$this->Language['book']}{/if}</button>
                    </p>
                {else}
                    <p>
                       <button  name="addtocal" data-content_id="{$content->movie_id}" data-content_type="{$content->is_episode}" class="btn btn-primary as-btn-md addtocal" data-booking_time="{$content->booking_time}" data-book_type="2" data-booking_with_cal="1" type="button"><i class="fa fa-clock-o" aria-hidden="true"></i>{if $content->booking_status}{$this->Language['added_to_calender']}{else}{$this->Language['add_to_calender']}{/if}</button>
                    </p>
                {/if}
            {/if}
            {$extra_content}
  <div class="clearfix"></div>
            <br>
            {if $directors|@count > 0}
            <p>{$this->Language['director']} :
                {foreach from=$directors item=director}
                    <span class="director_list"><strong><a href="{$director->full_permalink}">{$director->celeb_name}</a><span>,</span> </strong></span>
                {/foreach}
            </p> 
            {/if}
            <p>
                {$content->story|utf8_decode}
            </p>

        <div class="top-20">
                <div class="detailspage top-20 pull-right">
                 <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={$pageUrl}" data-title="Facebook Share" class="social-share-popup"><img src="{$this->siteurl}/images/fb-share-icon.jpg"></a>&nbsp;&nbsp;
                 <a target="_blank" href="https://twitter.com/intent/tweet?text={$pageUrl}" data-title="Share on Twitter" class="social-share-popup"><img src="{$this->siteurl}/images/twitter-share-icon.jpg"></a>&nbsp;&nbsp;
                </div>
            
         {$review_form}
         </div>
</div>

         <br />
{if !empty($contentproduct)}
            <div class="clearfix" style="height:10px;"></div>
            {include file='../shop/list.html'}
            <div class="clearfix" style="height:10px;"></div>
{/if}
     <div class="clearfix"></div>
        {if $this->studio->comment_activated == 1}
        <div class="">
            {include file='../media/comment_form.html'}
            {include file='../media/comment_list.html'}            
        </div>
        {/if}
        </div>
    </div>



<div id="myTrailer"> 
     <div class="wrapper">
         <div class="videocontent">
        </div> 
    </div>
</div>


</div><!--.container-->
 
<script type="text/javascript" src="{$this->siteurl}/common/js/fancybox.js"></script>
<link rel="stylesheet" href="{$this->siteurl}/common/css/fancybox.css" type="text/css" media="screen" />

<script type="text/javascript" src="{$this->siteurl}/common/rating/bootstrap-rating.js"></script>
<script type="text/javascript">
    
    var trailerUrl = '{$content->trailer_url}';
    var trailerIsConverted = '{$content->trailer_is_converted}';
    var v_logo = '{$v_logo}';
    var HTTP_ROOT = '{$this->siteurl}';
    var is_mobile = 0;
    var multipleVideoResolution = {$multipleVideo|json_encode};
    var defaultResolution = '{$defaultResolution}';
    var createSignedUrl = "{$this->siteurl}/user/getNewSignedUrlForTrailer";
    $(document).ready(function () {
     $( ".genre_list span" ).last().html('');
     $( ".director_list span" ).last().html('');
        $('.videocontent').hide();
    });
</script>
{literal}
<style type="text/css">
    .RDVideoHelper{display: none;}
    .videocontent{display: block;}
    video::-webkit-media-controls {
        display:none !important;
    }
.playbtn{background:none !important;}
</style>  
{/literal}
<script type="text/javascript" src="{$this->siteurl}/js/content.js"></script>