{$kvs = $kvs|json_decode}
{foreach from=$kvs item=data}
<div class="col-md-12">
    <div class="col-md-4"><div class="episode-content"><div class="episode-hover">{$data->play_btn}</div></div><img src="{$data->poster}" /></div>
    <div class="col-md-8">
        <h3>{$data->title}</h3>
        <div>{$data->story}</div>
        <div class="loader" id="loader_episode" style="left:500px;text-align:center;display:none">
                        <i class="fa fa-spinner  fa-spin fa-5x fa-fw" ></i>
                    <span class="sr-only">Loading...</span>
                    </div>
    </div>
</div>    
{/foreach}