<div class="content">
    <div class="container">
        <h2 class="txt-camel">{$category->title}</h2>
        {if $item_count > 0}
        <ul class="item-list row">
            {include file='../layouts/listitem.html'}
        </ul>
        {/if}
        <div class="row">
            <div class="col-md-12">
                <div class="product-pagination text-center">
                    <nav>
                        {$pagination}
                    </nav>                        
                </div>
            </div>
        </div>
     </div>
</div>