{include file='../layouts/banner.html'} 
<div class="container site_sdkIndex " id="page" style="position:relative; margin-top: 30px;">          
{include file='../layouts/featuredsections.html'} 
        </div>
{literal}
<script type="text/javascript">
    function showcart(id, flag){
        $('.loader_cart').show();
        var url = '{/literal}{$this->siteurl}{literal}/shop/addtocart';
        $.post(url, {'quantity':1, 'id':id}, function(res){
            if (flag == 2){
                window.location.href = '{/literal}{$this->siteurl}{literal}/shop/cart';
            } else{
                $('.loader_cart').hide();
                $('html,body').animate({scrollTop:0}, 500);
                $('#round-cart').html(eval($('#round-cart').html()) + 1);
                $('#cartpopup').html(res);
            }
        })
    }
</script>
{/literal}