<script src="{$this->siteurl}{$Yii->theme->baseUrl}/js/search.js"></script>
{if !$this->is_mobileview}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
    <div class="feature-banner">
            <div class="overlay-img">
                <div class="left23">
                    <div class="row">
                        <div class="col-sm-10">
                             <h1 class="center white">{$this->Language['faq']}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
{/if}
<div class="single-product-area">
    <div class="container">
        <div class="wrapper ">
            <div class="helpcenter">
        <div class="search-area row">
            <div class="col-md-12">
                <div class="form-group">

                     <input type="text" id="search" name="search" placeholder="{$this->Language['what_are_you_searching']}" class="form-control search-faq" />
                     <span class="input-group-addon search_symbol" style=""><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
       
                 <div class="form-group ">
                     <div class="loader" id="loader"></div>
            <div class="col-md-12 text-center"> </div>
        </div>
       
    <div class="row faq_data">
            {foreach from=$data|json_decode item=content}
            <div class="col-md-12">
                <h3 class="heading"><a href="javascript:void(0);" class="showmore" data-id="{$content->faq_id}">{$content->title|utf8_decode}</a></h3>
                {if $content->content_length > 500}
                <div class="short_desc">{$content->short_content|utf8_decode}...<a href="javascript:void(0);" class="showmore" data-id="{$content->faq_id}">{$this->Language['view_more']}</a></div>
                {else}
                <div class="short_desc">{$content->content|utf8_decode}</div>
                {/if}
            </div>
            {/foreach}
        </div>
        <!--div class="row">
            <div class="col-md-12">
                <div class="product-pagination text-center">
                    <nav>
                        {$pagination}
                    </nav>                        
                </div>
            </div>
        </div-->
    </div>
        </div>
    </div>
</div>