

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="feature-banner">
                <div class="overlay-img">
                    <div class="left23">
                        <div class="row">
                            <div class="col-sm-10">
                                <h1 class="center white">{$this->Language['product_details']}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{assign var="producturl" value=Yii::app()->createUrl("/")}
<div class="container">
    <div class="wrapper bottom-padding50">
      
        <div class="row top20">
            <div class="col-md-12">
                <div class="title1">
				<a href="/shop">{$this->Language['shop']}</a>  
</div>
            </div>


  </div>
    <div id="content_list"></div>
    <div class="row top50">
   <div class="col-md-2 col-sm-8">
                        <div class="c-product-gallery">
                            <div class="c-product-gallery-content">
                                <div class="c-zoom1">
                                    {assign var="cropDimesion" value=Yii::app()->common->getPgDimension()}
                                    {assign var="img_path" value=PGProduct::getpgImage($product['id'],'original')}
                                    {if $img_path!=''}
                                    <img src="{$img_path}" alt="{$product['name']}" title="{$product['name']}" class="img-responsive product_image">
                                    {else}
                                    <img data-src="holder.js/{$cropDimesion['width']}x{$cropDimesion['height']}" alt="{$cropDimesion['width']}x{$cropDimesion['height']}" style="width: 100%;" class="img-responsive product_image" />
                                    {/if}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 product_details">
                        <div class="c-product-meta">
                            <div class="c-content-title-1" style="float: none;">
                                <h3 class="c-font-uppercase c-font-bold" style="word-wrap: break-word;">                                    
                                    {$product['name']}{if $product['is_preorder'] == 1}&nbsp;<span class="label label-danger">{$this->Language['coming_soon']}&nbsp;</span>{/if}
                                </h3>
                                <div class="c-line-left"></div>
                            </div>
                            <div class="clearfix"></div>
                            {if $product['is_preorder'] == 0}
                            <div class="c-product-price">{Yii::app()->common->formatPrice($product['sale_price'],$product['currency_id'])}</div>
                            {else}
                            <div class="c-product-price">{$this->Language['subscribers']} : {Yii::app()->common->formatPrice($prices['price_for_subscribe'],$product['currency_id'])}<br />{$this->Language['non_subscribers']}: {Yii::app()->common->formatPrice($prices['price_for_unsubscribe'],$product['currency_id'])}</div>
                            {/if}
                            <div class="c-product-short-desc">{$product['description']}</div>                                    
                            <div class="c-product-add-cart c-margin-t-20">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <div class="c-input-group c-spinner">
                                            <p class="c-product-meta-label c-product-margin-2 c-font-uppercase c-font-bold ">{$this->Language['quantity']}:</p>
                                            <input type="text" class="form-control c-item-1" value="1" id="product_qnt" onkeypress="return isNumberKey(event)">
                                        </div>
                                    </div>
                                    {if $product['status']==1}                                        
                                    <div class="col-sm-3 col-xs-12 c-margin-t-20 product_btn ">
                                        <input type="button" onclick="showcart({$product['id']}, 1);" value="{$this->Language['add-to-cart']}" name="" class="btn c-btn btn-lg c-font-bold c-font-white c-theme-btn c-btn-square c-font-uppercase btn-default btn-grey btn-product">
                                    </div>
                                    {if $product['is_preorder'] == 0}
                                    <div class="col-sm-4 col-xs-12 c-margin-t-20 product_btn">
                                        <button class="btn c-btn btn-lg c-font-bold c-font-white c-theme-btn c-btn-square c-font-uppercase c-bg-red btn-default btn-grey btn-product" onclick="showcart({$product['id']}, 2);">{$this->Language['ordernow']}</button>
                                    </div>
                                    {else}
                                    <div class="col-sm-4 col-xs-12 c-margin-t-20 product_btn">
                                        <button class="btn c-btn btn-lg c-font-bold c-font-white c-theme-btn c-btn-square c-font-uppercase c-bg-red btn-default btn-grey btn-product" onclick="showcart({$product['id']}, 2);">{$this->Language['preorder']}</button>
                                    </div>
                                    {/if}                            
                                    {elseif $product['status']==3}
                                    <div class="col-sm-4 col-xs-12 c-margin-t-20 product_btn">
                                        <button class="btn c-btn btn-lg c-font-bold c-font-white c-theme-btn c-btn-square c-font-uppercase c-bg-red btn-default btn-grey btn-product btn-disabled">{$this->Language['stock_out']}</button>
                                    </div>
                                    {/if}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</div>


<!-- BEGIN: PAGE CONTAINER -->

<script type="text/javascript" src="{$this->siteurl}/common/js/placeholder/holder.js"></script>
<!-- BEGIN: PAGE SCRIPTS -->
<script src="{$this->siteurl}{$Yii->theme->baseUrl}/assets/plugins/zoom-master/jquery.zoom.min.js" type="text/javascript"></script>
<!-- END: PAGE SCRIPTS -->
{literal}
<script type="text/javascript">
    function showcart(id, flag){        
        var url = '{/literal}{$this->siteurl}{literal}/shop/addtocart';
        var qnt = eval($('#product_qnt').val());
        if(qnt>0){
            $('.loader_cart').show();
            $.post(url, {'quantity':qnt, 'id':id}, function(res){
            if (flag == 2){
                window.location.href = '{/literal}{$this->siteurl}{literal}/shop/cart';
            } else{
                $('.loader_cart').hide();
                    $('html,body').animate({scrollTop:0}, 500);
                    $('#round-cart').html(eval($('#round-cart').html()) + qnt);
                    $('#cartpopup').html(res);
                }
            })
        }else{
            alert('Enter Quantity');
        }        
    }
    function isNumberKey(evt){
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 49 || charCode > 57))
            return false;
        return true;
    }
</script>
{/literal}
