
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="feature-banner">
                <div class="overlay-img">
                    <div class="left23">
                        <div class="row">
                            <div class="col-sm-10">
                                <h1 class="center white">{$this->Language['shopping_cart']}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<div class="container">
    <div class="wrapper  bottom-padding50">
        <div class="row top50">
           <div class="col-md-12">
                <h2>{$this->Language['order_processed']}</h2>
             <div class="pull-right"><a class="btn btn-primary continue_shopping" href="{Yii::app()->getBaseUrl(true)}/shop">{$this->Language['continue_shopping']}</a></div>
            </div>
        </div>
    </div>
</div>
