* {
	margin:0;
	padding:0;
	border:none;
	outline:none;
	color:#333;
	font-size:12px;
}
body {
	padding:30px 0;
	text-align:center;
	font-family:Arial,Verdana,Sans-serif;
}
#wrapper {
	text-align: left;
	width:800px;
	margin:0 auto;
}
.tbl_repeat {
	width:100%;
}
.tbl_repeat th,.tbl_repeat td {
	padding:5px 10px;
}
.tbl_repeat th {
	background:#eee;
	border-top: solid 1px #aaa;
	border-bottom: solid 1px #aaa;
}
.tbl_repeat td {
	border-bottom: dashed 1px #aaa;
}