/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 9, 2015, 11:06:12 AM
    Author     : RK
*/

.templatebox{min-height: 220px; padding: 20px 0;}
.templatebox.selected{background: #d3e7b9;}
.btn{white-space: pre-wrap;}

#video_list_tbl th{width: 25%;}
#video_list_tbl th.last-col{width: 40%;}
#video_list_tbl td{word-break: break-all;}

.paging_simple_numbers{float: right;}    
.paging_simple_numbers a{cursor:pointer; padding: 10px;}
.current{font-weight: bold !important;font-size: 16px;}
.dataTables_length{float:right; margin-right: 15px; display:none;}
.dataTables_length select{border: solid 2px #ccc; padding: 3px;}
.cel_srch{border: solid 1px #ccc; padding: 6px 10px; font-weight: normal;}
.sorting:hover{cursor: pointer; background: #F5F5F5;}
.sorting_asc:hover{cursor: pointer; background: #F5F5F5;}
.sorting_desc:hover{cursor: pointer; background: #F5F5F5;}
.nosorting:hover{background:#FFFFFF !important; cursor: default;}
.celb_tfoot{display: none;}
.dataTables_info{display: none;}
.otrceleblist{position: relative; margin-top: 15px;}
.addnewceleb{left: 210px;position: absolute;  top: -10px;}
#res-accordion ul{margin-top: 5px;}