body{
  font-family: 'Open Sans', Helvetica;
}
.demo_video{
  text-align:left;
}
.btn_div{
  margin-top:50px;
  clear:both;
}
.vjs-loading-spinner{
	height: 100%;
    background-size: 100% 100%;
}
.play_btn{
  /*padding:9px 22px 10px;*/
  background-color:#06557F;
  cursor:default;
}
/* Let's get this party started */
div::-webkit-scrollbar {
    width: 8px;
}

/* Track */
div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
div::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: grey;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
div::-webkit-scrollbar-thumb:window-inactive {
/*background: rgba(255,0,0,075.4); */
}
.play-btn{
	background: url("../img/black_play_icon.png") no-repeat scroll 0 0;
	bottom: 0;
	height: 60px;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 60px;
	cursor: pointer;
}
.error-div{
	bottom: 0;
	height: 100px;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 300px;
	cursor: pointer;
}
.play-btn:hover{
	background: url("../img/red_play_icon.jpg") no-repeat scroll 0 0;
}

@media screen and (max-width: 768px) {
.vjs-control-bar{
	height: 40px !important;
	top:86% !important;
}
.video-js{
	border-radius: 0px !important;
}

.vjs-progress-control{
	width:49%;
}
.vjs-volume-control{
	right: 49px;
	width: 5em;
}
.vjs-mute-control{
	right:18%;
}
.vjs-duration{
	right:23%;
}
.movie-name{
	width:100%;
	background-color: #000;
	color: #fff;
	height: 20px;
	position: absolute;
	top: 0;
	padding: 0px 2px;
	z-index: 9999;
}
.movie-name a{
	color: #F7F7F7 !important;
	text-decoration: none;
	float: left;
	padding-left: 12px;
	padding-top: 3px;
	font-size: 15px;
}
.movie-name a:hover{
	color: #FFF !important;
	text-decoration: underline;
}
.vjs-volume-handle{
	height: 10px;
	width: 10px;
	margin-top: 0px;
	left:75%;
}
.vjs-seek-handle{
	height: 12px;
	width: 12px;
	margin-top: -1px;
}
}
.vjs-watermark{
	height: 50px !important;
	opacity: 0.6 !important;
}