body
{
    background:#edeff0;
}

.navbar {
    border: 1px solid transparent;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;

}

.navbar-default {
    background-color: #0B4E9A;
}


.navbar-default .navbar-nav > li > a:hover {
    background: #ED7122;
    color:#fff;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.logo{
    background:url(../images/green/logo.png) no-repeat;
}
.btn-danger {
    background-color: #1ebbe9;
    border-color: #11b0df;
    color: #fff;
    text-transform:uppercase;
}
.btn-danger.active, .btn-danger.focus, .btn-danger:active, .btn-danger:focus, .btn-danger:hover, .open > .dropdown-toggle.btn-danger {
    background-color: #11b0df;
    border-color: #1ebbe9;
    color: #fff;
}
.btn-primary2 {
    background-color: #ED7122;
    color: #fff;
}
.btn-primary2:hover {
    background-color: #ED7122;
    color: #fff;
}
.btn-primary2-mid {
    background-color:#00acdb;
    border:1px #00acdb solid;
    color: #fff;
}

.thumbnail .strip-text :hover
{
    color:#fff;
}

a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover {
    border-color: #337ab7;
}

.strip-text
{
    border-bottom: 1px solid #000;
}
.strip-text:hover
{
    color:#fff;
     border-bottom: 1px solid #000;
}
.thumbnail {
      border: 0px solid #ddd;
}

.caption {
    border:2px solid #ff3600;  
    color:#fff !important;
    background:rgba(0,0, 0, 0.35);
}

.playbtn {
    background: url("../images/green/play_button.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.strip2{    background:#000;
    border-bottom: 1px solid #000;}
.strip-text2
{
    color:#ff3600;
}

.footer {
    background-color: #0B4E9A;
    border-top:#082b4f 2px solid;
    color:#fff;
}



.carousel-inner {
    border: 2px solid #FF3600;
}


.red-border
{
    border:#FF3600 2px solid;
    border-radius:0px;
}


.active_block {
    border-bottom: 4px solid #1ebbe9;
}

.block_header {
    color: #333;
}
.link-bold a
{
    font-size:16px;
    color:#1ebbe9;
    text-transform:uppercase;
}


.bg-white{background:#fff; border: solid 1px #000;}
.input-lg
{
    border: 1px solid #ddd;
    background:#fafafa;
}
.login-title {
    background-image: url("../images/icons/login-icon.png");
}
label {
    color:#333;
}

.billed-box {
    background: none repeat scroll 0 0 #fff;
    border: 2px solid #1fbbe9;

}
.billed-box .tick-icon {
    background: url("../images/cyan/tick-icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);

}
.billed-box h3 {
    color: #1fbbe9;
}
.billed-box2 {
    background: none repeat scroll 0 0 #fff;
    border: 2px solid #ddd;

}

.form-control {
    background-color: #fff;
    border: 2px solid #8e8e8e;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.016) inset;
    color: #555;
}
.middle{ margin-left:16%;}
.white{ color:#fff;}
.pink{ color:#ED7122;}
.gray{ color:#ff1970;}
.cyan{ color:#ed7122;}

.light-black{color:#eee;}

.capitalize{text-transform:uppercase}
.heading_2{color:#0B4E9A;}
.linkcol{color:#ed7122;}
.btn-default {
        background-color: #fff;
    color: #333;
    border-bottom:0px #fff solid;
}
.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open > .dropdown-toggle.btn-default {
    background-color:#fff;
    border-color: #adadad;
    color: #333;
}
.strip
{
    background:#000;
    border-bottom: 1px solid #000;
}
.strip:hover
{
    background:#000;
    border-bottom: 1px solid #000;
}
.thumbnail .caption {
    color: #333;
}
.carousel-control.right { background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.5) 100%);}
.carousel-caption{
   color: #fff; 
}
.carousel-top h1{color:#fff;}
.search-head{border-bottom:1px solid #9e9e9e;}
.bg-dark-gray
{
    background:#181818;
}
.bg-pink{
    background:#ff1970;
    color:#fff;
}
.bg-gray{
    background:#46484b;
    color:#fff;
}
a:hover {
    background-color: #ED7122;
}

