body
{
    background:#edeff0;
}

.navbar {
    border: 1px solid transparent;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;

}

.navbar-default {
    background-color: #549b20;
}

.navbar-default .navbar-nav > li > a:hover{  
    background-color: #ED7122;
    color: #fff;}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.logo{
    background:url(../images/green/logo.png) no-repeat;
}
.btn-danger {
    background-color: #ff3600;
    border-color: #ff3600;
    color: #fff;
    text-transform:uppercase;
}
.btn-danger.active, .btn-danger.focus, .btn-danger:active, .btn-danger:focus, .btn-danger:hover, .open > .dropdown-toggle.btn-danger {
    background-color: #c72b01;
    border-color: #c72b01;
    color: #fff;
}
.btn-primary2 {
    background-color: #ED7122;
    color: #fff;
}
.btn-primary2:hover {
    background: #9B5F39;
    color: #fff;
}
.btn-primary2-gray {
    background-color: transparent;
    border:3px #549b20 solid;
    color: #549b20;
    padding:10px 35px;
    font-size:28px;
}
.btn-primary2-mid {
    background-color: transparent;
    border:3px #549b20 solid;
    color: #549b20;
}

.thumbnail .strip-text :hover
{
    color:#fff;
}

a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover {
    border-color: #337ab7;
}

.strip-text
{
    border-bottom: 1px solid #000;
}
.strip-text:hover
{
    color:#ff3600;
     border-bottom: 1px solid #000;
}
.thumbnail {
      border: 0px solid #ddd;
}

.caption {
    border:2px solid #ff3600;
    color:#fff !important;
    background:rgba(0,0, 0, 0.35);
}

.playbtn {
    background: url("../images/green/play_button.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}


.strip2{    background:#000;
    border-bottom: 1px solid #000;}
.strip-text2
{
    color:#ff3600;
}

.footer {
    background-color: #549b20;
    border-top:#333 1px solid;
    color:#fff;
}

.carousel-inner {
    border: 2px solid #FF3600;
}


.red-border
{
    border:#FF3600 2px solid;
    border-radius:0px;
}


.active_block {
    border-bottom: 4px solid #ff3600;
}

.block_header {
    color: #ff3600;
}
.block_header2 {
    cursor: pointer;
    float: left;
    font-size: 28px;
    padding-left: 7px;
    margin-top:-10px;
}
.link-bold a
{
    font-size:16px;
    color:#549b20;
    text-transform:uppercase;
}

.bg-white{background:#fff; border: solid 1px #000;}
.input-lg
{
    border: 1px solid #ddd;
    background:#fafafa;
    color:#ccc;
}
.login-title {
    background-image: url("../images/icons/login-icon.png");
}
label {
    color:#333;
}

.billed-box {
    background: none repeat scroll 0 0 #fff;
    border: 2px solid #549b20;

}
.billed-box .tick-icon {
    background: url("../images/green/tick-icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.billed-box h3 {
    color: #549b20;
}
.billed-box2 {
    background: none repeat scroll 0 0 #fff;
    border: 2px solid #ddd;

}
.img-border{ border:2px #ccc solid; border-radius: 8px;}

.cast-list {
    border-bottom: 1px solid #999;
}
.cast-text {

    color:#549b20
}
.cast-text2 {
    color: #666;
}


.heading_2 {
    color: #6A9B21;
}
.heading_3 {
    color: #549b20;
}
.header-big {
    color: #fff;
}
.h4-white {
    color: #fff;
}


.form-control {
    background-color: #fff;
    border: 2px solid #8e8e8e;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.016) inset;
    color: #555;
}
.middle{ margin-left:16%;}
.white{ color:#fff;}
.pink{ color:#ED7122;}
.gray{ color:#ff1970;}
.cyan{ color:#ed7122;}

.light-black{color:#eee;}

.capitalize{text-transform:uppercase}
.linkcol{color:#ed7122;}
.btn-default {
        background-color: #fff;
    color: #333;
    border-bottom:0px #fff solid;
}
.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open > .dropdown-toggle.btn-default {
    background-color:#fff;
    border-color: #adadad;
    color: #333;
}
.strip
{
    background:#000;
    border-bottom: 1px solid #000;
}
.strip:hover
{
    background:#000;
    border-bottom: 1px solid #000;
}
.thumbnail .caption {
    color: #333;
}
.carousel-control.right { background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.5) 100%);}
.carousel-caption{
   color: #fff; 
}
.carousel-top h1{color:#fff;}
.search-head{border-bottom:1px solid #9e9e9e;}
.bg-dark-gray
{
    background:#181818;
}
.bg-pink{
    background:#ff1970;
    color:#fff;
}
.bg-gray{
    background:#46484b;
    color:#fff;
}
a:hover {
    background-color: #ED7122;
}


