#slideout {
    position: fixed;
    top: 300px;	
    left: 0;
    width: 35px;
    padding: 12px 0;
    text-align: center;
    background: #6DAD53;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    z-index:99999 !important;
}
#slideout_inner {
    position: fixed;
    top: 300px;
    left: -250px;
    background: #6DAD53;
    width: 250px;
    padding: 25px;
    height: 160px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    text-align: left;
    -webkit-border-radius: 0 0 5px 0;
    -moz-border-radius: 0 0 5px 0;
    border-radius: 0 0 5px 0;
}

#slideout:hover {
    left: 250px;
}
#slideout:hover #slideout_inner {
    left: 0;
}



/*-------Filter STARTS HERE -------*/
#loginContainer {
    position:relative;
    float:right;
    font-size:12px;
    z-index: 10;
}
#loginButton { 
    display:inline-block;
    float:right;
    background:#fff; 
    border:1px solid #899caa; 
    border-radius:3px;
    -moz-border-radius:3px;
    position:relative;
    z-index:30;
    cursor:pointer;
}
#loginButton span {
    color:#445058; 
    font-size:14px; 
    font-weight:bold; 
    text-shadow:1px 1px #fff; 
    padding:6px 10px 6px 10px;
    display:block;
    text-align:center
}
.left10{margin-left:10px;}
.top10 {
    margin-top: 10px;
}
#loginButton:hover {
    background:#fff;
}
#loginBox {
    position:absolute;
    top:34px;
    right:0;
    display:none;
    z-index:29;
} 
#loginButton.active {
    border-radius:3px 3px 0 0;
}
#loginButton.active span {
    background-position:53px -76px;
}
#loginButton.active em {
    position:absolute;

    height:1px;
    background:#d2e0ea;
    bottom:-1px;
}
#filterFormPopup {
    width:248px; 
    border:1px solid #899caa;
    border-radius:3px 0 3px 3px;
    -moz-border-radius:3px 0 3px 3px;
    margin-top:-1px;
    background:#fff;
    padding:6px;
}
#filterFormPopup fieldset {
    margin:0 0 12px 0;
    display:block;
    border:0;
    padding:0;
}
.top50{margin-top: 50px;}
.form-bg{background: #fff;}
.control-label{color:#000;}
.pen-icon {
    background: rgba(0, 0, 0, 0) url("../images/cast-icon.png") no-repeat scroll left center;
    padding-left: 40px;
}