
<div class="single-product-area">
    <div class="container">
        <div class="row" style="margin-right:0px !important;">
             <div class="col-md-12 p-l-0">
              <h2 class="c-font-bold c-margin-t-20"> {$this->Language['my_library']} </h2>
			  <div class="container">
			    {assign var="total_purchase" value=$library|@count}
			   {foreach from=$library item=purchase}
<div class="col-sm-3">
	<div class="thumb-list">
    <div class="thumbnail listpos thumblist">
        <div class=""></div>
		{if $purchase['is_play'] == 0}<a href="{$purchase['baseurl']}">{/if}
        <div class="caption">
			{if $purchase['is_play'] == 1}<a href="{$purchase['baseurl']}" class="playbtn">
			 </a>{/if}

        </div>   
			{if $purchase['is_play'] == 0}</a>{/if}
        <a href="{$purchase['baseurl']}">
            <img src="{$purchase['poster']}" alt="{$purchase['movie_name']}" title="{$purchase['movie_name']}" class="img-tshow lazy">
        </a>
        <div class="overtext popup_content">
            <div class="arrow"></div>
            <div class="ptitle caps"><a href="#">{$purchase['movie_name']}</a></div>
            <div class="stripe col-md-12">
                <div class="col-md-8">
				{$genre_count = $purchase['genres']|count}
                                    {$j=0}
                                    {foreach from=$purchase['genres'] item=genre}<span class="genre_list">{$genre} <span>, </span> </span>{$j = $j+1}{if $j != $genre_count}, {/if}{/foreach}
                    
                </div> 
                <div class="span4 text-right">{$purchase['release_date']}</div>
            </div>
            <div class="clear"></div>
            <div class="ptext">
                <p>{if $purchase['story']|strlen > 200}{$purchase['story']|truncate:200}<a href="{$purchase['baseurl']}">{$this->Language['more']}</a>{else}{$purchase['story']} {/if}</p> 
            </div>
            <div class="clear"></div>
			{$actors = $purchase['casts']['casts']}
			 {if $actors|count > 0}
            <div class="popup-cast">
                <div class="span12 row-fluid">
                    <div class="cast-heading span4">{$this->Language['cast']}</div>
                </div>
                <div class="cast-body">
                    {foreach from=$actors['Actors'] item=actor}
                    <span class="caps"><a href="{$actor['full_permalink']}" >{$actor['celeb_name']}</a></span>,      
                    {/foreach}   
                </div>
            </div>
            {/if}
        </div>                                   
    </div>                        
    <div class="title">
        <a href="{$purchase['baseurl']}">
            <h3 class="moviename">{$purchase['movie_name']}</h3>
        </a>
    </div>
</div>
</div>
{/foreach}
{foreach from=$pplibrary item=purchase}
<div class="col-sm-3">
	<div class="thumb-list">
    <div class="thumbnail listpos thumblist">
        <div class=""></div>
        	{if $purchase['is_play'] == 0}<a href="{$purchase['baseurl']}">{/if}
        <div class="caption">
			{if $purchase['is_play'] == 1}<a href="{$purchase['baseurl']}" class="playbtn">
			 </a>{/if}

        </div>                                    
			{if $purchase['is_play'] == 0}</a>{/if}                                   
        <a href="{$purchase['baseurl']}">
            <img src="{$purchase['poster']}" alt="{$purchase['movie_name']}" title="{$purchase['movie_name']}" class="img-tshow lazy">
        </a>
        <div class="overtext popup_content">
            <div class="arrow"></div>
            <div class="ptitle caps"><a href="#">{$purchase['movie_name']}</a></div>
            <div class="stripe col-md-12">
                <div class="col-md-8">
				{$genre_count = $purchase['genres']|count}
                                    {$j=0}
                                    {foreach from=$purchase['genres'] item=genre}<span class="genre_list">{$genre} <span>, </span> </span>{$j = $j+1}{if $j != $genre_count}, {/if}{/foreach}
                    
                </div> 
                <div class="span4 text-right">{$purchase['release_date']}</div>
            </div>
            <div class="clear"></div>
            <div class="ptext">
                <p>{if $purchase['story']|strlen > 200}{$purchase['story']|truncate:200}<a href="{$purchase['baseurl']}">{$this->Language['more']}</a>{else}{$purchase['story']} {/if}</p> 
            </div>
            <div class="clear"></div>
            {if $purchase['casts']->actors|count > 0}
            <div class="popup-cast">
                <div class="span12 row-fluid">
                    <div class="cast-heading span4">{$this->Language['cast']}</div>
                </div>
                <div class="cast-body">
                    {$actors = $purchase['casts']->actors}
                    {foreach from=$actors item=actor}
                    <span class="caps"><a href="{$actor->full_permalink}" >{$actor->celeb_name}</a></span>,      
                    {/foreach}   
                </div>
            </div>
            {/if}
        </div>                                   
    </div>                        
    <div class="title">
        <a href="{$content->permalink}">
            <h3 class="moviename">{$purchase['movie_name']}</h3>
        </a>
    </div>
</div>
</div>
{/foreach}
{foreach from=$freecontent item=purchase}
<div class="col-sm-3">
	<div class="thumb-list">
    <div class="thumbnail listpos thumblist">
        <div class=""></div>
        	{if $purchase['is_play'] == 0}<a href="{$purchase['baseurl']}">{/if}
        <div class="caption">
			{if $purchase['is_play'] == 1}<a href="{$purchase['baseurl']}" class="playbtn">
			 </a>{/if}

        </div>                                    
			{if $purchase['is_play'] == 0}</a>{/if}                                  
        <a href="{$purchase['baseurl']}">
            <img src="{$purchase['poster']}" alt="{$purchase['movie_name']}" title="{$purchase['movie_name']}" class="img-tshow lazy">
        </a>
        <div class="overtext popup_content">
            <div class="arrow"></div>
            <div class="ptitle caps"><a href="#">{$purchase['movie_name']}</a></div>
            <div class="stripe col-md-12">
                <div class="col-md-8">
				{$genre_count = $purchase['genres']|count}
                                    {$j=0}
                                    {foreach from=$purchase['genres'] item=genre}<span class="genre_list">{$genre} <span>, </span> </span>{$j = $j+1}{if $j != $genre_count}, {/if}{/foreach}
                    
                </div> 
                <div class="span4 text-right">{$purchase['release_date']}</div>
            </div>
            <div class="clear"></div>
            <div class="ptext">
                <p>{if $purchase['story']|strlen > 200}{$purchase['story']|truncate:200}<a href="{$purchase['baseurl']}">{$this->Language['more']}</a>{else}{$purchase['story']} {/if}</p> 
            </div>
            <div class="clear"></div>
			
            {if $purchase['casts']->actors|count > 0}
            <div class="popup-cast">
                <div class="span12 row-fluid">
                    <div class="cast-heading span4">{$this->Language['cast']}</div>
                </div>
                <div class="cast-body">
                    {$actors = $purchase['casts']->actors}
                    {foreach from=$actors item=actor}
                    <span class="caps"><a href="{$actor->full_permalink}" >{$actor->celeb_name}</a></span>,      
                    {/foreach}   
                </div>
            </div>
            {/if}
        </div>                                   
    </div>                        
    <div class="title">
        <a href="{$purchase['baseurl']}">
            <h3 class="moviename">{$purchase['movie_name']}</h3>
        </a>
    </div>
</div>
</div>
{/foreach}

			  </div>
               
    </div>
    </div>
	</div>
</div>