<script>
    var muviWaterMarkTrailer = "{$waterMarkOnPlayer}";
</script>
{$content = $item|json_decode}
<span style="display:none;">{$content->play_btn}</span>
<input type="hidden" value="{$content->movie_id}" id="p_movieid">
{$casts = $content->casts}
{$directors = $casts->directors}
{$isConverted=$content->is_converted}
{$release_date = $content->release_date}
{$censor_rating = $content->censor_rating|replace:'&nbsp;':''}
{$actors = $casts->actors}
{$all_series = $allseries|json_decode}
{$content_banner=$content->content_banner}
{$trailer_is_converted=$content->trailer_is_converted}
{$pageUrl = $this->ogUrl}
{$full_release_date = $content->full_release_date}
{$user_id=Yii::app()->user->id}
<input class="playlist_user_id" value="{$user_id}" type="hidden">
 
<div class="content _no-gap-top">
    <div class="item-detail-title">
        <div class="container">
            <h2 class="_item-detail">{$content->title|utf8_decode}</h2>
        </div>
    </div>
    {if $content_banner !=''}
    <div class="container-overview">
        <img src="{$content_banner}"  alt="{$content->title|utf8_decode}" title="{$content->title|utf8_decode}"  class="img-responsive item-cover-lg" />  
    </div>
    {/if}
    <div class="spacer _50"></div>
    <div class="container">
        <div class="row product-meta-data">
            {if $VDContentDetailInfo}
            <div 
                class="item-detail-info col-md-3">
                <img src="{$content->poster}" alt="{$content->title|utf8_decode}" class="img-responsive item-thumb" />
            </div>
            <div class="col-md-9 row">
            {foreach from=$VDContentDetailInfo|json_decode item=vdListItem}
            
                <div 
                    class="item-detail-info
                    {if $vdListItem->boldStatus == 'b'} _bold{/if}
                    {if $vdListItem->align == 'r'} _txt-right{/if}
                    {if $vdListItem->align == 'c'} _txt-center{/if}
                    {if $vdListItem->lineCount == 's'} _sline{/if}
                    {if $vdListItem->width == '1/12'} col-md-1
                    {elseif $vdListItem->width == '2/12'} col-md-2
                    {elseif $vdListItem->width == '3/12'} col-md-3
                    {elseif $vdListItem->width == '4/12'} col-md-4
                    {elseif $vdListItem->width == '5/12'} col-md-5
                    {elseif $vdListItem->width == '6/12'} col-md-6
                    {elseif $vdListItem->width == '7/12'} col-md-7
                    {elseif $vdListItem->width == '8/12'} col-md-8
                    {elseif $vdListItem->width == '9/12'} col-md-9
                    {elseif $vdListItem->width == '10/12'} col-md-10
                    {elseif $vdListItem->width == '11/12'} col-md-11
                    {elseif $vdListItem->width == 'full' || $vdListItem->width == ''} col-md-12
                    {else}
                     col-md-12
                    {/if}
                    "

                    style="{if $vdListItem->lineHeight != '' && $vdListItem->lineHeight != '0'}line-height:{$vdListItem->lineHeight}px;{/if}
                    {if $vdListItem->size != '' && $vdListItem->size != '0'}font-size:{$vdListItem->size}px;{/if}
                    {if $vdListItem->color != '' && $vdListItem->color != '0'}color:{$vdListItem->color};{/if}
                    ">

                    
                    
                    {if $vdListItem->contentType == "title"}
                        <h3>
                            <div class="pull-right">
                                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={$pageUrl}" data-title="{$this->Language['share_in_facebook']}" class="social-share-popup"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;
                                <a target="_blank" href="https://twitter.com/intent/tweet?text={$pageUrl}" data-title="{$this->Language['share_in_twitter']}" class="social-share-popup"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;
                            </div> 
                            {$content->title|utf8_decode}
                        </h3>  
                    
                    {elseif $vdListItem->contentType == "add_to_fav"}
                        {if $this->add_to_favourite}
                        <button name="addtofav" data-fav_status="{$user_status['fav_status']}" data-login_status="{$user_status['login_status']}" data-content_id="{$content->movie_id}" data-content_type="{$content->is_episode}" class="btn btn-primary addtofav" type="button">{if $user_status['fav_status'] ==0}<i class="fa fa-heart"></i><span id="favtext">{$this->Language['added_to_fav']}</span>{else} <i class="fa fa-heart-o"></i><span id="favtext">{$this->Language['add_to_fav']}</span> {/if}</button>&nbsp;&nbsp;
                        {/if}                        
                        {if $content->show_booking_button}
                            {if $content->start_time !="0000-00-00 00:00:00" }
                            <button name="addtocal" data-content_id="{$content->movie_id}" data-content_type="{$content->is_episode}" data-start_time="{$content->start_time}" data-booking_time="{$content->booking_time}" data-book_type="1" data-booking_with_cal="1" class="btn btn-danger addtocal cbook" type="button"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i>{if $content->booking_status}{$this->Language['booked']}{else}{$this->Language['book']}{/if}</button>
                            {else}
                            <button name="addtocal" data-content_id="{$content->movie_id}" data-content_type="{$content->is_episode}" class="btn btn-danger addtocal" data-booking_time="{$content->booking_time}" data-book_type="2" data-booking_with_cal="1" type="button"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i>{if $content->booking_status}{$this->Language['added_to_calender']}{else}{$this->Language['add_to_calender']}{/if}</button>
                            {/if}
                        {/if}
                    {elseif $vdListItem->contentType == "play_butn"}
                        {if $content->embedTrailerUrl != ""}
                        <a href="{$content->embedTrailerUrl}" class="btn btn-lg btn-primary " id="trailer-btn">{$this->Language['view_trailer']}</a>
                        {/if}
                        {if $content->embeddedUrl != ""}
                             <a href="{$content->embeddedUrl}" class="playbtn btn btn-lg btn-danger ">{$this->Language['btn_play']}</a>
                        {/if}
                        
                    {elseif $vdListItem->contentType == "genre"}
                        {if $vdListItem->style != "no_label"}
                            <strong>{$this->Language['genre']}</strong>
                            {if $vdListItem->style != "label_inline"}<br/>{/if}                    
                        {/if}
                        {if $vdListItem->style == "label_inline"}<br/>{/if}
                        {if $content->genres|@count > 0}
                            {$genre_count = $content->genres|count}
                            {$j=0}
                            {foreach from=$content->genres item=genre}
                            {$genre}{$j = $j+1}{if $j != $genre_count}, {/if}{/foreach}
                        {/if}
                        &nbsp;
                        
                    {elseif $vdListItem->contentType == "release_date"}
                        {if $vdListItem->style != "no_label"}
                            <strong>{$this->Language['sort_release_date']}</strong>
                            {if $vdListItem->style != "label_inline"}<br/>{/if}                    
                        {/if}
                        {if $vdListItem->style == "label_inline"}<br/>{/if}
                        {$content->full_release_date|utf8_decode}&nbsp;
                        
                    {elseif $vdListItem->contentType == "price"}
                        {if $pricing_text != ''}
                        <p>{$pricing_text}</p>
                        {/if}

                    {else}
                        {$datakey = $vdListItem->contentType}
                        {if $vdListItem->style != "no_label"}
                            <strong>{$system_vals[$datakey]}</strong>
                            {if $vdListItem->style != "label_inline"}<br/>{/if}                    
                        {/if}
                        {$content->$datakey|utf8_decode}
                        {$content->custom->$datakey->field_value|utf8_decode}&nbsp;
                        
                    {/if}

                </div>  
            {/foreach}
            
                <div class="item-detail-info col-md-12">
                        <!--Star/Cast lists-->
                        {assign var=val value=0}
                        {foreach from=$casts key=counter item=cast}
                        {if $cast|count>0} 
                        {assign var=val value=$val+1}
                        {/if}
                        {/foreach}                                
                        {assign var=counte value=0}                                
                        {if $val > 0 && $cast|is_array}
                        <p><strong>{$this->Language['cast']}</strong></p>
                        <div class="row">                                
                            {foreach from=$casts key=role item=cast}                                    
                            {foreach from=$cast key=counter item=cast_role}
                            {if $counte < 6}                                    
                            <div class="col-md-6 col-sm-6">
                                <div class="cast clearfix">
                                    <a href="{$cast_role->full_permalink}">
                                        <img src="{$cast_role->celeb_image}" alt="{$cast_role->celeb_name}" title="{$cast_role->celeb_name}" class="recent-thumb" width="50" height="50">
                                    </a>
                                    <p class="light-grey">
                                        <a href="{$cast_role->full_permalink}"> {$cast_role->celeb_name}</a><br />
                                        {$role}
                                    </p>
                                </div>
                            </div>
                            {elseif $counte == 6}
                            <div class="col-md-12"><a class="more" href="javascript:void();" data-toggle="modal" data-target=".bs-example-modal-lg">{$this->Language['more']} &raquo;</a></div>
                            {/if}
                            {assign var=counte value=$counte+1}
                            {/foreach}                                
                            {/foreach}
                        </div>
                        {/if}
                    </div>
            </div>
            {else}        
            <div class="col-md-3">    
                <img src="{$content->poster}" alt="{$content->title|utf8_decode}" class="img-responsive item-thumb" />
            </div>
            <div class="col-md-9 product-meta-data">
                <h3>
                    <div class="pull-right">
                        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={$pageUrl}" data-title="{$this->Language['share_in_facebook']}" class="social-share-popup"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;
                        <a target="_blank" href="https://twitter.com/intent/tweet?text={$pageUrl}" data-title="{$this->Language['share_in_twitter']}" class="social-share-popup"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;
                    </div> 
                    {$content->title|utf8_decode} {if $censor_rating !="" }<span class="label label-red">{$censor_rating} </span>{/if}
                </h3>
                <p>
                {if $this->add_to_favourite}
                <button  name="addtofav" data-fav_status="{$user_status['fav_status']}" data-login_status="{$user_status['login_status']}" data-content_id="{$content->movie_id}" data-content_type="{$content->is_episode}" class="btn btn-primary addtofav" type="button">{if $user_status['fav_status'] ==0}<i class="fa fa-heart"></i><span id="favtext">{$this->Language['added_to_fav']}</span>{else} <i class="fa fa-heart-o"></i><span id="favtext">{$this->Language['add_to_fav']}</span> {/if}</button>&nbsp;&nbsp;
                {/if}
                {if $content->show_booking_button}
                    {if $content->start_time !="0000-00-00 00:00:00" }
                    <button name="addtocal" data-content_id="{$content->movie_id}" data-content_type="{$content->is_episode}" data-start_time="{$content->start_time}" data-booking_time="{$content->booking_time}" data-book_type="1" data-booking_with_cal="1" class="btn btn-danger addtocal cbook" type="button"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i>{if $content->booking_status}{$this->Language['booked']}{else}{$this->Language['book']}{/if}</button>
                    {else}
                    <button name="addtocal" data-content_id="{$content->movie_id}" data-content_type="{$content->is_episode}" class="btn btn-danger addtocal" data-booking_time="{$content->booking_time}" data-book_type="2" data-booking_with_cal="1" type="button"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i>{if $content->booking_status}{$this->Language['added_to_calender']}{else}{$this->Language['add_to_calender']}{/if}</button>
                    {/if}
                {/if}
                </p>
                {if $content->genres|@count > 0}
                <p>
                    <strong>{$this->Language['genre']}</strong>
                    {$genre_count = $content->genres|count}
                    {$j=0}
                    {foreach from=$content->genres item=genre}{$genre}{$j = $j+1}
                    {if $j != $genre_count},
                    {/if}
                    {/foreach}
                </p> 
                {/if}
                
                {if $pricing_text != ''}
                <p>{$pricing_text}</p>
                {/if}
                
                <p>
                    {if $trailer_is_converted !=''}
                    <a href="#" class="btn btn-primary" id="trailer-btn">{$this->Language['view_trailer']}</a>
                    {/if}
                </p>
             
                {if $content->video_duration != '' }
                <p><strong>{$this->Language['duration']}</strong>&nbsp;{$content->video_duration}</p> 
                {/if}
                
                {$genre_count = $directors|count}
                {$j=0}
                {if $directors|@count > 0}
                <p>
                    <strong>{$this->Language['director']}:&nbsp;</strong>
                    {foreach from=$directors item=director}
                    <a class="txt-link" href="{$director->full_permalink}">{$director->celeb_name}{$j = $j+1}{if $j != $genre_count},{/if}</a>
                    {/foreach}
                </p>
                {/if}
                
                {if $full_release_date != ''}
                <p>
                    <strong>{$this->Language['sort_release_date']}: </strong>
                    {$full_release_date}
                </p>
                {/if}
                
                {if $content->story !='' }
                <p>
                    <strong>{$this->Language['story']}</strong><br/>
                    {if $content->story|utf8_decode|count_characters > 75}
                    {$content->story|utf8_decode|truncate:190}&nbsp;&nbsp;
                    <a href="javascript:void();" class="txt-link" data-toggle="modal" data-target=".bs-example-modal-lg2">{$this->Language['more']}</a>
                    {else}
                    {$content->story|utf8_decode}
                    {/if} 
                </p>
                {/if}
                
                {if $this->studio->rating_activated == 1}
                <p class="c-font-bold c-font-uppercase">
                    <strong>{$this->Language['rating']}: </strong>
                    <span class="txt-accent">{$review_summary}</span>
                </p>
                {/if}                               
                
                <div>
                    <!--Star/Cast lists-->
                    {assign var=val value=0}
                    {foreach from=$casts key=counter item=cast}
                    {if $cast|count>0} 
                    {assign var=val value=$val+1}
                    {/if}
                    {/foreach}                                
                    {assign var=counte value=0}                                
                    {if $val > 0 && $cast|is_array}
                    <p><strong>{$this->Language['cast']}</strong></p>
                    <div class="row">                                
                        {foreach from=$casts key=role item=cast}                                    
                        {foreach from=$cast key=counter item=cast_role}
                        {if $counte < 6}                                    
                        <div class="col-md-6 col-sm-6">
                            <div class="cast clearfix">
                                <a href="{$cast_role->full_permalink}">
                                    <img src="{$cast_role->celeb_image}" alt="{$cast_role->celeb_name}" title="{$cast_role->celeb_name}" class="recent-thumb" width="50" height="50">
                                </a>
                                <p class="light-grey">
                                    <a href="{$cast_role->full_permalink}"> {$cast_role->celeb_name}</a><br />
                                    {$role}
                                </p>
                            </div>
                        </div>
                        {elseif $counte == 6}
                        <div class="col-md-12"><a class="more" href="javascript:void();" data-toggle="modal" data-target=".bs-example-modal-lg">{$this->Language['more']} &raquo;</a></div>
                        {/if}
                        {assign var=counte value=$counte+1}
                        {/foreach}                                
                        {/foreach}
                    </div>
                    {/if}
                </div>
                
            </div>
        
        {/if}
        
            <div class="spacer _30"></div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-6"> 
                        {if $episode|@count>0}    
                        <div class="c-content-title-1" style="float:none;">
                            <h3 class="c-font-uppercase c-font-bold" style="word-wrap: break-word;">                                    
                                {$this->Language['episodes']}                                  
                            </h3>
                            <div class="c-line-left"></div>
                        </div>{/if}
                    </div>

                    <div class="col-sm-6">

                        {if $all_series|@count > 1}
                        <div class="row">
                            <div class="col-sm-6">
                                <h3 class="c-font-uppercase c-font-bold text-right text-left-xs season-dropdown_title">                                    
                                    {$this->Language['season']}                                
                                </h3>
                            </div>
                            <div class="col-sm-6">
                            <select id="series" name="series" class="form-control form-control-border">
                                {foreach from=$all_series item=series}
                                <option value="{$series->series_number}" {if $default_series == $series->series_number}selected="selected"{/if}>{$this->Language['season']} {$series->series_number}</option>
                                {/foreach}
                            </select>

                        </div>
                        </div>{/if}
                    </div>

                </div> 
                {if $episode|@count>0} 

                <div class="row relative">
                    <!--To list episodes-->
                    <input type="hidden" name="content_id" id="content_id" value="{$content->movie_id}" />
                    <input type="hidden" name="default_series" id="default_series" value="{$default_series}" />

                    {$pagination}
                    <div class="col-md-12">
                        <ul id="episodes" class="item-list row"></ul>
                    </div>
                    <div class="loader" id="loader_episode" style="display: none;"></div>
                </div>
                {/if}   
            </div>
            <div class="spacer _30"></div>
            
            <div class="col-md-12">
                <div class="loader" id="loader_review" style="display: none;"></div>
                <div class="form-group review_form">
                    {$review_form}
                </div>
            </div>
            
            {if $this->studio->comment_activated == 1}
            <div class="row">
                {include file='../media/comment_form.html'}
                {include file='../media/comment_list.html'}            
            </div>
            {/if}
        </div>
        
    </div>
    
</div>



<div id="myTrailer"> 
     <div class="wrapper">
         <div class="videocontent"></div> 
    </div>
</div>

<script type="text/javascript" src="{$this->siteurl}/common/js/fancybox.js"></script>
<link rel="stylesheet" href="{$this->siteurl}/common/css/fancybox.css" type="text/css" media="screen" />

<script type="text/javascript" src="{$this->siteurl}/common/rating/bootstrap-rating.js"></script>
<script type="text/javascript">
    var trailerUrl = '{$item->trailer_url}';
var trailerIsConverted = '{$item->trailer_is_converted}';
var v_logo = '{$item->v_logo}';
var HTTP_ROOT = '{$this->siteurl}';
var is_mobile = 0;
var multipleVideoResolution = {$multipleVideo|json_encode};
var defaultResolution = '{$defaultResolution}';
var createSignedUrl = "{$this->siteurl}/user/getNewSignedUrlForTrailer";
$(document).ready(function() {
    $('.videocontent').hide();
    
    $("#episodes").on("click", ".multipart_child", function() {
        var title = $(this).parent().parent().find('.c-title').html();
        var story = $(this).parent().parent().parent().find('.full-desc-popup').html();
        $('#multipart_child_title').html($.trim(title));
        $('#multipart_child_story').html($.trim(story));
    });
     
});
</script>
<script type="text/javascript" src="{$this->siteurl}/js/content.js"></script>
	 {literal}
    <script type="text/javascript">
        $(document).ready(function () {
	   $('.loader').hide();
	   var user_id = $('.playlist_user_id').val();
           episodeContent();
	});
    </script>
    {/literal}
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-lg" role="document"> <div class="modal-content">
            <div class="modal-header"> 
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">Ã—</span></button> 
                <h4 class="modal-title" id="mySmallModalLabel">{$this->Language['cast']}</h4> 
            </div>
            <div class="modal-body"> 
                <div class="row">
                    <!--Star/Cast lists-->
                    {assign var=val value=0}
                    {foreach from=$casts key=counter item=cast}
                    {if $cast|count>0} 
                    {assign var=val value=$val+1}
                    {/if}
                    {/foreach}                                
                    {assign var=counte value=0}
                    {if $val > 0}
                    <div class="row">                                
                    {foreach from=$casts key=role item=cast}                                    
                        {foreach from=$cast key=counter item=cast_role}
                        <div class="col-md-6 col-sm-6">
                            <div class="cast clearfix">
                                <a href="{$cast_role->full_permalink}">  <img src="{$cast_role->celeb_image}" alt="{$cast_role->celeb_name}" title="{$cast_role->celeb_name}" class="recent-thumb" width="50" height="50"></a>
                                <p class="light-grey"><a href="{$cast_role->full_permalink}"> {$cast_role->celeb_name}</a><br />{$role}</p>
                            </div>
                        </div>                        
                        {/foreach}                                
                    {/foreach}
                    </div>
                    {/if}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-lg" role="document"> <div class="modal-content">
            <div class="modal-header"> 
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button> 
                <h4 class="modal-title c-font-uppercase c-font-bold" id="mySmallModalLabel">{$this->Language['story']}</h4> 
            </div>
            <div class="modal-body"> 
                {$content->story|utf8_decode}
            </div>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-lg3" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-lg" role="document"> <div class="modal-content">
            <div class="modal-header"> 
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">Ã—</span></button> 
                <h4 class="modal-title c-font-uppercase c-font-bold" id="multipart_child_title"></h4> 
            </div>
            <div class="modal-body" id="multipart_child_story"> 

            </div>
        </div>
    </div>
</div>
