<div class="modal-body">
    <div id="fomsg"></div>
    <div class="c-layout-sidebar-content ">            
        <div class="row">
            {assign var="cropDimesion" value=Yii::app()->common->getPgDimension()}
            {assign var="producturl" value=Yii::app()->createUrl("/")}
            {foreach from=$freeproducts key=k item=value}
        <div class="col-md-3 col-sm-6 margin-bottom-30">
        <div class="productlist">
            <div>
                 {assign var="img_path" value=PGProduct::getpgImage($value['id'],'standard')}                                 
                 <img alt="{$value['name']}" src="{$img_path}" title="{$value['name']}">                
            </div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <div>
                        {if $value['name']|count_characters > 30}
                        {$value['name']|substr:0:30}
                        {else}
                        {$value['name']}
                        {/if}                    
                    </div>
                    <div>{Yii::app()->common->formatPrice($value['sale_price'],$value['currency_id'])}</div>

                    <div role="group" class="btn-group btn-group-justified">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-blue" onclick="showselectmsg('{$value['name']}',this);">
                              <input type="radio" name="freeoptions" id="freeoptions{$value['id']}" value="{$value['id']}"> Select Free Offer
                            </label>
                        </div>                   
                    </div>
                </div>
            </div>       
        </div>
    </div>
            {/foreach}
        </div>
    </div>
    <div class="modal-footer">                                  
        <span id="msg" class="error" style="display:none">Please select a product&nbsp;&nbsp;&nbsp;</span>
        <a href="javascript:void(0);" onclick="saveFreeOffer()" class="btn btn-blue">Done Shopping</a>
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="saveorder()">Skip</button>
    </div>
</div>