<link rel="stylesheet" href="{$this->siteurl}/bannerStyle/style_2/css/flexslider.css" type="text/css" >
<link rel="stylesheet" href="{$this->siteurl}/bannerStyle/style_2/css/bannerslide.css" type="text/css" >
<script type="text/javascript" src="{$this->siteurl}/bannerStyle/style_2/js/bannerslide.js"></script>
<script type="text/javascript" src="{$this->siteurl}/bannerStyle/style_2/js/jquery.flexslider.js"></script>
<script type="text/javascript" src="{$this->siteurl}/js/iphone-inline-video.js"></script>
{$template_name=$this->template->code}
{if $template_name == 'traditional-byod'}
<div class="container">{/if}
    {foreach from=$banner_sections|json_decode item=banner_section}
    <div class="slider-one-wrap">
        <div class="flexslider {if $template_name == 'traditional-byod'} flexSliderback {/if}">
            <ul class="slides">
                {foreach from=$banner_section->banners key=counter item=banner}
				{$banner_style = $banner->banner_style}
                {assign var=ccc value=$ccc+1}
                {$banner_text=$banner->banner_text}
                {$banner_join_btn=$banner->join_btn}
                {$url_text=$banner->url_text}
                {$class = ""}
                {if $counter == 0} 
                {$class = "active"}
                {/if}  
                {$banner_type=$banner->banner_type}
                {$autoScroll=$banner_style->auto_scroll}
                {$scrollInterval=$banner_style->scroll_interval}
                {$activeThumb=$banner_style->no_of_active_image}
                {$widthImage=$banner_style->h_banner_dimension}
                {$heightImage=$banner_style->v_banner_dimension}
                {$widthThumb = $banner->thumb_width}
                {$heightThumb = $banner->thumb_height}
				{$bannerImage = $banner->banner_full_path}
                <input type="hidden" id="active_thumb" value="{$activeThumb}">
                <input type="hidden" id="auto_scroll" value="{$autoScroll}">
                <input type="hidden" id="scroll_interval" value="{$scrollInterval}">
                  <input type="hidden" id="banner_width" value="{$widthImage}">
                    <input type="hidden" id="banner_height" value="{$heightImage}">
                <li>
                     {if $banner_type == '1'}
                       <img src="{if $bannerImage != ''}{$bannerImage}{else}https://placeholdit.imgix.net/~text?txtsize=500&txt={$widthImage}x{$heightImage}&w={$widthImage}&h={$heightImage}{/if}" class="slide-image"/>{else}
                  <div align="center" class="videocontainer">
                             <video autoplay="false" preload="none" loop muted="true" id="background" playsinline>
                                <source src="{$banner->video_url}">
                            </video>
                            <span class="butn-banner-mute" onClick="muteBannerVdo(this);">
                                <i class="fa fa-volume-off" aria-hidden="true"></i>
                                <i class="fa fa-volume-up _on" aria-hidden="true"></i>
                            </span>
                        </div>
                    {/if}

                    {foreach from=$banner->bannerProperties key=counter item=properties} 
					 {if $properties->banner_url !='' }
             <a href="{$properties->banner_url}">{/if}<div class="banner-overlay"></div>
                {if $properties->banner_url !='' }</a>{/if}
                    <div class="slide_text  {if $properties->is_advance == 1}slide_advance{/if}">
                        {if $properties->is_advance == 0}
                        {if $properties->banner_text_heading !='' }<div class="slide_title">{$properties->banner_text_heading}</div>{/if}
                        {if $properties->banner_text_description !='' }<div class="slide_byline">{$properties->banner_text_description}</div>{/if}
                       {$user_id=Yii::app()->user->id}
                        {if ($properties->banner_button_type == 1 && $properties->banner_button_link !=='') || ($properties->banner_button_type == 0 && $user_id < 1)}
                            {if $properties->banner_button_text !=''}  
                            <a href="{if $properties->banner_button_type == 0 && $user_id < 1}{$this->siteurl}/user/register {else}{$properties->banner_button_link}{/if}" class="joinnow {if $template_name == 'traditional-byod'}  bannerBtn {/if}">
                                {$properties->banner_button_text}</a>
                            {/if}
                   {/if}
                        {else}{$properties->advance_content}
                        {/if}
                    </div>
                    {/foreach}</li>
                    
                {/foreach}
                {if $ccc < $activeThumb }
               {for $foo=$ccc to $activeThumb-1 }
                     <li><img src="https://placeholdit.imgix.net/~text?txtsize=500&txt={$widthImage}x{$heightImage}&w={$widthImage}&h={$heightImage}" /></li>
                    {/for}
                    {/if}
            </ul>
        </div>
        <div class="thumb-list {if $template_name == 'traditional-byod'} thumb_traditional {else}thumb_image{/if}">
            <a class="dire-nav _top"></a>
            <a class="dire-nav _bottom"></a>
            <ul> {foreach from=$banner_section->banners key=counter item=banner} 
                {$banner_text=$banner->banner_text}
                {$banner_join_btn=$banner->join_btn}
                {$url_text=$banner->url_text}
                {$class = ""}
                {if $counter == 0} 
                {$class = "active"}
                {/if}  
                {$banner_type=$banner->banner_type}
				{$bannerImage = $banner->banner_full_path}
                {if $banner_type == '1'}<li> <img src="{if $bannerImage != ''}{$bannerImage}{else}https://placeholdit.imgix.net/~text?txtsize=20&txt={$widthImage}x{$heightImage}&w={$widthThumb}&h={$heightThumb}{/if}" class="slide-image"/></li>{else}<li> 
                    <img src="{$banner->video_placeholder_thumb}">
                </li>{/if}
                
                {/foreach}
                {if $ccc < $activeThumb }
               {for $foo=$ccc to $activeThumb-1 }
                     <li><img src="https://placeholdit.imgix.net/~text?txtsize=20&txt={$widthImage}x{$heightImage}&w={$widthThumb}&h={$heightThumb}" /></li>
                    {/for}
                    {/if}
            </ul>
        </div>
    </div>
    {/foreach}
    {if $template_name == 'traditional-byod'}</div>{/if}
{literal}
<script type="text/javascript">
    function muteBannerVdo(obj) {
            
        if ($(obj).parent('.videocontainer').find('video').prop('muted')) {
            $(obj).parent('.videocontainer').find('video').prop('muted', false);
            $(obj).addClass('_on');
        } else {
            $(obj).parent('.videocontainer').find('video').prop('muted', true);
            $(obj).removeClass('_on');
        }
    } 
	var autoScroll;
	var thumb_visibe;
	var interval;
	var auto;
	var widthBanner;
	var heightBanner;
    $(window).on('load', function () {
         autoScroll = $('#auto_scroll').val();
		interval = $('#scroll_interval').val();
        thumb_visibe = $('#active_thumb').val();
        if ($('.flexslider ul.slides li.flex-active-slide video').length) {
            auto = false;
        } else {
            if (autoScroll == 1) {
                auto = true;
            }
            else {
                auto = false;
            }
        }
        //To pause all video plying and play if in 1st slide
        $('.slides').find('video').each(function () {
            var cItem = $(this);
			enableInlineVideo(this);
            if ($(this).closest('li').index() != 0) {
                cItem.trigger('pause');
            }
        });
       widthBanner = $('#banner_width').val();
         heightBanner = $('#banner_height').val();
        initSliderOne();
        configSliderOne(thumb_visibe);
       loadSlider();
    });
function loadSlider(){
	 $('.flexslider').flexslider({
		slideshow: auto,
		slideshowSpeed: interval,
		controlNav: false,
		directionNav: false,
		start: function (slider) {
			startSliderOne(widthBanner,heightBanner,auto,slider);
			setActive();
			playVideoBanner(slider, auto);
		},
		before: function (slider) {
			videoPlay(slider);
		},
		after: function (slider, interval) {
			if (autoScroll == 1) {
				var auto = true;
			}
			else {
				var auto = false;
			}
			thumbAnimsliderOne(slider,auto);
			playVideoBanner(slider, auto, interval);
		}
	});
}
</script>
{/literal}