<div class="page-header">
    <!--Background Banner-->
    <div class="fill-header">
        <img src="{$this->siteurl}{$Yii->theme->baseUrl}/images/Banner%20Pik.jpg" alt="{$this->Language['we_would_love']}" title="{$this->Language['we_would_love']}">
    </div>             
    <div class="page-title">
        <h2>{$this->Language['we_would_love']}</h2>
    </div>
</div>
<div class="container">
 
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <section class="m-b-30">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                         <div class="alert-success alert-msg" id="success_message" style="display:none;"></div> 
                        <form name="ContactForm" id="contactus_form" method="post">
                            <div id="contact-loading" class="loader"></div> 
                            <div class="form-group">
                                <input type="text" required name="ContactForm[name]" id="contact_name" name="contact_name" placeholder="{$this->Language['text_name_placeholder']}" autocomplete="off" class="form-control" value=""   autofocus />
                            </div>
                            <div class="form-group m-b-30">
                                <input type="email"  name="ContactForm[email]" id="email" placeholder="{$this->Language['text_email_placeholder']}" autocomplete="off" class="form-control" value=""  required />
                            </div>
                            <div class="form-group bottom45p">
                                <textarea rows="4" name="ContactForm[message]" id="message" class="form-control" placeholder="{$this->Language['text_message_placeholder']}" ></textarea>
                            </div>
                            <input type="text" id="ccheck" name="ccheck" placeholder="" autocomplete="off" style="display: none;" />
                            <input type="hidden" name="submit-btn" id="submit-btn"/>
                            <button  type="submit" class="btn as-btn-accent as-btn-md" name="contactus" id="contact_us">{$this->Language['btn_send']}</button>
                            <div id="login-errors" class="error center"></div>
                            <input type="hidden" name="csrfToken" id="csrfToken" value="{$smarty.session.csrfToken}" />

                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{literal}
<script type="text/javascript">
    $('.wrapper').addClass('has-not-sidebar');

    $('#contact_us').on('click', function () {
        $('#submit-btn').val('contact');
        var frm = $(this).closest('form');
        frm.validate({
            rules: {
                "ContactForm[name]": {
                    required: true,
                    minlength: 5,
                },
                "ContactForm[email]": {
                    required: true,
                    email: true
                },
                "ContactForm[message]": {
                    required: true
                },
            },
            messages: {
                "ContactForm[name]": {
                    required: JSLANGUAGE.full_name_required,
                    minlength: JSLANGUAGE.name_atleast_5_char,
                },
                "ContactForm[email]": {
                   required: JSLANGUAGE.email_required,
                   email: JSLANGUAGE.valid_email
                },
                "ContactForm[message]": {
                   required: text_message_placeholder,
                }
            },
            submitHandler: function (data) {
                $('#contact-loading').show();
                $.ajax({
                    url: HTTP_ROOT + "/site/contactus",
                    data: frm.serialize(),
                    type: 'POST',
                    headers: {"X-PJAX": "true", "X-PJAX-Container": "#main"},
                    beforeSend: function () {
                        $('#profile-loading').show();
                    },
                    success: function (res) {
                        $(frm).each(function(){
                         this.reset();
                        });
                       $('#contact-loading').hide();
                         $('#success_message').html(res).show();
                            $(".alert-msg").fadeTo(5000, 0).slideUp("slow", function(){
                                $('#success_message').html('').css({ opacity: 1 });
                            }); 
                    }
                });
            }
        });
    });


</script>  
{/literal}
