<script>   
var parentThemeName = "{$this->studio->parent_theme}";
</script>
{literal}
<div ng-app="FeaturedContents" ng-controller="HomeFeaturedSections" id="homepage_sections" class="relative">
    <div ng-repeat="section in sections">
        <div ng-if="section.total > 0 && section.content_type == 0" class="wrapper row-lists- parent_sec_{{section.id}} parent-sec-hide _init" id="section_{{section.id}}">

            <div class="row top20">
                <div class="col-sm-12">
                    <div>
                        <span class="title1">{{section.title | utfdecode}}</span>
                        <a ng-if="section.cpermalink" ng-href="{/literal}{$this->siteurl}/{literal}{{section.cpermalink}}" class="btn btn-primary btn-green-small pull-right">{/literal}{$this->Language['view_more']}{literal}</a>
                    </div>
                </div>
            </div>
            <div class="row list_page">
                <div class="col-md-12">
                    <div class="slider responsive">
                        <div ng-repeat="content in section.contents" class="col-md-5ths col-sm-6"><!--new class added play-box-center:8-may-17-->
                            <div class="wrapper thumbnail">
                                <div class="play-box play-box-center">
                                    <img src="{{content.poster}}" alt="" title="{{content.title | utfdecode}}" class="play_box_img center-block">
                                    <div ng-if="content.play_btn.length > 0">
                                        <div ng-if="content.content_types_id!=3 || content.is_episode==1">
                                            <div class="thumb-bg"></div>
                                            <div class="play-btn" ng-bind-html="content.play_btn | html"></div>
                                        </div>
                                        <div ng-if="content.content_types_id== 3">
                                             <a class="thumb-bg" href="{{content.permalink}}"></a>
                                        </div>
                                    </div>
                                    <a class="thumb-bg" ng-if="!content.play_btn.length" href="{{content.permalink}}"></a> 
                                </div>
                                <div class="caption">
                                    <h3 class="caption_title"><a href="{{content.permalink}}" >{{content.title | utfdecode}}</a></h3>
                                <span ng-repeat="genres in content.genres" ng-bind-template="{{$index == 0 ? '':', '}}{{genres}}"></span>                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <span>{{updateSlider(section.id)}}</span>
        </div>  
    </div>
    <div class="loader _home_featured" ng-if="isLoader" style="display:block;" ></div>
</div>
<script>
var LIMIT = 2;
var app = angular.module('FeaturedContents', [])
    .filter('html',function($sce){
    return function(input){
        return $sce.trustAsHtml(input);
    };
})
.filter('utfdecode',function($sce){
    return function(input){
        var rData = input;
        try{ rData = decodeURIComponent(escape(input))}catch(e){}
        return rData;
    };
});
app.controller('HomeFeaturedSections', function($scope, $http, $window, $timeout) {
    $scope.sections = []; 
    $scope.isLoader = true;
    $scope.dataoffsetG = 0;
    $scope.inProgress = false;
    
    $scope.updateSlider = function(secID){
        initSlickSlider('.parent_sec_'+secID+' .slider');
        $('.parent_sec_'+secID+'._init').removeClass('_init');
    };
    
    function loadNextSections(dataoffset){
        $scope.inProgress = true;
        $http.get(HTTP_ROOT+"/rest/loadFeaturedSections?authToken="+STORE_AUTH_TOKEN+"&dataoffset="+dataoffset+"&viewlimit="+LIMIT+"&themes="+parentThemeName+ "&lang_code={/literal}{$this->language_code}{literal}").then(function (response) {
            if(response.data.section.length > 0){  
                for(var j = 0; j < response.data.section.length; j++){
                    $scope.sections.push(response.data.section[j]);                    
                }                 
                $scope.dataoffsetG = dataoffset+LIMIT;
                $scope.inProgress = false;
            }else{
                $scope.isLoader = false;
            } 
        });  
    } 
    angular.element($window).bind("scroll", function(e) {
        if(!$scope.inProgress && $(window).scrollTop() >= $('.loader._home_featured').offset().top - $(window).height()) {
            loadNextSections($scope.dataoffsetG);
        }
    });
    angular.element($window).bind('load', function() {
        if(!$scope.inProgress && $(window).scrollTop() >= $('.loader._home_featured').offset().top - $(window).height()) {
            loadNextSections($scope.dataoffsetG);
        }
    });
});
</script>
{/literal}