<!-- Login Modal -->
<div id="loginModal" class="modal fade login-popu" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content" style="position: relative;">
              <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                 <h4 class="modal-title text-center" id="myModalLabel">{$this->Language['oops_only']}</h4>
              </div>
         

            <div class="modal-body popup_bottom">
                <div class="row-fluid">

                    <input type="hidden" id="movie_id" value="" />
                    <input type="hidden" id="stream_id" value="" />
                    <input type="hidden" id="season_id" value="" />
                    <input type="hidden" id="isppv" value="" />
                    <input type="hidden" id="videotype" value="" />
                    <input type="hidden" id="content-permalink" value="" />
                    <input type="hidden" id="content-type-permalink" value="" />
                    <input type="hidden" id="is_ppv_bundle" value="" />
                    <input type="hidden" id="isadv" value="" />

                    <div class="col-md-12" id="login_form_div">
                        <input type="hidden" value="" id="play_url" />
                        <input type="hidden" value="" id="to_play" />

                        <form name="login_form" id="login_form" method="post" class="form-horizontal">
                        <input type="hidden" name="csrfToken" id="csrfToken" value="{$smarty.session.csrfToken}" />


                            <div class="form-group">
                                <h3 id="modal1Title" class="text-center">{$this->Language['already_registered']}</h3>
                                <p class="text-capitalize text-center">{$this->Language['dont_have_account']}  <a class="link-ylw light-green-color" href="javascript:void(0);" onclick="showRegister();"><span class="light-green-color">{$this->Language['btn_signup']}</span></a></p>

                                {if $this->studio->social_logins}
                                {if isset($smarty.session.social) } 
                                {assign var=socialAuth value=$smarty.session.social}
                                {else}
                                {assign var=socialAuth value=$this->getSocialUrls()}
                                {/if}
                                {if $socialAuth}
                                <ul class="social-image-center">
                                {if ($this->studio->social_logins & 1) && $socialAuth['fb_url'] }
                                <li><a href="javascript:void(0);" data-url="{$socialAuth['fb_url']}" data-login="1" class="facebook_login facebook social_login"><img src="{$this->siteurl}{$Yii->theme->baseUrl}/images/fb-signin.png" class="social_image"></a></li>
                                {/if}
                                {if ($this->studio->social_logins & 2) && $socialAuth['gplus_url'] }
                                <li><a href="{$socialAuth['gplus_url']}"><img src="{$this->siteurl}{$Yii->theme->baseUrl}/images/google-signin.png" class="social_image"></a></li>
                                {/if} 
                                </ul>
                                {/if}
                                <div class="row top50">
                                    <div class="col-xs-3 col-xs-offset-1"><div class="devider"></div></div>
                                    <div class="col-xs-4 font16 text-muted f11 text-center">{$this->Language['sign_in_with']}</div>
                                    <div class="col-xs-3"><div class="devider"></div></div>
                                </div>
                                {/if}
                                <div id="login_errors" class="error"></div>
                            </div>

                            <div class="row top20">
                                <div class="col-md-6 bottom20">
                                    <div class="icon-addon addon-lg">
                                        <input type="email" name="LoginForm[email]" id="username" placeholder="{$this->Language['text_email_placeholder']}" autocomplete="off" class="form-control" value="" />
                                        <label for="email" rel="tooltip" title="" data-original-title="name"><i class="fa fa-envelope-o"></i></label>
                                    </div>
                                </div>
                                                            <div class="loader" id="login_loading"></div>
                                <div class="col-md-6 bottom20 ">
                                    <div class="icon-addon addon-lg">
                                        <input type="password" name="LoginForm[password]" id="password" placeholder="{$this->Language['text_password_placeholder']}" autocomplete="off" class="form-control" />
                                        <label for="email" rel="tooltip" title="" data-original-title="email"><i class="fa fa-lock"></i></label>
                                    </div>
                                </div>
                                <div class="col-md-6 bottom20 top50 text-left">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox">
                                            {$this->Language['rememberme']}</label>
                                    </div>
                                </div>
                                <div class="col-md-6 bottom20 top50 text-right">
                                    <button type="submit" class="btn btn-primary btn-green-small" name="login_submit" id="login-btn"><i class="fa fa-user padding-right-10"></i>{$this->Language['btn_login']}</button>
                                </div>

                            </div>
                           <div class="row">
                    <div class="col-md-12 top20">
                                    <div class="pull-right"><a class="link-ylw txt-right light-green-color" href="{$this->siteurl}/user/forgot" >{$this->Language['forgot_password']}</a></div>
                                </div>
                            </div>
                        </form>  
                    </div>
                    <div class="clearfix"></div>

                    <div class="col-md-12" id="register_form_div" style="display: none;">
                        <form id="register_form" name="register_form" method="POST" class="form-horizontal">
                      <input type="hidden" name="csrfToken" id="csrfToken" value="{$smarty.session.csrfToken}" />
                            <div class="form-group">
                                {if $this->SubscriptionPlans|@count > 0}
                                <h3 id="modal1Title" class="text-center">{$this->Language['ready_for_free_month']}</h3>
                                {else}
                                <h3 id="modal1Title" class="text-center">{$this->Language['new_member']}</h3>
                                {/if}
                                <p class="text-capitalize text-center">{$this->Language['already_registered']} <a class="link-ylw txt-right light-green-color" href="javascript:void(0);"   onclick="showLogin();"><span class="light-green-color">{$this->Language['sign_in']}</span></a></p>


                                {if $this->studio->social_logins}
                                {if isset($smarty.session.social) } 
                                {assign var=socialAuth value=$smarty.session.social}
                                {else}
                                {assign var=socialAuth value=$this->getSocialUrls()}
                                {/if}
                                {if $socialAuth}
                                <ul class="social-image-center">
                                {if ($this->studio->social_logins & 1) && $socialAuth['fb_url'] }
                                <li><a href="javascript:void(0);" data-url="{$socialAuth['fb_url']}" data-login="1" class="facebook_login facebook social_login"><img src="{$this->siteurl}{$Yii->theme->baseUrl}/images/fb-signup.png" class="social_image"></a></li>
                                {/if}
                                {if ($this->studio->social_logins & 2) && $socialAuth['gplus_url'] }
                                <li><a href="{$socialAuth['gplus_url']}"><img src="{$this->siteurl}{$Yii->theme->baseUrl}/images/google-signup.png" class="social_image"></a></li>
                                {/if} 
                                </ul>
                                {/if}
                                <div class="row top50">
                                    <div class="col-xs-3 col-xs-offset-1"><div class="devider"></div></div>
                                    <div class="col-xs-4 font16 text-center f11">{$this->Language['sign_up_with']}</div>
                                    <div class="col-xs-3"><div class="devider"></div></div>
                                </div>
                                {/if}
                                <div id="register_errors" class="error text-center"></div> 
                            </div>
                            <div class="row top20">
                                <div class="col-md-6 bottom20">
                                    <div class="icon-addon addon-lg">
                                        <input type="text" required name="data[name]" id="fullname" placeholder="{$this->Language['text_name_placeholder']}" autocomplete="off" class="form-control" />
                                        <label for="email" rel="tooltip" title="" data-original-title="name"><i class="fa fa-user"></i></label>
                                    </div>
                                </div>
                                <div class="col-md-6 bottom20 ">
                                    <div class="icon-addon addon-lg">
                                        <input type="email" required name="data[email]" id="email" placeholder="{$this->Language['text_email_placeholder']}" autocomplete="off" class="form-control" />
                                        <label for="email" rel="tooltip" title="" data-original-title="email"><i class="fa fa-envelope-o"></i></label>
                                    </div>
                                </div>
                                                            <div class="loader" id="register_loading" >  </div>
                                <div class="col-md-6 bottom20 top20">
                                    <div class="icon-addon addon-lg">
                                        <input type="password" required name="data[password]" id="join_password" placeholder="{$this->Language['text_password_placeholder']}" autocomplete="off" class="form-control join_password" />
                                        <label for="email" rel="tooltip" title="" data-original-title="name"><i class="fa fa-lock"></i></label>
                                    </div>
                                </div>
                                <div class="col-md-6 bottom20 top20">
                                    <div class="icon-addon addon-lg">
                                        <input type="password" required="" value="" class="form-control" autocomplete="off" placeholder="{$this->Language['confirm_password']}" id="confirm_password" name="data[confirm_password]">
                                        <label for="email" rel="tooltip" title="" data-original-title="email"><i class="fa fa-lock"></i></label>
                                    </div>
                                </div>
                                <div class="col-md-12 bottom20 top20">
                                    <div class="icon-addon addon-lg">
                                        <input name="data[subscribe_newsletter]" value="1" type="checkbox" checked="checked"> &nbsp;{$this->Language['subscribe_to_announcement']} 
                                    </div>
                                </div>                                                            
                                <div class="clearfix"></div>
                                <div class="col-md-6 bottom20 top50 text-left">
                                    <div class="checkbox register">
                                       
                                         {$this->Language['chk_over_18']}<a class="link linkcol light-green-color" href="{$this->siteurl}/page/terms-privacy-policy" target="_blank"><span class="light-green-color">  {$this->Language['terms']}</span> </a>
                                    </div>
                                </div>
                                <div class="col-md-6 bottom20 top50 text-right">
                                    <button type="submit" class="btn btn-primary btn-green-small" name="register_submit" id="register-btn"><i class="fa fa-sign-in padding-right-10" aria-hidden="true"></i>{$this->Language['btn_register']}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>          
        </div>		
    </div>
</div>
<div id="ppvModal" class="modal fade login-popu" data-backdrop="static" data-keyboard="false"></div>
<script type="text/javascript" src="{$this->siteurl}/js/themes/loginpopup.js"></script>
