@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body
	{
		font-family: 'Open Sans', sans-serif;
		background:#f5f5f5;
	}
.input-lg {
    border:2px #8d8d8d solid;

}
.width-6{width:44%; float:left;}
label {
        color:#006e8c;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open > .dropdown-toggle.btn-default{
   background-color: #fff; 
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    background-color:transparent;
    color: #1ebbe9;
}
.navbar-inverse .navbar-nav > li > a:hover{
    color: #337ab7;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    color: #337ab7;
    background-color: transparent;
}
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover{
     background-color: transparent;
}
.navbar-inverse {
    background-color:transparent;
    border-color:0px #080808;
	text-transform:uppercase;
}

.navbar-wrapper{ border-bottom:4px solid #ed5915;
                 background: #b3d1f3 url('../images/orange-purple/header_bg.png') repeat-x;
                 border-bottom: solid 4px #00ACDB; }
.carousel-inner {
    border-bottom: 3px solid #00ACDB;
}

.logo{
	background:url(../images/logo.png) no-repeat;
	}


.btn-primary {
    background-color: #08778d;
    color: #fff;
    border: none;
}
.btn-primary:hover {
    color: #fff;
    background-color: #08778d;  
}

.btn-primary2 {
    background-color: #08778d;
    color:#fff;
}
.btn-primary2-gray {
    background-color: transparent;
    border:3px #999 solid;
    color: #333;
}
.btn-primary2-mid {
    background-color: transparent;
    border:3px #00acdb solid;
    color: #333;
}
.btn-primary2:hover {
    background-color: #364244;
    color:#fff;
}


.jumbotron {
    background-color: #1ebbe9;
    color: inherit;
}
.video-text {
    color:#000;
}

.header-text{ color:#000;}

 
.caption {

    background:rgba(66, 139, 202, 0.75);
    color:#fff !important;

}

.jumbotron2 {
    color: inherit;
	background:#fff;
	
}
.footer-border
	{
		background:#00acdb;
	}
.footer-link
	{
		color:#333;
	}
.footer-link ul
	{
		color:#333;
	}
.footer-link ul li
	{
		color:#333;

	}
.footer-link ul li a
	{
		color:#333;
	}
.footer-link ul li a:hover
	{
		color:#0CF;
	}
.cyan
	{
		color:#00acdb;
	}

	
.bs-docs-header, .bs-docs-masthead {
    background:url(../images/nav-bg.jpg);
    /*background-image: linear-gradient(to bottom, #563d7c 0px, #6f5499 100%);*/
    background-repeat: repeat-x;
    color: #cdbfe3;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.bs-docs-masthead h1 {
    color: #fff;

}
.bs-docs-masthead .lead {
    color: #fff;

}


.bg-white
	{
		padding:30px;
	}

.img-border{ border:3px #ccc solid}

.cast-list {
	border-bottom: 1px solid #999;
}


.cast-text2 {
    color: #666;
}

.pen-icon{background:url('../images/icons/pencil.png') no-repeat center left;}
.ac-setting-icon{background:url('../images/icons/ac-setting-icon.png') no-repeat center left;}
.comment-icon{background:url('../images/icons/comment-icon.png') no-repeat center left; }
.settings-icon{background:url('../images/settings.png') no-repeat center left; }

.heading_2{color: #006e8c;}
.heading_3{color: #333;}


.header-big
	{
		color:#fff;
	}
.h4-white
	{
		color:#fff;
	}

.black{color:#000;}

.billed-box {
    background: none repeat scroll 0 0 #fff;
    border: 2px solid #4aac01;
}
.billed-box .tick-icon {
    background: url("../images/icons/tick-icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);

}
.billed-box h3 {
    color: #4aac01;
}
.billed-box2 {
    background: none repeat scroll 0 0 #fff;
    border: 2px solid #ddd;

}

.link-bold a
	{
		color:#00c0ff;
	}






.navbar-form .input-group .form-control, .navbar-form .input-group .input-group-addon, .navbar-form .input-group .input-group-btn {
    background:#fff;


}
.btn-default {
    background-color: #fff;
    color: #333;
}
.panel {
    background-color: transparent;
    border: 1px solid transparent;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

}
.modal-title{color: #3a3a3a}


.form-control-search{color:#fff;background: transparent none repeat scroll 0 0 !important;}
.bootbox>div{
    color: #fff;
}
#loginButton{ background:#fff;border:1px solid #899caa;  }
#loginButton span {color:#445058;text-shadow:1px 1px #fff; }
#loginButton:hover {
    background:#fff;
}
#loginButton.active em {
    background:#d2e0ea; 
    border:1px solid #899caa;
    background:#fff;
}
#filterFormPopup #login {
        background:#ff1970;
    color:#fff;
    border:1px solid #ff1970;
      text-shadow:0px -1px #278db8;
}

fieldset#body {
      background:#fff; 
    border-radius:3px;
    -moz-border-radius:3px;

}
.modal{color:#000;}
.ppv_price{color:#f17f00;}

.social-icons li {background: #fff;}
.alert-danger{
      background-color: #F00;
    border-color: #900;
    color: #fff;  
}
.content-details h1{  color: #fff;text-shadow: 1px 1px 7px #333;}
.lstream-view .badges .badge-live {background-color: #ff3d22;color: #fff;}
.modal .login-popup-msg h3{color: #FFF;}
#loginBox{background: #fff;}
