@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body{font-family: 'Open Sans', sans-serif;}
.navbar-wrapper{
    padding: 20px 0px;
    margin-top: 0px;
}
.navbar{margin-bottom: 0px;}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{margin:0px;}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{margin-top: 12px;}
.navbar-form{float: right;}
.navbar-form .input-group .form-control, .navbar-form .input-group .input-group-addon, .navbar-form .input-group .input-group-btn{ 
    width: auto;
    margin-top:-10px;
}
.navbar-inverse .navbar-nav > li > a {

}
.cb{clear: both;}
.cb20{clear: both;height: 20px;}
.sbox{height: 38px !important;}
.sbox-err-lbl{padding: 0;}

.input-lg {
    border-radius: 0px;
    font-size: 18px;
    height: 46px;
    line-height: 1.33333;
    padding: 10px 16px;
}
.width-6{width:44%; float:left;}
label {
    display: inline-block;
    font-weight: 700;
    margin-bottom: 5px;
    max-width: 100%;
    font-size:16px;
}
.navbar-brand {
    font-size: 18px;
    float: none;
    height: auto;
    line-height: 20px;
    padding: 0px;
}

.navbar-inverse {
    text-transform:uppercase;
}
.navbar-static-top {
    border-width: 0;
    z-index: 1000;
}
.logo{
  height: 63px;
    width: 150px;
    background-size: 100%;
	}
.Textcolor h2 {color:#333 !important;}
.Textcolor p {color:#333 !important;}
.Textcolor .confirm {
    color: #333 !important;
}
.Textcolor .cancel {
    background: #f55753 none repeat scroll 0 0 !important;
    color: #fff !important;
}
.btn {
    -moz-user-select: none;
    background-image: none;
    border-radius: 0px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.btn-primary2 {
    padding: 6px 10px;
    font-size:15px;
}
.btn-primary2-gray {
    padding:10px 35px;
    font-size:28px;
}
.btn-primary2-mid {
    padding:1px 30px;
    font-size:22px;
}
.btn-mid
{
    margin-left:41.5%;
    padding-top:60px;
}
.slider-caption ul
{
    margin-left:-26px;
}
.slider-caption ul li
{
    padding-bottom:15px;
}
.col-md-2a {
    width: 19.999%;
}
.change_template{margin-top: 51px;}
@media (max-width: 668px) {
    .col-md-2a {
        width: 79.999%;
    }
    #top_search{display: none;}

}
.jumbotron {
    color: inherit;
    margin-bottom: 30px;
    padding: 30px 15px;
	
}
.video-text
{
    text-align:center;
    padding-top:18%;
    font-size:28px;
    text-transform:uppercase;
    height:450px;
}
.header-text{ text-align:left; margin:25px; font-weight:bold; text-transform:uppercase; }
.thumbnail2 {position:relative;overflow:hidden;}
 
.caption {
    position:absolute;
    right:0;
    width:100%;
    height:100%;
    padding:2%;
    text-align:center;
    z-index:2;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.thumbnail2:hover .caption {
    top:0%;
}
.jumbotron2 {
    margin-top:60px;
    height:auto;
    position:absolute;
    width:100%;	
}
.footer-border{ height:5px;background: #00ACDB;}
.footer-link{ margin-left:-40px;}
.footer-link ul li
{
    margin-bottom:15px;
    text-decoration:none;
    list-style:none;
}

.bold{ font-weight:bold;}
	
.bs-docs-header, .bs-docs-masthead {
    background-repeat: repeat-x;
    width:100%;
    padding: 0px 15px;
    position: relative;
    text-align: center;
}
.bs-docs-masthead .bs-docs-booticon {
    margin: 0 auto 30px;
}
.bs-docs-masthead h1 {
    font-weight: 300;
    line-height: 1;
}
.bs-docs-masthead .lead {
    font-size: 20px;
    margin: 0 auto 30px;
}
@media (min-width: 768px) {
.bs-docs-header {
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
}
.bs-docs-header h1 {
    font-size: 60px;
    line-height: 1;
}
}
@media (min-width: 992px) {
.bs-docs-header h1, .bs-docs-header p {
    margin-right: 380px;
}
}
.bg-white
{
    padding:30px;
}
.input-lg
	{
		width:100%;
	}
.form-left
	{
		margin-left:-30px;
	}
.form-width
	{
		width:209px;
	}
.form-width2
	{
		width:164px;
	}

.form-space
	{
		height:20px;
	}

.cast-list {
    min-width: 255px;
    max-width: 255px;
    height: 70px;
}
.cast-list ul {
    margin-left:-40px;
}
.cast-list ul li {
    display: inline;
    font-size: 15px;
    font-weight: bold;
    list-style: outside none none;
    text-decoration: none;
    text-transform: uppercase;
	
}
.cast-text {
    margin-left: 10px;
}
.cast-text2 {
    float: left;
    font-size: 12px;
    font-weight: normal;
    margin-left: 55px;
    margin-top: -15px;
}
.img-circle{width:41px; height:41px;}
.img-circle-top {
    margin-top: 18px;
}
.pen-icon{ padding-left: 40px; text-transform: uppercase;margin-left: -39px;}
.ac-setting-icon{padding-left: 40px; text-transform: uppercase;}
.comment-icon{padding-left: 40px; text-transform: uppercase;}
.settings-icon{padding-left: 40px; text-transform: uppercase;}
.line-icon{ text-transform: uppercase; float:left; margin-top:20px;}
.heading_2{font-weight: 300;font-size: 31.5px;line-height: 40px;text-transform: uppercase;margin: 10px 5px; margin-top:0px;text-rendering: optimizelegibility;}
.heading_3{font-weight: bold;font-size: 20px;text-transform: uppercase;}
.devider
{
    margin: 206px 0;
}
.col-md-4-left
{
    margin-left:-15px;
}
.body-top-
{
    margin-top:-80px;
}
.header-big
{
    text-transform:uppercase;
    font-size:48px;
    font-weight:bold;
    margin-top:-10px;
}
.text-capitalize {
    text-transform: uppercase;
}

.billed-box {
    background:transparent;
    border-radius: 4px;
    margin: 10px;
    padding-bottom: 15px;
    text-align: center;
}
.billed-box .tick-icon {
    height: 38px;
    margin: -19px -17px 0;
    position: absolute;
    width: 38px;
}
.billed-box h3 {
    font-weight: 400;
}
.billed-box2 {
    background:transparent;
    border-radius: 4px;
    margin: 10px;
    padding-bottom: 15px;
    text-align: center;
}
.form-spacing
{
    margin-bottom:15px;
}
.link-bold a
{
    font-weight:bold;
    font-size:16px;
    text-transform:uppercase;
}
.search-margin-top
{
    margin-top:-20px;
}
.search-margin
{
    margin-top:40px;
}
	
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}


.navbar-form .btn-default{
    margin-top: -11px;
}
.panel {
    border-radius: 4px;
    margin-bottom: 20px;
}


#page{margin-top: 40px;}
#page.site_sdkIndex{margin-top: 0px;}
.caption a{font-weight: bold;}
.social-wrap {margin:0px 0px 0px 0px; width: 160px; float:right;}
.social-wrap ul li{list-style:none;border-bottom:none;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}
.social-wrap li a {
    margin:5px 5px 0px 5px;
    padding:0px 0px 0px 0px;
    width:30px;
    height:30px;
    float:left;
    text-indent:-99999px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright:5px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}
.social-wrap li a.facebook {
    -webkit-transition:All 0.3s ease-out;
    -moz-transition:All 0.3s ease-out;
    -o-transition:All 0.3s ease-out;
}
.social-wrap li a.twitter {
    -webkit-transition:All 0.3s ease-out;
    -moz-transition:All 0.3s ease-out;
    -o-transition:All 0.3s ease-out;
}
.social-wrap li a.google-p {
    -webkit-transition:All 0.3s ease-out;
    -moz-transition:All 0.3s ease-out;
    -o-transition:All 0.3s ease-out;
}

.thumbnail{position: relative; padding: 0px; background: none; border: none; max-width: 280px;}
.mov_playbtn{
    position: absolute;
    left: 40%;
    top:40%;
    background-size:60px;
    height: 103px;
    width: 103px;
    cursor:pointer;
}
.epi_playbtn{
    position: absolute;
    left: 40%;
    top:36%;
    background-size:50px;
    height: 40px;
    width: 40px;
    cursor:pointer;
}
@media (min-width: 400px) and (max-width: 980px)
{
    .epi_playbtn{left:18%;}
}
@media (min-width: 981px){
    .epi_playbtn{left: 40%;}
}

@media (max-width: 400px)
{
    .heading_2 img, h2 img{display: none;}
}


.modal .login-popup-msg h3{font-size: 20px;}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{border-top: 0px;}

#loginModal .close-icon {

    cursor: pointer;
    float: right;
    height: 48px;
    position: absolute;
    right: -17px;
    width: 48px;
    z-index: 9999999;
}
.modal-dialog{margin:10px auto;}
.modal .form-signin{background: none; border: none; padding: 0px;}
.login-title {text-transform: uppercase;}

.playbtn {
    bottom: 0;
    height: 103px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 103px;
}
.caption{display: none;}
.martop0{margin-top: 0px;}
.ovlay{ background: url('../images/trans_bakg.png') ;}
.carousel-caption{top:35%;}
.carousel-caption h1{font-size:40pt; font-weight: bold;}
.carousel-caption .btn-primary {
    font-size: 18pt;
}
.loginform{max-width: 510px; margin: 0px auto;}

.mv_name_pop{position:absolute; bottom: 0px; width: 100%; left: 0px;}
.mv_name_pop a{ font-size: 20px;}
.navbar-form .form-control{height: 32px;}
.navbar-form .btn{border:0px;}
.navbar-nav > li > a.no-padding{padding: 0px;}

.playbtn2{
    position: absolute;
    left: 0;
    top:0;
    right: 0;
    bottom: 0;
    background:  url(../images/play_button2.png) no-repeat;
    height: 50px;
    width: 50px;
    margin: auto;
    cursor: pointer;
}

.footer-border
{
    height:5px;
    margin-bottom: 20px;
}

@media (max-width: 480px)
{
    .navbar-brand > img{max-height: 60px;}
    .navbar-wrapper{padding: 5px 0px !important;}
}

/*-------Filter STARTS HERE -------*/
#loginContainer {
    position:relative;
    float:right;
    font-size:12px;
	z-index: 10;
}

#loginButton { 
    display:inline-block;
    float:right;
   
    
    border-radius:3px;
    -moz-border-radius:3px;
    position:relative;
    z-index:30;
    cursor:pointer;
}
#loginButton span {
    
    font-size:14px; 
    font-weight:bold; 
     
    padding:6px 10px 6px 10px;
    display:block;
	text-align:center
}
.left10{margin-left:10px;}

#loginBox {
    position:absolute;
    top:34px;
    right:0;
    display:none;
    z-index:29;
} 
#loginButton.active {
    border-radius:3px 3px 0 0;
}
#loginButton.active span {
    background-position:53px -76px;
}
#loginButton.active em {
    position:absolute;
    width:100%;
    height:1px;
    bottom:-1px;
}
#filterFormPopup {
    width:248px; 
    
    border-radius:3px 0 3px 3px;
    -moz-border-radius:3px 0 3px 3px;
    margin-top:-1px;
    
    padding:6px;
}

#filterFormPopup fieldset {
    margin:0 0 12px 0;
    display:block;
    border:0;
    padding:0;
}


#filterFormPopup #login {
    width:auto;
    float:right;

    padding:7px 25px 8px 25px;
  
    
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    margin:0 12px 0 0;
    cursor:pointer;
    *padding:7px 2px 8px 2px; /* IE7 Fix */
}
.top10 {
    margin-top: 10px;
}


/*Social Logins */
.social-icons {	margin: 0;padding: 0;}
.social-icons:after,.social-icons:before {content: "";display: table;}
.social-icons:after {clear: both;}
.social-icons li {float: left;display: inline;list-style: none;margin-right: 5px;margin-bottom: 5px;text-indent: -9999px;}
.social-icons li a,a.social-icon {width: 136px;height: 28px;display: block;background-position: 0 0;background-repeat: no-repeat;transition: all .3s ease-in-out;-o-transition: all .3s ease-in-out;		-ms-transition: all .3s ease-in-out;-moz-transition: all .3s ease-in-out;-webkit-transition: all .3s ease-in-out;}
.social-icons li:hover a {background-position: 0 -38px;}

.social-icons-color li a,.social-icons.invert li a,a.social-icon {background-position: 0 -38px!important;}
.social-icons-color li a {opacity: .7;}
.social-icons-color li a:hover {opacity: 1;}
.social-icons.invert li:hover a {background-position: 0 0!important;}
.social-icons .facebook {background: url(../images/facebook.png) no-repeat;}
.social-icons .googleplus {background: url(../imgages/googleplus.png)no-repeat;}
/*Social Logins end */

.pagination_buttons:first-child .pagination{margin: 0px; padding: 0px; vertical-align: middle;}

.alert-danger {
    font-weight:600;
    text-align:center;
}

.loader{position: absolute; width: 100%; height: 100%; top: 0px; bottom: 0px; left: 0px; display: none; background: url('../images/loading.gif') no-repeat center;}
.top40- {
    margin-top: -40px;
}
.top30 {
    margin-top: 30px;
}
.top20 {
    margin-top: 20px;
}
.top105 {
    margin-top: 105px;
}

.bottom100- {
    margin-bottom: -100px;
}

@media (max-width: 480px)
{
 .bottom100- {margin-bottom: -50px;}
}
@media (max-width: 767px)
{
 .display-none{display: none}
}
.lstream-view .item-head {z-index: 3;}
.lstream-view .item-head .badges {padding: 0;float: left;text-align: left;}

.lstream-view .badges span {font-size: 10px;font-weight: bold;text-transform: uppercase;white-space: nowrap;line-height: 10px;padding: 4px;margin: 0;display: inline-block;vertical-align: top;}

.label, .badge {
    display: inline-block;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    padding: 2px 4px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: baseline;
    white-space: nowrap;
}

.genre_fnt{font-size: 17px;}
.watch-show-icon{
	background:url(../images/icons/play-icon.png);
	width:40px;
	height:45px;
	}
        fieldset#body {
    padding:10px 13px;
    margin:0;
}
.navbar-inverse{
    background-color: transparent;
}
