<script>   
var parentThemeName = "{$this->studio->parent_theme}";
</script>
{literal}
<section class="content">
    <div id="homepage_sections" ng-app="FeaturedContents" ng-controller="HomeFeaturedSections">
        <div ng-repeat="section in sections" ng-if="section.total > 0" class="parent_sec_{{section.id}} featured-sec-wrap _init" >
            <div ng-if="section.layout_design == '3'" >
                <h2 class="clearfix text-center" style="position: relative;">
                    <span class="caps" style="display: inline-block; margin-top: 4px;">{{section.title}}</span>
                    <a ng-if="section.cpermalink" ng-href="{/literal}{$this->siteurl}/{literal}{{section.cpermalink}}" class="btn btn-primary pull-right" style="position: absolute; right:15px; top:0;">{/literal}{$this->Language['view_more']}{literal}</a>
                </h2>
                <ul class="item-list-single row slider">
                    <li ng-repeat="content in section.contents" class="">
                        <div class="item-bg" style="background-image:url({{content.top_banner}})" ></div>
                        <div class="container">
                            <div class="item-wrap clearfix">
                                <div class="item-poster">
                                    <img class="_cover" src="{{content.poster}}" />
                                </div>
                                <div class="item-info">
                                    <h4>
                                        <a ng-if="content.episode_title">{{content.episode_title|utfdecode}}</a>
                                        <a ng-if="!content.episode_title && content.title" href="{{content.permalink}}" >{{content.title|utfdecode}}</a>
                                        <a ng-if="!content.episode_title && !content.title && content.name" href="{{content.permalink}}" >{{content.name|utfdecode}}</a>
                                    </h4>

                                    <ng-container ng-if="section.meta_data_info">
                                        <div class="_meta-data" ng-switch on="metaDtaInfo.contentType"
                                        ng-repeat="metaDtaInfo in section.meta_data_info" 
                                        ng-class="{
                                            '_col-1b2':metaDtaInfo.width == '1/2', 
                                            '_col-1b3':metaDtaInfo.width == '1/3', 
                                            '_col-2b3':metaDtaInfo.width == '2/3', 
                                            '_txt-right':metaDtaInfo.align == 'r', 
                                            '_txt-center':metaDtaInfo.align == 'c', 
                                            '_sline':metaDtaInfo.lineCount == 's', 
                                            '_bold':metaDtaInfo.boldStatus == 'b', 

                                        }"
                                        ng-style="{
                                            'color':metaDtaInfo.color, 
                                            'font-size':metaDtaInfo.size+'px'
                                        }" >                                 
                                            <ng-container ng-switch-when="genre"  >
                                                <span ng-repeat="genres in content.genres" ng-bind-template="{{$index == 0 ? '':', '}}{{genres}}"></span>&nbsp;
                                            </ng-container>                            
                                            <ng-container ng-switch-default >
                                                <ng-container ng-bind-html="content[metaDtaInfo.contentType]|html" ></ng-container>
                                                <ng-container ng-bind-html="content.custom_meta_data[metaDtaInfo.contentType]|html" ></ng-container>
                                                &nbsp;
                                            </ng-container>
                                    </div>
                                    </ng-container>
                                    <ng-container ng-if="!section.meta_data_info">
                                        <div class="_meta-data">
                                            {{content.story}}
                                        </div>
                                        <div class="_meta-data">
                                            <span ng-repeat="genres in content.genres" ng-bind-template="{{$index == 0 ? '':', '}}{{genres}}"></span>&nbsp;
                                        </div>
                                    </ng-container>
                                    <div class="spacer_10 clear-fix"></div>
                                    
                                    <div ng-if="content.content_types_id == 8" class="_meta-data">
                                        <a href="javascript:void(0);" class="btn btn-lg btn-primary" onclick="playAudio(this)" id="{{content.movie_id}}" data-content_type="{{content.is_episode}}" >{/literal}{$this->Language['btn_play']}{literal}</a>
                                    </div>
                                    <div ng-if="content.content_types_id == 5" class="_meta-data">
                                        <a ng-if="content.full_movie" href="javascript:void(0);" class="btn btn-lg btn-primary" onclick="playAudio(this)" id="{{content.movie_id}}" data-content_type="{{content.is_episode}}" >{/literal}{$this->Language['btn_play']}{literal}</a>
                                        <a ng-if="!content.full_movie" href="{{content.permalink}}" class="playbtn">{/literal}{$this->Language['explore']}{literal}</a>
                                    </div>
                                    <ng-container ng-if="content.content_types_id != 8 && content.content_types_id != 5" >
                                    <div ng-if="content.play_btn" class="_meta-data play-butn-wrap" ng-bind-html="content.play_btn | html"></div> 
                                    <div  ng-if="!content.play_btn" class="_meta-data" >
                                        <a href="{{content.permalink}}" class="btn btn-primary btn-lg">{/literal}{$this->Language['explore']}{literal}</a>
                                        <ng-container ng-if="content.sale_price" >
                                            <a id="{{content.id}}" onclick="showcart(this.id, 1);" href="" class="btn btn-primary">{/literal}{$this->Language['add-to-cart']}{literal}</a>
                                            <a id="{{content.id}}" onclick="showcart(this.id, 2);" href="" class="btn btn-primary">{/literal}{$this->Language['ordernow']}{ literal}</a>
                                        </ng-container>
                                    </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <span style="display: none;" ng-init="updateSlider3(section.id)"></span>
            </div>
            
            <div ng-if="section.layout_design != '3'" class="container">
                <h2 class="clearfix">
                    <span class="caps" style="display: inline-block; margin-top: 4px;">{{section.title}}</span>
                    <a ng-if="section.cpermalink" ng-href="{/literal}{$this->siteurl}/{literal}{{section.cpermalink}}" class="btn btn-primary pull-right">{/literal}{$this->Language['view_more']}{literal}</a>
                </h2>
                <ul class="item-list row" ng-class="section.layout_design == '2'? 'slider' : ''">
                    <li ng-repeat="content in section.contents" class="" 
                        ng-class="
                            section.column_count == 2?'col-md-6' :
                            section.column_count == 6?'col-md-2' : 'col-md-3'" >  
                        
                        <div class="item-wrap">
                            
                            <div ng-if="content.sale_price" class="loader _item-{{content.id}}"></div>
                            
                            <ng-container ng-if="section.meta_data_info" >
                                <div ng-if="section.meta_data_info[0].contentType != 'poster_url' && section.meta_data_info.length > 1" class="spacer_10"></div>
                                <ng-container ng-repeat="metaDtaInfo in section.meta_data_info" >
                                
                                    <div ng-if="metaDtaInfo.contentType == 'poster_url' && $index != 0" class="spacer_10"></div>
                                    
                                    <div ng-if="metaDtaInfo.contentType == 'poster_url'" class="item-cover" >
                                        <img class="_cover" src="{{content.poster}}" />
                                        <div ng-if="content.content_types_id == 8" class="cover-overlay">
                                            <a href="javascript:void(0);" class="btn btn-lg btn-primary" onclick="playAudio(this)" id="{{content.movie_id}}" data-content_type="{{content.is_episode}}" >{/literal}{$this->Language['btn_play']}{literal}</a>
                                        </div>
                                        <div ng-if="content.content_types_id == 5" class="cover-overlay">
                                            <a ng-if="content.full_movie" href="javascript:void(0);" class="btn btn-lg btn-primary" onclick="playAudio(this)" id="{{content.movie_id}}" data-content_type="{{content.is_episode}}" >{/literal}{$this->Language['btn_play']}{literal}</a>
                                            <a ng-if="!content.full_movie" href="{{content.permalink}}" class="playbtn">{/literal}{$this->Language['explore']}{literal}</a>
                                        </div>
                                        <ng-container ng-if="content.content_types_id != 8 && content.content_types_id != 5" >
                                        <div ng-if="content.play_btn" class="cover-overlay" ng-bind-html="content.play_btn | html"></div> 
                                        <div  ng-if="!content.play_btn" class="cover-overlay" >
                                            <a href="{{content.permalink}}" class="playbtn">{/literal}{$this->Language['explore']}{literal}</a>
                                            <ng-container ng-if="content.sale_price" >
                                                <a id="{{content.id}}" onclick="showcart(this.id, 1);" href="" class="butn-ad2cart"></a>
                                                <a id="{{content.id}}" onclick="showcart(this.id, 2);" href="" class="butn-ordernow">{/literal}{$this->Language['ordernow']}{literal}</a>
                                            </ng-container>
                                        </div>
                                        </ng-container>
                                    </div>
                                    <div ng-if="metaDtaInfo.contentType == 'poster_url' && $index != section.meta_data_info.length-1" class="spacer_10"></div>

                                    <div  
                                    ng-class="{
                                        '_col-1b2':metaDtaInfo.width == '1/2', 
                                        '_col-1b3':metaDtaInfo.width == '1/3', 
                                        '_col-2b3':metaDtaInfo.width == '2/3', 
                                        '_txt-right':metaDtaInfo.align == 'r', 
                                        '_txt-center':metaDtaInfo.align == 'c', 
                                        '_sline':metaDtaInfo.lineCount == 's', 
                                        '_bold':metaDtaInfo.boldStatus == 'b',     
                                    }"
                                    ng-style="{
                                        'color':metaDtaInfo.color, 
                                        'font-size':metaDtaInfo.size+'px'
                                    }"
                                    ng-if="metaDtaInfo.contentType != 'poster_url'" class="item-info" ng-switch on="metaDtaInfo.contentType" >
                                    
                                    <ng-container ng-switch-when="title"  >
                                        <a ng-if="content.episode_title">{{content.episode_title|utfdecode}}</a>
                                        <a ng-if="!content.episode_title && content.title" href="{{content.permalink}}" >{{content.title|utfdecode}}</a>
                                        <a ng-if="!content.episode_title && !content.title && content.name" href="{{content.permalink}}" >{{content.name|utfdecode}}</a>
                                    </ng-container>                                    
                                    <ng-container ng-switch-when="genre"  >
                                        <span ng-repeat="genres in content.genres" ng-bind-template="{{$index == 0 ? '':', '}}{{genres}}"></span>&nbsp;
                                    </ng-container>    
                                    <ng-container ng-switch-default >
                                        <ng-container ng-bind-html="content[metaDtaInfo.contentType]|html" ></ng-container>
                                        <ng-container ng-bind-html="content.custom_meta_data[metaDtaInfo.contentType]|html" ></ng-container>
                                        &nbsp;
                                    </ng-container>
                                </div>
                                
                                </ng-container>
                                <div ng-if="section.meta_data_info[section.meta_data_info.length-1].contentType != 'poster_url' && section.meta_data_info.length > 1" class="spacer_10"></div>
                            </ng-container>
                            
                            <ng-container ng-if="!section.meta_data_info">
                                <div class="item-cover" >
                                    <img class="_cover" src="{{content.poster}}" />
                                    <div ng-if="content.content_types_id == 8" class="cover-overlay">
                                        <a href="javascript:void(0);" class="btn btn-lg btn-primary" onclick="playAudio(this)" id="{{content.movie_id}}" data-content_type="{{content.is_episode}}" >{/literal}{$this->Language['btn_play']}{literal}</a>
                                    </div>
                                    <div ng-if="content.content_types_id == 5" class="cover-overlay">
                                        <a ng-if="content.full_movie" href="javascript:void(0);" class="btn btn-lg btn-primary" onclick="playAudio(this)" id="{{content.movie_id}}" data-content_type="{{content.is_episode}}" >{/literal}{$this->Language['btn_play']}{literal}</a>
                                        <a ng-if="!content.full_movie" href="{{content.permalink}}" class="playbtn">{/literal}{$this->Language['explore']}{literal}</a>
                                    </div>
                                    <ng-container ng-if="content.content_types_id != 8 && content.content_types_id != 5" >
                                    <div ng-if="content.play_btn" class="cover-overlay" ng-bind-html="content.play_btn | html"></div> 
                                    <div  ng-if="!content.play_btn" class="cover-overlay" >
                                        <a href="{{content.permalink}}" class="playbtn">{/literal}{$this->Language['explore']}{literal}</a>
                                        <ng-container ng-if="content.sale_price" >
                                            <a id="{{content.id}}" onclick="showcart(this.id, 1);" href="" class="butn-ad2cart"></a>
                                            <a id="{{content.id}}" onclick="showcart(this.id, 2);" href="" class="butn-ordernow">{/literal}{$this->Language['ordernow']}{literal}</a>
                                        </ng-container>
                                    </div>
                                    </ng-container>
                                </div>
                                <div class="spacer_10"></div>
                                <div class="item-info">
                                    <a ng-if="content.episode_title">{{content.episode_title|utfdecode}}</a>
                                    <a ng-if="!content.episode_title && content.title" href="{{content.permalink}}" >{{content.title|utfdecode}}</a>
                                    <a ng-if="!content.episode_title && !content.title && content.name" href="{{content.permalink}}" >{{content.name|utfdecode}}</a>
                                </div>
                                <div class="item-info" ng-if="section.content_type != 1">
                                    <span ng-repeat="genres in content.genres" ng-bind-template="{{$index == 0 ? '':', '}}{{genres}}"></span>&nbsp;
                                </div>
                                <div class="item-info" ng-if="section.content_type == 1">
                                    {{content.sale_price}}
                                </div>
                                <div class="spacer_10"></div>
                            </ng-container>
                        </div>
                    </li>
                </ul>
                <span ng-if="section.layout_design == '2'" style="display: none;" ng-init="updateSlider2(section.id, section.column_count)"></span>
                <span ng-if="section.layout_design != '2'" style="display: none;" ng-init="updateSlider1(section.id)"></span>
            </div>
        </div>
        
        <div class="container">
            <div class="featured-sec-placeholder" ng-if="isLoader" style="display:block;" >
                <ul class="clearfix row">
                    <li class="col-md-3">
                        <div class="item-wrap">
                            <i></i>
                            <h3></h3>
                            <p></p>
                        </div>
                    </li>
                    <li class="col-md-3">
                        <div class="item-wrap">
                            <i></i>
                            <h3></h3>
                            <p></p>
                        </div>
                    </li>
                    <li class="col-md-3">
                        <div class="item-wrap">
                            <i></i>
                            <h3></h3>
                            <p></p>
                        </div>
                    </li>
                    <li class="col-md-3">
                        <div class="item-wrap">
                            <i></i>
                            <h3></h3>
                            <p></p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<script> 
var LIMIT = 3;
var LOADING_TYPE = '0';

var app = angular.module('FeaturedContents', [])
    .filter('html',function($sce){
    return function(input){
        return $sce.trustAsHtml(input);
    };
})
.filter('utfdecode',function($sce){
    return function(input){
        var rData = input;
        try{ rData = decodeURIComponent(escape(input))}catch(e){}
        return rData;
    };
});

app.controller('HomeFeaturedSections', function($scope, $http, $window, $timeout) {
    $scope.sections = []; 
    $scope.isLoader = true;
    $scope.dataoffsetG = 0;
    $scope.inProgress = false;
    
    $scope.updateSlider1 = function(secID){
        $timeout(function(){
            $('.parent_sec_'+secID+'._init').removeClass('_init');
            initPjax('.parent_sec_'+secID);
        },50)
    };
    $scope.updateSlider2 = function(secID, columnCount){
        $timeout(function(){
            initSlickSlider('.parent_sec_'+secID+' .slider', columnCount);
            $('.parent_sec_'+secID+'._init').removeClass('_init');
            initPjax('.parent_sec_'+secID);
        },50)
    };
    $scope.updateSlider3 = function(secID){
        $timeout(function(){
            initSlickSliderSingle('.parent_sec_'+secID+' .slider');
            $('.parent_sec_'+secID+'._init').removeClass('_init');
            initPjax('.parent_sec_'+secID);
        },50)
    };
    
    $scope.loadNextSections = function(dataoffset){
        $scope.inProgress = true;
        $http.get(HTTP_ROOT+"/rest/loadFeaturedSections?authToken="+STORE_AUTH_TOKEN+"&dataoffset="+dataoffset+"&themes="+parentThemeName+'&adv_info=true&lang_code={/literal}{$this->language_code}{literal}').then(function (response) {   
            if(response.data.section.length > 0){  
                for(var j = 0; j < response.data.section.length; j++){
                    LIMIT = response.data.section_count;
                    LOADING_TYPE = response.data.loading_style;
                    $scope.sections.push(response.data.section[j]);                    
                }                     
                $scope.dataoffsetG = dataoffset+parseInt(LIMIT);
                $scope.inProgress = false;
                
                if(LOADING_TYPE == "2") {
                    loadNextSections($scope.dataoffsetG);
                }
            
                if(LOADING_TYPE == "1" || !LOADING_TYPE)
                    $scope.isLoader = false;
            }else{
                $scope.isLoader = false;
            } 
        });
    };
    
    $window.onscroll = function() {  
        if((LOADING_TYPE == "3" || LOADING_TYPE == "0") && !$scope.inProgress && $(window).scrollTop() >= $('.featured-sec-placeholder').offset().top - $(window).height()) {
            $scope.loadNextSections($scope.dataoffsetG);
        }
    };
    
    $window.onload = function() {
        if(!$scope.inProgress && $(window).scrollTop() >= $('.featured-sec-placeholder').offset().top - $(window).height()) {
            $scope.loadNextSections($scope.dataoffsetG);
        }
    };
    
}); 

function initPjax(parentObj){
    if ($.support.pjax) {
        $(parentObj).find('a').each(function(){
            if($(this).attr('href').length > 0 && $(this).attr('href') != 'javascript:void(0);'){
                $(this).attr('data-pjax', '#main');
            }
        })
    }
}
</script>
{/literal}