<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="col-md-3 col-sm-6">
                    <a class="footer-logo" href="{$this->siteurl}"><img src="{$this->siteLogo}" alt="{$this->studio->name}" /></a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <ul class="footer-menu">
                        <li><a href="{$this->siteurl}/contactus" title="{$this->Language['contact_us']}">{$this->Language['contact_us']}</a></li>
                        {if $this->has_blog}
                        <li><a href="{$this->siteurl}/blog" title="{$this->Language['head_blog']}">{$this->Language['head_blog']}</a></li>
                        {/if}
                        {if $this->has_faqs}
                        <li><a href="{$this->siteurl}/faqs" title="{$this->Language['faq']}">{$this->Language['faq']}</a></li>
                        {/if}
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6">
                    <ul class="footer-menu">
                        {$pages = $this->Footerlinks}
                        {foreach from=$pages item=page}
                        {if $page['link_type'] == 'external'}
                        <li><a href="{$page['external_url']}" title="{$page['title']}" target="_blank">{$page['title']}</a></li>
                        {else}
                        <li><a href="{$this->siteurl}/{$page['permalink']}" title="{$page['title']}">{$page['title']}</a></li>
                        {/if}                            
                        {/foreach}
                    </ul>
                </div>
                <div class="col-md-3 col-md-6">
                    <div class="footer-social">                       
                        {if isset($this->studio->fb_link) && $this->studio->fb_link != ''}
                        <a href="{$this->studio->fb_link}" target="_blank" title="{$this->Language['facebook']}"><i class="fa fa-facebook"></i></a>
                        {/if}
                        {if isset($this->studio->tw_link) && $this->studio->tw_link != ''}
                        <a href="{$this->studio->tw_link}" target="_blank" title="{$this->Language['twitter']}"><i class="fa fa-twitter"></i></a>
                        {/if}
                        {if isset($this->studio->gp_link) && $this->studio->gp_link != ''}
                        <a href="{$this->studio->gp_link}" target="_blank" title="{$this->Language['google_plus']}"><i class="fa fa-google-plus"></i></a>
                        {/if}
                        {if isset($this->studio->ig_link) && $this->studio->ig_link != ''}
                        <a href="{$this->studio->ig_link}" target="_blank" title="{$this->Language['instagram']}"><i class="fa fa-instagram"></i></a>
                        {/if}
                        {if isset($this->studio->yb_link) && $this->studio->yb_link != ''}
                        <a href="{$this->studio->yb_link}" target="_blank" title="{$this->Language['youtube']}"><i class="fa fa-youtube"></i></a>
                        {/if}   
                    </div>
                    <br/>
                    {$this->newsletter}
                </div>
            </div>  
            <div class="col-md-2 col-sm-6">
                <p>{$this->copyright}</p>
            </div>
        </div>
    </div>
</footer>
{include file='../layouts/player.html'}  