{if $plans|@count > 0}
<strong>{$this->Language['select_plan']}</strong>
<div class='row plan-list'>
    {foreach from=$plans key=counter item=plan}
    {$month_original =  $this->Original['select_month']|trim}
    {$year_original =  $this->Original['select_year']|trim}
    {$day_original =  $this->Original['day']|trim}
    {$plan_recurrence = $plan->recurrence|trim}
    {$recurrence_trial = $plan->trial_recurrence|trim}
    {if $month_original == $plan_recurrence}
    {$recurrence = $this->Language['select_month']}
    {elseif $year_original == $plan_recurrence}
    {$recurrence = $this->Language['select_year']}
    {else}
    {$recurrence = $plan_recurrence}
    {/if}

    {if $month_original == $recurrence_trial}
    {$trial_recurrence = $this->Language['select_month']}
    {elseif $day_original == $recurrence_trial}
    {$trial_recurrence = $this->Language['day']}
    {else}
    {$trial_recurrence = $recurrence_trial}
    {/if}
    {$class= ""}
    {$showStatus = ""}
    {if $plan->id == $default_plan_id}
    {$class= "choosen"}
    {$showStatus = "_show"}
    <input name="data[plan_id]" type="hidden" id="plan_id" value="{$plan->id}" required />
    <input name="data[currency_id]" type="hidden" id="currency_id" value="{$plan->currency_id}" required />
    <input type="hidden" name="data[is_subscription_bundles]" id="is_subscription_bundles" value="{$plan->is_subscription_bundle}"  />
    {/if}
    {$price = $plan->price}
    {$currency_id = $plan->currency_id}
    <div class="col-md-3"> 
        <div class="plan-box {$class}" id="membership-plan_{$plan->id}" data-id="{$plan->id}" data-currency_id="{$currency_id}" data-is_subscriptionbundle="{$plan->is_subscription_bundle}">
            <span class="_tick"><i class="fa fa-check" aria-hidden="true"></i></span>
            <h3>{$plan->name}</h3>
            <p>{$plan->short_desc|utf8_decode}</p>
            <h4>{$this->Language['only']} <span class="bold-green">{Yii::app()->common->formatPrice($price,$currency_id)}</span> {$this->Language['per']} {$plan->frequency} {$recurrence} {if $plan->frequency > 1}(s){/if}</h4>
            <p class="bold-green">&nbsp;
                {if $plan->trial_period > 0}
                {$plan->trial_period} {$trial_recurrence} {$this->Language['free']}     
                {/if}
            </p>
        </div>
    </div>                
    {/foreach}
</div>

{if $isCouponExists}
<input type="hidden" name="data[discount_amount]" id="discount_amount" value="">
<input type="hidden" name="data[free_trail_charged]" id="free_trail_charged" value="">
<div class="clearfix"></div>
<div class="row border-right plandetails">

    <div class="col-md-12">
        <div class="form-group top50">
            <div class="col-md-12">
                <div style="font-weight: bold">
                    <span id="charged_amt" data-amount="{$price}"></span>
                    <span id="discount_charged_amt" style="display: none;">
                        <span id="labele_text">{$this->Language['price']}</span>
                        <span id="dis_charged_amt" style="text-decoration: line-through;"></span>
                        <sup><span style="font-weight: bold;font-size: 15px;" id="discount_charged_amt_span"></span></sup><br>
                        <span id="free_trail_txt" style="font-weight: bold;font-size: 15px;"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-5 ">
        {$signup_steps = Yii::app()->general->signupSteps()}
        {if $signup_steps == 1 && $reactivate != 1 && $activate != 1}
        {$disabled = "disabled"}
        {else}
        {$disabled = ""}
        {/if}
        <div class="col-md-10">
            <input type="text" {$disabled} class="form-control" name="data[coupon_code]" id="coupon" placeholder="{$this->Language['coupon_code_optional']}" autocomplete="off" >
        </div>
        <div class="col-md-2">
            <button type="button" {$disabled} class="btn btn-info btn-flat" id="coupon_btn" onclick="validateCouponForSubscription();">{$this->Language['btn_apply']}</button>
        </div>
    </div>
    <div class="col-md-10">
        <div class="col-md-12">
            <div id="invalid_coupon_error" style="color:red;font-size:16px;display:none"></div>
            <div id="valid_coupon_suc" class="has-success" style="display: none;">
                <label for="inputSuccess" class="control-label" style="font-weight: normal;color: #4da30c;font-size:16px;">{$this->Language['discount_on_coupon']} <span id="coupon_in_amt"></span></label>
            </div>
        </div>
    </div>
</div>
{/if}
{/if}
<div class="clearfix"></div>

{literal}
<script>
$(document).ready(function(){
    $('.plan-box').click(function() {
       $('.plan-box.choosen').removeClass('choosen');
       $(this).addClass('choosen');
    });
});
</script>
{/literal}