{foreach from=$this->mainmenu item=menu}
    <li><a href="{$menu.permalink}">{$menu.title}</a>
        {if $menu.children|@count > 0}
        <ul>
            {foreach from=$menu.children item=childMenu}
            <li><a href="{$childMenu.permalink}">{$childMenu.title}</a></li>
            {/foreach}
        </ul>
        {/if}
    </li>
{/foreach}