<header>
    <div class="container clearfix">
        <a class="logo" href="{$this->siteurl}"><img src="{$this->siteLogo}" /></a>
        <a class="menu-toggle-butn"><span></span></a>
        <nav>
            <ul>
                {include file='../layouts/mainmenu.html'}
                <li><a class="srch-butn"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a></li>
                {if Yii::app()->general->getStoreLink()}
                <li class="cart-menu">
                    <a href="javascript:void(0);" onclick="goKart();" class="cart-toggle-butn cart-triger">
                        <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                        <span class="_count" id="cart-popup-counter">
                            {if $smarty.session.totalqnt}
                            {$smarty.session.totalqnt}
                            {else}
                            0
                            {/if}
                        </span>
                    </a>
                    <span id="cartpopup">
                        {include file='../shop/cartpopup.html'}
                    </span>
                </li>
                {/if}
                {if $this->usermenu|@count > 0}                        
                {foreach from=$this->usermenu key=key item=mitem}   
                {if $mitem['children']|@count > 0}
                <li class="">
                    <a href="#" class="{$mitem['class']} dropdown-toggle _user-menu">
                        <img class="img-circle user-icon" alt="{$mitem['display_name']}" title="{$mitem['display_name']}" src="{$mitem['profile_image']}" /> 
                        {$mitem['display_name']} 
                        <span class="caret"></span>
                    </a>
                    {else}
                    <li>
                        <a href="{$mitem['permalink']}" class="{$mitem['class']}">
                            {if $mitem['class'] == 'register'}
                            <i class="fa fa-user"></i> 
                            {elseif $mitem['class'] == 'login'} 
                            <i class="fa fa-lock"></i> 
                            {/if}
                            {$mitem['title']}
                        </a>
                        {/if}                                
                        {if $mitem['children']|@count > 0}
                        <ul class="dropdown-menu">
                            {foreach from=$mitem['children'] key=key item=mcitem}
                            <li>
                                <a {if $mcitem['class'] == 'cancelsubscription'} data-target="#cancelsubscription" data-toggle="modal" {else}href="{$mcitem['permalink']}"{/if} class="{$mcitem['class']}">{$mcitem['title']}</a>
                            </li>
                            {/foreach}
                        </ul>
                        {/if}
                    </li>
                </li>
                {/foreach}
                {/if} 
                
                {$language_code = $this->language_code}
                {$totallang =$this->enable_laguages|count}
                {if $totallang > 1} 
                {$studio_languages = $this->enable_laguages}
                <li>
                    <a id="lang-popover-butn" class="lang-butn" rel="popover" data-popover-content="#myPopover" data-placement="bottom" data-toggle="popover">
                        <i class="fa fa-language"></i>
                    </a>
                </li>
                <div id="myPopover" class="hide">
                    <ul class="lang-list-popover">
                        {foreach from=$studio_languages key=key item=value}
                        {if $value['status'] != 0} 
                        <li value="{$value['code']}" class="{if $language_code == $value['code']}active{/if}" onclick="changeLang('{$value['code']}')">{$value['name']} </li>
                        {elseif $value['code'] == "en"}
                        <li value="{$value['code']}" class="{if $language_code == $value['code']}active{/if}" onclick="changeLang('{$value['code']}')">
                            {$value['name']}
                        </li>
                        {/if} 
                        {/foreach}
                        <li>{$this->Language['demo']}</li>
                    </ul>
                </div>  
                {/if}
            </ul>
        </nav>
        
    </div>
    
    <div class="search-bar">
        <div class="container">
            <form class="" onsubmit="return validate_search();" action="/search/show_all"  id="search-form">
                <i class="fa fa-search search-icon"></i>
                <input type="text" class="form-control sitesearch" id="siteSearch" name="search_field" placeholder="{$this->Language['type_to_search']}" name="search_field" autocomplete="off" />
                <input type="hidden" name="csrfToken" id="csrfToken" value="{$smarty.session.csrfToken}" />
                <a class="close-search" href="javascript:void(0);" onclick="hide('mysearch')">&times;</a>
            </form>
        </div>
    </div>
    
</header>