<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="feature-banner">
                <div class="overlay-img">
                    <div class="left23">
                        <div class="row">
                            <div class="col-sm-10">
                                <h1 class="center white">{$this->Language['login']}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="wrapper bottom-padding50">
        <div class="row top50">
            <div class="col-md-12">
                <div class="title1 font-17">{$this->Language['have_an_account']}</div>
                <form name="login_form" id="login_form" method="post" class="top50">
                    <input type="hidden" name="csrfToken" id="csrfToken" value="{$smarty.session.csrfToken}" />
                    <div class="form-group">
                        <h3 id="modal1Title" class="text-center">{$this->Language['already_registered']}</h3>
                        <p class="text-capitalize text-center">{$this->Language['dont_have_account']}  <a class="link-ylw light-green-color" href="javascript:void(0);" onclick="showRegister();"><span class="light-green-color">{$this->Language['btn_signup']}</span></a></p>

                        {if $this->studio->social_logins}
                        {if isset($smarty.session.social) } 
                        {assign var=socialAuth value=$smarty.session.social}
                        {else}
                        {assign var=socialAuth value=$this->getSocialUrls()}
                        {/if}
                        {if $socialAuth}
                        <ul class="social-image-center">
                        {if ($this->studio->social_logins & 1) && $socialAuth['fb_url'] }
                        <li><a href="javascript:void(0);" data-url="{$socialAuth['fb_url']}" data-login="0" class="facebook_login facebook social_login"><img src="{$this->siteurl}{$Yii->theme->baseUrl}/images/fb-signin.png" class="social_image"></a></li>
                        {/if}
                        {if ($this->studio->social_logins & 2) && $socialAuth['gplus_url'] }
                        <li><a href="{$socialAuth['gplus_url']}"><img src="{$this->siteurl}{$Yii->theme->baseUrl}/images/google-signin.png" class="social_image"></a></li>
                        {/if}
                        </ul>
                        {/if}
                        <div class="row top50">
                            <div class="col-xs-3 col-xs-offset-1"><div class="devider"></div></div>
                            <div class="col-xs-4 font16 text-muted f11 text-center">{$this->Language['sign_in_with']}</div>
                            <div class="col-xs-3"><div class="devider"></div></div>
                        </div>
                        {/if}
                        <div id="login_errors" class="error"></div>
                    </div>
                    
                    
                    <div class="row"> 
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="icon-addon addon-lg">
                                    <input type="email" required name="LoginForm[email]" id="username" placeholder="{$this->Language['text_email_placeholder']}" autocomplete="off" class="form-control" value="" />
                                    <label for="exampleInputEmail2"><i class="fa fa-envelope-o"></i></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group ">
                                <div class="icon-addon addon-lg">
                                    <input type="password" required name="LoginForm[password]" id="password" placeholder="{$this->Language['text_password']}" autocomplete="off" class="form-control" />
                                    <label for="exampleInputPassword2"><i class="fa fa-lock"></i></label>
                                </div>
                            </div>
                        </div>
                        <div class="loader" id="loader_login"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group ">
                                <div class="checkbox">
                                    <label for="LoginForm_rememberMe"> 
                                        <input name="LoginForm[rememberMe]" id="LoginForm_rememberMe" value="1" type="checkbox" /> {$this->Language['rememberme']}</label>  
                                </div>

                            </div> 
                        </div>

                        <div class="col-md-6">
                            <div class="form-group ">
                                <div class="controls">
                                    <div class="pull-right"><a class="link txt-right forgot" href="{$this->siteurl}/user/forgot">{$this->Language['forgot_password']}</a></div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="clear"></div>
                    <div class="row">
                        <div class="col-md-12 top-20">
                            <div class="form-group ">
                                <div class="controls">
                                    <button type="submit" class="btn btn-primary btn-green-small pull-right" name="login_submit" id="login-btn"><i class="fa fa-user padding-right-10"></i>{$this->Language['btn_login']}</button>  
                                </div>
                            </div>
                            <div id="login_errors" class="error center"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 top20">
                            <div class="form-group ">
                                <div class="controls">
                                    <div class="pull-right">{$this->Language['dont_have_account']} <a class="link txt-right forgot" href="{$this->siteurl}/user/register">{$this->Language['register_here']}</a></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </form> 
            </div>
        </div>
    </div>
</div>
