{literal}
<style>
    .product-remove{padding-top: 17px !important; padding-bottom: 17px !important; padding-right: 10px !important;padding-left: 10px !important;}
    #itemdetails{width: 25% !important;}
    table.shop_table td {
border-right: 1px solid #dddddd;
}
table.shop_table th {
border-right: 1px solid #dddddd;
}
</style>
{/literal}

<div class="single-product-area">
    <div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="feature-banner">
                <div class="overlay-img">
                    <div class="left23">
                        <div class="row">
                            <div class="col-sm-10">
                                <h1 class="center white">{$this->Language['my_library']}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
    <div class="container">
        <div class="wrapper">
        <div class="row top20">
            {assign var="total_purchase" value=$library|@count}
             
            <div class="col-md-12">
                <div class="row" style="margin-right:0px !important;">
                    <div id="content_list"></div>
                    <div class="row list_page">
                        <div class="loader" id="loader"></div>    
                    </div>
                    
                    {foreach from=$library item=purchase}
                    <div class="col-md-5ths col-xs-6">
                        <div  class="thumbnail wrapper">
                            <a href="{$purchase['baseurl']}">
                            <div class="play-box"> <img src="{$purchase['poster']}" alt="{$purchase['movie_name']}" title="{$purchase['movie_name']}">
                              <div class="thumb-bg"></div>                              
							  {if $purchase['is_play'] == 1} <div class="play-btn"><a href="{$purchase['baseurl']}"></a></div>{/if}
                              <div class="thumb-time-line"><span class="pull-right f-10 thumb_weight m-t-5">{$purchase['video_duration']}</span></div>
                            </div>
                            <div class="caption">
                                <h3><a href="{$purchase['baseurl']}">{if $purchase['movie_name']|count_characters > 18}{$purchase['movie_name']|truncate:28}{else}{$purchase['movie_name']}{/if}</a></h3> 
                                <p>
                                    {$genre_count = $purchase['genres']|count}
                                    {$j=0}
                                    {foreach from=$purchase['genres'] item=genre}{$genre}{$j = $j+1}{if $j != $genre_count}, {/if}{/foreach}
                                </p>
                            </div>
                            </a>
                        </div>
                    </div>                    
                    {/foreach}
                    {foreach from=$pplibrary item=purchase}
                    <div class="col-md-5ths col-xs-6">
                        <div  class="thumbnail wrapper">
                            <a href="{$purchase['baseurl']}">
                            <div class="play-box"> <img src="{$purchase['poster']}" alt="{$purchase['movie_name']}" title="{$purchase['movie_name']}">
                              <div class="thumb-bg"></div>                              
							  {if $purchase['is_play'] == 1} <div class="play-btn"><a href="{$purchase['baseurl']}"></a></div>{/if}
                              <div class="thumb-time-line"><span class="pull-right f-10 thumb_weight m-t-5">{$purchase['video_duration']}</span></div>
                            </div>
                            <div class="caption">
                                <h3><a href="{$purchase['baseurl']}">{if $purchase['movie_name']|count_characters > 18}{$purchase['movie_name']|truncate:28}{else}{$purchase['movie_name']}{/if}</a></h3> 
                                <p>
                                    {$genre_count = $purchase['genres']|count}
                                    {$j=0}
                                    {foreach from=$purchase['genres'] item=genre}{$genre}{$j = $j+1}{if $j != $genre_count}, {/if}{/foreach}
                                </p>
                            </div>
                            </a>
                        </div>
                    </div>                    
                    {/foreach}
                    
                    {foreach from=$freecontent item=purchase}
                    <div class="col-md-5ths col-xs-6">
                        <div  class="thumbnail wrapper">
                            <a href="{$purchase['baseurl']}">
                            <div class="play-box"> <img src="{$purchase['poster']}" alt="{$purchase['movie_name']}" title="{$purchase['movie_name']}">
                              <div class="thumb-bg"></div>                              
							   <div class="play-btn"><a href="{$purchase['baseurl']}"></a></div>
                              <div class="thumb-time-line"><span class="pull-right f-10 thumb_weight m-t-5">{$purchase['video_duration']}</span></div>
                            </div>
                            <div class="caption">
                                <h3><a href="{$purchase['baseurl']}">{if $purchase['movie_name']|count_characters > 18}{$purchase['movie_name']|truncate:28}{else}{$purchase['movie_name']}{/if}</a></h3> 
                                <p>
                                    {$genre_count = $purchase['genres']|count}
                                    {$j=0}
                                    {foreach from=$purchase['genres'] item=genre}{$genre}{$j = $j+1}{if $j != $genre_count}, {/if}{/foreach}
                                </p>
                            </div>
                            </a>
                        </div>
                    </div>                    
                    {/foreach}
                </div> 
            </div>
          
        </div>
    </div>  
</div>