{if $is_voucher==0}
{$transaction=$transaction|json_decode}
<div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <div class="feature-banner">
                            <div class="overlay-img">
                                <div class="left23">
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <h1 class="center white">{$this->Language['transaction_detail']}</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
<div class="single-product-area">
    <div class="container">
          <div class="wrapper  bottom-padding50">
        <div class="row top50 product_details">  
                     <div class="col-md-12">
            <p><span class="light-green-color ">{$this->Language['transaction_date']} :</span>{$transaction->transaction_date}</p>
            <p><span class="light-green-color ">{$this->Language['order']} : </span> {$transaction->order_number}</p>
            <p><span class="light-green-color ">{$this->Language['amount']} : </span>{$transaction->amount}</p>
            <p><span class="light-green-color ">{$this->Language['invoice']}: </span> {$transaction->invoice_id}</p>
            <p><span class="light-green-color ">{$this->Language['transaction_status']} : </span>{$transaction->transaction_status}</p>
            <p><span class="light-green-color ">{if $transaction->transaction_type neq 8 and $transaction->transaction_type neq 2 and $transaction->transaction_type neq 3 and $transaction->transaction_type neq 5}{$this->Language['plan_name']} : {/if}</span>{$transaction->plan_name}</p>
</div>
            <div class="col-md-4 top20" ><a href="#" onclick="javascript: history.back();" class="btn btn-primary transaction_btn"><i class="fa fa-arrow-left padding-right-10" aria-hidden="true"></i>{$this->Language['back']}</a></div>
        
</div>
          </div>
    </div>
</div>
{/if}
{if $is_voucher==1}
<div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <div class="feature-banner">
                            <div class="overlay-img">
                                <div class="left23">
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <h1 class="center white">{$this->Language['voucher_detail']}</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
<div class="single-product-area">
    <div class="container">
          <div class="wrapper  bottom-padding50">
        <div class="row top50 product_details">  
                     <div class="col-md-12">
            <p><span class="light-green-color ">{$this->Language['voucher_date']} :</span>{$vcreated_date}</p>
            <p><span class="light-green-color ">{$this->Language['order']} : </span> {$unique_id}</p>
            <p><span class="light-green-color ">{$this->Language['voucher_name']} : </span>{$voucher_code}</p>
            <p><span class="light-green-color ">{$this->Language['voucher_applyon']}: </span> {$vmovie_names}</p>
</div>
            <div class="col-md-4 top20" ><a href="#" onclick="javascript: history.back();" class="btn btn-primary transaction_btn"><i class="fa fa-arrow-left padding-right-10" aria-hidden="true"></i>{$this->Language['back']}</a></div>
        
</div>
          </div>
    </div>
</div>
{/if}